Repository Azure/bicep-registry-modules, pull requests merged in 2023-04, with the labels that each got.

#303 added support for providing validity for cert.
  modules/deployment-scripts/create-kv-certificate/README.md
  modules/deployment-scripts/create-kv-certificate/create-kv-cert.sh
  modules/deployment-scripts/create-kv-certificate/main.bicep
  modules/deployment-scripts/create-kv-certificate/main.json
  modules/deployment-scripts/create-kv-certificate/test/main.test.bicep
  modules/deployment-scripts/create-kv-certificate/version.json
Labels: Existing Module

#251 feat: new Azure Cosmos DB Module
  modules/storage/cosmos-db/README.md
  modules/storage/cosmos-db/main.bicep
  modules/storage/cosmos-db/main.json
  modules/storage/cosmos-db/metadata.json
  modules/storage/cosmos-db/test/main.test.bicep
  modules/storage/cosmos-db/version.json
Labels: MCR Manifest Onboarded

#252 feat: new Azure Key Vault Module
  modules/security/keyvault/README.md
  modules/security/keyvault/main.bicep
  modules/security/keyvault/main.json
  modules/security/keyvault/metadata.json
  modules/security/keyvault/modules/roleAssignment.bicep
  modules/security/keyvault/modules/secrets.bicep
  modules/security/keyvault/modules/vaults.bicep
  modules/security/keyvault/test/main.test.bicep
  modules/security/keyvault/test/prereq.test.bicep
  modules/security/keyvault/version.json
Labels: MCR Manifest Onboarded

#253 feat: new Azure Traffic Manager Module
  modules/network/traffic-manager/README.md
  modules/network/traffic-manager/main.bicep
  modules/network/traffic-manager/main.json
  modules/network/traffic-manager/metadata.json
  modules/network/traffic-manager/test/main.test.bicep
  modules/network/traffic-manager/version.json
Labels: MCR Manifest Onboarded

#261 fixed warning - game-dev-vm
  modules/azure-gaming/game-dev-vm/main.bicep
  modules/azure-gaming/game-dev-vm/main.json
Labels: Existing Module

#267 Bicep module for Function app
  modules/compute/function-app/README.md
  modules/compute/function-app/main.bicep
  modules/compute/function-app/main.json
  modules/compute/function-app/metadata.json
  modules/compute/function-app/test/functions_source_code/test_1_index.js
  modules/compute/function-app/test/main.test.bicep
  modules/compute/function-app/test/prereq.test.bicep
  modules/compute/function-app/test/upload-file.bicep
  modules/compute/function-app/version.json
Labels: Awaiting MCR Manifest Onboarding

#319 feat: support tags, refactored & removed default name value for resources.
  modules/network/traffic-manager/README.md
  modules/network/traffic-manager/main.bicep
  modules/network/traffic-manager/main.json
  modules/network/traffic-manager/test/main.test.bicep
  modules/network/traffic-manager/version.json
Labels: Existing Module

#324 feat: added diagnostic settings support for traffic manager.
  modules/network/traffic-manager/README.md
  modules/network/traffic-manager/main.bicep
  modules/network/traffic-manager/main.json
  modules/network/traffic-manager/test/main.test.bicep
  modules/network/traffic-manager/test/prereq.test.bicep
  modules/network/traffic-manager/version.json
Labels: Existing Module

#343 feat: initial module changes for LAW
  modules/storage/log-analytics-workspace/README.md
  modules/storage/log-analytics-workspace/main.bicep
  modules/storage/log-analytics-workspace/main.json
  modules/storage/log-analytics-workspace/metadata.json
  modules/storage/log-analytics-workspace/test/main.test.bicep
  modules/storage/log-analytics-workspace/version.json
Labels: MCR Manifest Onboarded

#331 feat: initial module for natGateway
  modules/network/nat-gateway/README.md
  modules/network/nat-gateway/main.bicep
  modules/network/nat-gateway/main.json
  modules/network/nat-gateway/metadata.json
  modules/network/nat-gateway/test/main.test.bicep
  modules/network/nat-gateway/test/prereq.test.bicep
  modules/network/nat-gateway/version.json
Labels: MCR Manifest Onboarded

#322 feat: support for all backend api types and code refactoring in cosmosdb module
  modules/storage/cosmos-db/README.md
  modules/storage/cosmos-db/main.bicep
  modules/storage/cosmos-db/main.json
  modules/storage/cosmos-db/modules/cassandra.bicep
  modules/storage/cosmos-db/modules/gremlin.bicep
  modules/storage/cosmos-db/modules/mongodb.bicep
  modules/storage/cosmos-db/modules/privateEndpoint.bicep
  modules/storage/cosmos-db/modules/rbac.bicep
  modules/storage/cosmos-db/modules/sql.bicep
  modules/storage/cosmos-db/modules/sql_containers.bicep
  modules/storage/cosmos-db/modules/sql_roles.bicep
  modules/storage/cosmos-db/modules/table.bicep
  modules/storage/cosmos-db/test/main.test.bicep
  modules/storage/cosmos-db/test/prereq.test.bicep
  modules/storage/cosmos-db/version.json
Labels: Existing Module

#320 feat(new): Azure Redis Cache
  modules/storage/redis-cache/README.md
  modules/storage/redis-cache/main.bicep
  modules/storage/redis-cache/main.json
  modules/storage/redis-cache/metadata.json
  modules/storage/redis-cache/modules/privateEndpoint.bicep
  modules/storage/redis-cache/modules/roleAssignments.bicep
  modules/storage/redis-cache/test/main.test.bicep
  modules/storage/redis-cache/test/prereq.test.bicep
  modules/storage/redis-cache/version.json
Labels: MCR Manifest Onboarded

#347 feat: initial module Grafana.
  modules/observability/grafana/README.md
  modules/observability/grafana/main.bicep
  modules/observability/grafana/main.json
  modules/observability/grafana/metadata.json
  modules/observability/grafana/modules/nested_privateEndpoint.bicep
  modules/observability/grafana/modules/nested_rbac.bicep
  modules/observability/grafana/test/main.test.bicep
  modules/observability/grafana/test/prereq.test.bicep
  modules/observability/grafana/version.json
Labels: MCR Manifest Onboarded

#348 feat: Postgresql single server module
  modules/storage/postgresql-single-server/README.md
  modules/storage/postgresql-single-server/main.bicep
  modules/storage/postgresql-single-server/main.json
  modules/storage/postgresql-single-server/metadata.json
  modules/storage/postgresql-single-server/modules/privateEndpoint.bicep
  modules/storage/postgresql-single-server/modules/rbac.bicep
  modules/storage/postgresql-single-server/test/dependencies.test.bicep
  modules/storage/postgresql-single-server/test/main.test.bicep
  modules/storage/postgresql-single-server/version.json
Labels: MCR Manifest Onboarded
