Repository Azure/bicep-registry-modules, pull requests merged in 2023-06, with the labels that each got.

#396 fix: #394 & update sub vending module to `v1.3.1` from upstream home
  modules/lz/sub-vending/README.md
  modules/lz/sub-vending/main.bicep
  modules/lz/sub-vending/main.json
  modules/lz/sub-vending/src/self/Microsoft.Subscription/aliases/deploy.bicep
  modules/lz/sub-vending/test/main.test.bicep
  modules/lz/sub-vending/version.json
Labels: Existing Module, Bug Fix

#385 feat: [postgres single server] user define types and diagnosticSettings
  modules/storage/postgresql-single-server/README.md
  modules/storage/postgresql-single-server/bicepconfig.json
  modules/storage/postgresql-single-server/main.bicep
  modules/storage/postgresql-single-server/main.json
  modules/storage/postgresql-single-server/modules/privateEndpoint.bicep
  modules/storage/postgresql-single-server/modules/rbac.bicep
  modules/storage/postgresql-single-server/test/dependencies.test.bicep
  modules/storage/postgresql-single-server/test/main.test.bicep
  modules/storage/postgresql-single-server/test/prereq.test.bicep
  modules/storage/postgresql-single-server/version.json
Labels: Existing Module

#386 feat: [App configuration] - expose appConfig key-value - user defined types
  modules/app/app-configuration/README.md
  modules/app/app-configuration/bicepconfig.json
  modules/app/app-configuration/main.bicep
  modules/app/app-configuration/main.json
  modules/app/app-configuration/modules/privateEndpoint.bicep
  modules/app/app-configuration/modules/rbac.bicep
  modules/app/app-configuration/test/main.test.bicep
  modules/app/app-configuration/test/prereq.test.bicep
  modules/app/app-configuration/version.json
Labels: Existing Module

#388 chore: [function-app] expose more param and support connectionStrings
  modules/compute/function-app/README.md
  modules/compute/function-app/bicepconfig.json
  modules/compute/function-app/main.bicep
  modules/compute/function-app/main.json
  modules/compute/function-app/test/prereq.test.bicep
Labels: Existing Module

#344 feat: initial module for PublicIpAddress
  modules/network/public-ip-address/README.md
  modules/network/public-ip-address/main.bicep
  modules/network/public-ip-address/main.json
  modules/network/public-ip-address/metadata.json
  modules/network/public-ip-address/test/main.test.bicep
  modules/network/public-ip-address/test/prereq.test.bicep
  modules/network/public-ip-address/version.json
Labels: MCR Manifest Onboarded

#410 feat: lz (sub) vending `v1.4.1` release - Change Template Metadata and add optional params for MCA Multi Tenant Scenario
  modules/lz/sub-vending/README.md
  modules/lz/sub-vending/main.bicep
  modules/lz/sub-vending/main.json
  modules/lz/sub-vending/src/self/Microsoft.Subscription/aliases/deploy.bicep
  modules/lz/sub-vending/src/self/subResourceWrapper/deploy.bicep
  modules/lz/sub-vending/version.json
Labels: Existing Module

#346 feat: initial module for Public IP Prefix
  modules/network/public-ip-prefix/README.md
  modules/network/public-ip-prefix/main.bicep
  modules/network/public-ip-prefix/main.json
  modules/network/public-ip-prefix/metadata.json
  modules/network/public-ip-prefix/test/main.test.bicep
  modules/network/public-ip-prefix/version.json
Labels: MCR Manifest Onboarded

#409 refactor: Make role assignment optional when creating certs
  modules/deployment-scripts/create-kv-certificate/README.md
  modules/deployment-scripts/create-kv-certificate/main.bicep
  modules/deployment-scripts/create-kv-certificate/main.json
  modules/deployment-scripts/create-kv-certificate/version.json
Labels: Existing Module

#353 feat: Add new storage account and related new resources.
  modules/storage/storage-account/README.md
  modules/storage/storage-account/main.bicep
  modules/storage/storage-account/main.json
  modules/storage/storage-account/modules/privateEndpoint.bicep
  modules/storage/storage-account/test/main.test.bicep
  modules/storage/storage-account/test/prereq.test.bicep
Labels: Existing Module

#383 refactor!: Use user-defined types in cosmosDB module
  CONTRIBUTING.md
  modules/compute/event-hub/README.md
  modules/storage/cosmos-db/README.md
  modules/storage/cosmos-db/bicepconfig.json
  modules/storage/cosmos-db/main.bicep
  modules/storage/cosmos-db/main.json
  modules/storage/cosmos-db/modules/cassandra.bicep
  modules/storage/cosmos-db/modules/gremlin.bicep
  modules/storage/cosmos-db/modules/mongodb.bicep
  modules/storage/cosmos-db/modules/privateEndpoint.bicep
  modules/storage/cosmos-db/modules/rbac.bicep
  modules/storage/cosmos-db/modules/sql.bicep
  modules/storage/cosmos-db/modules/sql_containers.bicep
  modules/storage/cosmos-db/modules/sql_custom_roles.bicep
  modules/storage/cosmos-db/modules/sql_roles.bicep
  modules/storage/cosmos-db/modules/table.bicep
  modules/storage/cosmos-db/test/main.test.bicep
  modules/storage/cosmos-db/test/prereq.test.bicep
  modules/storage/cosmos-db/version.json
Labels: Existing Module

#404 feat: Cognitive Services module
  modules/ai/cognitiveservices/README.md
  modules/ai/cognitiveservices/main.bicep
  modules/ai/cognitiveservices/main.json
  modules/ai/cognitiveservices/metadata.json
  modules/ai/cognitiveservices/modules/privateEndpoint.bicep
  modules/ai/cognitiveservices/modules/rbac.bicep
  modules/ai/cognitiveservices/test/dependencies.test.bicep
  modules/ai/cognitiveservices/test/main.test.bicep
  modules/ai/cognitiveservices/version.json
Labels: MCR Manifest Onboarded

#424 fix: Cognitive Service model deployment SKU
  modules/ai/cognitiveservices/README.md
  modules/ai/cognitiveservices/main.bicep
  modules/ai/cognitiveservices/main.json
  modules/ai/cognitiveservices/test/main.test.bicep
Labels: Existing Module
