Repository Azure/bicep-registry-modules, pull requests merged in 2023-12, with the labels that each got.

#666 feat: new module avm/res/managed-identity/user-assigned-identity
  .github/CODEOWNERS
  .github/workflows/avm.res.managed-identity.user-assigned-identity.yml
  avm/res/managed-identity/user-assigned-identity/README.md
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/README.md
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/main.bicep
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/main.json
  avm/res/managed-identity/user-assigned-identity/main.bicep
  avm/res/managed-identity/user-assigned-identity/main.json
  avm/res/managed-identity/user-assigned-identity/tests/e2e/defaults/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/dependencies.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/unit/custom.tests.ps1
  avm/res/managed-identity/user-assigned-identity/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#667 feat: New module `avm/res/document-db/database-account`
  .github/CODEOWNERS
  .github/workflows/avm.res.document-db.database-account.yml
  avm/res/document-db/database-account/ORPHANED.md
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/README.md
  avm/res/document-db/database-account/gremlin-database/graph/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.bicep
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.bicep
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/mongodb-database/README.md
  avm/res/document-db/database-account/mongodb-database/collection/README.md
  avm/res/document-db/database-account/mongodb-database/collection/main.bicep
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.bicep
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/README.md
  avm/res/document-db/database-account/sql-database/container/README.md
  avm/res/document-db/database-account/sql-database/container/main.bicep
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.bicep
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#668 feat: Implemented post-deployment validation
  .github/actions/templates/avm-publishModule/action.yml
  avm/utilities/pipelines/publish/Confirm-ModuleIsPublished.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#695 feat: New Module `avm/res/insights/data-collection-endpoint`
  .github/CODEOWNERS
  .github/workflows/avm.res.insights.data-collection-endpoint.yml
  avm/res/insights/data-collection-endpoint/README.md
  avm/res/insights/data-collection-endpoint/main.bicep
  avm/res/insights/data-collection-endpoint/main.json
  avm/res/insights/data-collection-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/max/dependencies.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/max/main.test.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/data-collection-endpoint/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#670 feat: New Module `avm/res/service-bus/namespace`
  .github/CODEOWNERS
  .github/workflows/avm.res.service-bus.namespace.yml
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/authorization-rule/README.md
  avm/res/service-bus/namespace/authorization-rule/main.bicep
  avm/res/service-bus/namespace/authorization-rule/main.json
  avm/res/service-bus/namespace/disaster-recovery-config/README.md
  avm/res/service-bus/namespace/disaster-recovery-config/main.bicep
  avm/res/service-bus/namespace/disaster-recovery-config/main.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/migration-configuration/README.md
  avm/res/service-bus/namespace/migration-configuration/main.bicep
  avm/res/service-bus/namespace/migration-configuration/main.json
  avm/res/service-bus/namespace/network-rule-set/README.md
  avm/res/service-bus/namespace/network-rule-set/main.bicep
  avm/res/service-bus/namespace/network-rule-set/main.json
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/queue/authorization-rule/README.md
  avm/res/service-bus/namespace/queue/authorization-rule/main.bicep
  avm/res/service-bus/namespace/queue/authorization-rule/main.json
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/encr/dependencies.bicep
  avm/res/service-bus/namespace/tests/e2e/encr/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/max/dependencies.bicep
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/pe/dependencies.bicep
  avm/res/service-bus/namespace/tests/e2e/pe/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/authorization-rule/README.md
  avm/res/service-bus/namespace/topic/authorization-rule/main.bicep
  avm/res/service-bus/namespace/topic/authorization-rule/main.json
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#698 feat: Moved GitHub pipeline state/toggle action to script to enable local testing & execution
  .github/workflows/avm.platform.toggle-avm-workflows.yml
  avm/utilities/pipelines/platform/Switch-WorkflowSate.ps1
Labels: Type: AVM :a: :v: :m:

#693 feat: Ported CARML utility that allows triggering a set of workflows for a specific branch returning the workflow badges
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:

#709 fix: Fixed issue where Bicep build output would cause Foreach-Parallel to fail
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Bug, Needs: Triage :mag:, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#715 fix: `avm/res/operational-insights/workspace/saved-search` - suppressing false positive bicep warning
  avm/res/operational-insights/workspace/saved-search/main.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#711 feat: New Module `avm/res/insights/metric-alert`
  .github/CODEOWNERS
  .github/workflows/avm.res.insights.metric-alert.yml
  avm/res/insights/metric-alert/ORPHANED.md
  avm/res/insights/metric-alert/README.md
  avm/res/insights/metric-alert/main.bicep
  avm/res/insights/metric-alert/main.json
  avm/res/insights/metric-alert/tests/e2e/defaults/main.test.bicep
  avm/res/insights/metric-alert/tests/e2e/max/dependencies.bicep
  avm/res/insights/metric-alert/tests/e2e/max/main.test.bicep
  avm/res/insights/metric-alert/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/metric-alert/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/metric-alert/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#708 feat: New Module `avm/res/insights/activity-log-alert`
  .github/CODEOWNERS
  .github/workflows/avm.res.insights.activity-log-alert.yml
  avm/res/insights/activity-log-alert/ORPHANED.md
  avm/res/insights/activity-log-alert/README.md
  avm/res/insights/activity-log-alert/main.bicep
  avm/res/insights/activity-log-alert/main.json
  avm/res/insights/activity-log-alert/tests/e2e/defaults/main.test.bicep
  avm/res/insights/activity-log-alert/tests/e2e/max/dependencies.bicep
  avm/res/insights/activity-log-alert/tests/e2e/max/main.test.bicep
  avm/res/insights/activity-log-alert/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/activity-log-alert/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/activity-log-alert/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#712 feat: New Module `avm/res/insights/scheduled-query-rule`
  .github/CODEOWNERS
  .github/workflows/avm.res.insights.scheduled-query-rule.yml
  avm/res/insights/scheduled-query-rule/ORPHANED.md
  avm/res/insights/scheduled-query-rule/README.md
  avm/res/insights/scheduled-query-rule/main.bicep
  avm/res/insights/scheduled-query-rule/main.json
  avm/res/insights/scheduled-query-rule/tests/e2e/defaults/dependencies.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/defaults/main.test.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/max/dependencies.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/max/main.test.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/scheduled-query-rule/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#716 feat: New Module avm/res/network/network-security-group
  .github/CODEOWNERS
  .github/workflows/avm.res.network.network-security-group.yml
  avm/res/network/network-security-group/README.md
  avm/res/network/network-security-group/main.bicep
  avm/res/network/network-security-group/main.json
  avm/res/network/network-security-group/security-rule/README.md
  avm/res/network/network-security-group/security-rule/main.bicep
  avm/res/network/network-security-group/security-rule/main.json
  avm/res/network/network-security-group/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-security-group/tests/e2e/max/dependencies.bicep
  avm/res/network/network-security-group/tests/e2e/max/main.test.bicep
  avm/res/network/network-security-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/network-security-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-security-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#710 feat: Reduced publish validation vebosity
  .github/actions/templates/avm-publishModule/action.yml
  avm/utilities/pipelines/publish/Confirm-ModuleIsPublished.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#720 feat: new module avm/res/automation/automation-account
  .github/CODEOWNERS
  .github/workflows/avm.res.automation.automation-account.yml
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/job-schedule/README.md
  avm/res/automation/automation-account/job-schedule/main.bicep
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/README.md
  avm/res/automation/automation-account/module/main.bicep
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/README.md
  avm/res/automation/automation-account/runbook/main.bicep
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/README.md
  avm/res/automation/automation-account/schedule/main.bicep
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/README.md
  avm/res/automation/automation-account/software-update-configuration/main.bicep
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/tests/e2e/defaults/main.test.bicep
  avm/res/automation/automation-account/tests/e2e/encr/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/encr/main.test.bicep
  avm/res/automation/automation-account/tests/e2e/max/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/automation/automation-account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/automation/automation-account/variable/README.md
  avm/res/automation/automation-account/variable/main.bicep
  avm/res/automation/automation-account/variable/main.json
  avm/res/automation/automation-account/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#700 feat: New Module Web/Serverfarms CARML Migration
  .github/CODEOWNERS
  .github/workflows/avm.res.web.serverfarm.yml
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/max/dependencies.bicep
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/serverfarm/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#718 fix: Remove `managedBy`
  avm/res/resources/resource-group/README.md
  avm/res/resources/resource-group/main.bicep
  avm/res/resources/resource-group/main.json
  avm/res/resources/resource-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#719 fix: Event Grid System Topic Event Subscription w/ Managed Identity #705
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.json
  avm/res/event-grid/system-topic/version.json
  avm/res/event-grid/topic/event-subscription/main.bicep
  avm/res/event-grid/topic/event-subscription/main.json
  avm/res/event-grid/topic/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#713 feat: New Module `avm/res/api-management/service`
  .github/CODEOWNERS
  .github/workflows/avm.res.api-management.service.yml
  avm/res/api-management/service/ORPHANED.md
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/README.md
  avm/res/api-management/service/api-version-set/main.bicep
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/README.md
  avm/res/api-management/service/api/main.bicep
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/README.md
  avm/res/api-management/service/api/policy/main.bicep
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/README.md
  avm/res/api-management/service/authorization-server/main.bicep
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/README.md
  avm/res/api-management/service/backend/main.bicep
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/README.md
  avm/res/api-management/service/cache/main.bicep
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/README.md
  avm/res/api-management/service/identity-provider/main.bicep
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/README.md
  avm/res/api-management/service/named-value/main.bicep
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/README.md
  avm/res/api-management/service/policy/main.bicep
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/README.md
  avm/res/api-management/service/portalsetting/main.bicep
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/README.md
  avm/res/api-management/service/product/api/README.md
  avm/res/api-management/service/product/api/main.bicep
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/README.md
  avm/res/api-management/service/product/group/main.bicep
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.bicep
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/README.md
  avm/res/api-management/service/subscription/main.bicep
  avm/res/api-management/service/subscription/main.json
  avm/res/api-management/service/tests/e2e/defaults/main.test.bicep
  avm/res/api-management/service/tests/e2e/max/dependencies.bicep
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/api-management/service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/api-management/service/version.json
  avm/utilities/pipelines/staticValidation/psrule/Set-PSRuleGitHubOutput.ps1
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#721 fix: avm/res/network/load-balancer probe tests
  avm/res/network/load-balancer/README.md
  avm/res/network/load-balancer/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#732 fix: `avm/res/web/serverfarm`
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#729 feat: New Module `avm/res/maintenance/maintenance-configuration`
  .github/CODEOWNERS
  .github/workflows/avm.res.maintenance.maintenance-configuration.yml
  avm/res/maintenance/maintenance-configuration/ORPHANED.md
  avm/res/maintenance/maintenance-configuration/README.md
  avm/res/maintenance/maintenance-configuration/main.bicep
  avm/res/maintenance/maintenance-configuration/main.json
  avm/res/maintenance/maintenance-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/maintenance/maintenance-configuration/tests/e2e/max/dependencies.bicep
  avm/res/maintenance/maintenance-configuration/tests/e2e/max/main.test.bicep
  avm/res/maintenance/maintenance-configuration/tests/e2e/waf-aligned/main.test.bicep
  avm/res/maintenance/maintenance-configuration/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#730 feat: New Module `avm/res/data-factory/factory`
  .github/CODEOWNERS
  .github/workflows/avm.res.data-factory.factory.yml
  avm/res/data-factory/factory/ORPHANED.md
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/README.md
  avm/res/data-factory/factory/integration-runtime/main.bicep
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/README.md
  avm/res/data-factory/factory/managed-virtual-network/main.bicep
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/README.md
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.bicep
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
  avm/res/data-factory/factory/tests/e2e/defaults/main.test.bicep
  avm/res/data-factory/factory/tests/e2e/max/dependencies.bicep
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
  avm/res/data-factory/factory/tests/e2e/waf-aligned/main.test.bicep
  avm/res/data-factory/factory/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#728 feat: New Module `avm/res/insights/webtest`
  .github/CODEOWNERS
  .github/workflows/avm.res.insights.webtest.yml
  avm/res/insights/webtest/ORPHANED.md
  avm/res/insights/webtest/README.md
  avm/res/insights/webtest/main.bicep
  avm/res/insights/webtest/main.json
  avm/res/insights/webtest/tests/e2e/defaults/dependencies.bicep
  avm/res/insights/webtest/tests/e2e/defaults/main.test.bicep
  avm/res/insights/webtest/tests/e2e/max/dependencies.bicep
  avm/res/insights/webtest/tests/e2e/max/main.test.bicep
  avm/res/insights/webtest/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/webtest/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/webtest/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#725 fix: Fixed too generic cleanup of JSON comma syntax during readme generation
  avm/res/insights/data-collection-rule/README.md
  avm/res/network/bastion-host/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Bug, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#707 feat: Updated workflow file tests & small bugfix for utility
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:

#727 feat: Added matrix name to template increasing readability
  .github/actions/templates/avm-getModuleTestFiles/action.yml
  .github/workflows/avm.res.api-management.service.yml
  .github/workflows/avm.res.automation.automation-account.yml
  .github/workflows/avm.res.batch.batch-account.yml
  .github/workflows/avm.res.cognitive-services.account.yml
  .github/workflows/avm.res.compute.ssh-public-key.yml
  .github/workflows/avm.res.data-factory.factory.yml
  .github/workflows/avm.res.db-for-postgre-sql.flexible-server.yml
  .github/workflows/avm.res.document-db.database-account.yml
  .github/workflows/avm.res.event-grid.domain.yml
  .github/workflows/avm.res.event-grid.system-topic.yml
  .github/workflows/avm.res.event-grid.topic.yml
  .github/workflows/avm.res.insights.action-group.yml
  .github/workflows/avm.res.insights.activity-log-alert.yml
  .github/workflows/avm.res.insights.component.yml
  .github/workflows/avm.res.insights.data-collection-endpoint.yml
  .github/workflows/avm.res.insights.data-collection-rule.yml
  .github/workflows/avm.res.insights.diagnostic-setting.yml
  .github/workflows/avm.res.insights.metric-alert.yml
  .github/workflows/avm.res.insights.scheduled-query-rule.yml
  .github/workflows/avm.res.insights.webtest.yml
  .github/workflows/avm.res.key-vault.vault.yml
  .github/workflows/avm.res.kubernetes-configuration.extension.yml
  .github/workflows/avm.res.kubernetes-configuration.flux-configuration.yml
  .github/workflows/avm.res.logic.workflow.yml
  .github/workflows/avm.res.maintenance.maintenance-configuration.yml
  .github/workflows/avm.res.managed-identity.user-assigned-identity.yml
  .github/workflows/avm.res.network.bastion-host.yml
  .github/workflows/avm.res.network.dns-forwarding-ruleset.yml
  .github/workflows/avm.res.network.dns-resolver.yml
  .github/workflows/avm.res.network.dns-zone.yml
  .github/workflows/avm.res.network.express-route-circuit.yml
  .github/workflows/avm.res.network.express-route-gateway.yml
  .github/workflows/avm.res.network.load-balancer.yml
  .github/workflows/avm.res.network.network-interface.yml
  .github/workflows/avm.res.network.network-security-group.yml
  .github/workflows/avm.res.network.private-dns-zone.yml
  .github/workflows/avm.res.network.private-endpoint.yml
  .github/workflows/avm.res.network.public-ip-address.yml
  .github/workflows/avm.res.network.public-ip-prefix.yml
  .github/workflows/avm.res.network.route-table.yml
  .github/workflows/avm.res.network.trafficmanagerprofile.yml
  .github/workflows/avm.res.network.virtual-network.yml
  .github/workflows/avm.res.operational-insights.workspace.yml
  .github/workflows/avm.res.operations-management.solution.yml
  .github/workflows/avm.res.power-bi-dedicated.capacity.yml
  .github/workflows/avm.res.resource-graph.query.yml
  .github/workflows/avm.res.resources.deployment-script.yml
  .github/workflows/avm.res.resources.resource-group.yml
  .github/workflows/avm.res.search.search-service.yml
  .github/workflows/avm.res.service-bus.namespace.yml
  .github/workflows/avm.res.sql.server.yml
  .github/workflows/avm.res.web.serverfarm.yml
  .github/workflows/avm.template.module.yml
Labels: Type: AVM :a: :v: :m:

#739 feat: `avm/res/network/application security group`
  .github/CODEOWNERS
  .github/workflows/avm.res.network.application-security-group.yml
  avm/res/network/application-security-group/README.md
  avm/res/network/application-security-group/main.bicep
  avm/res/network/application-security-group/main.json
  avm/res/network/application-security-group/tests/e2e/defaults/main.test.bicep
  avm/res/network/application-security-group/tests/e2e/max/dependencies.bicep
  avm/res/network/application-security-group/tests/e2e/max/main.test.bicep
  avm/res/network/application-security-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/application-security-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#741 fix: `avm/res/service-bus/namespaces` Vnext Updates
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/README.md
  avm/res/service-bus/namespace/topic/subscription/main.bicep
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#736 fix: Enabled prefix for test folders when testing defaults/max/waf-aligned & added improved error output for invalid templates
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Bug Report, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#737 feat: avm/res/app/managed-environment
  .github/CODEOWNERS
  .github/workflows/avm.res.app.managed-environment.yml
  avm/res/app/managed-environment/ORPHANED.md
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/defaults/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/defaults/main.test.bicep
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
  avm/res/app/managed-environment/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/managed-environment/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#751 feat: new module network/vpn-site
  .github/CODEOWNERS
  .github/workflows/avm.res.network.vpn-site.yml
  avm/res/network/vpn-site/README.md
  avm/res/network/vpn-site/main.bicep
  avm/res/network/vpn-site/main.json
  avm/res/network/vpn-site/tests/e2e/defaults/dependencies.bicep
  avm/res/network/vpn-site/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-site/tests/e2e/max/dependencies.bicep
  avm/res/network/vpn-site/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-site/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/vpn-site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-site/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#752 feat: New Module `avm/res/compute/gallery`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.gallery.yml
  avm/res/compute/gallery/ORPHANED.md
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/README.md
  avm/res/compute/gallery/application/main.bicep
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/defaults/main.test.bicep
  avm/res/compute/gallery/tests/e2e/max/dependencies.bicep
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/gallery/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#754 fix: Re-enabled post-publish validation
  .github/actions/templates/avm-publishModule/action.yml
Labels: Bug, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#753 feat: new module network/connection
  .github/CODEOWNERS
  .github/workflows/avm.res.network.connection.yml
  avm/res/network/connection/README.md
  avm/res/network/connection/main.bicep
  avm/res/network/connection/main.json
  avm/res/network/connection/tests/e2e/defaults/dependencies.bicep
  avm/res/network/connection/tests/e2e/defaults/main.test.bicep
  avm/res/network/connection/tests/e2e/max/dependencies.bicep
  avm/res/network/connection/tests/e2e/max/main.test.bicep
  avm/res/network/connection/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/connection/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/connection/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:
