Repository Azure/bicep-registry-modules, pull requests merged in 2023-11, with the labels that each got.

#600 feat: Removed orphaned.md from kube modules
  avm/res/kubernetes-configuration/extension/ORPHANED.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/flux-configuration/ORPHANED.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
Labels: Type: AVM :a: :v: :m:

#603 feat: Updated published module name & added fetch of target version
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/main.json
  avm/res/kubernetes-configuration/flux-configuration/version.json
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/private-dns-zone-group/main.json
  avm/res/network/private-endpoint/version.json
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/helper/Get-BRMRepositoryName.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetPatchVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleVersionChange.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:

#597 fix: Fixed small issue when detecting required parameters & enhanced allowed & default values
  avm/res/batch/batch-account/README.md
  avm/res/cognitive-services/account/README.md
  avm/res/compute/ssh-public-key/README.md
  avm/res/insights/action-group/README.md
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/key/README.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-zone/README.md
  avm/res/network/network-interface/README.md
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/cname/README.md
  avm/res/network/public-ip-address/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#608 fix: Changed the version ref in the readme to a generic `<version>`
  avm/res/batch/batch-account/README.md
  avm/res/cognitive-services/account/README.md
  avm/res/compute/ssh-public-key/README.md
  avm/res/insights/action-group/README.md
  avm/res/key-vault/vault/README.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-zone/README.md
  avm/res/network/network-interface/README.md
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-endpoint/README.md
  avm/res/network/public-ip-address/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#593 fix: Updated deployment name generation
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/utilities/pipelines/e2eValidation/resourceDeployment/New-TemplateDeployment.ps1
  avm/utilities/pipelines/e2eValidation/resourceDeployment/Test-TemplateDeployment.ps1
  avm/utilities/tools/Test-ModuleLocally.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#610 feat: New Module `avm/res/operations-management/solution`
  .github/workflows/avm.res.operations-management.solution.yml
  avm/res/operations-management/solution/README.md
  avm/res/operations-management/solution/main.bicep
  avm/res/operations-management/solution/main.json
  avm/res/operations-management/solution/tests/e2e/defaults/dependencies.bicep
  avm/res/operations-management/solution/tests/e2e/defaults/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/ms/dependencies.bicep
  avm/res/operations-management/solution/tests/e2e/ms/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/nonms/dependencies.bicep
  avm/res/operations-management/solution/tests/e2e/nonms/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/operations-management/solution/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operations-management/solution/version.json
Labels: Type: AVM :a: :v: :m:

#596 feat: Update module `avm-res-batch-batchAccount` network profile
  avm/res/batch/batch-account/ORPHANED.md
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/defaults/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/encr/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/batch/batch-account/version.json
Labels: Type: AVM :a: :v: :m:

#602 ci: Changes to `moduleIndex.json` generation for AVM module renames
  scripts/github-actions/generate-module-index-data.js
Labels: CI, Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#612 feat: New Module `avm/res/operational-insights/workspace`
  .github/workflows/avm.res.operational-insights.workspace.yml
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/data-export/README.md
  avm/res/operational-insights/workspace/data-export/main.bicep
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/README.md
  avm/res/operational-insights/workspace/data-source/main.bicep
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/README.md
  avm/res/operational-insights/workspace/linked-service/main.bicep
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/README.md
  avm/res/operational-insights/workspace/linked-storage-account/main.bicep
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/README.md
  avm/res/operational-insights/workspace/saved-search/main.bicep
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/README.md
  avm/res/operational-insights/workspace/storage-insight-config/main.bicep
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Type: AVM :a: :v: :m:

#616 feat: Added module avm/res/logic/workflow
  .github/workflows/avm.res.logic.workflow.yml
  avm/res/logic/workflow/README.md
  avm/res/logic/workflow/main.bicep
  avm/res/logic/workflow/main.json
  avm/res/logic/workflow/tests/e2e/defaults/main.test.bicep
  avm/res/logic/workflow/tests/e2e/max/dependencies.bicep
  avm/res/logic/workflow/tests/e2e/max/main.test.bicep
  avm/res/logic/workflow/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/logic/workflow/tests/e2e/waf-aligned/main.test.bicep
  avm/res/logic/workflow/version.json
Labels: Type: AVM :a: :v: :m:

#606 feat: Added more AVM compliance tests & enabled us to add warnings to test cases
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/tests/e2e/defaults/main.test.bicep
  avm/res/insights/action-group/tests/e2e/max/main.test.bicep
  avm/res/insights/action-group/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#599 feat: New Module `avm-res-powerbidedicated-capacity`
  .github/workflows/avm.res.power-bi-dedicated.capacity.yml
  avm/res/power-bi-dedicated/capacity/README.md
  avm/res/power-bi-dedicated/capacity/main.bicep
  avm/res/power-bi-dedicated/capacity/main.json
  avm/res/power-bi-dedicated/capacity/tests/e2e/defaults/dependencies.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/defaults/main.test.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/max/dependencies.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/max/main.test.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/waf-aligned/main.test.bicep
  avm/res/power-bi-dedicated/capacity/version.json
Labels: Type: AVM :a: :v: :m:

#628 chore: AVM issue automation
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/ISSUE_TEMPLATE/avm_question_feedback.yml
  .github/policies/eventResponder.yml
  .github/policies/scheduledSearches.yml
Labels: Type: AVM :a: :v: :m:

#625 feat: Kube-Flux - Added features of carml contribution
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/version.json
Labels: Type: AVM :a: :v: :m:

#622 feat: Added user defined type for Key Vault Access Policies
  CONTRIBUTING.md
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/README.md
  avm/res/key-vault/vault/access-policy/main.bicep
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/version.json
Labels: Type: AVM :a: :v: :m:

#639 chore: AVM issue triage improvements
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/policies/avmModuleIssueTriage.yml
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#641 fix: Removed incorrect nullable ref from kustomizations
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
Labels: Bug Fix, Type: AVM :a: :v: :m:

#613 feat: Added telemetry value test & minor improvements
  avm/res/compute/ssh-public-key/README.md
  avm/res/compute/ssh-public-key/main.bicep
  avm/res/compute/ssh-public-key/main.json
  avm/res/compute/ssh-public-key/tests/e2e/defaults/main.test.bicep
  avm/res/compute/ssh-public-key/tests/e2e/max/main.test.bicep
  avm/res/compute/ssh-public-key/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/main.bicep
  avm/res/kubernetes-configuration/extension/main.json
  avm/res/kubernetes-configuration/extension/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes-configuration/extension/version.json
  avm/res/network/network-interface/main.bicep
  avm/res/network/network-interface/main.json
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#642 feat: Added URL fetch error handling to test script
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#645 ci: Fix 1mb limit issue for GitHub `getContent` API for module index generation
  scripts/github-actions/generate-module-index-data.js
Labels: Needs: Triage :mag:

#635 feat: New Module `avm/res/insights/component`
  .github/workflows/avm.res.insights.component.yml
  avm/res/insights/component/README.md
  avm/res/insights/component/main.bicep
  avm/res/insights/component/main.json
  avm/res/insights/component/tests/e2e/defaults/dependencies.bicep
  avm/res/insights/component/tests/e2e/defaults/main.test.bicep
  avm/res/insights/component/tests/e2e/max/dependencies.bicep
  avm/res/insights/component/tests/e2e/max/main.test.bicep
  avm/res/insights/component/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/component/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/component/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#634 feat: New Module `avm/res/search/search-service`
  .github/workflows/avm.res.search.search-service.yml
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/shared-private-link-resource/README.md
  avm/res/search/search-service/shared-private-link-resource/main.bicep
  avm/res/search/search-service/shared-private-link-resource/main.json
  avm/res/search/search-service/tests/e2e/defaults/main.test.bicep
  avm/res/search/search-service/tests/e2e/max/dependencies.bicep
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/tests/e2e/pe/dependencies.bicep
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#650 fix: Operational Insights Workspace module - fixed static tests
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/README.md
  avm/res/operational-insights/workspace/saved-search/main.bicep
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#649 feat: new module event-grid/domain
  .github/workflows/avm.res.event-grid.domain.yml
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/domain/main.bicep
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/domain/tests/e2e/defaults/main.test.bicep
  avm/res/event-grid/domain/tests/e2e/max/dependencies.bicep
  avm/res/event-grid/domain/tests/e2e/max/main.test.bicep
  avm/res/event-grid/domain/tests/e2e/pe/dependencies.bicep
  avm/res/event-grid/domain/tests/e2e/pe/main.test.bicep
  avm/res/event-grid/domain/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/event-grid/domain/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-grid/domain/topic/README.md
  avm/res/event-grid/domain/topic/main.bicep
  avm/res/event-grid/domain/topic/main.json
  avm/res/event-grid/domain/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#659 chore: Update CODEOWNERS file
  .github/CODEOWNERS
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#657 feat: New Module avm-res-resource-graph.query
  .github/workflows/avm.res.resource-graph.query.yml
  avm/res/resource-graph/query/ORPHANED.md
  avm/res/resource-graph/query/README.md
  avm/res/resource-graph/query/main.bicep
  avm/res/resource-graph/query/main.json
  avm/res/resource-graph/query/tests/e2e/defaults/main.test.bicep
  avm/res/resource-graph/query/tests/e2e/max/dependencies.bicep
  avm/res/resource-graph/query/tests/e2e/max/main.test.bicep
  avm/res/resource-graph/query/tests/e2e/max/query.kql
  avm/res/resource-graph/query/tests/e2e/waf-aligned/main.test.bicep
  avm/res/resource-graph/query/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#637 feat: New Module `avm/res/sql/server`
  .github/CODEOWNERS
  .github/workflows/avm.res.sql.server.yml
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/README.md
  avm/res/sql/server/database/backup-short-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/README.md
  avm/res/sql/server/encryption-protector/main.bicep
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/firewall-rule/README.md
  avm/res/sql/server/firewall-rule/main.bicep
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/README.md
  avm/res/sql/server/key/main.bicep
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/README.md
  avm/res/sql/server/security-alert-policy/main.bicep
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/admin/dependencies.bicep
  avm/res/sql/server/tests/e2e/admin/main.test.bicep
  avm/res/sql/server/tests/e2e/defaults/main.test.bicep
  avm/res/sql/server/tests/e2e/max/dependencies.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/pe/dependencies.bicep
  avm/res/sql/server/tests/e2e/pe/main.test.bicep
  avm/res/sql/server/tests/e2e/secondary/dependencies.bicep
  avm/res/sql/server/tests/e2e/secondary/main.test.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/dependencies.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/sql/server/virtual-network-rule/README.md
  avm/res/sql/server/virtual-network-rule/main.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/README.md
  avm/res/sql/server/vulnerability-assessment/main.bicep
  avm/res/sql/server/vulnerability-assessment/main.json
  avm/res/sql/server/vulnerability-assessment/modules/nested_storageRoleAssignment.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#643 feat: avm/res/network/express-route-gateway
  .github/workflows/avm.res.network.express-route-gateway.yml
  avm/res/network/express-route-gateway/README.md
  avm/res/network/express-route-gateway/main.bicep
  avm/res/network/express-route-gateway/main.json
  avm/res/network/express-route-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/express-route-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/express-route-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/express-route-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/express-route-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/express-route-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#660 fix: Fixed CODEOWNERS reviewer reference
  .github/CODEOWNERS
Labels: Type: AVM :a: :v: :m:

#654 fix: Fixed test description of `EventGrid/Domain` waf-aligned test
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/domain/main.bicep
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/domain/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#664 feat: New module `avm/res/db-for-postgre-sql/flexible-server`
  .github/CODEOWNERS
  .github/workflows/avm.res.db-for-postgre-sql.flexible-server.yml
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/README.md
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/README.md
  avm/res/db-for-postgre-sql/flexible-server/database/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/README.md
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/encr/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/encr/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#672 fix: quotes update in `avm/res/db-for-postgre-sql/flexible-server`
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#652 feat: new module eventgrid /topic migrated from CARML to AVM
  .github/workflows/avm.res.event-grid.topic.yml
  avm/res/event-grid/topic/README.md
  avm/res/event-grid/topic/event-subscription/README.md
  avm/res/event-grid/topic/event-subscription/main.bicep
  avm/res/event-grid/topic/event-subscription/main.json
  avm/res/event-grid/topic/main.bicep
  avm/res/event-grid/topic/main.json
  avm/res/event-grid/topic/tests/e2e/defaults/main.test.bicep
  avm/res/event-grid/topic/tests/e2e/max/dependencies.bicep
  avm/res/event-grid/topic/tests/e2e/max/main.test.bicep
  avm/res/event-grid/topic/tests/e2e/pe/dependencies.bicep
  avm/res/event-grid/topic/tests/e2e/pe/main.test.bicep
  avm/res/event-grid/topic/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/event-grid/topic/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-grid/topic/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#618 feat: Further improved runtime of utilities
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:

#674 feat: Added test for [ORPHANED.md] files
  avm/res/batch/batch-account/README.md
  avm/res/cognitive-services/account/ORPHANED.md
  avm/res/cognitive-services/account/README.md
  avm/res/resource-graph/query/ORPHANED.md
  avm/res/resource-graph/query/README.md
  avm/res/sql/server/ORPHANED.md
  avm/res/sql/server/README.md
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#676 chore: CODEOWNERS update for AVM
  .github/CODEOWNERS
Labels: Type: AVM :a: :v: :m:

#656 fix: avm/res/network/private-endpoint
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/version.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#655 feat: avm/res/network/route-table
  .github/CODEOWNERS
  .github/workflows/avm.res.network.route-table.yml
  avm/res/network/route-table/README.md
  avm/res/network/route-table/main.bicep
  avm/res/network/route-table/main.json
  avm/res/network/route-table/tests/e2e/defaults/main.test.bicep
  avm/res/network/route-table/tests/e2e/max/dependencies.bicep
  avm/res/network/route-table/tests/e2e/max/main.test.bicep
  avm/res/network/route-table/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/route-table/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#675 fix: Hardcoded version check #669
  .github/workflows/publish-module.yml
Labels: Needs: Triage :mag:, Bug Fix

#646 fix: Diverse Bugfixes & improved `module.test.ps1` efficiency
  .github/actions/templates/avm-getModuleTestFiles/action.yml
  avm/utilities/pipelines/sharedScripts/Get-ModuleTestFileList.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/Test-ModuleLocally.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#682 feat: Moved `Get-BRMRepositoryName` to `SharedScripts`
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/sharedScripts/Get-BRMRepositoryName.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
Labels: Type: AVM :a: :v: :m:

#604 feat: New Module avm-res-resources-deployment-script
  .github/CODEOWNERS
  .github/workflows/avm.res.resources.deployment-script.yml
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/tests/e2e/cli/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/cli/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/defaults/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/defaults/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/max/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/max/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/private-network/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/private-network/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/ps/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/ps/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/waf-aligned/main.test.bicep
  avm/res/resources/deployment-script/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#685 fix: AVM deployment script workflow bug
  .github/workflows/avm.res.resources.deployment-script.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#686 fix: AVM deployment script - Docs change for publish
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
Labels: Needs: Triage :mag:

#684 feat: Filter PSRule validation on required test files
  .github/actions/templates/avm-getModuleTestFiles/action.yml
  .github/workflows/avm.res.batch.batch-account.yml
  .github/workflows/avm.res.cognitive-services.account.yml
  .github/workflows/avm.res.compute.ssh-public-key.yml
  .github/workflows/avm.res.db-for-postgre-sql.flexible-server.yml
  .github/workflows/avm.res.event-grid.domain.yml
  .github/workflows/avm.res.event-grid.system-topic.yml
  .github/workflows/avm.res.event-grid.topic.yml
  .github/workflows/avm.res.insights.action-group.yml
  .github/workflows/avm.res.insights.component.yml
  .github/workflows/avm.res.insights.diagnostic-setting.yml
  .github/workflows/avm.res.key-vault.vault.yml
  .github/workflows/avm.res.kubernetes-configuration.extension.yml
  .github/workflows/avm.res.kubernetes-configuration.flux-configuration.yml
  .github/workflows/avm.res.logic.workflow.yml
  .github/workflows/avm.res.network.dns-forwarding-ruleset.yml
  .github/workflows/avm.res.network.dns-resolver.yml
  .github/workflows/avm.res.network.dns-zone.yml
  .github/workflows/avm.res.network.express-route-circuit.yml
  .github/workflows/avm.res.network.express-route-gateway.yml
  .github/workflows/avm.res.network.load-balancer.yml
  .github/workflows/avm.res.network.network-interface.yml
  .github/workflows/avm.res.network.private-dns-zone.yml
  .github/workflows/avm.res.network.private-endpoint.yml
  .github/workflows/avm.res.network.public-ip-address.yml
  .github/workflows/avm.res.network.route-table.yml
  .github/workflows/avm.res.network.virtual-network.yml
  .github/workflows/avm.res.operational-insights.workspace.yml
  .github/workflows/avm.res.operations-management.solution.yml
  .github/workflows/avm.res.power-bi-dedicated.capacity.yml
  .github/workflows/avm.res.resource-graph.query.yml
  .github/workflows/avm.res.resources.deployment-script.yml
  .github/workflows/avm.res.search.search-service.yml
  .github/workflows/avm.res.sql.server.yml
  .github/workflows/avm.template.module.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#621 feat: Updated PE version references
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/key-vault/vault/tests/e2e/private-endpoint/main.test.bicep
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/sql/server/README.md
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/pe/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:
