Repository Azure/bicep-registry-modules, pull requests merged in 2023-07, with the labels that each got.

#407 feat: Bicep Module for Bing Resource
  modules/ai/bing-resource/README.md
  modules/ai/bing-resource/main.bicep
  modules/ai/bing-resource/main.json
  modules/ai/bing-resource/metadata.json
  modules/ai/bing-resource/test/main.test.bicep
  modules/ai/bing-resource/version.json
Labels: Awaiting MCR Directory Assignment

#446 fix: enhance zone redundancy configuration and fix issue with deployment to westus
  modules/storage/redis-cache/README.md
  modules/storage/redis-cache/main.bicep
  modules/storage/redis-cache/main.json
  modules/storage/redis-cache/metadata.json
  modules/storage/redis-cache/test/main.test.bicep
  modules/storage/redis-cache/version.json
Labels: Existing Module, Bug Fix

#438 feat: [app-function] fix typo in storageAccountResourceGroup
  modules/compute/function-app/README.md
  modules/compute/function-app/main.bicep
  modules/compute/function-app/main.json
  modules/compute/function-app/metadata.json
  modules/compute/function-app/test/main.test.bicep
  modules/compute/function-app/version.json
Labels: Existing Module

#439 feat: [redis] add patch feature and userdefined types
  modules/storage/redis-cache/README.md
  modules/storage/redis-cache/bicepconfig.json
  modules/storage/redis-cache/main.bicep
  modules/storage/redis-cache/main.json
  modules/storage/redis-cache/modules/patch-schedule.bicep
  modules/storage/redis-cache/test/main.test.bicep
  modules/storage/redis-cache/test/prereq.test.bicep
  modules/storage/redis-cache/version.json
Labels: Existing Module

#451 chore: Remove obs metadata.json (ai/bing-resource) (auto-generated)
  modules/ai/bing-resource/README.md
  modules/ai/bing-resource/main.bicep
  modules/ai/bing-resource/main.json
  modules/ai/bing-resource/metadata.json
Labels: Auto-generated

#484 chore: Remove metadata.json (storage/log-analytics-workspace) (auto-generated)
  modules/storage/log-analytics-workspace/README.md
  modules/storage/log-analytics-workspace/main.bicep
  modules/storage/log-analytics-workspace/main.json
  modules/storage/log-analytics-workspace/metadata.json
Labels: Auto-generated

#483 chore: Remove metadata.json (storage/cosmos-db) (auto-generated)
  modules/storage/cosmos-db/README.md
  modules/storage/cosmos-db/main.bicep
  modules/storage/cosmos-db/main.json
  modules/storage/cosmos-db/metadata.json
Labels: Auto-generated

#482 chore: Remove metadata.json (security/keyvault) (auto-generated)
  modules/security/keyvault/README.md
  modules/security/keyvault/main.bicep
  modules/security/keyvault/main.json
  modules/security/keyvault/metadata.json
Labels: Auto-generated

#481 chore: Remove metadata.json (samples/hello-world) (auto-generated)
  modules/samples/hello-world/README.md
  modules/samples/hello-world/main.bicep
  modules/samples/hello-world/main.json
  modules/samples/hello-world/metadata.json
Labels: Auto-generated

#480 chore: Remove metadata.json (samples/array-loop) (auto-generated)
  modules/samples/array-loop/README.md
  modules/samples/array-loop/main.bicep
  modules/samples/array-loop/main.json
  modules/samples/array-loop/metadata.json
Labels: Auto-generated

#479 chore: Remove metadata.json (observability/grafana) (auto-generated)
  modules/observability/grafana/README.md
  modules/observability/grafana/main.bicep
  modules/observability/grafana/main.json
  modules/observability/grafana/metadata.json
Labels: Auto-generated

#477 chore: Remove metadata.json (network/traffic-manager) (auto-generated)
  modules/network/traffic-manager/README.md
  modules/network/traffic-manager/main.bicep
  modules/network/traffic-manager/main.json
  modules/network/traffic-manager/metadata.json
Labels: Auto-generated

#474 chore: Remove metadata.json (network/nat-gateway) (auto-generated)
  modules/network/dns-zone/README.md
  modules/network/dns-zone/main.bicep
  modules/network/dns-zone/main.json
  modules/network/dns-zone/metadata.json
  modules/network/nat-gateway/README.md
  modules/network/nat-gateway/main.bicep
  modules/network/nat-gateway/main.json
  modules/network/nat-gateway/metadata.json
Labels: Auto-generated

#472 chore: Remove metadata.json (identity/user-assigned-identity) (auto-generated)
  modules/identity/user-assigned-identity/README.md
  modules/identity/user-assigned-identity/main.bicep
  modules/identity/user-assigned-identity/main.json
  modules/identity/user-assigned-identity/metadata.json
Labels: Auto-generated

#471 chore: Remove metadata.json (deployment-scripts/import-acr) (auto-generated)
  modules/deployment-scripts/import-acr/README.md
  modules/deployment-scripts/import-acr/main.bicep
  modules/deployment-scripts/import-acr/main.json
  modules/deployment-scripts/import-acr/metadata.json
Labels: Auto-generated

#469 chore: Remove metadata.json (deployment-scripts/create-kv-certificate) (auto-generated)
  modules/deployment-scripts/create-kv-certificate/README.md
  modules/deployment-scripts/create-kv-certificate/main.bicep
  modules/deployment-scripts/create-kv-certificate/main.json
  modules/deployment-scripts/create-kv-certificate/metadata.json
Labels: Auto-generated

#467 chore: Remove metadata.json (deployment-scripts/aks-run-helm) (auto-generated)
  modules/deployment-scripts/aks-run-helm/README.md
  modules/deployment-scripts/aks-run-helm/main.bicep
  modules/deployment-scripts/aks-run-helm/main.json
  modules/deployment-scripts/aks-run-helm/metadata.json
Labels: Auto-generated

#465 chore: Remove metadata.json (cost/subscription-scheduled-action) (auto-generated)
  modules/cost/subscription-scheduled-action/README.md
  modules/cost/subscription-scheduled-action/main.bicep
  modules/cost/subscription-scheduled-action/main.json
  modules/cost/subscription-scheduled-action/metadata.json
Labels: Auto-generated

#464 chore: Remove metadata.json (cost/resourcegroup-scheduled-action) (auto-generated)
  modules/cost/resourcegroup-scheduled-action/README.md
  modules/cost/resourcegroup-scheduled-action/main.bicep
  modules/cost/resourcegroup-scheduled-action/main.json
  modules/cost/resourcegroup-scheduled-action/metadata.json
Labels: Auto-generated

#463 chore: Remove metadata.json (compute/event-hub) (auto-generated)
  modules/compute/event-hub/README.md
  modules/compute/event-hub/main.bicep
  modules/compute/event-hub/main.json
  modules/compute/event-hub/metadata.json
Labels: Auto-generated

#461 chore: Remove metadata.json (compute/container-registry) (auto-generated)
  modules/compute/container-registry/README.md
  modules/compute/container-registry/main.bicep
  modules/compute/container-registry/main.json
  modules/compute/container-registry/metadata.json
Labels: Auto-generated

#460 chore: Remove metadata.json (compute/availability-set) (auto-generated)
  modules/compute/availability-set/README.md
  modules/compute/availability-set/main.bicep
  modules/compute/availability-set/main.json
  modules/compute/availability-set/metadata.json
Labels: Auto-generated

#458 chore: Remove metadata.json (azure-gaming/game-dev-vm) (auto-generated)
  modules/azure-gaming/game-dev-vm/README.md
  modules/azure-gaming/game-dev-vm/main.bicep
  modules/azure-gaming/game-dev-vm/main.json
  modules/azure-gaming/game-dev-vm/metadata.json
Labels: Auto-generated

#457 chore: Remove metadata.json (authorization/resource-scope-role-assignment) (auto-generated)
  modules/authorization/resource-scope-role-assignment/README.md
  modules/authorization/resource-scope-role-assignment/main.bicep
  modules/authorization/resource-scope-role-assignment/main.json
  modules/authorization/resource-scope-role-assignment/metadata.json
Labels: Auto-generated

#456 chore: Remove metadata.json (app/dapr-containerapps-environment) (auto-generated)
  modules/app/dapr-containerapps-environment/README.md
  modules/app/dapr-containerapps-environment/main.bicep
  modules/app/dapr-containerapps-environment/main.json
  modules/app/dapr-containerapps-environment/metadata.json
Labels: Auto-generated

#454 chore: Remove metadata.json (app/app-configuration) (auto-generated)
  modules/app/app-configuration/README.md
  modules/app/app-configuration/main.bicep
  modules/app/app-configuration/main.json
  modules/app/app-configuration/metadata.json
Labels: Auto-generated

#455 chore: Remove metadata.json (app/dapr-containerapp) (auto-generated)
  modules/app/dapr-containerapp/README.md
  modules/app/dapr-containerapp/main.bicep
  modules/app/dapr-containerapp/main.json
  modules/app/dapr-containerapp/metadata.json
Labels: Auto-generated

#500 chore: Remove metadata.json (network/nat-gateway) (auto-generated)
  modules/network/nat-gateway/README.md
  modules/network/nat-gateway/main.bicep
  modules/network/nat-gateway/main.json
  modules/network/nat-gateway/metadata.json
Labels: Auto-generated

#499 chore: Remove metadata.json (network/dns-zone) (auto-generated)
  modules/network/dns-zone/README.md
  modules/network/dns-zone/main.bicep
  modules/network/dns-zone/main.json
  modules/network/dns-zone/metadata.json
Labels: Auto-generated

#453 chore: Remove metadata.json (ai/cognitiveservices) (auto-generated)
  modules/ai/cognitiveservices/README.md
  modules/ai/cognitiveservices/main.bicep
  modules/ai/cognitiveservices/main.json
  modules/ai/cognitiveservices/metadata.json
  modules/ai/cognitiveservices/test/main.test.bicep
Labels: Auto-generated

#442 feat: Allowing script resource name to be changed
  modules/deployment-scripts/wait/README.md
  modules/deployment-scripts/wait/main.bicep
  modules/deployment-scripts/wait/main.json
  modules/deployment-scripts/wait/test/main.test.bicep
  modules/deployment-scripts/wait/version.json
Labels: Existing Module

#462 chore: Remove metadata.json (compute/custom-image-vmss) (auto-generated)
  modules/compute/custom-image-vmss/README.md
  modules/compute/custom-image-vmss/main.bicep
  modules/compute/custom-image-vmss/main.json
  modules/compute/custom-image-vmss/metadata.json
  modules/compute/custom-image-vmss/test/main.test.bicep
Labels: Auto-generated

#478 chore: Remove metadata.json (network/virtual-network) (auto-generated)
  modules/network/virtual-network/README.md
  modules/network/virtual-network/main.bicep
  modules/network/virtual-network/main.json
  modules/network/virtual-network/metadata.json
  modules/network/virtual-network/test/main.test.bicep
Labels: Auto-generated

#459 chore: Remove metadata.json (azure-gaming/game-dev-vmss) (auto-generated)
  modules/azure-gaming/game-dev-vmss/README.md
  modules/azure-gaming/game-dev-vmss/main.bicep
  modules/azure-gaming/game-dev-vmss/main.json
  modules/azure-gaming/game-dev-vmss/metadata.json
Labels: Auto-generated

#485 chore: Remove metadata.json (storage/mysql-single-server) (auto-generated)
  modules/storage/mysql-single-server/README.md
  modules/storage/mysql-single-server/main.bicep
  modules/storage/mysql-single-server/main.json
  modules/storage/mysql-single-server/metadata.json
Labels: Auto-generated
