Repository Azure/bicep-registry-modules, pull requests merged in 2023-10, with the labels that each got.

#530 [CI Environment] Updated src template for test files used by `Set-AVMModule` utility
  avm/utilities/e2e-template-assets/scripts/.templates/diagnostic.dependencies.bicep
  avm/utilities/tools/helper/src/src.main.test.bicep
  avm/utilities/tools/helper/src/src.version.json
Labels: Type: AVM :a: :v: :m:

#523 feat: avm/res/network/private-endpoint
  .github/workflows/avm.res.network.private-endpoint.yml
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/private-dns-zone-group/README.md
  avm/res/network/private-endpoint/private-dns-zone-group/main.bicep
  avm/res/network/private-endpoint/private-dns-zone-group/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/tests/unit/custom.tests.ps1
  avm/res/network/private-endpoint/version.json
Labels: Type: AVM :a: :v: :m:

#532 fix: Added missing OIDC permissions
  .github/workflows/avm.template.module.yml
Labels: Bug

#535 fix: Fixed readme utility bug when working with nullable types
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Bug

#536 fix: avm-res-network-privateendpoints update
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#534 fix: Azure Search: Conditionally set identity based on sku
  modules/search/search-service/main.bicep
  modules/search/search-service/main.json
Labels: Existing Module

#537 fix: update avm utilities and PSRule exemptions
  .github/workflows/avm.template.module.yml
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/na-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:

#538 feat: Alternative version pattern
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/actions/templates/avm-validateModulePSRule/action.yml
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/Convert-TokensInFileList.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/helper/Convert-TokenInFile.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/Test-ModuleLocally.ps1
  avm/utilities/tools/helper/src/src.main.bicep
Labels: Type: AVM :a: :v: :m:

#541 fix: Adjusted the `versionListUrl` for AVM to reference the published module name
  scripts/github-actions/generate-module-index-data.js
Labels: Bug

#544 feat: New module `avm/res/kubernetes-configuration/flux-configuration`
  .github/workflows/avm.res.kubernetes-configuration.flux-configuration.yml
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/default/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/default/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/version.json
Labels: Type: AVM :a: :v: :m:

#545 feat: Enable idempotency in tests
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/helper/src/src.main.test.bicep
Labels: Type: AVM :a: :v: :m:

#546 fix: Several small fixes / upgrades for readme tool
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Bug, Type: AVM :a: :v: :m:

#548 fix: Aligned token replacement for PSRule with rest of the CI
  .github/actions/templates/avm-validateModulePSRule/action.yml
Labels: Bug, Type: AVM :a: :v: :m:

#553 fix: Update to Condition for required Parameters in Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:

#551 feat: Small fixes & improvements for readme utility
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:

#558 fix: Set-AVMModule helper function input parameter name
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:

#554 feat: New module `network/public-ip-address`
  .github/workflows/avm.res.network.public-ip-address.yml
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/public-ip-address/tests/e2e/defaults/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/max/dependencies.bicep
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/public-ip-address/tests/unit/custom.tests.ps1
  avm/res/network/public-ip-address/version.json
Labels: Type: AVM :a: :v: :m:

#559 fix: Applied missing updates to Public IP module
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.json
Labels: Type: AVM :a: :v: :m:

#562 fix: Updated metadata removal to work with templates using User-defined-types
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#561 feat: AVM Install latest Bicep CLI
  avm/utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Labels: Type: AVM :a: :v: :m:

#560 feat: Added bicepconfig for AVM modules
  avm/bicepconfig.json
Labels: Type: AVM :a: :v: :m:

#549 feat: New module `avm-res-keyvault-vault`
  .github/workflows/avm.res.key-vault.vault.yml
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/README.md
  avm/res/key-vault/vault/access-policy/main.bicep
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/README.md
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/defaults/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/max/dependencies.bicep
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/key-vault/vault/tests/e2e/private-endpoint/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/key-vault/vault/tests/unit/custom.tests.ps1
  avm/res/key-vault/vault/version.json
Labels: Type: AVM :a: :v: :m:

#565 fix: Align module `avm/res/kubernetes-configuration/flux-configuration`
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/unit/custom.tests.ps1
Labels: Enhancement, Type: AVM :a: :v: :m:

#567 fix: add `ORPHANED.md` file to `avm/res/kubernetes-configuration/flux-configuration`
  avm/res/kubernetes-configuration/flux-configuration/ORPHANED.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/main.test.bicep
Labels: Bug Fix, Type: AVM :a: :v: :m:

#571 fix: Align module `avm/res/network/public-ip-address`
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/tests/e2e/defaults/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/main.test.bicep
Labels: Bug Fix, Type: AVM :a: :v: :m:

#556 feat: New Module `avm-res-compute-sshpublickey`
  .github/workflows/avm.res.compute.ssh-public-key.yml
  avm/res/compute/ssh-public-key/README.md
  avm/res/compute/ssh-public-key/main.bicep
  avm/res/compute/ssh-public-key/main.json
  avm/res/compute/ssh-public-key/tests/e2e/defaults/main.test.bicep
  avm/res/compute/ssh-public-key/tests/e2e/max/dependencies.bicep
  avm/res/compute/ssh-public-key/tests/e2e/max/main.test.bicep
  avm/res/compute/ssh-public-key/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/ssh-public-key/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/ssh-public-key/version.json
Labels: Type: AVM :a: :v: :m:

#547 feat: New module `kube-config/extension`
  .github/workflows/avm.res.kubernetes-configuration.extension.yml
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/main.bicep
  avm/res/kubernetes-configuration/extension/main.json
  avm/res/kubernetes-configuration/extension/tests/e2e/defaults/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/max/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes-configuration/extension/version.json
Labels: Type: AVM :a: :v: :m:

#563 feat: Improved readme performance & enforced that all readme content but `## Notes` is always created anew
  avm/res/compute/ssh-public-key/README.md
  avm/res/insights/action-group/README.md
  avm/res/key-vault/vault/README.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/network/private-endpoint/README.md
  avm/res/network/public-ip-address/README.md
  avm/utilities/pipelines/sharedScripts/Get-LocallyReferencedFileList.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Enhancement, Type: AVM :a: :v: :m:

#573 fix: Updated casing in kube-extension module
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/main.bicep
  avm/res/kubernetes-configuration/extension/main.json
Labels: Bug Fix, Type: AVM :a: :v: :m:

#566 feat: Add AVM note to index site and contribution guide
  CONTRIBUTING.md
  scripts/github-actions/generate-module-index-md.js
Labels: Type: AVM :a: :v: :m:

#575 fix: WAF test metadata typo fix for AVM KV and PE
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
Labels: Bug Fix, Type: AVM :a: :v: :m:

#574 feat: Added `dnsResolver` Module
  .github/workflows/avm.res.network.dns-resolver.yml
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/inbound-endpoint/README.md
  avm/res/network/dns-resolver/inbound-endpoint/main.bicep
  avm/res/network/dns-resolver/inbound-endpoint/main.json
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
  avm/res/network/dns-resolver/outbound-endpoint/README.md
  avm/res/network/dns-resolver/outbound-endpoint/main.bicep
  avm/res/network/dns-resolver/outbound-endpoint/main.json
  avm/res/network/dns-resolver/tests/e2e/defaults/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-resolver/tests/e2e/max/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/max/main.test.bicep
  avm/res/network/dns-resolver/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/dns-resolver/version.json
Labels: Type: AVM :a: :v: :m:

#569 feat: Added cognitive services module
  .github/workflows/avm.res.cognitive-services.account.yml
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/defaults/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/max/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/max/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/speech/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/speech/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/system-assigned-cmk-encryption/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/system-assigned-cmk-encryption/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/user-assigned-cmk-encryption/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cognitive-services/account/tests/unit/custom.tests.ps1
  avm/res/cognitive-services/account/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:

#570 feat: Added progress bar to `Set-AVMModule` utility + diverse small improvements
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-IsParameterRequired.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:

#580 feat: Adding NIC module
  .github/workflows/avm.res.network.network-interface.yml
  avm/res/network/network-interface/README.md
  avm/res/network/network-interface/main.bicep
  avm/res/network/network-interface/main.json
  avm/res/network/network-interface/tests/e2e/defaults/dependencies.bicep
  avm/res/network/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-interface/tests/e2e/max/dependencies.bicep
  avm/res/network/network-interface/tests/e2e/max/main.test.bicep
  avm/res/network/network-interface/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/network-interface/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-interface/version.json
Labels: Type: AVM :a: :v: :m:

#584 feat: Additional Pester tests for AVM folder structure checks
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Enhancement, Type: AVM :a: :v: :m:

#579 feat: New Module `avm-res-network-privatednszone`
  .github/workflows/avm.res.network.private-dns-zone.yml
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/a/README.md
  avm/res/network/private-dns-zone/a/main.bicep
  avm/res/network/private-dns-zone/a/main.json
  avm/res/network/private-dns-zone/aaaa/README.md
  avm/res/network/private-dns-zone/aaaa/main.bicep
  avm/res/network/private-dns-zone/aaaa/main.json
  avm/res/network/private-dns-zone/cname/README.md
  avm/res/network/private-dns-zone/cname/main.bicep
  avm/res/network/private-dns-zone/cname/main.json
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/mx/README.md
  avm/res/network/private-dns-zone/mx/main.bicep
  avm/res/network/private-dns-zone/mx/main.json
  avm/res/network/private-dns-zone/ptr/README.md
  avm/res/network/private-dns-zone/ptr/main.bicep
  avm/res/network/private-dns-zone/ptr/main.json
  avm/res/network/private-dns-zone/soa/README.md
  avm/res/network/private-dns-zone/soa/main.bicep
  avm/res/network/private-dns-zone/soa/main.json
  avm/res/network/private-dns-zone/srv/README.md
  avm/res/network/private-dns-zone/srv/main.bicep
  avm/res/network/private-dns-zone/srv/main.json
  avm/res/network/private-dns-zone/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-dns-zone/tests/e2e/max/dependencies.bicep
  avm/res/network/private-dns-zone/tests/e2e/max/main.test.bicep
  avm/res/network/private-dns-zone/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/private-dns-zone/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-dns-zone/txt/README.md
  avm/res/network/private-dns-zone/txt/main.bicep
  avm/res/network/private-dns-zone/txt/main.json
  avm/res/network/private-dns-zone/version.json
  avm/res/network/private-dns-zone/virtual-network-link/README.md
  avm/res/network/private-dns-zone/virtual-network-link/main.bicep
  avm/res/network/private-dns-zone/virtual-network-link/main.json
Labels: Type: AVM :a: :v: :m:

#583 fix: Added unique filter to PSRule results & updated action group used for testing
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
  avm/res/insights/action-group/tests/e2e/defaults/main.test.bicep
  avm/res/insights/action-group/tests/e2e/max/main.test.bicep
  avm/res/insights/action-group/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/Set-PSRuleGitHubOutput.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#589 feat: New module `avm-res-network-dnsforwardingruleset`
  .github/workflows/avm.res.network.dns-forwarding-ruleset.yml
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-forwarding-ruleset/forwarding-rule/README.md
  avm/res/network/dns-forwarding-ruleset/forwarding-rule/main.bicep
  avm/res/network/dns-forwarding-ruleset/forwarding-rule/main.json
  avm/res/network/dns-forwarding-ruleset/main.bicep
  avm/res/network/dns-forwarding-ruleset/main.json
  avm/res/network/dns-forwarding-ruleset/tests/e2e/defaults/dependencies.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/max/dependencies.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/max/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/version.json
  avm/res/network/dns-forwarding-ruleset/virtual-network-link/README.md
  avm/res/network/dns-forwarding-ruleset/virtual-network-link/main.bicep
  avm/res/network/dns-forwarding-ruleset/virtual-network-link/main.json
Labels: Type: AVM :a: :v: :m:

#586 feat: Ported latest CARML-utilities improvements
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:

#591 fix: Add missign `ORPHANED.md` files
  avm/res/cognitive-services/account/ORPHANED.md
  avm/res/cognitive-services/account/README.md
  avm/res/kubernetes-configuration/extension/ORPHANED.md
  avm/res/kubernetes-configuration/extension/README.md
Labels: Type: AVM :a: :v: :m:

#568 feat: Added Batch account module
  .github/workflows/avm.res.batch.batch-account.yml
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/defaults/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/defaults/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/encr/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/encr/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/max/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/batch/batch-account/version.json
Labels: Type: AVM :a: :v: :m:
