Repository Azure/bicep-registry-modules, pull requests merged in 2023-09, with the labels that each got.

#508 fix: Update ai/cog to ref cog module by .name instead of name
  CONTRIBUTING.md
  modules/ai/cognitiveservices/main.bicep
  modules/ai/cognitiveservices/main.json
Labels: Existing Module

#513 fix: Updates to support OpenAI better
  modules/ai/cognitiveservices/main.bicep
  modules/ai/cognitiveservices/main.json
  modules/ai/cognitiveservices/version.json
Labels: Existing Module

#517 fix: Update ai README with new version number
  modules/ai/cognitiveservices/README.md
Labels: Existing Module

#515 feat(new): Add search services
  modules/search/search-service/README.md
  modules/search/search-service/main.bicep
  modules/search/search-service/main.json
  modules/search/search-service/test/main.test.bicep
  modules/search/search-service/version.json
Labels: MCR Manifest Onboarded

#528 Added `avm/` to .prettierignore
  .prettierignore
Labels: Type: AVM :a: :v: :m:
