Repository Azure/bicep-registry-modules, pull requests merged in 2024-04, with the labels that each got.

#1423 fix: module `avm/res/event-grid/systemtopic`
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1467 feat: New Module `avm/res/healthcare-apis/workspace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.healthcare-apis.workspace.yml
  avm/res/healthcare-apis/workspace/ORPHANED.md
  avm/res/healthcare-apis/workspace/README.md
  avm/res/healthcare-apis/workspace/dicomservice/README.md
  avm/res/healthcare-apis/workspace/dicomservice/main.bicep
  avm/res/healthcare-apis/workspace/dicomservice/main.json
  avm/res/healthcare-apis/workspace/fhirservice/README.md
  avm/res/healthcare-apis/workspace/fhirservice/main.bicep
  avm/res/healthcare-apis/workspace/fhirservice/main.json
  avm/res/healthcare-apis/workspace/iotconnector/README.md
  avm/res/healthcare-apis/workspace/iotconnector/fhirdestination/README.md
  avm/res/healthcare-apis/workspace/iotconnector/fhirdestination/main.bicep
  avm/res/healthcare-apis/workspace/iotconnector/fhirdestination/main.json
  avm/res/healthcare-apis/workspace/iotconnector/main.bicep
  avm/res/healthcare-apis/workspace/iotconnector/main.json
  avm/res/healthcare-apis/workspace/main.bicep
  avm/res/healthcare-apis/workspace/main.json
  avm/res/healthcare-apis/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/healthcare-apis/workspace/tests/e2e/max/dependencies.bicep
  avm/res/healthcare-apis/workspace/tests/e2e/max/main.test.bicep
  avm/res/healthcare-apis/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/healthcare-apis/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1471 feat: New Module `avm/res/network/application-gateway-web-application-firewall-policy`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.application-gateway-web-application-firewall-policy.yml
  avm/res/network/application-gateway-web-application-firewall-policy/README.md
  avm/res/network/application-gateway-web-application-firewall-policy/main.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/main.json
  avm/res/network/application-gateway-web-application-firewall-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1497 fix: module `avm/res/event-grid/systemtopic`
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/event-subscription/README.md
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.json
Labels: Type: AVM :a: :v: :m:

#1428 chore: issue template improvements
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1512 feat: Add output 'fqdn' and in Container App Module - `avm/res/app/container app`
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1521 Users/alsehr/pip zones
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/public-ip-address/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1523 fix: Updated module tests to account for latest template changes
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Bug, Type: AVM :a: :v: :m:

#1500 feat: Add availability zones to `avm/res/network/public-ip-prefix`
  avm/res/network/public-ip-prefix/README.md
  avm/res/network/public-ip-prefix/main.bicep
  avm/res/network/public-ip-prefix/main.json
  avm/res/network/public-ip-prefix/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-prefix/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1489 fix: Updated test description
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#1435 fix: module `avm/res/network/virtual-network-gateway`
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1536 fix: `compute/disk` image version
  avm/res/compute/disk/main.json
  avm/res/compute/disk/tests/e2e/image/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1537 fix: documentation update for `privateDnsZones`
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1518 fix: databricks deployment error fixed `avm/res/databricks/workspace`
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#1369 fix: Fixed WAF Reliability validation in `avm/res/network/bastion-host`
  avm/res/network/bastion-host/README.md
  avm/res/network/bastion-host/main.bicep
  avm/res/network/bastion-host/main.json
  avm/res/network/bastion-host/tests/e2e/custompip/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1585 fix: Set-AVMModule - Wrong 'defaults' test case path in folder creation mode
  avm/utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1607 feat: Added subscription cleanup option & resourceId list input to removal function
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-Deployment.ps1
Labels: Type: AVM :a: :v: :m:

#1609 feat: Add availability zone and edge zone support
  avm/res/compute/disk/README.md
  avm/res/compute/disk/main.bicep
  avm/res/compute/disk/main.json
  avm/res/compute/disk/tests/e2e/defaults/main.test.bicep
  avm/res/compute/disk/tests/e2e/image/main.test.bicep
  avm/res/compute/disk/tests/e2e/import/main.test.bicep
  avm/res/compute/disk/tests/e2e/max/main.test.bicep
  avm/res/compute/disk/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/disk/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1616 fix: Namefix for integration runtime `/avm/res/data-factory/factory /integration-runtime/`
  avm/res/data-factory/factory/integration-runtime/README.md
  avm/res/data-factory/factory/integration-runtime/main.bicep
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1619 fix: nat-gateway singular workflow name
  .github/workflows/avm.res.network.nat-gateway.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1624 fix: data-factory and databricks missing v2 formatting
  avm/res/data-factory/factory/managed-virtual-network/main.bicep
  avm/res/data-factory/factory/tests/e2e/defaults/main.test.bicep
  avm/res/data-factory/factory/tests/e2e/max/dependencies.bicep
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
  avm/res/data-factory/factory/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1623 feat: RP update
  avm/res/compute/disk-encryption-set/README.md
  avm/res/compute/disk-encryption-set/main.bicep
  avm/res/compute/disk-encryption-set/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1520 feat: add securityContext to containerType for `avm/res/container-instance/container-group`
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/container-instance/container-group/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1627 fix: duplicate issue creation
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1534 fix: WAF Test for AKS Module - `avm/res/container-service/managed-cluster`
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Language: Bicep :muscle:

#1631 fix: add WAF rule set to container registry
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1622 feat: Skip test folder name for ptn
  .github/workflows/avm.template.module.yml
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1457 feat: `avm/res/aad/domain-service`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.aad.domain-service.yml
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.bicep
  avm/res/aad/domain-service/main.json
  avm/res/aad/domain-service/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.wait.bicep
  avm/res/aad/domain-service/version.json
  avm/utilities/e2e-template-assets/scripts/.gitignore
  avm/utilities/e2e-template-assets/scripts/Set-PfxCertificateInKeyVault.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1635 fix: CI - Updated publish from tag to work with latest validation implementation
  .github/workflows/avm.platform.publish-tag.yml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1393 feat: `avm/res/service-fabric/cluster`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.service-fabric.cluster.yml
  avm/res/service-fabric/cluster/README.md
  avm/res/service-fabric/cluster/application-type/README.md
  avm/res/service-fabric/cluster/application-type/main.bicep
  avm/res/service-fabric/cluster/application-type/main.json
  avm/res/service-fabric/cluster/main.bicep
  avm/res/service-fabric/cluster/main.json
  avm/res/service-fabric/cluster/tests/e2e/cert/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/max/dependencies.bicep
  avm/res/service-fabric/cluster/tests/e2e/max/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/service-fabric/cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-fabric/cluster/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1637 fix: Ported additional fixes for Path-Publish action to Tag-Publish workflow
  .github/workflows/avm.platform.publish-tag.yml
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:

#1643 fix: Platform scripts trigger exclusion missing in a few module validation workflows
  .github/workflows/avm.res.aad.domain-service.yml
  .github/workflows/avm.res.container-instance.container-group.yml
  .github/workflows/avm.res.digital-twins.digital-twins-instance.yml
  .github/workflows/avm.res.network.service-endpoint-policy.yml
  .github/workflows/avm.res.recovery-services.vault.yml
  .github/workflows/avm.res.service-fabric.cluster.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1464 feat: Add output 'kubeletidentityClientId' and 'kubeletidentityResourceId' in AKS Module - `avm/res/container-service/managed-cluster`
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1617 fix: Fix virtual machine warnings for max price of the billing profile and the type of the identity - `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1478 feat: module `avm/res/network/network-watcher`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.network-watcher.yml
  avm/res/network/network-watcher/README.md
  avm/res/network/network-watcher/connection-monitor/README.md
  avm/res/network/network-watcher/connection-monitor/main.bicep
  avm/res/network/network-watcher/connection-monitor/main.json
  avm/res/network/network-watcher/flow-log/README.md
  avm/res/network/network-watcher/flow-log/main.bicep
  avm/res/network/network-watcher/flow-log/main.json
  avm/res/network/network-watcher/main.bicep
  avm/res/network/network-watcher/main.json
  avm/res/network/network-watcher/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/max/dependencies.bicep
  avm/res/network/network-watcher/tests/e2e/max/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/network-watcher/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-watcher/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1668 fix: update VM json, so static test doesn't fail
  avm/res/compute/virtual-machine/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1440 feat: Added UDTs for Azure Firewall Application, network and NAT rules - `avm/res/network/azure-firewall`
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/max/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/azure-firewall/version.json
Labels: Type: AVM :a: :v: :m:, Status: Response Overdue :triangular_flag_on_post:, Class: Resource Module :package:

#1669 fix: aad-ds tests
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.json
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1403 feat: Add additional logic if workflow fails and issue is created
  .github/workflows/avm.platform.manage-workflow-issue.yml
  .github/workflows/avm.platform.set-avm-github-issue-owner-config.yml
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/helper/Add-GithubIssueToProject.ps1
  avm/utilities/pipelines/platform/helper/Get-AvmCsvData.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1677 feat: AADDS change to trigger module publish
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.bicep
  avm/res/aad/domain-service/main.json
Labels: Type: AVM :a: :v: :m:

#1404 feat: Add additional logic if module issue is created
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1670 fix: module `avm/res/network/connection`
  avm/res/network/connection/tests/e2e/defaults/dependencies.bicep
  avm/res/network/connection/tests/e2e/max/dependencies.bicep
  avm/res/network/connection/tests/e2e/waf-aligned/dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1671 feat: Adding fix to allow multiple telemtry deployments
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1678 Telemetry
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1391 fix: Fixed WAF alignment for default `avm/res/app/managed-environment`
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/defaults/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1621 fix: Update for default WAF-alignment - `avm/res/cache/redis`
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1675 fix: Aligned PurgeProtection (where required) across deployed test KeyVaults
  avm/res/app-configuration/configuration-store/tests/e2e/encr/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/encr/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/encr/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/system-assigned-cmk-encryption/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/user-assigned-cmk-encryption/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/accessPolicies/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/defaults/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/max/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/image/tests/e2e/max/dependencies.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/encr/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/encr/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies2.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/encr/dependencies.bicep
  avm/res/dev-test-lab/lab/tests/e2e/max/dependencies.bicep
  avm/res/event-hub/namespace/tests/e2e/encr/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/encr/dependencies.bicep
  avm/res/service-bus/namespace/tests/e2e/encr/dependencies.bicep
  avm/res/storage/storage-account/tests/e2e/system-assigned-cmk-encryption/dependencies.bicep
  avm/res/storage/storage-account/tests/e2e/user-assigned-cmk-encryption/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/encrwsai/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/encrwuai/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1613 feat: New Module `avm/res/load-test-service/load-test`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.load-test-service.load-test.yml
  avm/res/load-test-service/load-test/README.md
  avm/res/load-test-service/load-test/main.bicep
  avm/res/load-test-service/load-test/main.json
  avm/res/load-test-service/load-test/tests/e2e/defaults/main.test.bicep
  avm/res/load-test-service/load-test/tests/e2e/max/dependencies.bicep
  avm/res/load-test-service/load-test/tests/e2e/max/main.test.bicep
  avm/res/load-test-service/load-test/tests/e2e/user-assigned-cmk-encryption/dependencies.bicep
  avm/res/load-test-service/load-test/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/load-test-service/load-test/tests/e2e/waf-aligned/main.test.bicep
  avm/res/load-test-service/load-test/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1538 fix: Dnsrule bug for virtual Network link name
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-forwarding-ruleset/main.bicep
  avm/res/network/dns-forwarding-ruleset/main.json
  avm/res/network/dns-forwarding-ruleset/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:

#1533 feat: Convert publishModuleIndex to PWSH
  .github/workflows/avm.platform.publish-module-index-json.yml
  .github/workflows/publish-module-index.yml
  .gitignore
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
  scripts/github-actions/generate-module-index-data.js
  scripts/github-actions/generate-module-index-md.js
  scripts/github-actions/runlocally/run-generate-module-index.bat
  scripts/github-actions/runlocally/run-generate-module-index.js
  scripts/github-actions/runlocally/run-generate-module-index.sh
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1517 feat: Added UDTs for disks and ability to give a custom name to a disk - `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/extension/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.guestconfiguration/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.hostpool/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1427 fix: WAF reliability and static validation in `avm/res/web/site`
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.defaults/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1680 fix: prevent updating the workspace repository configuration whenever no value is provided, so an existing configuration is not overwritten.
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1466 feat: Add the creation of 'Microsoft.CognitiveServices/accounts/deployments' in Cognitive Service Module - `avm/res/cognitive-services/account`
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1689 fix: Align container-app to WAF Reliability requirements
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1692 fix: Unorphaned res\insights\activity-log-alert module as @donk-msft recently became the owner of this module.
  avm/res/insights/activity-log-alert/ORPHANED.md
  avm/res/insights/activity-log-alert/README.md
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1695 fix: aks module ARM template
  avm/res/container-service/managed-cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Language: Bicep :muscle:

#1698 fix: Failing Pipeline: Nullable types are not allowed
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1641 feat: `avm/ptn/authorization/role-assignment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.role-assignment.yml
  avm/ptn/authorization/role-assignment/ORPHANED.md
  avm/ptn/authorization/role-assignment/README.md
  avm/ptn/authorization/role-assignment/main.bicep
  avm/ptn/authorization/role-assignment/main.json
  avm/ptn/authorization/role-assignment/modules/management-group.bicep
  avm/ptn/authorization/role-assignment/modules/resource-group.bicep
  avm/ptn/authorization/role-assignment/modules/subscription.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.defaults/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.defaults/interim.dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.defaults/main.test.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.max/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.max/interim.dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/mg.max/main.test.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/rg.default/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/rg.default/main.test.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/rg.max/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/rg.max/main.test.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.default/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.default/interim.dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.default/main.test.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.max/dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.max/interim.dependencies.bicep
  avm/ptn/authorization/role-assignment/tests/e2e/sub.max/main.test.bicep
  avm/ptn/authorization/role-assignment/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:

#1706 feat: avm/ptn/authorization/policy assignment2
  avm/ptn/authorization/role-assignment/ORPHANED.md
  avm/ptn/authorization/role-assignment/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1707 fix: change secret reference to the correct name
  .github/workflows/avm.platform.manage-workflow-issue.yml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Hygiene :broom:

#1712 fix: add missing folder reference
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1717 fix: minor fixes in issue automation
  .github/workflows/avm.platform.manage-workflow-issue.yml
  .github/workflows/avm.platform.set-avm-github-issue-owner-config.yml
  .github/workflows/avm.platform.sync-avm-modules-list.yml
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/helper/Add-GithubIssueToProject.ps1
  avm/utilities/pipelines/platform/helper/Get-AvmCsvData.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1688 feat: `avm/ptn/authorization/policy-assignment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.policy-assignment.yml
  avm/ptn/authorization/policy-assignment/README.md
  avm/ptn/authorization/policy-assignment/main.bicep
  avm/ptn/authorization/policy-assignment/main.json
  avm/ptn/authorization/policy-assignment/modules/management-group.bicep
  avm/ptn/authorization/policy-assignment/modules/resource-group.bicep
  avm/ptn/authorization/policy-assignment/modules/subscription.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/mg.defaults/main.test.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/mg.max/main.test.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/rg.defaults/main.test.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/rg.max/dependencies.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/rg.max/main.test.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/sub.defaults/main.test.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/sub.max/dependencies.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/sub.max/interim.dependencies.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/sub.max/main.test.bicep
  avm/ptn/authorization/policy-assignment/version.json
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:, Language: Bicep :muscle:

#1711 fix: 1507 linux asp
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#835 feat: `avm/res/network/application-gateway`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.application-gateway.yml
  avm/res/network/application-gateway/README.md
  avm/res/network/application-gateway/main.bicep
  avm/res/network/application-gateway/main.json
  avm/res/network/application-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/application-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/application-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/application-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1618 feat: `avm/res/sql/managed-instance`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.sql.managed-instance.yml
  avm/res/sql/managed-instance/README.md
  avm/res/sql/managed-instance/administrator/README.md
  avm/res/sql/managed-instance/administrator/main.bicep
  avm/res/sql/managed-instance/administrator/main.json
  avm/res/sql/managed-instance/database/README.md
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/README.md
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/main.json
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/README.md
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/main.bicep
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/main.json
  avm/res/sql/managed-instance/database/main.bicep
  avm/res/sql/managed-instance/database/main.json
  avm/res/sql/managed-instance/encryption-protector/README.md
  avm/res/sql/managed-instance/encryption-protector/main.bicep
  avm/res/sql/managed-instance/encryption-protector/main.json
  avm/res/sql/managed-instance/key/README.md
  avm/res/sql/managed-instance/key/main.bicep
  avm/res/sql/managed-instance/key/main.json
  avm/res/sql/managed-instance/main.bicep
  avm/res/sql/managed-instance/main.json
  avm/res/sql/managed-instance/security-alert-policy/README.md
  avm/res/sql/managed-instance/security-alert-policy/main.bicep
  avm/res/sql/managed-instance/security-alert-policy/main.json
  avm/res/sql/managed-instance/tests/e2e/defaults/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/defaults/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/max/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/max/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/vulnAssm/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/managed-instance/version.json
  avm/res/sql/managed-instance/vulnerability-assessment/README.md
  avm/res/sql/managed-instance/vulnerability-assessment/main.bicep
  avm/res/sql/managed-instance/vulnerability-assessment/main.json
  avm/res/sql/managed-instance/vulnerability-assessment/modules/nested_storageRoleAssignment.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:, Status: Migrate from CARML :articulated_lorry:

#1719 fix: Recovered missing role assignment workflow
  .github/workflows/avm.ptn.authorization.role-assignment.yml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1725 feat: Added custom Azure storage replication rule and updated ps-rule
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/custom-rules.Rule.yaml
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1629 fix: Update instance size options for API Management service - `avm/res/api-management/service`
  avm/res/api-management/service/README.md
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1736 fix: AppServicePlan - SKU selection improvements
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/serverfarm/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1714 feat: `avm/res/sql/instance-pool`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.sql.instance-pool.yml
  avm/res/sql/instance-pool/README.md
  avm/res/sql/instance-pool/main.bicep
  avm/res/sql/instance-pool/main.json
  avm/res/sql/instance-pool/tests/e2e/defaults/dependencies.bicep
  avm/res/sql/instance-pool/tests/e2e/defaults/main.test.bicep
  avm/res/sql/instance-pool/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/instance-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/instance-pool/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Language: Bicep :muscle:

#1738 fix: 1704 Web Site without Managed Identity
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1411 feat: Integrated BRM with AVM workflows
  .github/workflows/fork-on-push-brm-generate.yml
  .github/workflows/fork-on-push-format-workflow.yml
  .github/workflows/get-changed-module.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-main.yml
  .github/workflows/platform.check.psrule.yml
  .github/workflows/platform.manage-workflow-issue.yml
  .github/workflows/platform.on-pull-request-check-labels.yml
  .github/workflows/platform.on-pull-request-check-pr-title.yml
  .github/workflows/platform.publish-tag.yml
  .github/workflows/platform.set-avm-github-issue-owner-config.yml
  .github/workflows/platform.sync-repo-labels-from-csv.yml
  .github/workflows/platform.toggle-avm-workflows.yml
  .github/workflows/publish-module.yml
  scripts/azure-pipelines/Find-ChangedModule.ps1
  scripts/azure-pipelines/Get-TargetScope.ps1
  scripts/azure-pipelines/Get-TestFile.ps1
  scripts/azure-pipelines/New-TestResourceGroup.ps1
  scripts/azure-pipelines/Remove-TestResourceGroup.ps1
  scripts/azure-pipelines/utils/AzurePipelinesUtils.psm1
  scripts/azure-pipelines/utils/AzureResourceUtils.psm1
  scripts/github-actions/create-tag.js
  scripts/github-actions/get-changed-module.js
  scripts/github-actions/parse-tag.js
  scripts/local/approve-autogenerated-prs.js
  scripts/local/create-prs.js
  scripts/local/fix-all-readme-examples.js
  scripts/local/regenerate-all.js
  scripts/local/util/colors.js
  scripts/local/util/getLatestModuleVersionsAsync.js
  scripts/local/util/runAsync.js
  scripts/local/util/updateReadmeExamples.js
Labels: Type: AVM :a: :v: :m:

#1754 fix: Align platform workflow file names
  .github/workflows/platform.check.psrule.yml
  .github/workflows/platform.publish-module-index-json.yml
  .github/workflows/platform.sync-avm-modules-list.yml
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/Sync-AvmModulesList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Hygiene :broom:

#1748 fix: SQL Instance Pool - hard coding location of tests to make sure pipeline succeeds
  .github/workflows/avm.res.sql.instance-pool.yml
  avm/res/sql/instance-pool/tests/e2e/defaults/main.test.bicep
  avm/res/sql/instance-pool/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1751 fix: minor bugs in worflow automation regarding failed pipelines
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Hygiene :broom:

#1702 fix: FrontDoor - Updated HealthProbeSettings in test for WAF compliance - `avm/res/network/front-door`
  avm/res/network/front-door/README.md
  avm/res/network/front-door/main.json
  avm/res/network/front-door/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Language: Bicep :muscle:

#1515 feat: add additional functionality to the VM module - `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.guestconfiguration/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.hostpool/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Status: Help Wanted :sos:, Class: Resource Module :package:

#1723 fix: Enabled custom configuration of `accountUrl` parameter - `avm/res/synapse/workspace`
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1746 feat: new pattern `avm/ptn/security/security-center`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.security.security-center.yml
  avm/ptn/security/security-center/README.md
  avm/ptn/security/security-center/main.bicep
  avm/ptn/security/security-center/main.json
  avm/ptn/security/security-center/modules/iotSecuritySolutions.bicep
  avm/ptn/security/security-center/tests/e2e/defaults/dependencies.bicep
  avm/ptn/security/security-center/tests/e2e/defaults/main.test.bicep
  avm/ptn/security/security-center/tests/e2e/max/dependencies.bicep
  avm/ptn/security/security-center/tests/e2e/max/main.test.bicep
  avm/ptn/security/security-center/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/security/security-center/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/security/security-center/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Status: Migrate from CARML :articulated_lorry:

#1498 feat: module `avm/res/managed-services/registration-definition`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.managed-services.registration-definition.yml
  avm/res/managed-services/registration-definition/ORPHANED.md
  avm/res/managed-services/registration-definition/README.md
  avm/res/managed-services/registration-definition/main.bicep
  avm/res/managed-services/registration-definition/main.json
  avm/res/managed-services/registration-definition/modules/registrationAssignment.bicep
  avm/res/managed-services/registration-definition/tests/e2e/defaults/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/max/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/rg/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/waf-aligned/main.test.bicep
  avm/res/managed-services/registration-definition/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#1770 fix: fix bug where parameters where wrongly used
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1773 feat: Ported deployment removal from CARML
  .github/workflows/platform.deployment.history.cleanup.yml
  avm/utilities/pipelines/platform/deploymentRemoval/Clear-ManagementGroupDeploymentHistory.ps1
  avm/utilities/pipelines/platform/deploymentRemoval/Clear-SubscriptionDeploymentHistory.ps1
  avm/utilities/pipelines/platform/helper/Split-Array.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1632 feat: pattern policy-insights\remediation - `avm/ptn/policy-insights/remediation`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.policy-insights.remediation.yml
  avm/ptn/policy-insights/remediation/README.md
  avm/ptn/policy-insights/remediation/main.bicep
  avm/ptn/policy-insights/remediation/main.json
  avm/ptn/policy-insights/remediation/modules/management-group.bicep
  avm/ptn/policy-insights/remediation/modules/resource-group.bicep
  avm/ptn/policy-insights/remediation/modules/subscription.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/mg.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/mg.max/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/rg.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/rg.max/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/sub.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/sub.max/main.test.bicep
  avm/ptn/policy-insights/remediation/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Pattern Module :package:

#1769 fix: add new allowable values for licenseType - RHEL_BYOS / SLES_BYOS
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1777 fix: add v2 sku support to `avm/res/api-management/service`
  avm/res/api-management/service/README.md
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1768 fix: Diverse ReadMe utility fixes
  avm/utilities/pipelines/sharedScripts/Get-BRMRepositoryName.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1786 fix: ModuleIndex - Added CmdletBinding + moved code to simpify debugging
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1776 feat: Added `authorizations` UDT to registration definition module
  avm/res/managed-services/registration-definition/README.md
  avm/res/managed-services/registration-definition/main.bicep
  avm/res/managed-services/registration-definition/main.json
  avm/res/managed-services/registration-definition/tests/e2e/defaults/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/max/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/rg/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:
