Repository Azure/bicep-registry-modules, pull requests merged in 2024-12, with the labels that each got.

#3721 chore: set app setting config required for all all 3 service uris
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/main.json
  avm/res/web/site/extensions--msdeploy/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.json
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/extensions--msdeploy/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/linuxContainerWebApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/site/tests/e2e/winContainerWebApp.defaults/main.test.bicep
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3866 feat: added new netapp volume properties
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/main.json
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3865 feat: add multi RBAC assignment support
  avm/ptn/authorization/policy-assignment/README.md
  avm/ptn/authorization/policy-assignment/main.bicep
  avm/ptn/authorization/policy-assignment/main.json
  avm/ptn/authorization/policy-assignment/modules/management-group-additional-rbac-asi-def-loop.bicep
  avm/ptn/authorization/policy-assignment/modules/management-group-additional-rbac-asi.bicep
  avm/ptn/authorization/policy-assignment/modules/management-group.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/mg.max/main.test.bicep
  avm/ptn/authorization/policy-assignment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3809 feat: new module avm/res/elastic-san/elastic-san
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.elastic-san.elastic-san.yml
  avm/res/elastic-san/elastic-san/README.md
  avm/res/elastic-san/elastic-san/main.bicep
  avm/res/elastic-san/elastic-san/main.json
  avm/res/elastic-san/elastic-san/tests/common.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/cmk/custom.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/cmk/dependencies.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/cmk/main.test.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/defaults/custom.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/defaults/main.test.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/max/custom.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/max/dependencies.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/max/main.test.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/pe/custom.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/pe/dependencies.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/pe/main.test.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/waf-aligned/custom.tests.ps1
  avm/res/elastic-san/elastic-san/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/elastic-san/elastic-san/tests/e2e/waf-aligned/main.test.bicep
  avm/res/elastic-san/elastic-san/version.json
  avm/res/elastic-san/elastic-san/volume-group/README.md
  avm/res/elastic-san/elastic-san/volume-group/main.bicep
  avm/res/elastic-san/elastic-san/volume-group/main.json
  avm/res/elastic-san/elastic-san/volume-group/snapshot/README.md
  avm/res/elastic-san/elastic-san/volume-group/snapshot/main.bicep
  avm/res/elastic-san/elastic-san/volume-group/snapshot/main.json
  avm/res/elastic-san/elastic-san/volume-group/volume/README.md
  avm/res/elastic-san/elastic-san/volume-group/volume/main.bicep
  avm/res/elastic-san/elastic-san/volume-group/volume/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3832 fix: update readme to pass static test
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3870 feat: Added logic to find child modules when running `Test-ModuleLocally -PesterTest`
  avm/utilities/tools/Test-ModuleLocally.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3841 fix: Adding missing MongoDB server versions to Azure Cosmos DB
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3871 feat: Updated to Bicep version 0.31.92
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3732 feat: Updated Cognitive-Services-Accounts CMK Implementation
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment-private/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/openai-private/main.test.bicep
  avm/res/cognitive-services/account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3882 fix: Update `avm/res/dev-test-lab/lab` to latest common UDT pattern and uplift version to `0.4`
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/artifactsource/main.json
  avm/res/dev-test-lab/lab/cost/main.json
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/notificationchannel/README.md
  avm/res/dev-test-lab/lab/notificationchannel/main.bicep
  avm/res/dev-test-lab/lab/notificationchannel/main.json
  avm/res/dev-test-lab/lab/policyset/policy/main.json
  avm/res/dev-test-lab/lab/schedule/main.json
  avm/res/dev-test-lab/lab/version.json
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3892 fix: Update `avm/res/data-factory/factory` private endpoints to multi-service
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
  avm/res/data-factory/factory/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3817 feat: `avm/res/compute/gallery`: Added UDT applicationsType
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/README.md
  avm/res/compute/gallery/application/main.bicep
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3737 feat: Updated DB-For-My-SQL-Flexible-Server CMK implementation
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3780 feat: New module Issue1314 P2S VPN Gateway resource
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.p2s-vpn-gateway.yml
  avm/res/network/p2s-vpn-gateway/README.md
  avm/res/network/p2s-vpn-gateway/main.bicep
  avm/res/network/p2s-vpn-gateway/main.json
  avm/res/network/p2s-vpn-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/p2s-vpn-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3899 feat: Add vnet link updates for ResolutionPolicy
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/a/main.json
  avm/res/network/private-dns-zone/aaaa/main.json
  avm/res/network/private-dns-zone/cname/main.json
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/mx/main.json
  avm/res/network/private-dns-zone/ptr/main.json
  avm/res/network/private-dns-zone/soa/main.json
  avm/res/network/private-dns-zone/srv/main.json
  avm/res/network/private-dns-zone/txt/main.json
  avm/res/network/private-dns-zone/version.json
  avm/res/network/private-dns-zone/virtual-network-link/README.md
  avm/res/network/private-dns-zone/virtual-network-link/main.bicep
  avm/res/network/private-dns-zone/virtual-network-link/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3917 fix: Private DNS Zone - Refreshed ARM JSON files
  avm/res/network/private-dns-zone/a/main.json
  avm/res/network/private-dns-zone/aaaa/main.json
  avm/res/network/private-dns-zone/cname/main.json
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/mx/main.json
  avm/res/network/private-dns-zone/ptr/main.json
  avm/res/network/private-dns-zone/soa/main.json
  avm/res/network/private-dns-zone/srv/main.json
  avm/res/network/private-dns-zone/txt/main.json
  avm/res/network/private-dns-zone/virtual-network-link/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3921 feat: Add Sub & RG Scope support for MG scoped Policy Assignments
  avm/ptn/authorization/policy-assignment/README.md
  avm/ptn/authorization/policy-assignment/main.bicep
  avm/ptn/authorization/policy-assignment/main.json
  avm/ptn/authorization/policy-assignment/modules/management-group.bicep
  avm/ptn/authorization/policy-assignment/modules/resource-group-additional-rbac-asi-def-loop.bicep
  avm/ptn/authorization/policy-assignment/modules/resource-group-additional-rbac-asi.bicep
  avm/ptn/authorization/policy-assignment/modules/subscription-additional-rbac-asi-def-loop.bicep
  avm/ptn/authorization/policy-assignment/modules/subscription-additional-rbac-asi.bicep
  avm/ptn/authorization/policy-assignment/tests/e2e/mg.max/main.test.bicep
  avm/ptn/authorization/policy-assignment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3922 fix: Update main.json with the latest Bicep CLI version for `avm/res/container-service/managed-cluster`
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3853 feat: Updated Storage-Account CMK Implementation
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3645 feat: StorageAccount - Added allowed tier value, updated local user authorized key interface, added udts
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/README.md
  avm/res/storage/storage-account/local-user/main.bicep
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3729 feat: Updated App-Configuration-Store CMK Implementation
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/key-value/README.md
  avm/res/app-configuration/configuration-store/key-value/main.bicep
  avm/res/app-configuration/configuration-store/key-value/main.json
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
  avm/res/app-configuration/configuration-store/replica/README.md
  avm/res/app-configuration/configuration-store/replica/main.bicep
  avm/res/app-configuration/configuration-store/replica/main.json
  avm/res/app-configuration/configuration-store/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:

#3879 feat: Adding firewallIP to output of module
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3735 feat: Updated Data-Factory CMK Implementation
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
  avm/res/data-factory/factory/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3759 feat: Updated Event-Hub-Namespace CMK implementation
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/authorization-rule/main.json
  avm/res/event-hub/namespace/disaster-recovery-config/README.md
  avm/res/event-hub/namespace/disaster-recovery-config/main.bicep
  avm/res/event-hub/namespace/disaster-recovery-config/main.json
  avm/res/event-hub/namespace/eventhub/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.json
  avm/res/event-hub/namespace/eventhub/consumergroup/main.json
  avm/res/event-hub/namespace/eventhub/main.bicep
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/network-rule-set/main.bicep
  avm/res/event-hub/namespace/network-rule-set/main.json
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3911 chore: lower case kind value to avoid diff everytime
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/serverfarm/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3918 feat: Adding outputs required for custom domain DNS validation on the CDN profile
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/README.md
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/README.md
  avm/res/cdn/profile/securityPolicies/main.json
  avm/res/cdn/profile/tests/e2e/afd/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3907 fix: triage automation updates
  .github/policies/eventResponder.yml
  .github/policies/scheduledSearches.yml
Labels: Type: Hygiene :broom:, Needs: Core Team :genie:

#3920 feat: Update AKS Automatic mode examples to indicate PREVIEW status
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/non-aad-cluster/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3937 fix: analysis services tests wrong path to assets folder
  avm/res/analysis-services/server/tests/e2e/max/main.test.bicep
  avm/res/analysis-services/server/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3938 fix: automation account - Regen json files to comply with bicep version change
  avm/res/automation/automation-account/credential/main.json
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3940 feat: Add test to check if child module does not contain version.json file
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3352 feat: New module `avm/ptn/app/container-job-toolkit`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.app.container-job-toolkit.yml
  avm/ptn/app/container-job-toolkit/README.md
  avm/ptn/app/container-job-toolkit/main.bicep
  avm/ptn/app/container-job-toolkit/main.json
  avm/ptn/app/container-job-toolkit/modules/deploy_services.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/defaults/dependencies.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/defaults/main.test.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/max/dependencies.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/max/main.test.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/app/container-job-toolkit/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3923 feat: adding support for diagnostic settings on CDN profile, feature request #3876
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/tests/e2e/max/main.test.bicep
  avm/res/cdn/profile/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3953 feat: private dns module-add gov and dod regions
  avm/ptn/network/private-link-private-dns-zones/main.bicep
  avm/ptn/network/private-link-private-dns-zones/main.json
  avm/ptn/network/private-link-private-dns-zones/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3956 fix: link updates for utl/avm-common-types
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3931 feat: add `avm.ptn.authorization.role-definition`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.role-definition.yml
  avm/ptn/authorization/role-definition/README.md
  avm/ptn/authorization/role-definition/main.bicep
  avm/ptn/authorization/role-definition/main.json
  avm/ptn/authorization/role-definition/tests/e2e/mg.default/main.test.bicep
  avm/ptn/authorization/role-definition/tests/e2e/mg.loadJson/lib/subscription_owner.alz_role_definition.json
  avm/ptn/authorization/role-definition/tests/e2e/mg.loadJson/main.test.bicep
  avm/ptn/authorization/role-definition/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3958 fix: link updates for res/aad/domain-service
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:

#4022 fix: run latest SetAvmModule for `avm\res\databricks\workspace`
  avm/res/databricks/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3957 fix: link updates for module.tests.ps1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Needs: Core Team :genie:

#3635 feat: Add new ptn modules `avm/ptn/azd/aks-automatic-cluster`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.aks-automatic-cluster.yml
  avm/ptn/azd/aks-automatic-cluster/README.md
  avm/ptn/azd/aks-automatic-cluster/main.bicep
  avm/ptn/azd/aks-automatic-cluster/main.json
  avm/ptn/azd/aks-automatic-cluster/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/aks-automatic-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4025 fix: Readme regen & dummy change to enable publishing
  avm/ptn/azd/aks-automatic-cluster/README.md
  avm/ptn/azd/aks-automatic-cluster/main.bicep
  avm/ptn/azd/aks-automatic-cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3458 feat: Pattern modules for policy exemptions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.policy-exemption.yml
  avm/ptn/authorization/policy-exemption/README.md
  avm/ptn/authorization/policy-exemption/main.bicep
  avm/ptn/authorization/policy-exemption/main.json
  avm/ptn/authorization/policy-exemption/modules/management-group.bicep
  avm/ptn/authorization/policy-exemption/modules/resource-group.bicep
  avm/ptn/authorization/policy-exemption/modules/subscription.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/mg.defaults/main.test.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/mg.max/main.test.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/rg.defaults/main.test.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/rg.max/main.test.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/sub.defaults/main.test.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/sub.max/main.test.bicep
  avm/ptn/authorization/policy-exemption/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3881 feat: Add failover groups to `avm/res/sql/server`
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/failover-group/README.md
  avm/res/sql/server/failover-group/main.bicep
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/failover-group/dependencies.bicep
  avm/res/sql/server/tests/e2e/failover-group/main.test.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Language: Bicep :muscle:

#4030 fix: Policy Excemption - Fixed max test
  avm/ptn/authorization/policy-exemption/README.md
  avm/ptn/authorization/policy-exemption/main.bicep
  avm/ptn/authorization/policy-exemption/main.json
  avm/ptn/authorization/policy-exemption/modules/management-group.bicep
  avm/ptn/authorization/policy-exemption/modules/resource-group.bicep
  avm/ptn/authorization/policy-exemption/modules/subscription.bicep
  avm/ptn/authorization/policy-exemption/tests/e2e/mg.max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Pattern Module :package:

#3946 [Fix]: AVM-devops-pattern-module Fix bug in runner scope
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/start.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/start.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/app_token.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/entrypoint.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/install_actions.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/token.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/ConfigureAndRun.ps1
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/InstallAgent.ps1
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/org-scope-github-aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3903 feat: Updates to pester tests file `utilities/pipelines/staticValidation/compliance/module.tests.ps1`
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4031 fix: DevOpsAgents - Fixed Readme
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Pattern Module :package:

#4032 fix: Fixed function ref in module.tests.ps1 following move of utilities folder
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#3955 feat: postgresql/flexibleserver updates
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection/README.md
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/README.md
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/README.md
  avm/res/db-for-postgre-sql/flexible-server/database/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/README.md
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Language: Bicep :muscle:

#3901 feat: Updated API version for `avm/res/network/application-gateway-web-application-firewall-policy`
  avm/res/network/application-gateway-web-application-firewall-policy/README.md
  avm/res/network/application-gateway-web-application-firewall-policy/main.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/main.json
  avm/res/network/application-gateway-web-application-firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/application-gateway-web-application-firewall-policy/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#3880 feat: Updating hubIPAddresses documentation
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3739 feat: Updated DB-For-Postgre-SQL-Flexible Server CMK implementation
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3959 fix: Add publicNetworkAccess param and update firewall rule logic
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/advanced-threat-protection/README.md
  avm/res/db-for-my-sql/flexible-server/advanced-threat-protection/main.bicep
  avm/res/db-for-my-sql/flexible-server/advanced-threat-protection/main.json
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4034 feat: Update cognitive services deployment properties to latest API schema
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Status: In Triage :mag:

#4035 fix: AKS - Removed unused CMK implementation
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#4039 fix: Utilities move - Fixed several paths
  .github/CODEOWNERS
  .github/workflows/avm.ptn.authorization.policy-exemption.yml
  .github/workflows/avm.ptn.authorization.role-definition.yml
  .github/workflows/avm.ptn.azd.aks-automatic-cluster.yml
  .github/workflows/avm.ptn.azd.apim-api.yml
  .github/workflows/avm.res.network.p2s-vpn-gateway.yml
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4037 feat: Allow disabling audit settings in 'avm/res/sql/server'
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/main.bicep
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/audit-settings/modules/nested_storageRoleAssignment.bicep
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3925 feat: avm.res.service-fabric.cluster additional parameter validation
  avm/res/service-fabric/cluster/README.md
  avm/res/service-fabric/cluster/application-type/main.json
  avm/res/service-fabric/cluster/main.bicep
  avm/res/service-fabric/cluster/main.json
  avm/res/service-fabric/cluster/tests/e2e/cert/main.test.bicep
  avm/res/service-fabric/cluster/version.json
Labels: Type: Hygiene :broom:, Class: Resource Module :package:, Needs: Core Team :genie:, Language: Bicep :muscle:

#4045 fix: delete unexpected version.json from child module folders
  avm/res/insights/component/linkedStorageAccounts/version.json
  avm/res/relay/namespace/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/main.json
  avm/res/relay/namespace/main.json
  avm/res/relay/namespace/network-rule-set/main.json
  avm/res/relay/namespace/wcf-relay/authorization-rule/main.json
  avm/res/relay/namespace/wcf-relay/authorization-rule/version.json
  avm/res/relay/namespace/wcf-relay/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4047 fix: Fixed diverse typos and incorrect references in scripts
  utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/platform/deploymentRemoval/Clear-ManagementGroupDeploymentHistory.ps1
  utilities/pipelines/platform/deploymentRemoval/Clear-SubscriptionDeploymentHistory.ps1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
  utilities/tools/Invoke-WorkflowsFailedJobsReRun.ps1
  utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#4051 fix: AIB - Several fixes for especially the windows image creation
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/ptn/virtual-machine-images/azure-image-builder/modules/msi_rbac.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.linux/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.linux/scripts/Initialize-LinuxSoftware.ps1
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.linux/scripts/Install-LinuxPowerShell.sh
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.windows/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.windows/scripts/Initialize-WindowsSoftware.ps1
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.windows/scripts/Install-WindowsPowerShell.ps1
  utilities/pipelines/staticValidation/psrule/.ps-rule/storage-firewall-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#4105 fix: Compute-Image- Clean up naming of things
  avm/res/compute/image/README.md
  avm/res/compute/image/main.bicep
  avm/res/compute/image/main.json
  avm/res/compute/image/tests/e2e/defaults/dependencies.bicep
  avm/res/compute/image/tests/e2e/defaults/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/defaults/main.test.bicep
  avm/res/compute/image/tests/e2e/max/dependencies.bicep
  avm/res/compute/image/tests/e2e/max/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/max/main.test.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:

#4116 fix: Web-Site - Diverse naming issues
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/config--logs/README.md
  avm/res/web/site/config--logs/main.bicep
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/README.md
  avm/res/web/site/config--web/main.bicep
  avm/res/web/site/config--web/main.json
  avm/res/web/site/extensions--msdeploy/README.md
  avm/res/web/site/extensions--msdeploy/main.bicep
  avm/res/web/site/extensions--msdeploy/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/extensions--msdeploy/README.md
  avm/res/web/site/slot/extensions--msdeploy/main.bicep
  avm/res/web/site/slot/extensions--msdeploy/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.settings/main.test.bicep
  avm/res/web/site/tests/e2e/linuxContainerWebApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/logsConfig/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.max/main.test.bicep
  avm/res/web/site/tests/e2e/webConfig/main.test.bicep
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3852 feat: Updated ServiceBus Namespace CMK Implementation
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:
