Repository Azure/bicep-registry-modules, pull requests merged in 2024-08, with the labels that each got.

#2901 fix: Uniqueness of the roleAssignment names in the new RBAC implementation tests
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-prefix/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2878 test: add-keyvault-secret-integration
  avm/res/app/container-app/README.md
  avm/res/app/container-app/tests/e2e/max/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2904 fix: message for orphaned modules in workflow issues was showing the wrong module name
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Hygiene :broom:

#2906 feat: Adding DNS Name Servers Output to `dns-zone` + updating to latest RBAC schema
  avm/res/network/dns-zone/README.md
  avm/res/network/dns-zone/a/main.bicep
  avm/res/network/dns-zone/a/main.json
  avm/res/network/dns-zone/aaaa/main.bicep
  avm/res/network/dns-zone/aaaa/main.json
  avm/res/network/dns-zone/caa/main.bicep
  avm/res/network/dns-zone/caa/main.json
  avm/res/network/dns-zone/cname/main.bicep
  avm/res/network/dns-zone/cname/main.json
  avm/res/network/dns-zone/main.bicep
  avm/res/network/dns-zone/main.json
  avm/res/network/dns-zone/mx/main.bicep
  avm/res/network/dns-zone/mx/main.json
  avm/res/network/dns-zone/ns/main.bicep
  avm/res/network/dns-zone/ns/main.json
  avm/res/network/dns-zone/ptr/main.bicep
  avm/res/network/dns-zone/ptr/main.json
  avm/res/network/dns-zone/soa/main.bicep
  avm/res/network/dns-zone/soa/main.json
  avm/res/network/dns-zone/srv/main.bicep
  avm/res/network/dns-zone/srv/main.json
  avm/res/network/dns-zone/txt/main.bicep
  avm/res/network/dns-zone/txt/main.json
  avm/res/network/dns-zone/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2876 fix: Resolve failing tests
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/main.bicep
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/database/README.md
  avm/res/db-for-my-sql/flexible-server/database/main.bicep
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/README.md
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.bicep
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies2.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/version.json
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2858 fix: `avm/res/insights/metric-alert`
  avm/res/insights/metric-alert/README.md
  avm/res/insights/metric-alert/main.bicep
  avm/res/insights/metric-alert/main.json
  avm/res/insights/metric-alert/tests/e2e/defaults/dependencies.bicep
  avm/res/insights/metric-alert/tests/e2e/defaults/main.test.bicep
  avm/res/insights/metric-alert/tests/e2e/max/main.test.bicep
  avm/res/insights/metric-alert/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/metric-alert/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/metric-alert/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2309 feat: `avm/res/app/managed-environment` storage
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2606 feat: Add output 'fqdn' in MySQL Module - `avm/res/db-for-my-sql/flexible-server`
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Help Wanted :sos:, Needs: Core Team :genie:

#2980 feat: update rbac schema in API Management
  avm/res/api-management/service/README.md
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/api-management/service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2982 feat: add `credential-set` child module to `avm/res/container-registry/registry`
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rule/README.md
  avm/res/container-registry/registry/cache-rule/main.bicep
  avm/res/container-registry/registry/cache-rule/main.json
  avm/res/container-registry/registry/credential-set/README.md
  avm/res/container-registry/registry/credential-set/main.bicep
  avm/res/container-registry/registry/credential-set/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/tests/e2e/cache/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/cache/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/webhook/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2985 feat: Update `avm/res/insights/webtest` module parameters
  avm/res/insights/webtest/README.md
  avm/res/insights/webtest/main.bicep
  avm/res/insights/webtest/main.json
Labels: Type: AVM :a: :v: :m:

#2983 feat: update RBAC schema in `avm/res/container-registry/registry`
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2907 feat: Update DocumentDB to secrets export spec
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.bicep
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/modules/keyVaultExport.bicep
  avm/res/document-db/database-account/modules/secrets-key-vault.bicep
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/sql-role/main.json
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.json
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.json
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/managedIdentity/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/publicRestrictedAccess/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2699 feat: Adding support for OpenTelemetry properties - `avm/res/app/managed-environment`
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2991 feat: Added output to the `avm/res/network/private-endpoint` module
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2993 feat: DeploymentScript - Optimized UDT to make artifitial `secureList` property of `environmentVariables` parameter redundant
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/tests/e2e/cli/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2969 feat: Avm ptn acalza hostingenvironment - `avm/ptn/aca-lza/hosting-environment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.aca-lza.hosting-environment.yml
  avm/ptn/aca-lza/hosting-environment/README.md
  avm/ptn/aca-lza/hosting-environment/main.bicep
  avm/ptn/aca-lza/hosting-environment/main.json
  avm/ptn/aca-lza/hosting-environment/modules/application-gateway/app-gateway-cert.bicep
  avm/ptn/aca-lza/hosting-environment/modules/application-gateway/deploy.app-gateway.bicep
  avm/ptn/aca-lza/hosting-environment/modules/compute/linux-vm.bicep
  avm/ptn/aca-lza/hosting-environment/modules/compute/windows-vm.bicep
  avm/ptn/aca-lza/hosting-environment/modules/container-apps-environment/README.md
  avm/ptn/aca-lza/hosting-environment/modules/container-apps-environment/deploy.aca-environment.bicep
  avm/ptn/aca-lza/hosting-environment/modules/front-door/deploy.front-door.bicep
  avm/ptn/aca-lza/hosting-environment/modules/front-door/private-link-service.bicep
  avm/ptn/aca-lza/hosting-environment/modules/naming/naming-rules.jsonc
  avm/ptn/aca-lza/hosting-environment/modules/naming/naming.module.bicep
  avm/ptn/aca-lza/hosting-environment/modules/networking/peering.bicep
  avm/ptn/aca-lza/hosting-environment/modules/policy/policies-assignement.bicep
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-allowed-container-registries.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-allowed-ingress-target-ports.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-allowed-ingress-transports.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-allowed-locations.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-no-diagnostic-settings.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-no-liveness-probes.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-no-monitoring.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-no-readiness-probes.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-no-startup-probes.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-replica-count.json
  avm/ptn/aca-lza/hosting-environment/modules/policy/policy-definitions/aca-required-cpu-and-memory.json
  avm/ptn/aca-lza/hosting-environment/modules/sample-application/deploy.sample-application.bicep
  avm/ptn/aca-lza/hosting-environment/modules/spoke/README.md
  avm/ptn/aca-lza/hosting-environment/modules/spoke/deploy.spoke.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/README.md
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/deploy.supporting-services.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/container-registry.module.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/key-vault.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/deploy.hub.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3003 fix: Orphan `avm.res.network.front-door`
  avm/res/network/front-door/ORPHANED.md
  avm/res/network/front-door/README.md
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#3002 fix: Unorphan `avm.res.sql.server`
  avm/res/sql/server/ORPHANED.md
  avm/res/sql/server/README.md
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3001 fix: update all runner images to ubuntu-latest
  .github/workflows/avm.res.container-service.managed-cluster.yml
  .github/workflows/avm.res.web.hosting-environment.yml
  .github/workflows/platform.ci-tests.yml
  .github/workflows/platform.deployment.history.cleanup.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3007 fix: Updated LE for finops module to align with Linux runners
  .gitattributes
  avm/ptn/finops-toolkit/finops-hub/main.bicep
  avm/ptn/finops-toolkit/finops-hub/main.json
  avm/ptn/finops-toolkit/finops-hub/modules/dataFactory.bicep
  avm/ptn/finops-toolkit/finops-hub/modules/keyVault.bicep
  avm/ptn/finops-toolkit/finops-hub/modules/storage.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2544 feat: add PR label logic
  .github/workflows/platform.set-avm-github-pr-labels.yml
  avm/utilities/pipelines/platform/Set-AvmGitHubPrLabels.ps1
  avm/utilities/pipelines/platform/helper/Get-AvmCsvData.ps1
  avm/utilities/pipelines/platform/helper/Get-GithubPrRequestedReviewerTeamNames.ps1
  avm/utilities/pipelines/platform/helper/Get-GithubTeamMembersLogin.ps1
Labels: Type: AVM :a: :v: :m:, Status: Help Wanted :sos:, Type: Hygiene :broom:, Needs: Core Team :genie:

#3009 fix: Container-Group updated test prefix
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/tests/e2e/encr/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3010 feat: DeploymentRemoval: Added LZ-Vending MgmtGroup to deployment cleanup
  .github/workflows/platform.deployment.history.cleanup.yml
  avm/utilities/pipelines/platform/deploymentRemoval/Clear-ManagementGroupDeploymentHistory.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3011 feat: Add OIDC implementation to platform workflow (subscription cleanup)
  .github/workflows/platform.deployment.history.cleanup.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2710 feat: add alert display rule and rule resolve configuration; update API to latest - `avm/res/insights/scheduled-query-rule`
  avm/res/insights/scheduled-query-rule/README.md
  avm/res/insights/scheduled-query-rule/main.bicep
  avm/res/insights/scheduled-query-rule/main.json
  avm/res/insights/scheduled-query-rule/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3020 fix: PR logic was not working with draft PRs
  .github/workflows/platform.set-avm-github-pr-labels.yml
  avm/utilities/pipelines/platform/Set-AvmGitHubPrLabels.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#2736 feat: `avm/res/storage/storage-account` Add additional built-in roles to Storage Module
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3040 feat: Adding Feature 2427 virtual hub routing intent
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hub-route-table/main.json
  avm/res/network/virtual-hub/hub-routing-intent/README.md
  avm/res/network/virtual-hub/hub-routing-intent/main.bicep
  avm/res/network/virtual-hub/hub-routing-intent/main.json
  avm/res/network/virtual-hub/hub-virtual-network-connection/README.md
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.bicep
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
  avm/res/network/virtual-hub/tests/e2e/routing-intent/dependencies.bicep
  avm/res/network/virtual-hub/tests/e2e/routing-intent/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3039 fix: Fix for attributes in `key-vault/vault` #2758
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3027 feat: `avm/res/machine-learning-services/workspace` Add connections
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/connection/README.md
  avm/res/machine-learning-services/workspace/connection/main.bicep
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/ai/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/ai/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Class: Resource Module :package:

#3045 fix: `avm/ptn/ai-platform/baseline` Enforce location when deploying VM with zones
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/tests/e2e/max/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#3044 feat: `avm/ptn/ai-platform/baseline` Add AI project
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/tests/e2e/max/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:

#3047 fix: `avm/ptn/ai-platform/baseline` Fix compute name and VM username for tests
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/tests/e2e/defaults/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/max/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3053 feat: Container app add on and update api version
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3054 feat: `avm/ptn/ai-platform/baseline` Change VNet to use subnets child resource
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:

#3057 fix: module `avm/res/network/connection` added trafficSelectorPolicies property
  avm/res/network/connection/README.md
  avm/res/network/connection/main.bicep
  avm/res/network/connection/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3058 feat: Removed duplicate parameter and added zone description
  avm/res/compute/disk/README.md
  avm/res/compute/disk/main.bicep
  avm/res/compute/disk/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3060 feat: site package extensions
  avm/res/web/site/README.md
  avm/res/web/site/extensions--msdeploy/README.md
  avm/res/web/site/extensions--msdeploy/main.bicep
  avm/res/web/site/extensions--msdeploy/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/extensions--msdeploy/README.md
  avm/res/web/site/slot/extensions--msdeploy/main.bicep
  avm/res/web/site/slot/extensions--msdeploy/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3059 feat: Add forecasted e2e test
  avm/res/consumption/budget/README.md
  avm/res/consumption/budget/main.json
  avm/res/consumption/budget/tests/e2e/forecasted/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3070 feat: ability to deploy function app on container apps
  avm/res/web/site/README.md
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3068 feat: Adding support for Peer Encryption
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
  avm/res/app/managed-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3075 fix: Fixed telemetry identifier in `avm/res/network/front-door-web-application-firewall-policy`
  avm/res/network/front-door-web-application-firewall-policy/main.bicep
  avm/res/network/front-door-web-application-firewall-policy/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3055 feat: additional parameters for anf
  .vscode/extensions.json
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3074 feat: `avm/res/search/search-service` improvements
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3080 fix: `avm/res/db for postgre sql/flexible server`
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3088 feat: `avm/res/db-for-postgresql/flexible server`
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3092 fix: test update for ZR default
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3096 fix: Updated description for AIServices deployment
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3093 fix: SQL Server ZR default updates
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3098 feat: postgres az updates
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3102 feat: `avm/res/dev-test-lab/lab` Enable Artifact repo Security Token on the parent module & uplift to leverage UDTs
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/artifactsource/README.md
  avm/res/dev-test-lab/lab/artifactsource/main.bicep
  avm/res/dev-test-lab/lab/artifactsource/main.json
  avm/res/dev-test-lab/lab/cost/README.md
  avm/res/dev-test-lab/lab/cost/main.bicep
  avm/res/dev-test-lab/lab/cost/main.json
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/notificationchannel/README.md
  avm/res/dev-test-lab/lab/notificationchannel/main.bicep
  avm/res/dev-test-lab/lab/notificationchannel/main.json
  avm/res/dev-test-lab/lab/policyset/policy/main.bicep
  avm/res/dev-test-lab/lab/policyset/policy/main.json
  avm/res/dev-test-lab/lab/schedule/README.md
  avm/res/dev-test-lab/lab/schedule/main.bicep
  avm/res/dev-test-lab/lab/schedule/main.json
  avm/res/dev-test-lab/lab/tests/e2e/max/main.test.bicep
  avm/res/dev-test-lab/lab/version.json
  avm/res/dev-test-lab/lab/virtualnetwork/main.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3021 feat: Add parameter enableHotpatching - `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3078 feat: Add bgp community property to `avm/res/network/virtual-network`
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3114 feat: AppGW updates to meet Availability Zone Defaults Requirement
  avm/res/network/application-gateway/README.md
  avm/res/network/application-gateway/main.bicep
  avm/res/network/application-gateway/main.json
  avm/res/network/application-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/application-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/application-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3113 Update `avm/res/dev-test-lab/lab` to enforce system identity
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2763 feat: `avm/res/data-factory/factory` Added various UDTs
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2542 feat: res\synapse\workspace firewall child resource added
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/firewall-rules/README.md
  avm/res/synapse/workspace/firewall-rules/main.bicep
  avm/res/synapse/workspace/firewall-rules/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/tests/e2e/fwrules/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/fwrules/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3111 feat: Added additional roles to app insights module
  avm/res/insights/component/main.bicep
  avm/res/insights/component/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Language: Bicep :muscle:

#3115 feat: EventHub AZ defaults alignment
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#3122 feat: ContainerApp-Added additionalPortMappings logic
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/vnet/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:, Language: Bicep :muscle:

#3099 fix: SQL Server ZR default updates (#3093)
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#3121 feat: update RBAC schema in `avm/res/network/application-gateway`
  avm/res/network/application-gateway/README.md
  avm/res/network/application-gateway/main.bicep
  avm/res/network/application-gateway/main.json
  avm/res/network/application-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/application-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3125 fix: Fixed `avm/res/operational-insights/workspace` diagnostic settings
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3116 fix: various fixes on VM
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:
