Repository Azure/bicep-registry-modules, pull requests merged in 2024-09, with the labels that each got.

#3015 feat: Enable tenant/constributor-specific parameters in test cases
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.template.module.yml
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/managed-services/registration-definition/README.md
  avm/res/managed-services/registration-definition/tests/e2e/defaults/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/max/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/rg/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:, Needs: Core Team :genie:, Type: CI :rocket:

#3128 test: Adding idempotency tests to `avm/res/search/search-service`
  avm/res/search/search-service/tests/e2e/defaults/main.test.bicep
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3131 docs: `avm/res/insights/data-collection-endpoint` Update README file / fixing static validation
  avm/res/insights/data-collection-endpoint/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3086 fix: AppJobs - Regenerated files
  avm/res/app/job/README.md
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#3149 fix: Small fix for both the post-removal logic & secret-passthru with PSRule
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/defaults/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/max/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/rg/main.test.bicep
  avm/res/managed-services/registration-definition/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#3164 feat: avm/res/storage/storage-account update connectionstrings of secretsExportConfiguration to store key value instead of key object as string
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3158 feat: Add new ptn modules `azd/container-apps`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.container-apps.yml
  avm/ptn/azd/container-apps/README.md
  avm/ptn/azd/container-apps/main.bicep
  avm/ptn/azd/container-apps/main.json
  avm/ptn/azd/container-apps/tests/e2e/zone-redundant/dependencies.bicep
  avm/ptn/azd/container-apps/tests/e2e/zone-redundant/main.test.bicep
  avm/ptn/azd/container-apps/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3165 feat: Update private endpoints to the newest specs - batch 3
  avm/res/sql/server/README.md
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/audit/main.test.bicep
  avm/res/sql/server/tests/e2e/defaults/main.test.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/synapse/private-link-hub/README.md
  avm/res/synapse/private-link-hub/main.bicep
  avm/res/synapse/private-link-hub/main.json
  avm/res/synapse/private-link-hub/tests/e2e/max/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/private-link-hub/version.json
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/workspace/version.json
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.max/main.test.bicep
  avm/res/web/site/version.json
  avm/res/web/static-site/README.md
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/static-site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2997 feat: Added output to the `avm/res/storage/storage-account` module
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/system-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#3038 fix: Improved removal resiliency
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3177 fix: Serverfarm: Disable AZ PSRule rule as not available in AVM subscription
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#3170 feat: Updates of the `avm/res/desktop-virtualization/host-pool` module
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/host-pool/main.bicep
  avm/res/desktop-virtualization/host-pool/main.json
  avm/res/desktop-virtualization/host-pool/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/host-pool/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3105 feat: Subet - Several improvements
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/tests/e2e/ipv6/main.test.bicep
  avm/res/network/virtual-network/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-network/tests/e2e/vnetPeering/main.test.bicep
  avm/res/network/virtual-network/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-network/version.json
  avm/res/network/virtual-network/virtual-network-peering/README.md
  avm/res/network/virtual-network/virtual-network-peering/main.bicep
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#3212 fix: location rotation solution for ptn/utl
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AvailableResourceLocation.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3048 feat: Kusto cluster system assigned managed identity
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3211 feat: Add support for cross-platform Data Collection Rules
  avm/res/insights/data-collection-rule/README.md
  avm/res/insights/data-collection-rule/main.bicep
  avm/res/insights/data-collection-rule/main.json
  avm/res/insights/data-collection-rule/modules/nested_conditionalScope.bicep
  avm/res/insights/data-collection-rule/tests/e2e/custombasic/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3215 feat: Update Private Endpoints schema in `avm/res/container-registry/registry`
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-registry/registry/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3213 fix: Unorphan `avm/res/purview/account` module
  avm/res/purview/account/ORPHANED.md
  avm/res/purview/account/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#1932 fix: Add key vault to cognitive service - `avm/res/cognitive-services/account`
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Status: Do Not Merge :no_entry:, Class: Resource Module :package:, Needs: Core Team :genie:

#2992 fix: Image Template Make `customizations` optional - `avm/res/virtual-machine-images/image-template`
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  avm/utilities/e2e-template-assets/scripts/Set-StorageContainerContentByEnvVar.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#3153 feat: New Module avm-ptn-dev-ops-cicd-agents-and-runners
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.dev-ops.cicd-agents-and-runners.yml
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aca/start.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/azure-devops-agent-aci/start.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/app_token.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/entrypoint.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/install_actions.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aca/token.sh
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/ConfigureAndRun.ps1
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/InstallAgent.ps1
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/github-runner-aci/dockerfile
  avm/ptn/dev-ops/cicd-agents-and-runners/scripts/startAzureDevOpsContainerJob.ps1
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/aca-aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/defaults.azuredevops.aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/defaults.github.aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/max.azuredevops.aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/max.github.aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-devops-existing-vnet-aci/dependencies.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-devops-existing-vnet-aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-existing-vnet-aca/dependencies.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-existing-vnet-aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-new-vnet/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3220 fix: Kusto Cluster - Fixed identity output
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3230 feat: Add identity support for `avm/res/insigths/data-collection-rule` module
  avm/res/insights/data-collection-rule/README.md
  avm/res/insights/data-collection-rule/main.bicep
  avm/res/insights/data-collection-rule/main.json
  avm/res/insights/data-collection-rule/tests/e2e/agent-settings/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/customadv/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/customadv/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/custombasic/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/custombasic/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/customiis/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/customiis/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/defaults/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/linux/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/linux/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/max/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/max/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/data-collection-rule/tests/e2e/windows/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/windows/main.test.bicep
  avm/res/insights/data-collection-rule/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3180 fix: Update `avm/res/dev-test-lab/lab` module virtual network parameters and increased test coverage.
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/tests/e2e/max/dependencies.bicep
  avm/res/dev-test-lab/lab/tests/e2e/max/main.test.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/README.md
  avm/res/dev-test-lab/lab/virtualnetwork/main.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3175 feat: Add new ptn modules `azd/insights-dashboard`.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.insights-dashboard.yml
  avm/ptn/azd/insights-dashboard/README.md
  avm/ptn/azd/insights-dashboard/main.bicep
  avm/ptn/azd/insights-dashboard/main.json
  avm/ptn/azd/insights-dashboard/modules/applicationinsights-dashboard.bicep
  avm/ptn/azd/insights-dashboard/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/insights-dashboard/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/insights-dashboard/tests/e2e/max/dependencies.bicep
  avm/ptn/azd/insights-dashboard/tests/e2e/max/main.test.bicep
  avm/ptn/azd/insights-dashboard/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, AZD :technologist:

#2756 feat: Enable the introduction of `utl` modules in CI & utilities
  .github/workflows/avm.template.module.yml
  .github/workflows/platform.toggle-avm-workflows.yml
  avm/ptn/azd/container-apps/README.md
  avm/res/container-registry/registry/cache-rule/README.md
  avm/res/container-registry/registry/cache-rule/main.bicep
  avm/res/container-registry/registry/cache-rule/main.json
  avm/res/container-registry/registry/main.json
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AvailableResourceLocation.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/Switch-WorkflowState.ps1
  avm/utilities/pipelines/platform/Sync-AvmModulesList.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleReadmeLink.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetPatchVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
  avm/utilities/pipelines/publish/helper/New-ModuleReleaseTag.ps1
  avm/utilities/pipelines/sharedScripts/Get-BRMRepositoryName.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3151 fix: `avm/res/machine-learning-services/workspace` Enforce location for AI Services
  avm/res/machine-learning-services/workspace/tests/e2e/ai/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#3178 feat: Add defaultCatalog `avm/res/databricks/workspace`
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3206 feat: Add new ptn modules `azd/apim-api`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.apim-api.yml
  avm/ptn/azd/apim-api/README.md
  avm/ptn/azd/apim-api/main.bicep
  avm/ptn/azd/apim-api/main.json
  avm/ptn/azd/apim-api/modules/apim-api-policy.xml
  avm/ptn/azd/apim-api/modules/openapi.yaml
  avm/ptn/azd/apim-api/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/apim-api/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/apim-api/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, AZD :technologist:

#3248 feat: Service Bus Namespace AZ Resiliency Updates
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3110 fix: [avm-ptn-lz-sub-vending] Add improvements to the vwan connections naming convention
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/readTagsResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/readTagsSubscription.bicep
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3253 feat: Adds authentication to image import `ptn/deployment-script/import-image-to-acr`
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/dependencies.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3256 fix: Run the `Set-AVMModule` script to update the files of ptn module `azd/apim-api`
  avm/ptn/azd/apim-api/README.md
  avm/ptn/azd/apim-api/main.bicep
  avm/ptn/azd/apim-api/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2968 feat: Added utility to re-run failed jobs for failed workflows
  avm/utilities/tools/Invoke-WorkflowsFailedJobsReRun.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#1257 feat: New module `avm/ptn/network/hub-networking`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.network.hub-networking.yml
  .vscode/settings.json
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/modules/getSubnet.bicep
  avm/ptn/network/hub-networking/modules/subnets.bicep
  avm/ptn/network/hub-networking/modules/vnets.bicep
  avm/ptn/network/hub-networking/tests/e2e/defaults/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/max/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/network/hub-networking/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3162 feat: Add param for disabling access key
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3259 fix: Updated hub-network output
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3005 feat: Pattern - Azure Image Builder - `avm/ptn/virtual-machine-images/azure-image-builder`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.virtual-machine-images.azure-image-builder.yml
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/AzureComputeGalleries.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Deployment-Script.png
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/ImageTemplates.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Managed-identities.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Network-Security-Groups.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Resource-Groups.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Storage-Accounts.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/VMImageDefinitions.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/VMImageVersions.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Virtual-Machine-Scale-Sets.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/icons/Virtual-Networks.svg
  avm/ptn/virtual-machine-images/azure-image-builder/src/image/imageBuilderimage.png
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/defaults/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/scripts/Initialize-LinuxSoftware.ps1
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/scripts/Initialize-WindowsSoftware.ps1
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/scripts/Install-LinuxPowerShell.sh
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/scripts/Install-WindowsPowerShell.ps1
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/dependencies.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/scripts/exampleScript.sh
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyBase/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/dependencies.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/scripts/exampleScript.sh
  avm/ptn/virtual-machine-images/azure-image-builder/version.json
  avm/utilities/e2e-template-assets/scripts/Wait-ForImageBuild.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3222 fix: Add key vault to cognitive service - avm/res/cognitive-services/account
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2894 feat: Added new resource module Managed DevOps Pools - `avm/res/dev-ops-infrastructure/pool`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.dev-ops-infrastructure.pool.yml
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/dev-ops-infrastructure/pool/tests/e2e/defaults/dependencies.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/defaults/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/max/dependencies.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/max/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3320 fix: Remove ORPHANED status from module and update resource API version - `avm/res/network/front-door`
  avm/res/network/front-door/ORPHANED.md
  avm/res/network/front-door/README.md
  avm/res/network/front-door/main.bicep
  avm/res/network/front-door/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3329 fix: `avm/ptn/deployment/import-image-to-acr` fixes bugs handling newImageName
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3333 fix: static validation error and BCP error in `avm.res.dev-ops-infrastructure.pool`
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3341 fix: module `avm/res/network/nat-gateway`
  avm/res/network/nat-gateway/README.md
  avm/res/network/nat-gateway/main.bicep
  avm/res/network/nat-gateway/main.json
  avm/res/network/nat-gateway/tests/e2e/existingPip/dependencies.bicep
  avm/res/network/nat-gateway/tests/e2e/existingPip/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3345 feat: `avm/ptn/ai-platform/baseline` Change identities of AI workspaces
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/tests/e2e/max/dependencies.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/max/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Feature Request :heavy_plus_sign:

#3348 fix: Add explicit dependsOn in the privateLinkScope_privateEndpoints module for `avm/res/insights/private-link-scope`
  avm/res/insights/private-link-scope/README.md
  avm/res/insights/private-link-scope/main.bicep
  avm/res/insights/private-link-scope/main.json
  avm/res/insights/private-link-scope/scoped-resource/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3350 fix: `ptn/deployment-script/import-image-to-acr` overwriteExistingImage
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3353 feat: `avm/ptn/ai-platform/baseline` Use VNet AVM
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3355 fix: Added depends_on to flexibleserver_administrators
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:, Language: Bicep :muscle:

#3356 fix: Resolve issue when bastion/firewall is not deployed
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/tests/e2e/no-addons/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3254 fix: StorageAccount - Added implicit dependency to blobServices from container - `avm/res/storage/storage-account`
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3344 fix: test updates for az defaults
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3351 fix: Added a fixed uksouth location for `avm.res.dev-ops-infrastructure.pool`
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/dev-ops-infrastructure/pool/tests/e2e/defaults/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/max/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3318 fix: Rename 'capacity' property to skuCapacity in the tests - `avm/res/sql/server`
  avm/res/sql/server/README.md
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3372 fix: Storage account readme regen
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/README.md
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/README.md
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/README.md
  avm/res/storage/storage-account/table-service/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3354 fix: Added fixed uksouth and ukwest locations for `avm.res.network.trafficmanagerprofile`
  avm/res/network/trafficmanagerprofile/README.md
  avm/res/network/trafficmanagerprofile/main.json
  avm/res/network/trafficmanagerprofile/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3370 fix: Implement resiliency by default
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/tests/e2e/vpn-no-az/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3366 fix: updating virtualNetwork API for LZ network resource
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#3342 fix: add displayName to more submodules. Update notes about SKU deployability
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/README.md
  avm/res/api-management/service/authorization-server/main.bicep
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/loggers/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/README.md
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.bicep
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/README.md
  avm/res/api-management/service/subscription/main.bicep
  avm/res/api-management/service/subscription/main.json
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/api-management/service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/api-management/service/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:
