Repository Azure/bicep-registry-modules, pull requests merged in 2024-01, with the labels that each got.

#744 feat: new module network/nat-gateway
  .github/CODEOWNERS
  .github/workflows/avm.res.network.nat-gateway.yml
  avm/res/network/nat-gateway/README.md
  avm/res/network/nat-gateway/main.bicep
  avm/res/network/nat-gateway/main.json
  avm/res/network/nat-gateway/modules/formatResourceId.bicep
  avm/res/network/nat-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/nat-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/prefixCombined/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/nat-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#750 feat: new module network/vpn-gateway
  .github/CODEOWNERS
  .github/workflows/avm.res.network.vpn-gateway.yml
  avm/res/network/vpn-gateway/README.md
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
  avm/res/network/vpn-gateway/nat-rule/README.md
  avm/res/network/vpn-gateway/nat-rule/main.bicep
  avm/res/network/vpn-gateway/nat-rule/main.json
  avm/res/network/vpn-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-gateway/version.json
  avm/res/network/vpn-gateway/vpn-connection/README.md
  avm/res/network/vpn-gateway/vpn-connection/main.bicep
  avm/res/network/vpn-gateway/vpn-connection/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#760 fix: Enable UDT schema tests to differentiate modules that uses the `sys` namespace explicitely
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#761 feat: New Module `avm/res/web/static-site`
  .github/workflows/avm.res.web.static-site.yml
  avm/res/web/static-site/README.md
  avm/res/web/static-site/config/README.md
  avm/res/web/static-site/config/main.bicep
  avm/res/web/static-site/config/main.json
  avm/res/web/static-site/custom-domain/README.md
  avm/res/web/static-site/custom-domain/main.bicep
  avm/res/web/static-site/custom-domain/main.json
  avm/res/web/static-site/linked-backend/README.md
  avm/res/web/static-site/linked-backend/main.bicep
  avm/res/web/static-site/linked-backend/main.json
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/defaults/main.test.bicep
  avm/res/web/static-site/tests/e2e/max/dependencies.bicep
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/static-site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#749 feat: New Module `compute/disk-encryption-set`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.disk-encryption-set.yml
  avm/res/compute/disk-encryption-set/README.md
  avm/res/compute/disk-encryption-set/main.bicep
  avm/res/compute/disk-encryption-set/main.json
  avm/res/compute/disk-encryption-set/modules/key-vault.vault.access-policy.bicep
  avm/res/compute/disk-encryption-set/modules/nested_keyVaultPermissions.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/accessPolicies/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/accessPolicies/main.test.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/defaults/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/defaults/main.test.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/max/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/max/main.test.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/disk-encryption-set/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/disk-encryption-set/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#762 feat: New Module `avm/res/compute/proximity-placement-group`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.proximity-placement-group.yml
  avm/res/compute/proximity-placement-group/ORPHANED.md
  avm/res/compute/proximity-placement-group/README.md
  avm/res/compute/proximity-placement-group/main.bicep
  avm/res/compute/proximity-placement-group/main.json
  avm/res/compute/proximity-placement-group/tests/e2e/defaults/main.test.bicep
  avm/res/compute/proximity-placement-group/tests/e2e/max/dependencies.bicep
  avm/res/compute/proximity-placement-group/tests/e2e/max/main.test.bicep
  avm/res/compute/proximity-placement-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/proximity-placement-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#738 feat: `avm/res/network/ddos protection plan`
  .github/CODEOWNERS
  .github/workflows/avm.res.network.ddos-protection-plan.yml
  avm/res/network/ddos-protection-plan/README.md
  avm/res/network/ddos-protection-plan/main.bicep
  avm/res/network/ddos-protection-plan/main.json
  avm/res/network/ddos-protection-plan/tests/e2e/defaults/main.test.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/max/dependencies.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/max/main.test.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/ddos-protection-plan/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#640 chore: Add data collection section about telemetry to README.md
  README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#763 fix: CODEOWNERS File for `avm/res/web/static-site`
  .github/CODEOWNERS
Labels: Needs: Triage :mag:

#755 fix: Removed leftover scripts
  avm/utilities/e2e-template-assets/scripts/.scripts/Copy-VhdToStorageAccount.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/Get-PairedRegion.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/New-SSHKey.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/Set-BlobContent.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/Set-CertificateInKeyVault.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/Set-PfxCertificateInKeyVault.ps1
  avm/utilities/e2e-template-assets/scripts/.scripts/Start-ImageTemplate.ps1
Labels: Type: AVM :a: :v: :m:

#771 fix: Updated readme gen to be more granular about adding new lines
  avm/utilities/pipelines/sharedScripts/helper/Merge-FileWithNewContent.ps1
Labels: Bug, Needs: Triage :mag:, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#767 feat: New Module `avm/res/network/firewall-policy`
  .github/CODEOWNERS
  .github/workflows/avm.res.network.firewall-policy.yml
  avm/res/network/firewall-policy/ORPHANED.md
  avm/res/network/firewall-policy/README.md
  avm/res/network/firewall-policy/main.bicep
  avm/res/network/firewall-policy/main.json
  avm/res/network/firewall-policy/rule-collection-group/README.md
  avm/res/network/firewall-policy/rule-collection-group/main.bicep
  avm/res/network/firewall-policy/rule-collection-group/main.json
  avm/res/network/firewall-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/firewall-policy/tests/e2e/max/dependencies.bicep
  avm/res/network/firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/firewall-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/firewall-policy/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#772 feat: New Module `avm/res/network/front-door-web-application-firewall-policy`
  .github/CODEOWNERS
  .github/workflows/avm.res.network.front-door-web-application-firewall-policy.yml
  avm/res/network/front-door-web-application-firewall-policy/ORPHANED.md
  avm/res/network/front-door-web-application-firewall-policy/README.md
  avm/res/network/front-door-web-application-firewall-policy/main.bicep
  avm/res/network/front-door-web-application-firewall-policy/main.json
  avm/res/network/front-door-web-application-firewall-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/front-door-web-application-firewall-policy/tests/e2e/max/dependencies.bicep
  avm/res/network/front-door-web-application-firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/front-door-web-application-firewall-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/front-door-web-application-firewall-policy/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#774 fix: Fix typo in function name
  .github/workflows/avm.platform.toggle-avm-workflows.yml
  avm/utilities/pipelines/platform/Switch-WorkflowState.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#758 feat: Several small updates to Compute Gallery module
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/README.md
  avm/res/compute/gallery/application/main.bicep
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/gallery/version.json
Labels: Type: AVM :a: :v: :m:

#769 feat: New Module `avm/res/network/front-door`
  .github/CODEOWNERS
  .github/workflows/avm.res.network.front-door.yml
  avm/res/network/front-door/ORPHANED.md
  avm/res/network/front-door/README.md
  avm/res/network/front-door/main.bicep
  avm/res/network/front-door/main.json
  avm/res/network/front-door/tests/e2e/defaults/main.test.bicep
  avm/res/network/front-door/tests/e2e/max/dependencies.bicep
  avm/res/network/front-door/tests/e2e/max/main.test.bicep
  avm/res/network/front-door/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/front-door/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#778 feat: Added IAM/RBAC to OperationalInsights Workspace (LAW) Table
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Type: AVM :a: :v: :m:

#780 fix: module network/connection
  avm/res/network/connection/tests/e2e/defaults/main.test.bicep
  avm/res/network/connection/tests/e2e/max/main.test.bicep
  avm/res/network/connection/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#717 feat: New Module `avm-res-compute-virtualmachine`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.virtual-machine.yml
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/extension/README.md
  avm/res/compute/virtual-machine/extension/main.bicep
  avm/res/compute/virtual-machine/extension/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/modules/protected-item.bicep
  avm/res/compute/virtual-machine/tests/e2e/atmg/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#743 feat: Add trigger that assigns AVM issues to the correct module owner
  .github/workflows/avm.platform.set-avm-github-issue-owner-config.yml
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:

#782 feat: Region Rotator for Az Deployment Tests
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.template.module.yml
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzDeploymentRegion.ps1
Labels: Type: AVM :a: :v: :m:

#665 feat: New Module avm-res-container-service-managed-cluster
  .github/CODEOWNERS
  .github/workflows/avm.res.container-service.managed-cluster.yml
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.bicep
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#804 fix: deploymentLocation rework
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzDeploymentRegion.ps1
Labels: Needs: Triage :mag:

#802 fix: Remove filter for auto issue assignment
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Bug Fix, Type: AVM :a: :v: :m:

#766 fix: Fixed resolution of local file references ignoring files not named `main.bicep`
  avm/res/compute/proximity-placement-group/ORPHANED.md
  avm/res/compute/proximity-placement-group/README.md
  avm/res/compute/virtual-machine/README.md
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
Labels: Bug, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#807 fix: Expanded workflow fetch to not only fetch the first 50 workflows
  avm/utilities/pipelines/platform/Switch-WorkflowState.ps1
Labels: Type: AVM :a: :v: :m:

#810 feat: Added test to validate telemetry parameter [type], [defaultValue] & [metadata.description]
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#748 feat: new module network/virtual-network-gateway
  .github/CODEOWNERS
  .github/workflows/avm.res.network.virtual-network-gateway.yml
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/nat-rule/README.md
  avm/res/network/virtual-network-gateway/nat-rule/main.bicep
  avm/res/network/virtual-network-gateway/nat-rule/main.json
  avm/res/network/virtual-network-gateway/tests/e2e/aadvpn/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/aadvpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-network-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#747 feat: new module network/local-network-gateway
  .github/CODEOWNERS
  .github/workflows/avm.res.network.local-network-gateway.yml
  avm/res/network/local-network-gateway/README.md
  avm/res/network/local-network-gateway/main.bicep
  avm/res/network/local-network-gateway/main.json
  avm/res/network/local-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/local-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/local-network-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#813 fix: module network/local-network-gateway
  avm/res/network/local-network-gateway/README.md
  avm/res/network/local-network-gateway/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#814 fix: module network/virtual-network-gateway
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/nat-rule/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#794 feat: `avm/res/compute/disk`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.disk.yml
  avm/res/compute/disk/README.md
  avm/res/compute/disk/main.bicep
  avm/res/compute/disk/main.json
  avm/res/compute/disk/tests/e2e/defaults/main.test.bicep
  avm/res/compute/disk/tests/e2e/image/dependencies.bicep
  avm/res/compute/disk/tests/e2e/image/main.test.bicep
  avm/res/compute/disk/tests/e2e/import/dependencies.bicep
  avm/res/compute/disk/tests/e2e/import/dependencies_rbac.bicep
  avm/res/compute/disk/tests/e2e/import/main.test.bicep
  avm/res/compute/disk/tests/e2e/max/dependencies.bicep
  avm/res/compute/disk/tests/e2e/max/main.test.bicep
  avm/res/compute/disk/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/disk/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#779 feat: New Module `avm/res/web/site`
  .github/CODEOWNERS
  .github/workflows/avm.res.web.site.yml
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.defaults/dependencies.bicep
  avm/res/web/site/tests/e2e/functionApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/functionApp.max/dependencies.bicep
  avm/res/web/site/tests/e2e/functionApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/web/site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.defaults/dependencies.bicep
  avm/res/web/site/tests/e2e/webApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/dependencies.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
  avm/res/web/site/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#783 feat: Workflow that runs each day and creates new issues for failing AVM pipelines
  .github/workflows/avm.platform.manage-workflow-issue.yml
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: AVM :a: :v: :m:

#811 fix: Fixed issue of current deploymentName that resolved to only the test folder name
  avm/utilities/pipelines/e2eValidation/resourceDeployment/New-TemplateDeployment.ps1
Labels: Type: AVM :a: :v: :m:

#799 feat: `avm/res/health-bot/health-bot`
  .github/CODEOWNERS
  .github/workflows/avm.res.health-bot.health-bot.yml
  avm/res/health-bot/health-bot/ORPHANED.md
  avm/res/health-bot/health-bot/README.md
  avm/res/health-bot/health-bot/main.bicep
  avm/res/health-bot/health-bot/main.json
  avm/res/health-bot/health-bot/tests/e2e/defaults/main.test.bicep
  avm/res/health-bot/health-bot/tests/e2e/max/dependencies.bicep
  avm/res/health-bot/health-bot/tests/e2e/max/main.test.bicep
  avm/res/health-bot/health-bot/tests/e2e/waf-aligned/main.test.bicep
  avm/res/health-bot/health-bot/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#797 feat: `avm/res/data-protection/vault`
  .github/CODEOWNERS
  .github/workflows/avm.res.data-protection.backup-vault.yml
  avm/res/data-protection/backup-vault/ORPHANED.md
  avm/res/data-protection/backup-vault/README.md
  avm/res/data-protection/backup-vault/backup-policy/README.md
  avm/res/data-protection/backup-vault/backup-policy/main.bicep
  avm/res/data-protection/backup-vault/backup-policy/main.json
  avm/res/data-protection/backup-vault/main.bicep
  avm/res/data-protection/backup-vault/main.json
  avm/res/data-protection/backup-vault/tests/e2e/defaults/main.test.bicep
  avm/res/data-protection/backup-vault/tests/e2e/max/dependencies.bicep
  avm/res/data-protection/backup-vault/tests/e2e/max/main.test.bicep
  avm/res/data-protection/backup-vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/data-protection/backup-vault/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#822 fix: Fixed failing static tests for Data-Protection Vault
  avm/res/data-protection/backup-vault/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#816 feat: New Module `avm/res/container-registry/registry`
  .github/CODEOWNERS
  .github/workflows/avm.res.container-registry.registry.yml
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rules/README.md
  avm/res/container-registry/registry/cache-rules/main.bicep
  avm/res/container-registry/registry/cache-rules/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/README.md
  avm/res/container-registry/registry/replication/main.bicep
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/tests/e2e/defaults/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/encr/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/encr/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/max/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/pe/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/pe/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-registry/registry/version.json
  avm/res/container-registry/registry/webhook/README.md
  avm/res/container-registry/registry/webhook/main.bicep
  avm/res/container-registry/registry/webhook/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#809 feat: Reduce the number of web-request by prefetching more data
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:

#823 fix: roleassignemts in `avm-res-resources-resourcegroup`
  avm/res/resources/resource-group/main.bicep
  avm/res/resources/resource-group/main.json
  avm/res/resources/resource-group/modules/nested_roleAssignments.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#828 fix: Trigger ContainerRegistry publish
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#791 feat: `avm/res/databricks/access-connector`
  .github/CODEOWNERS
  .github/workflows/avm.res.databricks.access-connector.yml
  avm/res/databricks/access-connector/ORPHANED.md
  avm/res/databricks/access-connector/README.md
  avm/res/databricks/access-connector/main.bicep
  avm/res/databricks/access-connector/main.json
  avm/res/databricks/access-connector/tests/e2e/defaults/main.test.bicep
  avm/res/databricks/access-connector/tests/e2e/max/dependencies.bicep
  avm/res/databricks/access-connector/tests/e2e/max/main.test.bicep
  avm/res/databricks/access-connector/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/access-connector/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#800 feat: `avm/res/net-app/net-app-account`
  .github/CODEOWNERS
  .github/workflows/avm.res.net-app.net-app-account.yml
  avm/res/net-app/net-app-account/ORPHANED.md
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/tests/e2e/defaults/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/max/dependencies.bicep
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/dependencies.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/net-app/net-app-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#793 feat: `avm/res/cache/redis`
  .github/CODEOWNERS
  .github/workflows/avm.res.cache.redis.yml
  avm/res/cache/redis/ORPHANED.md
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/defaults/main.test.bicep
  avm/res/cache/redis/tests/e2e/max/dependencies.bicep
  avm/res/cache/redis/tests/e2e/max/main.test.bicep
  avm/res/cache/redis/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/cache/redis/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#798 feat: `avm/res/db-for-my-sql/flexible-server`
  .github/CODEOWNERS
  .github/workflows/avm.res.db-for-my-sql.flexible-server.yml
  avm/res/db-for-my-sql/flexible-server/ORPHANED.md
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/main.bicep
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/database/README.md
  avm/res/db-for-my-sql/flexible-server/database/main.bicep
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/README.md
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.bicep
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies1.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies2.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/dependencies.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#792 feat: `avm/res/databricks/workspace`
  .github/CODEOWNERS
  .github/workflows/avm.res.databricks.workspace.yml
  avm/res/databricks/workspace/ORPHANED.md
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#839 fix: Removed `Orphaned.md` files from modules that are no longer orphaned
  avm/res/app/managed-environment/ORPHANED.md
  avm/res/app/managed-environment/README.md
  avm/res/compute/gallery/ORPHANED.md
  avm/res/compute/gallery/README.md
  avm/res/data-protection/backup-vault/ORPHANED.md
  avm/res/data-protection/backup-vault/README.md
  avm/res/network/front-door/ORPHANED.md
  avm/res/network/front-door/README.md
Labels: Type: AVM :a: :v: :m:

#840 fix: avm\res\databricks\workspace update AzureDatabricks objId
  .github/workflows/avm.res.databricks.workspace.yml
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
Labels: Bug Fix, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#790 feat: `avm/res/analysis-services/server`
  .github/CODEOWNERS
  .github/workflows/avm.res.analysis-services.server.yml
  avm/res/analysis-services/server/ORPHANED.md
  avm/res/analysis-services/server/README.md
  avm/res/analysis-services/server/main.bicep
  avm/res/analysis-services/server/main.json
  avm/res/analysis-services/server/tests/e2e/defaults/main.test.bicep
  avm/res/analysis-services/server/tests/e2e/max/dependencies.bicep
  avm/res/analysis-services/server/tests/e2e/max/main.test.bicep
  avm/res/analysis-services/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/analysis-services/server/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#795 feat: `avm/res/compute/image`
  .github/CODEOWNERS
  .github/workflows/avm.res.compute.image.yml
  avm/res/compute/image/ORPHANED.md
  avm/res/compute/image/README.md
  avm/res/compute/image/main.bicep
  avm/res/compute/image/main.json
  avm/res/compute/image/tests/e2e/defaults/dependencies.bicep
  avm/res/compute/image/tests/e2e/defaults/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/defaults/main.test.bicep
  avm/res/compute/image/tests/e2e/max/dependencies.bicep
  avm/res/compute/image/tests/e2e/max/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/max/main.test.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies_rbac.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/image/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#827 fix: `avm/res/network/vpn-gateway`
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
  avm/res/network/vpn-gateway/nat-rule/README.md
  avm/res/network/vpn-gateway/nat-rule/main.bicep
  avm/res/network/vpn-gateway/nat-rule/main.json
  avm/res/network/vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-gateway/vpn-connection/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#841 chore: Update AVM module issue template to only list currently published modules
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
Labels: Type: AVM :a: :v: :m:

#843 fix: adding more guidance on private network access
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/tests/e2e/defaults/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/defaults/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/private-network/dependencies.bicep
Labels: Type: AVM :a: :v: :m:

#647 fix: Adding pwsh support for Codespaces and fixed a typo
  .devcontainer/devcontainer.json
  .github/pull_request_template.md
  .gitignore
Labels: Needs: Triage :mag:

#842 feat: Added static compliance tests for issue template & CODEOWNERS file
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#801 feat: Simplified System-Managed-Identity output
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/compute/disk-encryption-set/main.bicep
  avm/res/compute/disk-encryption-set/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/event-grid/domain/main.bicep
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
  avm/res/event-grid/topic/main.bicep
  avm/res/event-grid/topic/main.json
  avm/res/logic/workflow/main.bicep
  avm/res/logic/workflow/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
Labels: Type: AVM :a: :v: :m:

#858 fix: Removed 2 `ORPHANED.md` files following adoption
  avm/res/db-for-my-sql/flexible-server/ORPHANED.md
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/network/firewall-policy/ORPHANED.md
  avm/res/network/firewall-policy/README.md
Labels: Type: AVM :a: :v: :m:

#844 fix: location script simplified
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.template.module.yml
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzAvailableResourceLocation.ps1
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzDeploymentRegion.ps1
Labels: Type: AVM :a: :v: :m:

#863 fix: Global deployment Resource Group Fix
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzAvailableResourceLocation.ps1
Labels: Type: AVM :a: :v: :m:

#833 feat: `avm/res/app/container-app`
  .github/CODEOWNERS
  .github/workflows/avm.res.app.container-app.yml
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/defaults/dependencies.bicep
  avm/res/app/container-app/tests/e2e/defaults/main.test.bicep
  avm/res/app/container-app/tests/e2e/max/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#879 fix: ContainerApp - Updated `location` parameter to `resourceLocation` in test file
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/defaults/main.test.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/main.test.bicep
Labels: Bug, Bug Fix, Type: AVM :a: :v: :m:, Type: Bug :bug:

#880 fix: Remove `tempLocation` workaround
  avm/res/compute/image/tests/e2e/defaults/main.test.bicep
  avm/res/compute/image/tests/e2e/max/main.test.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/defaults/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/connection/tests/e2e/defaults/main.test.bicep
  avm/res/network/connection/tests/e2e/max/main.test.bicep
  avm/res/network/connection/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/aadvpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#881 fix: Handle non-location bound resources in region rotator
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzAvailableResourceLocation.ps1
Labels: Type: AVM :a: :v: :m:

#845 fix: Remove outdated metadata from bicep tests & readme's
  avm/res/compute/ssh-public-key/README.md
  avm/res/compute/ssh-public-key/tests/e2e/defaults/main.test.bicep
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/logic/workflow/README.md
  avm/res/logic/workflow/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-forwarding-ruleset/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/tests/e2e/defaults/main.test.bicep
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#874 feat: avm/res/compute/availability-set
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.compute.availability-set.yml
  avm/res/compute/availability-set/README.md
  avm/res/compute/availability-set/main.bicep
  avm/res/compute/availability-set/main.json
  avm/res/compute/availability-set/tests/e2e/defaults/main.test.bicep
  avm/res/compute/availability-set/tests/e2e/max/dependencies.bicep
  avm/res/compute/availability-set/tests/e2e/max/main.test.bicep
  avm/res/compute/availability-set/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/availability-set/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/availability-set/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:
