Repository Azure/bicep-registry-modules, pull requests merged in 2024-10, with the labels that each got.

#3025 feat: Added cdn profile security policies support - `avm/res/cdn/profile`
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/README.md
  avm/res/cdn/profile/securityPolicies/main.bicep
  avm/res/cdn/profile/securityPolicies/main.json
  avm/res/cdn/profile/tests/e2e/afd.premium/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:, Needs: Core Team :genie:

#1950 fix: Add key vault to search service - `avm/res/search/search-service`
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/modules/keyVaultExport.bicep
  avm/res/search/search-service/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/search/search-service/tests/e2e/kvSecrets/main.test.bicep
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Type: Question/Feedback :raising_hand:, Class: Resource Module :package:, Needs: Core Team :genie:

#3117 feat: DataFactory - Added UDTs - `avm/res/data-factory/factory`
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/linked-service/main.bicep
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3382 fix: `prefixLength` minimum value in `avm/res/network/public-ip-prefix`
  avm/res/network/public-ip-prefix/main.bicep
  avm/res/network/public-ip-prefix/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2790 feat: Add new module `document-db/mongo-cluster`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.document-db.mongo-cluster.yml
  avm/res/document-db/mongo-cluster/README.md
  avm/res/document-db/mongo-cluster/firewall-rule/README.md
  avm/res/document-db/mongo-cluster/firewall-rule/main.bicep
  avm/res/document-db/mongo-cluster/firewall-rule/main.json
  avm/res/document-db/mongo-cluster/main.bicep
  avm/res/document-db/mongo-cluster/main.json
  avm/res/document-db/mongo-cluster/modules/keyVaultExport.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/max/dependencies.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/max/main.test.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/mongo-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, AZD :technologist:

#3391 feat: update TLS versions to supported values `avm/res/storage/storage-account`
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3169 feat: New module `avm/res/service-networking/traffic-controller`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.service-networking.traffic-controller.yml
  avm/res/service-networking/traffic-controller/README.md
  avm/res/service-networking/traffic-controller/association/README.md
  avm/res/service-networking/traffic-controller/association/main.bicep
  avm/res/service-networking/traffic-controller/association/main.json
  avm/res/service-networking/traffic-controller/frontend/README.md
  avm/res/service-networking/traffic-controller/frontend/main.bicep
  avm/res/service-networking/traffic-controller/frontend/main.json
  avm/res/service-networking/traffic-controller/main.bicep
  avm/res/service-networking/traffic-controller/main.json
  avm/res/service-networking/traffic-controller/tests/e2e/defaults/main.test.bicep
  avm/res/service-networking/traffic-controller/tests/e2e/max/dependencies.bicep
  avm/res/service-networking/traffic-controller/tests/e2e/max/main.test.bicep
  avm/res/service-networking/traffic-controller/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/service-networking/traffic-controller/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-networking/traffic-controller/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3317 fix: isHnsEnabled - `avm/res/storage/storage-account`
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3390 feat: support function app flex consumption plan
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/main.json
  avm/res/web/site/extensions--msdeploy/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/extensions--msdeploy/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3381 fix: InvalidKeyRotationPolicy
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Attention :wave:

#3445 fix: `avm/res/machine-learning-services/workspace` Add correct permissions for CI
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/encr/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3444 feat: Updated Virtual-Machine-Images AVM module references
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/defaults/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/dependencies.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyBase/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3442 fix: Readme - bicepparam Examples - Exception handling and missing Readme modification
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3450 fix: Fixed use of Gallery-Image SecurityType parameter value 'Standard' and added additional types
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3491 fix: for #3443 `lz/sub-vending`
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/lz/sub-vending/scripts/Register-SubscriptionResourceProviderList.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3396 fix: Removed misplaced pipeline triggers for 2 pattern modules
  .github/workflows/avm.ptn.aca-lza.hosting-environment.yml
  .github/workflows/avm.res.network.application-gateway.yml
Labels: Needs: Triage :mag:, Type: Bug :bug:, Needs: Core Team :genie:

#3336 feat: Update VM (use existing PIP)
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.guestconfiguration/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.hostpool/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.vmss/main.test.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:, Needs: Core Team :genie:

#3400 feat: VPN Server Configuration resource
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.vpn-server-configuration.yml
  avm/res/network/vpn-server-configuration/README.md
  avm/res/network/vpn-server-configuration/main.bicep
  avm/res/network/vpn-server-configuration/main.json
  avm/res/network/vpn-server-configuration/tests/e2e/defaults/dependencies.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/max/dependencies.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-server-configuration/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3494 fix: Forwarding Ruleset property change from string to int
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-forwarding-ruleset/forwarding-rule/main.json
  avm/res/network/dns-forwarding-ruleset/main.bicep
  avm/res/network/dns-forwarding-ruleset/main.json
  avm/res/network/dns-forwarding-ruleset/tests/e2e/max/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/version.json
  avm/res/network/dns-forwarding-ruleset/virtual-network-link/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3452 feat: Updated module name from `avm/ptn/azd/container-apps` to `avm/ptn/azd/container-apps-stack`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.container-apps-stack.yml
  avm/ptn/azd/container-apps-stack/README.md
  avm/ptn/azd/container-apps-stack/main.bicep
  avm/ptn/azd/container-apps-stack/main.json
  avm/ptn/azd/container-apps-stack/tests/e2e/zone-redundant/dependencies.bicep
  avm/ptn/azd/container-apps-stack/tests/e2e/zone-redundant/main.test.bicep
  avm/ptn/azd/container-apps-stack/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2989 fix: Front door web application firewall policy api version and types - `avm/res/network/front-door-web-application-firewall-policy`
  avm/res/network/front-door-web-application-firewall-policy/README.md
  avm/res/network/front-door-web-application-firewall-policy/main.bicep
  avm/res/network/front-door-web-application-firewall-policy/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3447 fix: Add param file examples to README and fixed safe access operator usage
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3266 feat: New Module Microsoft.Fabric/capacities - `avm/res/fabric/capacity`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.fabric.capacity.yml
  avm/res/fabric/capacity/README.md
  avm/res/fabric/capacity/main.bicep
  avm/res/fabric/capacity/main.json
  avm/res/fabric/capacity/tests/e2e/defaults/main.test.bicep
  avm/res/fabric/capacity/tests/e2e/waf-aligned/main.test.bicep
  avm/res/fabric/capacity/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:, Needs: Core Team :genie:

#3241 feat: Add new ptn modules `azd/ml-hub-dependencies`.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.ml-hub-dependencies.yml
  avm/ptn/azd/ml-hub-dependencies/README.md
  avm/ptn/azd/ml-hub-dependencies/main.bicep
  avm/ptn/azd/ml-hub-dependencies/main.json
  avm/ptn/azd/ml-hub-dependencies/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/ml-hub-dependencies/tests/e2e/max/main.test.bicep
  avm/ptn/azd/ml-hub-dependencies/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:, AZD :technologist:

#3453 feat: Update API Version for Compute/SSH-key
  avm/res/compute/ssh-public-key/README.md
  avm/res/compute/ssh-public-key/main.bicep
  avm/res/compute/ssh-public-key/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3497 fix: Container-App-Stack - Trigger publish
  avm/ptn/azd/container-apps-stack/README.md
  avm/ptn/azd/container-apps-stack/main.bicep
  avm/ptn/azd/container-apps-stack/main.json
  avm/ptn/azd/insights-dashboard/main.bicep
  avm/ptn/azd/insights-dashboard/main.json
  avm/ptn/azd/insights-dashboard/modules/applicationinsights-dashboard.bicep
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:, Class: Pattern Module :package:

#3394 fix: secure variable migration token
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3373 fix: Add support for forced tunneling
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/tunneling/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/tunneling/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3234 feat: Add new ptn modules `avm/ptn/azd/acr-container-app`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.acr-container-app.yml
  avm/ptn/azd/acr-container-app/README.md
  avm/ptn/azd/acr-container-app/main.bicep
  avm/ptn/azd/acr-container-app/main.json
  avm/ptn/azd/acr-container-app/modules/registry-access.bicep
  avm/ptn/azd/acr-container-app/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/acr-container-app/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/acr-container-app/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Needs: Core Team :genie:, AZD :technologist:

#3255 feat: Add new ptn modules `avm/ptn/azd/monitoring`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.monitoring.yml
  avm/ptn/azd/monitoring/README.md
  avm/ptn/azd/monitoring/main.bicep
  avm/ptn/azd/monitoring/main.json
  avm/ptn/azd/monitoring/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/monitoring/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Needs: Core Team :genie:, AZD :technologist:

#3403 feat: separate backup snapshot policies netapps
  avm/res/net-app/net-app-account/backup-policies/README.md
  avm/res/net-app/net-app-account/backup-policies/main.bicep
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/README.md
  avm/res/net-app/net-app-account/snapshot-policies/main.bicep
  avm/res/net-app/net-app-account/snapshot-policies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3492 docs: ORPHANED Vnet Module
  avm/res/network/virtual-network/ORPHANED.md
  avm/res/network/virtual-network/README.md
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3244 feat: Add new ptn modules `avm/ptn/azd/ml-project`.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.ml-project.yml
  avm/ptn/azd/ml-project/README.md
  avm/ptn/azd/ml-project/main.bicep
  avm/ptn/azd/ml-project/main.json
  avm/ptn/azd/ml-project/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/ml-project/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/ml-project/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Pattern Module :package:, Needs: Core Team :genie:, AZD :technologist:

#3508 fix: cognitive services readme update
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3511 fix: Trigger azd ml project publishing
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  avm/ptn/azd/ml-project/README.md
  avm/ptn/azd/ml-project/main.bicep
  avm/ptn/azd/ml-project/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Pattern Module :package:, Needs: Core Team :genie:, AZD :technologist:

#3250 feat: Add new ptn modules `avm/ptn/azd/aks`.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.aks.yml
  avm/ptn/azd/aks/README.md
  avm/ptn/azd/aks/main.bicep
  avm/ptn/azd/aks/main.json
  avm/ptn/azd/aks/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/aks/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/aks/tests/e2e/max/dependencies.bicep
  avm/ptn/azd/aks/tests/e2e/max/main.test.bicep
  avm/ptn/azd/aks/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Pattern Module :package:, Needs: Core Team :genie:, AZD :technologist:

#3513 fix: Cognitive services small update to trigger publishing
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3514 fix: Update the module identifiers in the issue template to the correct alphabetical order.
  .github/CODEOWNERS
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3392 fix: Container-Instace - Updated parameter type to be more specific
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3401 feat: DevOpsPool - Fixed parameter requirement for images
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3260 feat: Add new ptn modules `avm/ptn/azd/container-app-upsert`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.container-app-upsert.yml
  avm/ptn/azd/container-app-upsert/README.md
  avm/ptn/azd/container-app-upsert/main.bicep
  avm/ptn/azd/container-app-upsert/main.json
  avm/ptn/azd/container-app-upsert/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/container-app-upsert/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/container-app-upsert/tests/e2e/max/dependencies.bicep
  avm/ptn/azd/container-app-upsert/tests/e2e/max/main.test.bicep
  avm/ptn/azd/container-app-upsert/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, AZD :technologist:

#2859 feat: Add the creation of `Microsoft.KeyVault/vaults/secrets` in Sql Server Module - `avm/res/sql/server`
  avm/res/sql/server/README.md
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/modules/keyVaultExport.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:, Needs: Core Team :genie:

#3325 feat: Update SQL Server API - `avm/res/sql/server`
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3516 fix: Added `Microsoft.DevOpsInfrastructure/pools` to removal order
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#3262 feat: Add new ptn modules `avm/ptn/azd/ml-ai-environment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.azd.ml-ai-environment.yml
  avm/ptn/azd/ml-ai-environment/README.md
  avm/ptn/azd/ml-ai-environment/main.bicep
  avm/ptn/azd/ml-ai-environment/main.json
  avm/ptn/azd/ml-ai-environment/modules/hub.bicep
  avm/ptn/azd/ml-ai-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/ml-ai-environment/tests/e2e/max/main.test.bicep
  avm/ptn/azd/ml-ai-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, AZD :technologist:

#3506 fix: Aligned AKS interface to AVM specs & added UDT
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.bicep
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3507 fix: Add support for CI secret
  avm/res/fabric/capacity/README.md
  avm/res/fabric/capacity/main.bicep
  avm/res/fabric/capacity/main.json
  avm/res/fabric/capacity/tests/e2e/defaults/main.test.bicep
  avm/res/fabric/capacity/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3512 fix: Trigger AZD AKS publishing
  avm/ptn/azd/aks/README.md
  avm/ptn/azd/aks/main.bicep
  avm/ptn/azd/aks/main.json
  avm/ptn/azd/aks/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/aks/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Pattern Module :package:, AZD :technologist:

#3553 fix: AZD ML Project - Adjusted KeyVault access policies deployment
  avm/ptn/azd/ml-project/README.md
  avm/ptn/azd/ml-project/main.bicep
  avm/ptn/azd/ml-project/main.json
  avm/ptn/azd/ml-project/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Pattern Module :package:, AZD :technologist:

#2613 feat: `avm/res/db-for-postgre-sql/flexible-server` Add PEs in public mode
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3404 fix: Added DependsOn to Virtual Network module to prevent Network peering to start whilst subnets are being created
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#3520 feat: Updated RBAC schema to latest for ServerFarm
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3521 feat: Updated CognitiveServices PE implementation to latest schema
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment-private/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/max/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/openai-private/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/speech/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cognitive-services/account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3398 fix: Key Vault - Fixed incorrect test value
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3399 fix: Databricks - Aligned PE test with latest schema
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3550 feat: Add security compliance options for `avm/res/databricks/workspace`
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3561 fix: bump vnet version for sub-vending
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3559 feat: Removed explicit 'latest' pwsh installation for `Set-EnvironmentOnAgent` script
  avm/utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3397 feat: New utility module - AVM Common Types
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.utl.types.avm-common-types.yml
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
  avm/utl/types/avm-common-types/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3564 Replaced union with shallow merge
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3496 fix: AutomationAccount - Credential et al
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/credential/README.md
  avm/res/automation/automation-account/credential/main.bicep
  avm/res/automation/automation-account/credential/main.json
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/README.md
  avm/res/automation/automation-account/software-update-configuration/main.bicep
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
  avm/res/automation/automation-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3587 ci: Update psrule.yml nonsensitive param list
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3565 fix: Update `avm/res/document-db/database-account`
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/tests/e2e/analytical/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/boundedConsistency/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/managedIdentity/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/multiRegion/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/publicRestrictedAccess/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/role/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3590 fix: Virtual-Network-Subnet - Updated NetworkPolicy AllowdSets
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/version.json
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Type: Bug :bug:, Needs: Core Team :genie:

#3498 feat: MDFC updates on App Service
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/config--logs/README.md
  avm/res/web/site/config--logs/main.bicep
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/README.md
  avm/res/web/site/config--web/main.bicep
  avm/res/web/site/config--web/main.json
  avm/res/web/site/extensions--msdeploy/main.bicep
  avm/res/web/site/extensions--msdeploy/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/extensions--msdeploy/main.bicep
  avm/res/web/site/slot/extensions--msdeploy/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.bicep
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3307 feat: `avm/ptn/data/private-analytical-workspace` V0.1
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.data.private-analytical-workspace.yml
  avm/ptn/data/private-analytical-workspace/README.md
  avm/ptn/data/private-analytical-workspace/main.bicep
  avm/ptn/data/private-analytical-workspace/main.json
  avm/ptn/data/private-analytical-workspace/tests/common.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/defaults/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/defaults/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/max/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/max/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-priv/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-pub/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-priv/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-pub/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-priv/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-priv/dependencies.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-pub/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-pub/dependencies.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-priv/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-priv/dependencies.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-pub/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-pub/dependencies.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/waf-aligned/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/data/private-analytical-workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Pattern Module :package:, Needs: Core Team :genie:

#2091 feat: `avm/res/db-for-postgre-sql/flexible-server` Align createMode allowed values with API version
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3562 feat: Update `avm/res/document-db/database-account` module to support `table` entities
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/table/README.md
  avm/res/document-db/database-account/table/main.bicep
  avm/res/document-db/database-account/table/main.json
  avm/res/document-db/database-account/tests/e2e/table/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3597 feat: Postgre-SQL- Implement common-types etc.
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/README.md
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/README.md
  avm/res/db-for-postgre-sql/flexible-server/database/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/encr/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3500 feat: ASEv3 AZ Defaults & Networking Fix
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/main.bicep
  avm/res/web/hosting-environment/configuration--customdnssuffix/main.json
  avm/res/web/hosting-environment/configuration--networking/README.md
  avm/res/web/hosting-environment/configuration--networking/main.bicep
  avm/res/web/hosting-environment/configuration--networking/main.json
  avm/res/web/hosting-environment/main.bicep
  avm/res/web/hosting-environment/main.json
  avm/res/web/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/res/web/hosting-environment/tests/e2e/max/main.test.bicep
  avm/res/web/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/hosting-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3604 fix: Updating used module versions
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3601 fix: Update multi-region test in `avm/res/document-db/database-account`
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/tests/e2e/multiRegion/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/multiRegion/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3610 CI: Fixed static test validating parameter descriptions
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/res/app-configuration/configuration-store/main.json
  avm/res/app/job/README.md
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.json
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.json
  avm/res/cognitive-services/account/main.json
  avm/res/container-registry/registry/main.json
  avm/res/data-factory/factory/main.json
  avm/res/databricks/workspace/main.json
  avm/res/digital-twins/digital-twins-instance/main.json
  avm/res/document-db/database-account/main.json
  avm/res/document-db/mongo-cluster/main.json
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/namespace/main.json
  avm/res/event-grid/topic/main.json
  avm/res/event-hub/namespace/main.json
  avm/res/insights/private-link-scope/main.json
  avm/res/key-vault/vault/main.json
  avm/res/kusto/cluster/main.json
  avm/res/network/application-gateway/main.json
  avm/res/purview/account/main.json
  avm/res/recovery-services/vault/main.json
  avm/res/relay/namespace/main.json
  avm/res/search/search-service/main.json
  avm/res/service-bus/namespace/main.json
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/web-pub-sub/main.json
  avm/res/sql/server/main.json
  avm/res/storage/storage-account/main.json
  avm/res/synapse/private-link-hub/main.json
  avm/res/synapse/workspace/main.json
  avm/res/web/site/main.json
  avm/res/web/site/slot/main.json
  avm/res/web/static-site/main.json
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#3181 feat: `avm/res/network/firewall-policy` add missing interfaces
  avm/res/network/firewall-policy/README.md
  avm/res/network/firewall-policy/main.bicep
  avm/res/network/firewall-policy/main.json
  avm/res/network/firewall-policy/rule-collection-group/main.json
  avm/res/network/firewall-policy/tests/e2e/max/dependencies.bicep
  avm/res/network/firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/firewall-policy/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3623 ci: Update removal order for dev-ops-infrastructure/pool
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3627 fix: Common Types - Added missing `export()` annotation
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
  avm/utl/types/avm-common-types/version.json
Labels: Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#3505 fix: Service Bus Auth Rules for Topics
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/authorization-rule/main.json
  avm/res/service-bus/namespace/disaster-recovery-config/main.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/migration-configuration/main.json
  avm/res/service-bus/namespace/network-rule-set/main.bicep
  avm/res/service-bus/namespace/network-rule-set/main.json
  avm/res/service-bus/namespace/queue/authorization-rule/main.json
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/authorization-rule/main.json
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3626 fix: avm/ptn/data/private-analytical-workspace - failing tests with random locations
  avm/ptn/data/private-analytical-workspace/README.md
  avm/ptn/data/private-analytical-workspace/main.bicep
  avm/ptn/data/private-analytical-workspace/main.json
  avm/ptn/data/private-analytical-workspace/tests/e2e/defaults/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/max/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/max/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/min-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-priv/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-pub/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc01-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc02-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-priv/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/uc03-pub/main.test.bicep
  avm/ptn/data/private-analytical-workspace/tests/e2e/waf-aligned/custom.tests.ps1
  avm/ptn/data/private-analytical-workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3637 fix: Service-Bus - Fixed identity implementation & updated UDTs
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/tests/e2e/encr/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3104 feat: `avm/res/container-service/managed-cluster` Updates container service to support automatic Kubernetes clusters.
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3560 fix: Update the name of the `aksAcrPull` module from hard-coded to a variable.
  avm/ptn/azd/acr-container-app/main.json
  avm/ptn/azd/acr-container-app/modules/registry-access.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3589 fix: Update `ptn/azd/aks` parameter
  avm/ptn/azd/aks/README.md
  avm/ptn/azd/aks/main.bicep
  avm/ptn/azd/aks/main.json
  avm/ptn/azd/aks/tests/e2e/defaults/dependencies.bicep
  avm/ptn/azd/aks/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/aks/tests/e2e/max/dependencies.bicep
  avm/ptn/azd/aks/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3622 fix: Postgre SQL server authentication method
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Language: Bicep :muscle:

#3612 feat: update storage account with common types
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.bicep
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/modules/keyVaultExport.bicep
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.bicep
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.bicep
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.bicep
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.bicep
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3644 fix: AIB PTN - Refreshed readme
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Documentation :page_facing_up:, Needs: Core Team :genie:

#3621 fix: CI - Fixed and expanded upon required/optional validation
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#3606 fix: Private Endpoint updated NIC resourceID & groupID output
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/private-dns-zone-group/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#3647 fix: Update module `acr-container-app` version to the latest version in `ptn/azd/container-app-upsert`
  avm/ptn/azd/container-app-upsert/README.md
  avm/ptn/azd/container-app-upsert/main.bicep
  avm/ptn/azd/container-app-upsert/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2719 feat(avm/app/managed-environment): add certificate key vault properties - `avm/res/app/managed-environment`
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3660 fix: `avm.res.service-bus.namespace` upgrade common types to latest and fix failing static validation
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3662 fix: `avm.res.automation.automation-account` upgrade common types to latest and fix failing static validation
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3657 fix: `avm.res.network.virtual-network` upgrade types and fix description
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/virtual-network-peering/README.md
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#3665 fix: `avm/ptn/network/private-link-private-dns-zones` zone names
  avm/ptn/network/private-link-private-dns-zones/README.md
  avm/ptn/network/private-link-private-dns-zones/main.bicep
  avm/ptn/network/private-link-private-dns-zones/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3656 API Management Service - link fix
  avm/res/api-management/service/README.md
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:

#3664 fix: `avm.res.purview.account` upgrade common types to latest
  avm/res/purview/account/main.bicep
  avm/res/purview/account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3663 fix: `avm.res.virtual-machine-images.image-template` upgrade common types to latest and update type to not nullable to fix failing static validation
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3672 feat: Add locks to `avm/res/fabric/capacity`
  avm/res/fabric/capacity/README.md
  avm/res/fabric/capacity/main.bicep
  avm/res/fabric/capacity/main.json
  avm/res/fabric/capacity/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3650 ci: List imported remote references as cross referenced modules in readme
  avm/ptn/network/private-link-private-dns-zones/README.md
  avm/res/automation/automation-account/README.md
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/fabric/capacity/README.md
  avm/res/network/private-endpoint/README.md
  avm/res/network/virtual-network/README.md
  avm/res/purview/account/README.md
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/topic/README.md
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/queue/README.md
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/table/README.md
  avm/res/virtual-machine-images/image-template/README.md
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3684 fix: `avm.res.network.public-ip-prefix` regenerate readme after cross reference import
  avm/res/network/public-ip-prefix/README.md
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:
