Repository Azure/bicep-registry-modules, pull requests merged in 2024-06, with the labels that each got.

#2023 fix: Upgrade pwsh version to fix failing pipeline runs - `avm/res/compute/disk`
  avm/res/compute/disk/main.json
  avm/res/compute/disk/tests/e2e/import/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2182 fix: Sets line ending to LF
  .vscode/settings.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2098 fix: `avm/res/network/network-security-group` updated API version and waf-aligned tests
  avm/res/network/network-security-group/README.md
  avm/res/network/network-security-group/main.bicep
  avm/res/network/network-security-group/main.json
  avm/res/network/network-security-group/security-rule/README.md
  avm/res/network/network-security-group/security-rule/main.bicep
  avm/res/network/network-security-group/security-rule/main.json
  avm/res/network/network-security-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/network-security-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-security-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1584 feat: Expand usage of UDT for the AVNM Bicep Module - `avm/res/network/network-manager`
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/connectivity-configuration/README.md
  avm/res/network/network-manager/connectivity-configuration/main.bicep
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/README.md
  avm/res/network/network-manager/network-group/main.bicep
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/scope-connection/README.md
  avm/res/network/network-manager/scope-connection/main.bicep
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/README.md
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/tests/e2e/max/dependencies.bicep
  avm/res/network/network-manager/tests/e2e/max/main.test.bicep
  avm/res/network/network-manager/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2193 feat: updated triage automation notifications
  .github/policies/eventResponder.yml
  .github/policies/scheduledSearches.yml
Labels: Needs: Triage :mag:, Type: Hygiene :broom:

#2191 feat: updated logic to check if module list is not in sync with CSV files
  avm/utilities/pipelines/platform/Sync-AvmModulesList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1931 feat: Added UDTs for Private and Public DNS zone records and fixed typos in PR template - `avm/res/network/dns-zone`, `avm/res/network/private-dns-zone`
  .github/pull_request_template.md
  avm/res/network/dns-zone/README.md
  avm/res/network/dns-zone/a/main.bicep
  avm/res/network/dns-zone/a/main.json
  avm/res/network/dns-zone/aaaa/main.bicep
  avm/res/network/dns-zone/aaaa/main.json
  avm/res/network/dns-zone/caa/main.json
  avm/res/network/dns-zone/cname/main.bicep
  avm/res/network/dns-zone/cname/main.json
  avm/res/network/dns-zone/main.bicep
  avm/res/network/dns-zone/main.json
  avm/res/network/dns-zone/mx/main.json
  avm/res/network/dns-zone/ns/main.json
  avm/res/network/dns-zone/ptr/main.json
  avm/res/network/dns-zone/soa/main.json
  avm/res/network/dns-zone/srv/main.json
  avm/res/network/dns-zone/tests/e2e/max/main.test.bicep
  avm/res/network/dns-zone/txt/main.json
  avm/res/network/dns-zone/version.json
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/a/main.json
  avm/res/network/private-dns-zone/aaaa/main.json
  avm/res/network/private-dns-zone/cname/README.md
  avm/res/network/private-dns-zone/cname/main.bicep
  avm/res/network/private-dns-zone/cname/main.json
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/mx/main.json
  avm/res/network/private-dns-zone/ptr/main.json
  avm/res/network/private-dns-zone/soa/main.json
  avm/res/network/private-dns-zone/srv/main.json
  avm/res/network/private-dns-zone/tests/e2e/max/main.test.bicep
  avm/res/network/private-dns-zone/txt/main.json
  avm/res/network/private-dns-zone/version.json
  avm/res/network/private-dns-zone/virtual-network-link/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2184 feat: avm/res/alerts management/action rule
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.alerts-management.action-rule.yml
  avm/res/alerts-management/action-rule/README.md
  avm/res/alerts-management/action-rule/main.bicep
  avm/res/alerts-management/action-rule/main.json
  avm/res/alerts-management/action-rule/tests/e2e/defaults/main.test.bicep
  avm/res/alerts-management/action-rule/tests/e2e/max/dependencies.bicep
  avm/res/alerts-management/action-rule/tests/e2e/max/main.test.bicep
  avm/res/alerts-management/action-rule/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/alerts-management/action-rule/tests/e2e/waf-aligned/main.test.bicep
  avm/res/alerts-management/action-rule/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2198 fix: Updated the way the removal logic handles RG-level deployment resolution
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#2074 fix: App job documentation updates - `avm/res/app/job`
  avm/res/app/job/README.md
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
  avm/res/app/job/tests/e2e/defaults/main.test.bicep
  avm/res/app/job/tests/e2e/max/dependencies.bicep
  avm/res/app/job/tests/e2e/max/main.test.bicep
  avm/res/app/job/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/job/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2183 feat: Automation account credentials - New feature
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/credential/README.md
  avm/res/automation/automation-account/credential/main.bicep
  avm/res/automation/automation-account/credential/main.json
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/automation/automation-account/variable/main.json
  avm/res/automation/automation-account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2202 fix: Added custom removal logic for databricks module & moved tenant-specific object IDs
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#2258 fix: `avm/res/web/site` Container and API Web App support
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/linuxContainerWebApp.defaults/dependencies.bicep
  avm/res/web/site/tests/e2e/linuxContainerWebApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/winContainerWebApp.defaults/dependencies.bicep
  avm/res/web/site/tests/e2e/winContainerWebApp.defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2265 feat: `avm/res/app/managed-environment` Output staticIP of Managed Environment
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2089 feat: additional parameters, including CMK, for `avm/res/net-app/net-app-account`
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2080 feat: New Module avm-ptn-lz-sub-vending
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/actions/templates/avm-setEnvironment/action.yml
  .github/workflows/avm.ptn.lz.sub-vending.yml
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/hubRouteTables.bicep
  avm/ptn/lz/sub-vending/modules/hubVirtualNetworkConnections.bicep
  avm/ptn/lz/sub-vending/modules/locksResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/locksSubscription.bicep
  avm/ptn/lz/sub-vending/modules/managementGroupSubscription.bicep
  avm/ptn/lz/sub-vending/modules/readTagsResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/readTagsSubscription.bicep
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/lz/sub-vending/modules/subscriptionAlias.bicep
  avm/ptn/lz/sub-vending/modules/tags.bicep
  avm/ptn/lz/sub-vending/modules/tagsResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/tagsSubscription.bicep
  avm/ptn/lz/sub-vending/modules/virtualHubs.bicep
  avm/ptn/lz/sub-vending/scripts/Register-SubscriptionResourceProviderList.ps1
  avm/ptn/lz/sub-vending/tests/e2e/defaults/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/defaults/pester/main.tests.ps1
  avm/ptn/lz/sub-vending/tests/e2e/hub-spoke/dependencies.bicep
  avm/ptn/lz/sub-vending/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/hub-spoke/pester/main.tests.ps1
  avm/ptn/lz/sub-vending/tests/e2e/vwan-spoke/dependencies.bicep
  avm/ptn/lz/sub-vending/tests/e2e/vwan-spoke/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/vwan-spoke/pester/main.tests.ps1
  avm/ptn/lz/sub-vending/version.json
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#2313 feat: `res/app/job` example updates
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2311 fix: Storage Account Firewall object composition
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#2187 fix: Addressing avm environment quota for serverfarms
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2264 fix: `avm/res/compute/virtual-machine` fix some bugs in VM Bicep template
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2312 fix: Added addtional exception handling for removal
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-ResourceList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2186 feat: New module `avm/res/kusto/cluster`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.kusto.cluster.yml
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
  avm/res/kusto/cluster/principal-assignment/README.md
  avm/res/kusto/cluster/principal-assignment/main.bicep
  avm/res/kusto/cluster/principal-assignment/main.json
  avm/res/kusto/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/kusto/cluster/tests/e2e/max/bicepconfig.json
  avm/res/kusto/cluster/tests/e2e/max/dependencies.bicep
  avm/res/kusto/cluster/tests/e2e/max/main.test.bicep
  avm/res/kusto/cluster/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/kusto/cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kusto/cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2339 chore: update pointers to the new lz/sub-vending AVM module
  modules/lz/sub-vending/README.md
  modules/lz/sub-vending/REPLACED.md
  modules/lz/sub-vending/RETIRED.md
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#2344 Fix: #2343 `avm/ptn/lz/sub-vending` nsg policy violation
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2337 fix: #2261 `avm/res/storage/storage-account` disable enableCrossTenantReplication by default
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Type: Security Bug :lock:, Needs: Core Team :genie:

#2192 feat: issue template for CI environment
  .github/ISSUE_TEMPLATE/avm_ci_environment_issue.yml
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:, Needs: Core Team :genie:, Type: CI :rocket:

#1951 fix: avm.res.service-fabric.cluster failed pipeline - `avm/res/service-fabric/cluster`
  avm/res/service-fabric/cluster/README.md
  avm/res/service-fabric/cluster/main.bicep
  avm/res/service-fabric/cluster/main.json
  avm/res/service-fabric/cluster/tests/e2e/cert/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/max/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-fabric/cluster/version.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#2351 feat: added function container kind to asp.
  avm/res/web/site/README.md
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--authsettingsv2/main.bicep
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/config--authsettingsv2/main.bicep
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1790 fix: ContainerRegistry - Updated to latest PE schema - `avm/res/container-registry/registry`
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rules/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/tests/e2e/encr/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-registry/registry/version.json
  avm/res/container-registry/registry/webhook/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#2361 fixing failing workflow runs for encrypted eventhub
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/authorization-rule/main.json
  avm/res/event-hub/namespace/disaster-recovery-config/main.json
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.json
  avm/res/event-hub/namespace/eventhub/consumergroup/main.json
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/network-rule-set/main.json
  avm/res/event-hub/namespace/tests/e2e/encr/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2347 feat: `amv/res/desktop-virtualization/scaling-plan` API updates
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/scaling-plan/main.bicep
  avm/res/desktop-virtualization/scaling-plan/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2383 fix: Load balancer failed pipelines for WAF test.
  avm/res/network/load-balancer/README.md
  avm/res/network/load-balancer/backend-address-pool/main.json
  avm/res/network/load-balancer/inbound-nat-rule/main.json
  avm/res/network/load-balancer/main.json
  avm/res/network/load-balancer/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Status: Fixed :white_check_mark:, Language: Bicep :muscle:

#2397 fix: Small test file updates for Load Balancer
  avm/res/network/load-balancer/README.md
  avm/res/network/load-balancer/tests/e2e/defaults/main.test.bicep
  avm/res/network/load-balancer/tests/e2e/external/main.test.bicep
  avm/res/network/load-balancer/tests/e2e/internal/main.test.bicep
  avm/res/network/load-balancer/tests/e2e/max/main.test.bicep
  avm/res/network/load-balancer/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#2336 fix: `avm/res/web/serverfarm` support for elasticScaleEnabled property
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2086 fix: Set-ModuleFileAndFolderSetup pathway fix
  avm/utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2345 fix: Added explicit databricks post-removal
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: CI :rocket:

#2467 fix: `avm/res/network/network-security-group` retired security rules child module and introduced UDT as a replacement
  avm/res/network/network-security-group/README.md
  avm/res/network/network-security-group/main.bicep
  avm/res/network/network-security-group/main.json
  avm/res/network/network-security-group/security-rule/README.md
  avm/res/network/network-security-group/security-rule/main.bicep
  avm/res/network/network-security-group/security-rule/main.json
  avm/res/network/network-security-group/tests/e2e/max/main.test.bicep
  avm/res/network/network-security-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2016 feat: New Module `avm/res/portal/dashboard`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.portal.dashboard.yml
  avm/res/portal/dashboard/README.md
  avm/res/portal/dashboard/main.bicep
  avm/res/portal/dashboard/main.json
  avm/res/portal/dashboard/tests/e2e/defaults/main.test.bicep
  avm/res/portal/dashboard/tests/e2e/max/dependencies.bicep
  avm/res/portal/dashboard/tests/e2e/max/main.test.bicep
  avm/res/portal/dashboard/tests/e2e/waf-aligned/main.test.bicep
  avm/res/portal/dashboard/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2489 feat: adding PR notification for using the "needs: core team" label
  .github/policies/eventResponder.yml
Labels: Type: Documentation :page_facing_up:, Needs: Core Team :genie:

#2103 feat: `avm/res/document-db/database-account` Add the creation of 'Microsoft.DocumentDB/databaseAccounts/sqlRoleDefinitions' and ‘Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments’ and 'cosmos.properties.documentEndpoint'.
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/sql-role/README.md
  avm/res/document-db/database-account/sql-role/main.bicep
  avm/res/document-db/database-account/sql-role/main.json
  avm/res/document-db/database-account/sql-role/sql-role-assignments/README.md
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.bicep
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.json
  avm/res/document-db/database-account/sql-role/sql-role-definitions/README.md
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.bicep
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.json
  avm/res/document-db/database-account/tests/e2e/role/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/role/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2487 chore: add openssf scorecard
  .github/workflows/scorecard.yml
  README.md
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:, Needs: Core Team :genie:

#2499 Update and rename scorecard.yml to platform.ossf-scorecard.yml
  .github/workflows/platform.ossf-scorecard.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2349 feat: `avm/res/synapse/workspace` Entra ID administrator
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/administrators/README.md
  avm/res/synapse/workspace/administrators/main.bicep
  avm/res/synapse/workspace/administrators/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#2462 fix: comply with WAF test for maintenance configurations
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#1946 fix: Databricks - Updated to latest PE schema - `avm/res/databricks/workspace`
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#1942 fix: Removed migration leftovers from VMSS & addressed several warnings - `avm/res/compute/virtual-machine-scale-set`
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#2456 fix: EventHub-Namespace - Updated to latest PE schema
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2460 fix: Removed schedule from Kusto workflow to align with latest pattern
  .github/workflows/avm.res.kusto.cluster.yml
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2470 feat: hybrid-compute/machine module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.hybrid-compute.machine.yml
  avm/res/hybrid-compute/machine/README.md
  avm/res/hybrid-compute/machine/extension/README.md
  avm/res/hybrid-compute/machine/extension/main.bicep
  avm/res/hybrid-compute/machine/extension/main.json
  avm/res/hybrid-compute/machine/main.bicep
  avm/res/hybrid-compute/machine/main.json
  avm/res/hybrid-compute/machine/tests/e2e/hci.defaults/main.test.bicep
  avm/res/hybrid-compute/machine/tests/e2e/max.hci/dependencies.bicep
  avm/res/hybrid-compute/machine/tests/e2e/max.hci/main.test.bicep
  avm/res/hybrid-compute/machine/tests/e2e/vmware.defaults/main.test.bicep
  avm/res/hybrid-compute/machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/hybrid-compute/machine/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2314 feat: create examples in documentation
  avm/res/aad/domain-service/README.md
  avm/res/app/job/README.md
  avm/res/web/serverfarm/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2530 fix: apim v0.2 pipeline issues
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api/README.md
  avm/res/api-management/service/api/diagnostics/README.md
  avm/res/api-management/service/api/diagnostics/main.bicep
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.bicep
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/loggers/README.md
  avm/res/api-management/service/loggers/main.bicep
  avm/res/api-management/service/loggers/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2484 feat: API version update `avm/res/databricks/workspace`
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2500 feat: Enhance Static Tests Error Message `[<moduleFolderName>] Owning team should be specified correctly in CODEWONERS file.`
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2200 fix: added support for user mi `avm/res/search/search-service`
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/tests/e2e/defaults/main.test.bicep
  avm/res/search/search-service/tests/e2e/max/dependencies.bicep
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2466 fix: `res/web/connection` parameter update
  avm/res/web/connection/README.md
  avm/res/web/connection/main.bicep
  avm/res/web/connection/main.json
  avm/res/web/connection/version.json
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:
