Repository Azure/bicep-registry-modules, pull requests merged in 2024-11, with the labels that each got.

#3686 ci: remove trigger on schedule from 2 workflows
  .github/workflows/avm.ptn.deployment-script.import-image-to-acr.yml
  .github/workflows/avm.res.hybrid-compute.machine.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3582 feat: Add strong types to `avm/res/sql/server` and it's children
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/README.md
  avm/res/sql/server/audit-settings/main.bicep
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.bicep
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/elasticPool/main.test.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/secondary/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3680 fix: RBAC race condition
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3711 fix: SQLServer - Updated DTs & fixed incorrect descriptions
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/modules/keyVaultExport.bicep
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/max/dependencies.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3712 fix: Regenerate readmes failing on static validation due to wrong links
  avm/ptn/azd/apim-api/README.md
  avm/ptn/network/hub-networking/README.md
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/network/azure-firewall/README.md
  avm/res/network/front-door-web-application-firewall-policy/README.md
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hub-virtual-network-connection/README.md
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/README.md
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/README.md
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--authsettingsv2/README.md
  avm/res/web/site/config--logs/README.md
  avm/res/web/site/config--web/README.md
  avm/res/web/site/extensions--msdeploy/README.md
  avm/res/web/site/hybrid-connection-namespace/relay/README.md
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/README.md
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--authsettingsv2/README.md
  avm/res/web/site/slot/extensions--msdeploy/README.md
  avm/res/web/site/slot/hybrid-connection-namespace/relay/README.md
  avm/res/web/static-site/README.md
  avm/res/web/static-site/config/README.md
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Documentation :page_facing_up:, Needs: Core Team :genie:

#3681 feat: Adding support for ipTags in `avm/res/network/public-ip-address`
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3620 fix: adds managed identity parameter to `res/signal-r/signal-r`
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/signal-r/tests/e2e/defaults/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/dependencies.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/signal-r/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:, Language: Bicep :muscle:

#3714 fix: pipeline fix for Import image to acr
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3584 feat: support Istio add-on in AKS
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/istio/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.rbac.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/scripts/Set-CertificateAuthorityInKeyVault.ps1
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3722 fix: `res/resources/deployment-script` AVM common types
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/tests/e2e/cli/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/defaults/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/max/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/private-endpoint/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/private-network/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/ps/main.test.bicep
  avm/res/resources/deployment-script/tests/e2e/waf-aligned/main.test.bicep
  avm/res/resources/deployment-script/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3724 feat: Added additional variant of CMK UDT for resources supporting auto-rotation
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
  avm/utl/types/avm-common-types/version.json
Labels: Type: AVM :a: :v: :m:, Class: Utility Module :package:, Needs: Core Team :genie:

#3726 feat: Updates references for the `ptn/deployment-script/import-image-to-acr` module to the latest version
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/dependencies.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/waf-aligned/dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3718 feat: Add solutionPlanType to the `avm/res/operations-management/solution` module
  avm/res/operations-management/solution/README.md
  avm/res/operations-management/solution/main.bicep
  avm/res/operations-management/solution/main.json
  avm/res/operations-management/solution/tests/e2e/defaults/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/ms/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/nonms/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/sql-auditing/main.test.bicep
  avm/res/operations-management/solution/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operations-management/solution/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3667 feat: Add onboardingStates extension resource to `avm/res/operational-insights/workspace`
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3756 feat: add property userdata to VM resource module
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/extension/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3757 fix: Re-generate ARM templates in `avm/res/operational-insights/workspace`
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3758 fix: static validation + added common types in `avm/res/service-networking/traffic-controller`
  avm/res/service-networking/traffic-controller/README.md
  avm/res/service-networking/traffic-controller/association/README.md
  avm/res/service-networking/traffic-controller/association/main.bicep
  avm/res/service-networking/traffic-controller/association/main.json
  avm/res/service-networking/traffic-controller/frontend/main.json
  avm/res/service-networking/traffic-controller/main.bicep
  avm/res/service-networking/traffic-controller/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3751 `avm/res/dev-ops-infrastructure/pool`: removed preview API and added daysData UDT for user-friendly input
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/dev-ops-infrastructure/pool/tests/e2e/max/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/dev-ops-infrastructure/pool/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3677 fix: ApiManagement-Service - Changed `loggers` to `logger`
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/logger/README.md
  avm/res/api-management/service/logger/main.bicep
  avm/res/api-management/service/logger/main.json
  avm/res/api-management/service/loggers/main.bicep
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#3767 feat: Add UDT & common types to `avm/res/search/search-service` module
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/shared-private-link-resource/main.json
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3770 Feat: deploy premium SSDv2 disks and specify IOPS and throughput configuration
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/windows.SSDv2/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.SSDv2/main.test.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#3778 feat: adds examples and removes RP for `ptn/lz/sub-vending`
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3779 fix: pipeline failure for `Avm/res/db for postgre sql/flexible server`
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Language: Bicep :muscle:

#3781 fix: removed RP fix `ptn/lz/sub-vending`
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3728 feat: Added types to `avm/res/cdn/profile` module
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.bicep
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/README.md
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.bicep
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.bicep
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.bicep
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.bicep
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.json
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3745 feat: Add WAF Security PS Rule Config
  .github/actions/templates/avm-validateModulePSRule/action.yml
  .github/workflows/avm.template.module.yml
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/cb-waf-security.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#3774 feat: Add UDT to `avm/res/operational-insights/workspace`
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/data-export/README.md
  avm/res/operational-insights/workspace/data-export/main.bicep
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/README.md
  avm/res/operational-insights/workspace/data-source/main.bicep
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/README.md
  avm/res/operational-insights/workspace/linked-service/main.bicep
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/README.md
  avm/res/operational-insights/workspace/linked-storage-account/main.bicep
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/README.md
  avm/res/operational-insights/workspace/storage-insight-config/main.bicep
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3806 feat: Add WAF Security PSRule Checks to Baseline
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/cb-waf-security.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3811 feat: avm/res/cache/redis - Add access policies
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/entra-id/dependencies.bicep
  avm/res/cache/redis/tests/e2e/entra-id/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3791 fix: Re-create ARM files to fix static validation in `avm/res/search/search-service`
  avm/res/search/search-service/main.json
  avm/res/search/search-service/shared-private-link-resource/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3762 fix: A bug fix - avm vmss bootdiagnosticenabled
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3805 feat: Add AVM Common Types to the `avm/res/insights/data-collection-endpoint` module
  avm/res/insights/data-collection-endpoint/README.md
  avm/res/insights/data-collection-endpoint/main.bicep
  avm/res/insights/data-collection-endpoint/main.json
  avm/res/insights/data-collection-endpoint/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3804 feat: Add AVM Common Types to the `avm/res/insights/data-collection-rule` module
  avm/res/insights/data-collection-rule/README.md
  avm/res/insights/data-collection-rule/main.bicep
  avm/res/insights/data-collection-rule/main.json
  avm/res/insights/data-collection-rule/modules/nested_conditionalScope.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3818 feat: `avm/res/dev-ops-infrastructure/pool` implement latest AVM UDT standards
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/dev-ops-infrastructure/pool/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3814 fix: res/network/vpn-gateway - IPsec Policies Reset on Subsequent Deployments
  avm/res/network/vpn-gateway/main.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3773 feat: Update CMK auto rotation parameter wording
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
  avm/utl/types/avm-common-types/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3760 feat: Updated LoadTestService LoadTest CMK Implementation
  avm/res/load-test-service/load-test/README.md
  avm/res/load-test-service/load-test/main.bicep
  avm/res/load-test-service/load-test/main.json
  avm/res/load-test-service/load-test/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3733 feat: Updated Container-Instance CMK Implementation
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/container-instance/container-group/tests/e2e/private/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-instance/container-group/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3736 feat: Updated Databricks Workspace CMK Implementation
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3603 feat: Added KeyVault key & secret outputs
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/README.md
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/key-vault/vault/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3854 feat: Updated Synapse Workspace CMK Implementation
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/administrators/main.json
  avm/res/synapse/workspace/firewall-rules/main.json
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3730 feat: Updated Automation-Account CMK Implementation
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/credential/main.json
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
  avm/res/automation/automation-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3807 feat: Add UDT for all `avm/res/sql/server` submodules
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/README.md
  avm/res/sql/server/encryption-protector/main.bicep
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/README.md
  avm/res/sql/server/key/main.bicep
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/README.md
  avm/res/sql/server/security-alert-policy/main.bicep
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/elasticPool/main.test.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/main.test.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/secondary/main.test.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/README.md
  avm/res/sql/server/vulnerability-assessment/main.bicep
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#3765 feat: Updated Machine-Learning Workspace CMK implementation
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/README.md
  avm/res/machine-learning-services/workspace/compute/main.bicep
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#3851 feat: Updated NetApp-Account CMK Implementation
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/main.json
  avm/res/net-app/net-app-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:
