Repository Azure/bicep-registry-modules, pull requests merged in 2024-03, with the labels that each got.

#1096 fix: some nameprefix replacements from CARML migration needed to be changed to be AVM compliant
  avm/res/compute/virtual-machine/README.md
  avm/res/web/site/README.md
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/config--appsettings/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1117 fix: file and folder setup fixes in Set-AVMModule
  avm/utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
  avm/utilities/tools/helper/src/src.child.main.bicep
  avm/utilities/tools/helper/src/src.main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1118 fix: @mention owner for module issues, if GH handle can't be found due to GH bug
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Type: AVM :a: :v: :m:

#1098 feat: Change default `forwardTo` behavior
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/main.bicep
  avm/res/service-bus/namespace/topic/subscription/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1108 fix: ResourceAccessRules now get applied correctly. Also added better description for limitations on the storageaccount-name.
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#966 refactor: resolver module description fixes and added UDTs
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/inbound-endpoint/README.md
  avm/res/network/dns-resolver/inbound-endpoint/main.bicep
  avm/res/network/dns-resolver/inbound-endpoint/main.json
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
  avm/res/network/dns-resolver/outbound-endpoint/README.md
  avm/res/network/dns-resolver/outbound-endpoint/main.bicep
  avm/res/network/dns-resolver/outbound-endpoint/main.json
  avm/res/network/dns-resolver/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1106 feat: New Module `avm/res/cdn/profile`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.cdn.profile.yml
  avm/res/cdn/profile/ORPHANED.md
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/README.md
  avm/res/cdn/profile/afdEndpoint/route/main.bicep
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/README.md
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/README.md
  avm/res/cdn/profile/endpoint/main.bicep
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/README.md
  avm/res/cdn/profile/endpoint/origin/main.bicep
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/README.md
  avm/res/cdn/profile/origingroup/main.bicep
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/README.md
  avm/res/cdn/profile/origingroup/origin/main.bicep
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/README.md
  avm/res/cdn/profile/ruleset/main.bicep
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/README.md
  avm/res/cdn/profile/ruleset/rule/main.bicep
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/README.md
  avm/res/cdn/profile/secret/main.bicep
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/tests/e2e/afd/main.test.bicep
  avm/res/cdn/profile/tests/e2e/defaults/main.test.bicep
  avm/res/cdn/profile/tests/e2e/max/dependencies.bicep
  avm/res/cdn/profile/tests/e2e/max/main.test.bicep
  avm/res/cdn/profile/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/cdn/profile/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1036 feat: Added post-deployment test support
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/res/key-vault/vault/tests/e2e/private-endpoint/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/private-endpoint/tests/connectivity.tests.ps1
  avm/res/key-vault/vault/tests/e2e/private-endpoint/tests/resource.tests.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
Labels: Type: AVM :a: :v: :m:

#1134 fix: Change wording in issue comment
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1139 feat: Added Bicep CLI version check to `Set-AVMModule` utility
  avm/utilities/tools/Set-AVMModule.ps1
Labels: CI, Type: AVM :a: :v: :m:

#1140 ci: Exclude archived BRM modules from module index data
  scripts/github-actions/generate-module-index-data.js
Labels: Needs: Triage :mag:

#1087 feat: Update PE implementation in alignment to latest schema (1)
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/tests/e2e/max/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/automation/automation-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/automation/automation-account/version.json
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/max/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/batch/batch-account/version.json
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/max/main.test.bicep
  avm/res/cache/redis/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cache/redis/version.json
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/max/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/speech/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/system-assigned-cmk-encryption/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cognitive-services/account/version.json
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/tests/e2e/encr/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/pe/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/pe/main.test.bicep
  avm/res/container-registry/registry/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-registry/registry/version.json
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
  avm/res/data-factory/factory/version.json
Labels: Type: AVM :a: :v: :m:

#1089 feat: Update PE implementation in alignment to latest schema (2)
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/host-pool/main.bicep
  avm/res/desktop-virtualization/host-pool/main.json
  avm/res/desktop-virtualization/host-pool/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/private-endpoint/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/host-pool/version.json
  avm/res/desktop-virtualization/workspace/README.md
  avm/res/desktop-virtualization/workspace/main.bicep
  avm/res/desktop-virtualization/workspace/main.json
  avm/res/desktop-virtualization/workspace/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/private-endpoint/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/workspace/version.json
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/domain/main.bicep
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/domain/tests/e2e/max/main.test.bicep
  avm/res/event-grid/domain/tests/e2e/pe/dependencies.bicep
  avm/res/event-grid/domain/tests/e2e/pe/main.test.bicep
  avm/res/event-grid/domain/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-grid/domain/version.json
  avm/res/event-grid/topic/README.md
  avm/res/event-grid/topic/main.bicep
  avm/res/event-grid/topic/main.json
  avm/res/event-grid/topic/tests/e2e/max/main.test.bicep
  avm/res/event-grid/topic/tests/e2e/pe/dependencies.bicep
  avm/res/event-grid/topic/tests/e2e/pe/main.test.bicep
  avm/res/event-grid/topic/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-grid/topic/version.json
Labels: Type: AVM :a: :v: :m:

#1137 feat: added `connectionString` output to the Application Insights module
  avm/res/insights/component/README.md
  avm/res/insights/component/main.bicep
  avm/res/insights/component/main.json
  avm/res/insights/component/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1136 fix: updates devcontainer to dotnet 8
  .devcontainer/devcontainer.json
Labels: CI, Type: AVM :a: :v: :m:

#1072 feat: New Module `avm/res/app-configuration/configuration-store`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.app-configuration.configuration-store.yml
  avm/res/app-configuration/configuration-store/ORPHANED.md
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/key-value/README.md
  avm/res/app-configuration/configuration-store/key-value/main.bicep
  avm/res/app-configuration/configuration-store/key-value/main.json
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
  avm/res/app-configuration/configuration-store/tests/e2e/defaults/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/encr/dependencies.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/encr/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/max/dependencies.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/max/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/pe/dependencies.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/pe/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app-configuration/configuration-store/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#1212 fix: fixing `avm/res/app-configuration/configuration-store` output/publish trigger
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1091 feat: Update PE implementation in alignment to latest schema (4)
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/tests/e2e/max/dependencies.bicep
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/system-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/storage/storage-account/version.json
  avm/res/synapse/private-link-hub/README.md
  avm/res/synapse/private-link-hub/main.bicep
  avm/res/synapse/private-link-hub/main.json
  avm/res/synapse/private-link-hub/tests/e2e/max/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/private-link-hub/version.json
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
  avm/res/web/site/version.json
  avm/res/web/static-site/README.md
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/static-site/version.json
Labels: Type: AVM :a: :v: :m:

#1138 feat: New Modules `avm-res-eventhub-namespace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.event-hub.namespace.yml
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/authorization-rule/README.md
  avm/res/event-hub/namespace/authorization-rule/main.bicep
  avm/res/event-hub/namespace/authorization-rule/main.json
  avm/res/event-hub/namespace/disaster-recovery-config/README.md
  avm/res/event-hub/namespace/disaster-recovery-config/main.bicep
  avm/res/event-hub/namespace/disaster-recovery-config/main.json
  avm/res/event-hub/namespace/eventhub/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.bicep
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.json
  avm/res/event-hub/namespace/eventhub/consumergroup/README.md
  avm/res/event-hub/namespace/eventhub/consumergroup/main.bicep
  avm/res/event-hub/namespace/eventhub/consumergroup/main.json
  avm/res/event-hub/namespace/eventhub/main.bicep
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/network-rule-set/README.md
  avm/res/event-hub/namespace/network-rule-set/main.bicep
  avm/res/event-hub/namespace/network-rule-set/main.json
  avm/res/event-hub/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/encr/dependencies.bicep
  avm/res/event-hub/namespace/tests/e2e/encr/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/max/dependencies.bicep
  avm/res/event-hub/namespace/tests/e2e/max/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/event-hub/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-hub/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1213 chore: updating GH policy bot to notify avm-core-team-technical-bicep
  .github/policies/scheduledSearches.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1218 feat: Updates to `avm/res/search/search-service`
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/shared-private-link-resource/README.md
  avm/res/search/search-service/shared-private-link-resource/main.bicep
  avm/res/search/search-service/shared-private-link-resource/main.json
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1219 feat: New Module `avm/res/signal-r-service/web-pub-sub`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.signal-r-service.web-pub-sub.yml
  avm/res/signal-r-service/web-pub-sub/ORPHANED.md
  avm/res/signal-r-service/web-pub-sub/README.md
  avm/res/signal-r-service/web-pub-sub/main.bicep
  avm/res/signal-r-service/web-pub-sub/main.json
  avm/res/signal-r-service/web-pub-sub/tests/e2e/defaults/main.test.bicep
  avm/res/signal-r-service/web-pub-sub/tests/e2e/max/dependencies.bicep
  avm/res/signal-r-service/web-pub-sub/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/web-pub-sub/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/signal-r-service/web-pub-sub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/web-pub-sub/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1007 fix: update app settings for App Services
  avm/res/web/site/README.md
  avm/res/web/site/config--appsettings/README.md
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/config--appsettings/README.md
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.max/dependencies.bicep
  avm/res/web/site/tests/e2e/functionApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/dependencies.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#1224 feat: Added UDT for Managed identity and Deployment Scripts
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/res/managed-identity/user-assigned-identity/README.md
  avm/res/managed-identity/user-assigned-identity/main.bicep
  avm/res/managed-identity/user-assigned-identity/main.json
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/version.json
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/version.json
Labels: Type: AVM :a: :v: :m:

#1109 feat: New Module `avm/res/signal-r-service/signal-r`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.signal-r-service.signal-r.yml
  avm/res/signal-r-service/signal-r/ORPHANED.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/signal-r/tests/e2e/defaults/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/dependencies.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/signal-r/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#992 feat: ` avm/res/container-service/managed-cluster` add additional outbound types
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#1244 fix: Updated MSI Purview output to convention
  avm/res/purview/account/main.bicep
  avm/res/purview/account/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1251 fix: Update Web App Server Farm Module
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#1253 fix: web/static-site workflow fix & update to enforce publish with source
  .github/workflows/avm.res.web.static-site.yml
  avm/res/web/static-site/README.md
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
Labels: Needs: Triage :mag:, Bug Fix, Type: AVM :a: :v: :m:

#1258 fix: `avm/res/network/ip-group` and `avm/res/network/private-link-service` patch update to enforce publish with source
  avm/res/network/ip-group/README.md
  avm/res/network/ip-group/main.bicep
  avm/res/network/ip-group/main.json
  avm/res/network/private-link-service/README.md
  avm/res/network/private-link-service/main.bicep
  avm/res/network/private-link-service/main.json
Labels: Type: AVM :a: :v: :m:

#1079 feat: New Module `avm/res/network/azure-firewall`, migrated from CARML.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.azure-firewall.yml
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/addpip/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/addpip/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/custompip/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/custompip/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/defaults/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/defaults/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/hubcommon/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/hubcommon/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/hubmin/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/hubmin/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/max/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/max/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/azure-firewall/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1260 fix: `virtual-machine-images/image-template`, `resource-graph/query` and `synapse/workspace` patch update to enforce publish with source
  avm/res/resource-graph/query/README.md
  avm/res/resource-graph/query/main.bicep
  avm/res/resource-graph/query/main.json
  avm/res/synapse/workspace/key/README.md
  avm/res/synapse/workspace/key/main.bicep
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.json
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1261 fix: `resource-graph/query` workflow fix & update to enforce publish with source
  .github/workflows/avm.res.resource-graph.query.yml
  avm/res/resource-graph/query/README.md
  avm/res/resource-graph/query/main.bicep
  avm/res/resource-graph/query/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1262 Minor Update
  README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1240 fix: unorphaned `avm/res/maintenance/maintenance-configuration`
  avm/res/maintenance/maintenance-configuration/ORPHANED.md
  avm/res/maintenance/maintenance-configuration/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1210 feat: New Module `avm/res/compute/virtual-machine-scale-set`, migrated from CARML
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.compute.virtual-machine-scale-set.yml
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.bicep
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.defaults/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/version.json
Labels: Type: AVM :a: :v: :m:

#1276 fix: Corrected incorrect token regex
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/addpip/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/custompip/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/defaults/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/max/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/bastion-host/README.md
  avm/res/network/bastion-host/main.bicep
  avm/res/network/bastion-host/main.json
  avm/res/network/bastion-host/tests/e2e/custompip/main.test.bicep
  avm/res/network/bastion-host/tests/e2e/defaults/main.test.bicep
  avm/res/network/bastion-host/tests/e2e/max/main.test.bicep
  avm/res/network/bastion-host/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/bastion-host/version.json
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/version.json
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1265 fix: unorphaned `avm/res/insights/metric-alert`
  avm/res/insights/metric-alert/ORPHANED.md
  avm/res/insights/metric-alert/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1252 feat: added `eventHubResourceIds` output to the EventHub Namespace module
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1243 fix: Fixed API version reference in SSH Key module
  avm/res/compute/ssh-public-key/README.md
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1208 feat: New Module `avm/res/event-grid/namespace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.event-grid.namespace.yml
  avm/res/event-grid/namespace/README.md
  avm/res/event-grid/namespace/ca-certificate/README.md
  avm/res/event-grid/namespace/ca-certificate/main.bicep
  avm/res/event-grid/namespace/ca-certificate/main.json
  avm/res/event-grid/namespace/client-group/README.md
  avm/res/event-grid/namespace/client-group/main.bicep
  avm/res/event-grid/namespace/client-group/main.json
  avm/res/event-grid/namespace/client/README.md
  avm/res/event-grid/namespace/client/main.bicep
  avm/res/event-grid/namespace/client/main.json
  avm/res/event-grid/namespace/main.bicep
  avm/res/event-grid/namespace/main.json
  avm/res/event-grid/namespace/permission-binding/README.md
  avm/res/event-grid/namespace/permission-binding/main.bicep
  avm/res/event-grid/namespace/permission-binding/main.json
  avm/res/event-grid/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/event-grid/namespace/tests/e2e/max/dependencies.bicep
  avm/res/event-grid/namespace/tests/e2e/max/main.test.bicep
  avm/res/event-grid/namespace/tests/e2e/mqttct/dependencies.bicep
  avm/res/event-grid/namespace/tests/e2e/mqttct/main.test.bicep
  avm/res/event-grid/namespace/tests/e2e/mqttnt/dependencies.bicep
  avm/res/event-grid/namespace/tests/e2e/mqttnt/main.test.bicep
  avm/res/event-grid/namespace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/event-grid/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-grid/namespace/topic-space/README.md
  avm/res/event-grid/namespace/topic-space/main.bicep
  avm/res/event-grid/namespace/topic-space/main.json
  avm/res/event-grid/namespace/topic/README.md
  avm/res/event-grid/namespace/topic/event-subscription/README.md
  avm/res/event-grid/namespace/topic/event-subscription/main.bicep
  avm/res/event-grid/namespace/topic/event-subscription/main.json
  avm/res/event-grid/namespace/topic/main.bicep
  avm/res/event-grid/namespace/topic/main.json
  avm/res/event-grid/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1285 feat: Added workflow for syncing CSV labels to GitHub Labels
  .github/workflows/avm.platform.sync-repo-labels-from-csv.yml
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1246 fix: Updated MSI Web Site output to convention
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
Labels: Enhancement, Type: AVM :a: :v: :m:

#1311 fix: Skip deployment if PSRule WAF reliability validation fails
  .github/workflows/avm.template.module.yml
Labels: Needs: Triage :mag:, CI, Bug Fix, Type: AVM :a: :v: :m:

#1320 fix: Corrected vanity link for RBAC UDT
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:

#1325 fix: unorphaned `avm/res/cdn/profile`
  avm/res/cdn/profile/ORPHANED.md
  avm/res/cdn/profile/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1331 fix: Enable legacy formatter
  avm/bicepconfig.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1092 feat: Update PE implementation in alignment to latest schema (5)
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/encrwsai/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/encrwuai/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/managedvnet/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/max/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/workspace/version.json
Labels: Enhancement, Type: AVM :a: :v: :m:

#1216 feat: New module `avm/res/recovery-services/vault`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.recovery-services.vault.yml
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/backup-config/README.md
  avm/res/recovery-services/vault/backup-config/main.bicep
  avm/res/recovery-services/vault/backup-config/main.json
  avm/res/recovery-services/vault/backup-fabric/protection-container/README.md
  avm/res/recovery-services/vault/backup-fabric/protection-container/main.bicep
  avm/res/recovery-services/vault/backup-fabric/protection-container/main.json
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/README.md
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/main.bicep
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/main.json
  avm/res/recovery-services/vault/backup-policy/README.md
  avm/res/recovery-services/vault/backup-policy/main.bicep
  avm/res/recovery-services/vault/backup-policy/main.json
  avm/res/recovery-services/vault/backup-storage-config/README.md
  avm/res/recovery-services/vault/backup-storage-config/main.bicep
  avm/res/recovery-services/vault/backup-storage-config/main.json
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/recovery-services/vault/replication-alert-setting/README.md
  avm/res/recovery-services/vault/replication-alert-setting/main.bicep
  avm/res/recovery-services/vault/replication-alert-setting/main.json
  avm/res/recovery-services/vault/replication-fabric/README.md
  avm/res/recovery-services/vault/replication-fabric/main.bicep
  avm/res/recovery-services/vault/replication-fabric/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/README.md
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/main.bicep
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/README.md
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/main.bicep
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/main.json
  avm/res/recovery-services/vault/replication-policy/README.md
  avm/res/recovery-services/vault/replication-policy/main.bicep
  avm/res/recovery-services/vault/replication-policy/main.json
  avm/res/recovery-services/vault/tests/e2e/defaults/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/dr/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/max/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/max/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/recovery-services/vault/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1245 fix: Updated MSI Storage output to convention
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Type: Bug :bug:

#1340 fix: Removed remaining CARML references from readmes
  avm/res/app-configuration/configuration-store/README.md
  avm/res/automation/automation-account/README.md
  avm/res/batch/batch-account/README.md
  avm/res/cache/redis/README.md
  avm/res/cognitive-services/account/README.md
  avm/res/compute/virtual-machine/README.md
  avm/res/container-registry/registry/README.md
  avm/res/container-service/managed-cluster/README.md
  avm/res/data-factory/factory/README.md
  avm/res/databricks/workspace/README.md
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/workspace/README.md
  avm/res/document-db/database-account/README.md
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/namespace/README.md
  avm/res/event-grid/topic/README.md
  avm/res/event-hub/namespace/README.md
  avm/res/insights/private-link-scope/README.md
  avm/res/key-vault/vault/README.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/machine-learning-services/workspace/README.md
  avm/res/network/azure-firewall/README.md
  avm/res/network/bastion-host/README.md
  avm/res/network/nat-gateway/README.md
  avm/res/network/virtual-network-gateway/README.md
  avm/res/operational-insights/workspace/README.md
  avm/res/purview/account/README.md
  avm/res/search/search-service/README.md
  avm/res/service-bus/namespace/README.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/web-pub-sub/README.md
  avm/res/sql/server/README.md
  avm/res/storage/storage-account/README.md
  avm/res/synapse/private-link-hub/README.md
  avm/res/synapse/workspace/README.md
  avm/res/web/site/README.md
  avm/res/web/site/slot/README.md
  avm/res/web/static-site/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Documentation :page_facing_up:

#1322 feat: Integration Runtime description added
  avm/res/data-factory/factory/integration-runtime/README.md
  avm/res/data-factory/factory/integration-runtime/main.bicep
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
Labels: Existing Module, Enhancement, Type: AVM :a: :v: :m:

#1334 feat: Add VM AZ Parameter Test
  .github/CODEOWNERS
  .github/actions/templates/avm-validateModulePester/action.yml
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
Labels: CI, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1343 fix: 1341 IR description passthrough
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
Labels: Bug Fix, Type: AVM :a: :v: :m:

#1365 feat: add AZ parameter checks for zonal resources
  avm/res/network/nat-gateway/tests/unit/avm.core.team.tests.ps1
Labels: Needs: Triage :mag:, CI, Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1367 fix: Fixed WAF Reliability validation in `avm/res/network/public-ip-address`
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1318 feat: New Module `avm/res/web/connection`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.web.connection.yml
  avm/res/web/connection/ORPHANED.md
  avm/res/web/connection/README.md
  avm/res/web/connection/main.bicep
  avm/res/web/connection/main.json
  avm/res/web/connection/tests/e2e/defaults/main.test.bicep
  avm/res/web/connection/tests/e2e/max/dependencies.bicep
  avm/res/web/connection/tests/e2e/max/main.test.bicep
  avm/res/web/connection/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/connection/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1387 fix: Patch of `avm/res/web/connection` to enforce the publishing
  avm/res/web/connection/README.md
  avm/res/web/connection/main.bicep
  avm/res/web/connection/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1277 feat: New Module `digital-twins/digital-twins-instance`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.digital-twins.digital-twins-instance.yml
  avm/res/digital-twins/digital-twins-instance/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--event-grid/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--event-grid/main.bicep
  avm/res/digital-twins/digital-twins-instance/endpoint--event-grid/main.json
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/main.bicep
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/main.json
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/main.bicep
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/main.json
  avm/res/digital-twins/digital-twins-instance/main.bicep
  avm/res/digital-twins/digital-twins-instance/main.json
  avm/res/digital-twins/digital-twins-instance/tests/e2e/defaults/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/max/dependencies.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/max/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/pe/dependencies.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/pe/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/waf-aligned/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1319 feat: New Module `avm/res/relay/namespace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.relay.namespace.yml
  avm/res/relay/namespace/ORPHANED.md
  avm/res/relay/namespace/README.md
  avm/res/relay/namespace/authorization-rule/README.md
  avm/res/relay/namespace/authorization-rule/main.bicep
  avm/res/relay/namespace/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/README.md
  avm/res/relay/namespace/hybrid-connection/authorization-rule/README.md
  avm/res/relay/namespace/hybrid-connection/authorization-rule/main.bicep
  avm/res/relay/namespace/hybrid-connection/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/main.bicep
  avm/res/relay/namespace/hybrid-connection/main.json
  avm/res/relay/namespace/main.bicep
  avm/res/relay/namespace/main.json
  avm/res/relay/namespace/network-rule-set/README.md
  avm/res/relay/namespace/network-rule-set/main.bicep
  avm/res/relay/namespace/network-rule-set/main.json
  avm/res/relay/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/relay/namespace/tests/e2e/max/dependencies.bicep
  avm/res/relay/namespace/tests/e2e/max/main.test.bicep
  avm/res/relay/namespace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/relay/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/relay/namespace/version.json
  avm/res/relay/namespace/wcf-relay/README.md
  avm/res/relay/namespace/wcf-relay/authorization-rule/README.md
  avm/res/relay/namespace/wcf-relay/authorization-rule/main.bicep
  avm/res/relay/namespace/wcf-relay/authorization-rule/main.json
  avm/res/relay/namespace/wcf-relay/authorization-rule/version.json
  avm/res/relay/namespace/wcf-relay/main.bicep
  avm/res/relay/namespace/wcf-relay/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1394 fix: Patch of `avm/res/relay/namespace` to enforce the publishing
  avm/res/relay/namespace/README.md
  avm/res/relay/namespace/main.bicep
  avm/res/relay/namespace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1399 feat: Updated Git tag handling to be more robust
  .github/actions/templates/avm-publishModule/action.yml
  avm/utilities/pipelines/publish/Confirm-ModuleIsPublished.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/helper/New-ModuleReleaseTag.ps1
Labels: Type: AVM :a: :v: :m:

#1372 chore: Triage automation updates
  .github/policies/avmModuleIssueTriage.yml
  .github/policies/eventResponder.yml
  .github/policies/scheduledSearches.yml
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1392 feat: PSRule them all
  .github/actions/templates/avm-validateModulePSRule/action.yml
  .github/workflows/avm.platform.check.psrule.yml
  avm/utilities/pipelines/staticValidation/psrule/Set-PSRuleGitHubOutput.ps1
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1400 fix: Corrected MSI handling for DigitalTwin module
  avm/res/digital-twins/digital-twins-instance/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/main.bicep
  avm/res/digital-twins/digital-twins-instance/endpoint--event-hub/main.json
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/README.md
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/main.bicep
  avm/res/digital-twins/digital-twins-instance/endpoint--service-bus/main.json
  avm/res/digital-twins/digital-twins-instance/main.bicep
  avm/res/digital-twins/digital-twins-instance/main.json
  avm/res/digital-twins/digital-twins-instance/tests/e2e/defaults/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/max/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/pe/main.test.bicep
  avm/res/digital-twins/digital-twins-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1410 chore: triage automation fix
  .github/policies/eventResponder.yml
Labels: Type: Documentation :page_facing_up:, Type: Hygiene :broom:

#1238 fix: fixed Bicep warning caused by the identity type
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/databricks/access-connector/main.bicep
  avm/res/databricks/access-connector/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/logic/workflow/main.bicep
  avm/res/logic/workflow/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1422 fix: Fixing static validation in multiple modules
  avm/res/machine-learning-services/workspace/README.md
  avm/res/recovery-services/vault/README.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/web-pub-sub/README.md
  avm/res/synapse/workspace/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1415 fix: Fixing `avm/res/synapse/private-link-hub` static tests
  avm/res/synapse/private-link-hub/README.md
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1412 fix: Fixing `avm/res/purview/account` static tests
  avm/res/purview/account/README.md
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1424 chore: triage automation bug fixes
  .github/policies/eventResponder.yml
Labels: Type: Hygiene :broom:

#1425 fix: ALign default module to WAF-Aligned
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1413 fix: Fixing the `expirationTime` issue in `avm/res/desktop-virtualization/scaling-plan`
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/max/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1406 feat: Updates base image and adds features the nice way, allows local testing
  .devcontainer/devcontainer.json
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1444 fix: bump PowerShell v2 in GH actions
  .github/actions/templates/avm-publishModule/action.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/actions/templates/avm-validateModulePSRule/action.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1458 fix: Enforce PowerShell code formatter
  .vscode/settings.json
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
  avm/res/key-vault/vault/tests/e2e/max/tests/connectivity.tests.ps1
  avm/res/network/nat-gateway/tests/unit/avm.core.team.tests.ps1
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzAvailableResourceLocation.ps1
  avm/utilities/pipelines/e2eValidation/resourceDeployment/New-TemplateDeployment.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceLockRemoval.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-Deployment.ps1
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/Switch-WorkflowState.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleReadmeLink.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetPatchVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleVersionChange.ps1
  avm/utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
  avm/utilities/pipelines/publish/helper/New-ModuleReleaseTag.ps1
  avm/utilities/pipelines/sharedScripts/Get-LocallyReferencedFileList.ps1
  avm/utilities/pipelines/sharedScripts/Get-NestedResourceList.ps1
  avm/utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/Convert-TokensInFileList.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/helper/Convert-TokenInFile.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/pipelines/staticValidation/psrule/Set-PSRuleGitHubOutput.ps1
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
  avm/utilities/tools/Set-AVMModule.ps1
  avm/utilities/tools/helper/Get-TemplateDeploymentWhatIf.ps1
  avm/utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1460 fix: bump Azure login from v1 to v2 in GH actions
  .github/actions/templates/avm-publishModule/action.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1330 feat: New Module `avm/res/web/hosting-environment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.web.hosting-environment.yml
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/main.bicep
  avm/res/web/hosting-environment/configuration--customdnssuffix/main.json
  avm/res/web/hosting-environment/configuration--networking/README.md
  avm/res/web/hosting-environment/configuration--networking/main.bicep
  avm/res/web/hosting-environment/configuration--networking/main.json
  avm/res/web/hosting-environment/main.bicep
  avm/res/web/hosting-environment/main.json
  avm/res/web/hosting-environment/tests/e2e/defaults/dependencies.bicep
  avm/res/web/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/res/web/hosting-environment/tests/e2e/max/dependencies.bicep
  avm/res/web/hosting-environment/tests/e2e/max/main.test.bicep
  avm/res/web/hosting-environment/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/web/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/hosting-environment/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1462 fix: User Assigned Identity - Federated Identity Credential Concurrency
  avm/res/managed-identity/user-assigned-identity/README.md
  avm/res/managed-identity/user-assigned-identity/main.bicep
  avm/res/managed-identity/user-assigned-identity/main.json
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Bug Fix, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#938 feat: New Module `avm/res/container-instance/container-group`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.container-instance.container-group.yml
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/container-instance/container-group/tests/e2e/defaults/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/encr/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/encr/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/max/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/max/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/private/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/private/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-instance/container-group/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#1289 feat: `avm/res/network/service-endpoint-policy`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.service-endpoint-policy.yml
  avm/res/network/service-endpoint-policy/README.md
  avm/res/network/service-endpoint-policy/main.bicep
  avm/res/network/service-endpoint-policy/main.json
  avm/res/network/service-endpoint-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/service-endpoint-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/service-endpoint-policy/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1474 fix: Applied missing update to Network Service Endpoint Policy
  .github/CODEOWNERS
  avm/res/network/service-endpoint-policy/README.md
  avm/res/network/service-endpoint-policy/main.bicep
  avm/res/network/service-endpoint-policy/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1475 fix: WAF Reliability + PE updates for `avm/res/search/search-service`
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1477 fix: Update thresholdType to use `Forecasted` instead of `Forecast`
  avm/res/consumption/budget/README.md
  avm/res/consumption/budget/main.bicep
  avm/res/consumption/budget/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:
