Repository Azure/bicep-registry-modules, pull requests merged in 2024-02, with the labels that each got.

#909 feat: Enable publishSource experimental flag in bicepconfig.json
  avm/res/bicepconfig.json
  modules/app/app-configuration/bicepconfig.json
  modules/bicepconfig.json
  modules/compute/event-hub/bicepconfig.json
  modules/compute/function-app/bicepconfig.json
  modules/storage/cosmos-db/bicepconfig.json
  modules/storage/data-explorer/bicepconfig.json
  modules/storage/mysql-single-server/bicepconfig.json
  modules/storage/postgresql-single-server/bicepconfig.json
  modules/storage/redis-cache/bicepconfig.json
Labels: Needs: Triage :mag:

#830 feat: `avm/res/desktop-virtualization/scaling-plan`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.desktop-virtualization.scaling-plan.yml
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/scaling-plan/main.bicep
  avm/res/desktop-virtualization/scaling-plan/main.json
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#832 feat: `avm/res/desktop-virtualization/application-group`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.desktop-virtualization.application-group.yml
  avm/res/desktop-virtualization/application-group/README.md
  avm/res/desktop-virtualization/application-group/application/README.md
  avm/res/desktop-virtualization/application-group/application/main.bicep
  avm/res/desktop-virtualization/application-group/application/main.json
  avm/res/desktop-virtualization/application-group/main.bicep
  avm/res/desktop-virtualization/application-group/main.json
  avm/res/desktop-virtualization/application-group/tests/e2e/defaults/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/application-group/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#756 feat: Migrated module `Microsoft.VirtualMachineImages/imageTemplates`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.virtual-machine-images.image-template.yml
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/src/Initialize-LinuxSoftware.ps1
  avm/res/virtual-machine-images/image-template/tests/e2e/max/src/Install-LinuxPowerShell.sh
  avm/res/virtual-machine-images/image-template/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/waf-aligned/main.test.bicep
  avm/res/virtual-machine-images/image-template/version.json
  avm/utilities/e2e-template-assets/scripts/Set-StorageContainerContentByEnvVar.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#920 fix: minor update to allow module publishing
  avm/res/desktop-virtualization/application-group/application/README.md
  avm/res/desktop-virtualization/application-group/application/main.bicep
  avm/res/desktop-virtualization/application-group/application/main.json
  avm/res/desktop-virtualization/application-group/main.json
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/scaling-plan/main.bicep
  avm/res/desktop-virtualization/scaling-plan/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#940 fix: remove orphan out of databricks/workspace
  avm/res/databricks/workspace/ORPHANED.md
  avm/res/databricks/workspace/README.md
Labels: Needs: Triage :mag:

#873 feat: avm/res/insights/private-link-scope
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.insights.private-link-scope.yml
  avm/res/insights/private-link-scope/README.md
  avm/res/insights/private-link-scope/main.bicep
  avm/res/insights/private-link-scope/main.json
  avm/res/insights/private-link-scope/scoped-resource/README.md
  avm/res/insights/private-link-scope/scoped-resource/main.bicep
  avm/res/insights/private-link-scope/scoped-resource/main.json
  avm/res/insights/private-link-scope/tests/e2e/defaults/main.test.bicep
  avm/res/insights/private-link-scope/tests/e2e/max/dependencies.bicep
  avm/res/insights/private-link-scope/tests/e2e/max/main.test.bicep
  avm/res/insights/private-link-scope/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/private-link-scope/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/private-link-scope/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#943 fix: Fixed issue with multi-line parameter descriptions
  avm/res/compute/gallery/image/README.md
  avm/res/web/site/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#952 chore: informational notice for non-AVM modules
  README.md
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#941 feat: New module avm/res/synapse/private-link-hub
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.synapse.private-link-hub.yml
  avm/res/synapse/private-link-hub/ORPHANED.md
  avm/res/synapse/private-link-hub/README.md
  avm/res/synapse/private-link-hub/main.bicep
  avm/res/synapse/private-link-hub/main.json
  avm/res/synapse/private-link-hub/tests/e2e/defaults/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/max/dependencies.bicep
  avm/res/synapse/private-link-hub/tests/e2e/max/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/synapse/private-link-hub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/private-link-hub/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#963 docs: updated contribution guide
  CONTRIBUTING.md
Labels: Needs: Triage :mag:

#951 fix: `storage-account` fails if `bypass` is null but `networkACLs` is set
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/tests/e2e/max/dependencies.bicep
  avm/res/storage/storage-account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#967 fix: remove orphan message from data factory module
  avm/res/data-factory/factory/ORPHANED.md
  avm/res/data-factory/factory/README.md
Labels: Needs: Triage :mag:

#921 fix: remove ORPHANED.md from 2 recently parented modules
  avm/res/document-db/database-account/ORPHANED.md
  avm/res/document-db/database-account/README.md
  avm/res/sql/server/ORPHANED.md
  avm/res/sql/server/README.md
Labels: Needs: Triage :mag:

#969 fix: Health-bot - Update resource name instance
  avm/res/health-bot/health-bot/README.md
  avm/res/health-bot/health-bot/tests/e2e/defaults/main.test.bicep
  avm/res/health-bot/health-bot/tests/e2e/max/main.test.bicep
  avm/res/health-bot/health-bot/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#836 feat: `avm/res/desktop-virtualization/workspace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.desktop-virtualization.workspace.yml
  avm/res/desktop-virtualization/workspace/README.md
  avm/res/desktop-virtualization/workspace/main.bicep
  avm/res/desktop-virtualization/workspace/main.json
  avm/res/desktop-virtualization/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/private-endpoint/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Class: Resource Module :package:

#831 feat: `avm/res/desktop-virtualization/host-pool`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.desktop-virtualization.host-pool.yml
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/host-pool/main.bicep
  avm/res/desktop-virtualization/host-pool/main.json
  avm/res/desktop-virtualization/host-pool/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/private-endpoint/main.test.bicep
  avm/res/desktop-virtualization/host-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/host-pool/version.json
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#876 feat: avm/res/network/private-link-service
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.private-link-service.yml
  avm/res/network/private-link-service/README.md
  avm/res/network/private-link-service/main.bicep
  avm/res/network/private-link-service/main.json
  avm/res/network/private-link-service/tests/e2e/defaults/dependencies.bicep
  avm/res/network/private-link-service/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-link-service/tests/e2e/max/dependencies.bicep
  avm/res/network/private-link-service/tests/e2e/max/main.test.bicep
  avm/res/network/private-link-service/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/private-link-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-link-service/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#944 fix: Add filtering to the budget.
  avm/res/consumption/budget/README.md
  avm/res/consumption/budget/main.bicep
  avm/res/consumption/budget/main.json
  avm/res/consumption/budget/tests/e2e/max/main.test.bicep
  avm/res/consumption/budget/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#978 fix: Updated `/consumption/budget` readme & fixed conditional param
  avm/res/consumption/budget/README.md
  avm/res/consumption/budget/main.bicep
  avm/res/consumption/budget/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#982 feat: Enabled Workflow-Trigger function to trigger only for module diff
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:

#979 fix: Fixed issue where nested properties would not be resolved in readme
  avm/res/analysis-services/server/README.md
  avm/res/api-management/service/README.md
  avm/res/automation/automation-account/README.md
  avm/res/batch/batch-account/README.md
  avm/res/cache/redis/README.md
  avm/res/cognitive-services/account/README.md
  avm/res/container-registry/registry/README.md
  avm/res/container-service/managed-cluster/README.md
  avm/res/data-factory/factory/README.md
  avm/res/databricks/workspace/README.md
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/desktop-virtualization/application-group/README.md
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/workspace/README.md
  avm/res/document-db/database-account/README.md
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/topic/README.md
  avm/res/insights/component/README.md
  avm/res/insights/private-link-scope/README.md
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/README.md
  avm/res/logic/workflow/README.md
  avm/res/network/bastion-host/README.md
  avm/res/network/express-route-circuit/README.md
  avm/res/network/front-door/README.md
  avm/res/network/load-balancer/README.md
  avm/res/network/network-interface/README.md
  avm/res/network/network-security-group/README.md
  avm/res/network/private-endpoint/README.md
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/route-table/README.md
  avm/res/network/trafficmanagerprofile/README.md
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network/README.md
  avm/res/operational-insights/workspace/README.md
  avm/res/search/search-service/README.md
  avm/res/service-bus/namespace/README.md
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/table-service/README.md
  avm/res/synapse/private-link-hub/README.md
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/web/serverfarm/README.md
  avm/res/web/site/README.md
  avm/res/web/site/slot/README.md
  avm/res/web/static-site/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#980 feat: `avm/res/cognites-services/account`updated OpenAI kind and api
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#954 feat: `avm/res/network/private-endpoint` added `groupId` output
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#984 fix: Databricks PE deployment name, add additional outputs
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Bug Fix, Type: AVM :a: :v: :m:

#976 fix: unorphaned `avm/res/api-management/service`
  avm/res/api-management/service/ORPHANED.md
  avm/res/api-management/service/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1002 feat: New Module `avm/res/management/management-group`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.management.management-group.yml
  avm/res/management/management-group/README.md
  avm/res/management/management-group/main.bicep
  avm/res/management/management-group/main.json
  avm/res/management/management-group/tests/e2e/defaults/main.test.bicep
  avm/res/management/management-group/tests/e2e/max/main.test.bicep
  avm/res/management/management-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/management/management-group/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#926 fix: Fixes website slot Private Endpoint configuration
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#977 fix: unorphaned `avm/res/compute/image`
  avm/res/compute/image/ORPHANED.md
  avm/res/compute/image/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1003 fix: unorphaned `avm/res/databricks/access-connector`
  avm/res/databricks/access-connector/ORPHANED.md
  avm/res/databricks/access-connector/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#914 feat: new module avm/res/synapse/workspace
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.synapse.workspace.yml
  avm/res/synapse/workspace/ORPHANED.md
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/integration-runtime/README.md
  avm/res/synapse/workspace/integration-runtime/main.bicep
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/key/README.md
  avm/res/synapse/workspace/key/main.bicep
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/modules/nested_cmkRbac.bicep
  avm/res/synapse/workspace/tests/e2e/defaults/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/encrwsai/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/encrwsai/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/encrwuai/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/encrwuai/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/managedvnet/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/managedvnet/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/max/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/synapse/workspace/version.json
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1010 fix: storage-account module - fixing `requireInfrastructureEncryption` issue
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/README.md
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1023 feat: Module `avm/res/network/public-ip-address` API version update
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/public-ip-address/tests/e2e/max/dependencies.bicep
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/public-ip-address/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/public-ip-address/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1006 feat: Introduce limited location list
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AzAvailableResourceLocation.ps1
Labels: Type: AVM :a: :v: :m:

#908 feat: Add --with-source flag to bicep publish command
  .github/workflows/publish-module.yml
  avm/bicepconfig.json
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
Labels: Type: AVM :a: :v: :m:, Needs: External Changes :hammer_and_pick:

#1008 feat: test --with-source publishing for one avm product
  avm/res/app/container-app/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1041 feat: Module `avm/res/network/public-ip-prefix` API version update
  avm/res/network/public-ip-prefix/README.md
  avm/res/network/public-ip-prefix/main.bicep
  avm/res/network/public-ip-prefix/main.json
  avm/res/network/public-ip-prefix/tests/e2e/defaults/main.test.bicep
  avm/res/network/public-ip-prefix/tests/e2e/max/dependencies.bicep
  avm/res/network/public-ip-prefix/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-prefix/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/public-ip-prefix/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/public-ip-prefix/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1040 fix: calling publish --with-source with bicep template
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
Labels: Needs: Triage :mag:

#1044 fix: trigger containerapp publishing with source
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
Labels: Needs: Triage :mag:

#918 feat: avm/res/network/virtual hub
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.virtual-hub.yml
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hub-route-table/README.md
  avm/res/network/virtual-hub/hub-route-table/main.bicep
  avm/res/network/virtual-hub/hub-route-table/main.json
  avm/res/network/virtual-hub/hub-virtual-network-connection/README.md
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.bicep
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
  avm/res/network/virtual-hub/tests/e2e/defaults/dependencies.bicep
  avm/res/network/virtual-hub/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/max/dependencies.bicep
  avm/res/network/virtual-hub/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/virtual-hub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-hub/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1001 feat: Update Pull Request Template for AVM Module
  .github/pull_request_template.md
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1028 feat: /avm/res/network/virtual-wan
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.virtual-wan.yml
  avm/res/network/virtual-wan/README.md
  avm/res/network/virtual-wan/main.bicep
  avm/res/network/virtual-wan/main.json
  avm/res/network/virtual-wan/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-wan/tests/e2e/max/dependencies.bicep
  avm/res/network/virtual-wan/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-wan/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/virtual-wan/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-wan/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1048 fix: trigger publicipprefix publishing with source
  avm/res/network/public-ip-prefix/README.md
  avm/res/network/public-ip-prefix/main.bicep
  avm/res/network/public-ip-prefix/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1049 fix: calling publish --with-source using bicep template - brm publish fix
  .github/workflows/publish-module.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1051 fix: Fixed incorrect PE implementation for Storage Account
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1056 feat: avm/res/compute/gallery - added isAcceleratedNetworkSupported
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1057 fix: fixed passing telemetry to the private endpoints in some modules
  avm/res/desktop-virtualization/host-pool/main.bicep
  avm/res/desktop-virtualization/host-pool/main.json
  avm/res/desktop-virtualization/workspace/main.bicep
  avm/res/desktop-virtualization/workspace/main.json
  avm/res/insights/private-link-scope/main.bicep
  avm/res/insights/private-link-scope/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1073 fix: Log Analytics module: fixed Managed Identity type
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1070 PE adjustments
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
  avm/res/automation/automation-account/version.json
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/batch/batch-account/version.json
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/version.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/version.json
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1077 feat: added additional PE tests
  avm/res/automation/automation-account/tests/e2e/max/dependencies.bicep
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/max/dependencies.bicep
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/max/dependencies.bicep
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/synapse/private-link-hub/main.bicep
  avm/res/synapse/private-link-hub/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/max/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1068 feat: Update publish from tag with token replacement
  .github/workflows/avm.platform.publish-tag.yml
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1034 feat: /avm/res/network/network-manager
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.network-manager.yml
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/connectivity-configuration/README.md
  avm/res/network/network-manager/connectivity-configuration/main.bicep
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/README.md
  avm/res/network/network-manager/network-group/main.bicep
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/README.md
  avm/res/network/network-manager/network-group/static-member/main.bicep
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/scope-connection/README.md
  avm/res/network/network-manager/scope-connection/main.bicep
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/README.md
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-manager/tests/e2e/max/dependencies.bicep
  avm/res/network/network-manager/tests/e2e/max/main.test.bicep
  avm/res/network/network-manager/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-manager/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1080 fix: Used Network-Manager token in test file
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1035 feat: /avm/res/dev-test-lab/lab
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.dev-test-lab.lab.yml
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/artifactsource/README.md
  avm/res/dev-test-lab/lab/artifactsource/main.bicep
  avm/res/dev-test-lab/lab/artifactsource/main.json
  avm/res/dev-test-lab/lab/cost/README.md
  avm/res/dev-test-lab/lab/cost/main.bicep
  avm/res/dev-test-lab/lab/cost/main.json
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/notificationchannel/README.md
  avm/res/dev-test-lab/lab/notificationchannel/main.bicep
  avm/res/dev-test-lab/lab/notificationchannel/main.json
  avm/res/dev-test-lab/lab/policyset/policy/README.md
  avm/res/dev-test-lab/lab/policyset/policy/main.bicep
  avm/res/dev-test-lab/lab/policyset/policy/main.json
  avm/res/dev-test-lab/lab/schedule/README.md
  avm/res/dev-test-lab/lab/schedule/main.bicep
  avm/res/dev-test-lab/lab/schedule/main.json
  avm/res/dev-test-lab/lab/tests/e2e/defaults/main.test.bicep
  avm/res/dev-test-lab/lab/tests/e2e/max/dependencies.bicep
  avm/res/dev-test-lab/lab/tests/e2e/max/main.test.bicep
  avm/res/dev-test-lab/lab/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/dev-test-lab/lab/tests/e2e/waf-aligned/main.test.bicep
  avm/res/dev-test-lab/lab/version.json
  avm/res/dev-test-lab/lab/virtualnetwork/README.md
  avm/res/dev-test-lab/lab/virtualnetwork/main.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1088 fix: Enforce vnet publish with source
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1054 fix: Access Connector managed identity set to "none" for default
  avm/res/databricks/access-connector/main.bicep
  avm/res/databricks/access-connector/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1093 fix: Small token fixes
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/tests/e2e/max/main.test.bicep
  avm/utilities/tools/Test-ModuleLocally.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#1086 fix: unorphaned `avm/res/db-for-postgre-sql/flexible-server`
  avm/res/db-for-postgre-sql/flexible-server/ORPHANED.md
  avm/res/db-for-postgre-sql/flexible-server/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1055 feat: New Module `avm/res/machine-learning-services/workspace`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.machine-learning-services.workspace.yml
  avm/res/machine-learning-services/workspace/ORPHANED.md
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/README.md
  avm/res/machine-learning-services/workspace/compute/main.bicep
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/defaults/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/encr/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/encr/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/max/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/machine-learning-services/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1107 chore: Remove issue templates not related to AVM
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/module_proposal.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1053 feat: New Module `avm/res/purview/account`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.purview.account.yml
  avm/res/purview/account/ORPHANED.md
  avm/res/purview/account/README.md
  avm/res/purview/account/main.bicep
  avm/res/purview/account/main.json
  avm/res/purview/account/tests/e2e/defaults/main.test.bicep
  avm/res/purview/account/tests/e2e/max/dependencies.bicep
  avm/res/purview/account/tests/e2e/max/main.test.bicep
  avm/res/purview/account/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/purview/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/purview/account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:
