Repository Azure/bicep-registry-modules, pull requests merged in 2024-07, with the labels that each got.

#2582 fix: change deployment script's storage account to LRS to avoid unsupported ZRS regions
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2551 feat: `avm/res/storage/storage-account` Added service endpoints to output
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Class: Resource Module :package:, Language: Bicep :muscle:

#2581 fix: unorphan `avm/res/machine-learning-services/workspace` module
  avm/res/machine-learning-services/workspace/ORPHANED.md
  avm/res/machine-learning-services/workspace/README.md
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2547 feat: Issue2486 adding hub routing preference
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hub-route-table/main.json
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
  avm/res/network/virtual-hub/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2583 fix: bump api version for virtual-network resource
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/tests/e2e/vnetPeering/dependencies.bicep
  avm/res/network/virtual-network/virtual-network-peering/README.md
  avm/res/network/virtual-network/virtual-network-peering/main.bicep
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2593 fix: Add logs child resource to deployment script module
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2545 fix: add outstanding Databricks parameters `avm/res/databricks/workspace`
  avm/res/databricks/workspace/main.bicep
Labels: Type: AVM :a: :v: :m:

#2564 feat: `avm/res/network/load balancer`
  avm/res/network/load-balancer/README.md
  avm/res/network/load-balancer/backend-address-pool/README.md
  avm/res/network/load-balancer/backend-address-pool/main.bicep
  avm/res/network/load-balancer/backend-address-pool/main.json
  avm/res/network/load-balancer/inbound-nat-rule/README.md
  avm/res/network/load-balancer/inbound-nat-rule/main.bicep
  avm/res/network/load-balancer/inbound-nat-rule/main.json
  avm/res/network/load-balancer/main.bicep
  avm/res/network/load-balancer/main.json
  avm/res/network/load-balancer/tests/e2e/max/main.test.bicep
  avm/res/network/load-balancer/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-wan/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Language: Bicep :muscle:

#2586 feat: Add output 'endpoint' in Configuration Store Module - `avm/res/app-configuration/configuration-store`
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Language: Bicep :muscle:

#2595 feat: `avm/res/network/load-balancer`
  avm/res/network/virtual-wan/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2607 fix: Corrected deployment-name limitation
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:

#2580 fix: workaround for Azure Stack HCI underscores
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2194 feat: Update API version to support EntraID authentication to `avm/res/cache/redis`
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/entra-id/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2616 Fix: osDisk required properties for diskSizeGB and storageAccountType
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#2638 fix: Deployment script retentionInterval
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/main.bicep
  avm/res/resources/deployment-script/main.json
  avm/res/resources/deployment-script/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2548 feat: `avm/res/web/site` Support the name property value as `web` or `logs` and the kind property value as `string`.
  avm/res/web/site/README.md
  avm/res/web/site/config--logs/README.md
  avm/res/web/site/config--logs/main.bicep
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/README.md
  avm/res/web/site/config--web/main.bicep
  avm/res/web/site/config--web/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/tests/e2e/logsConfig/dependencies.bicep
  avm/res/web/site/tests/e2e/logsConfig/main.test.bicep
  avm/res/web/site/tests/e2e/webConfig/dependencies.bicep
  avm/res/web/site/tests/e2e/webConfig/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:

#2641 ci: Increase PSRule Build Timeout
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2645 feat: New Pattern Module `avm/ptn/network/private-link-private-dns-zones`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.network.private-link-private-dns-zones.yml
  avm/ptn/network/private-link-private-dns-zones/README.md
  avm/ptn/network/private-link-private-dns-zones/main.bicep
  avm/ptn/network/private-link-private-dns-zones/main.json
  avm/ptn/network/private-link-private-dns-zones/tests/e2e/defaults/main.test.bicep
  avm/ptn/network/private-link-private-dns-zones/tests/e2e/max/dependencies.bicep
  avm/ptn/network/private-link-private-dns-zones/tests/e2e/max/main.test.bicep
  avm/ptn/network/private-link-private-dns-zones/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/network/private-link-private-dns-zones/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/network/private-link-private-dns-zones/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2471 fix: PowerShell formatting - 4 spaces tab alignment
  .vscode/settings.json
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Remove-OldResources.ps1
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Start-Triggers.ps1
  avm/ptn/lz/sub-vending/scripts/Register-SubscriptionResourceProviderList.ps1
  avm/ptn/lz/sub-vending/tests/e2e/defaults/pester/main.tests.ps1
  avm/ptn/lz/sub-vending/tests/e2e/hub-spoke/pester/main.tests.ps1
  avm/ptn/lz/sub-vending/tests/e2e/vwan-spoke/pester/main.tests.ps1
  avm/res/cognitive-services/account/tests/unit/custom.tests.ps1
  avm/res/compute/ssh-public-key/tests/unit/custom.tests.ps1
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
  avm/res/insights/action-group/tests/unit/custom.tests.ps1
  avm/res/key-vault/vault/tests/unit/custom.tests.ps1
  avm/res/kubernetes-configuration/extension/tests/unit/custom.tests.ps1
  avm/res/kubernetes-configuration/flux-configuration/tests/unit/custom.tests.ps1
  avm/res/managed-identity/user-assigned-identity/tests/unit/custom.tests.ps1
  avm/res/network/dns-resolver/tests/unit/custom.tests.ps1
  avm/res/network/nat-gateway/tests/unit/avm.core.team.tests.ps1
  avm/res/network/private-endpoint/tests/unit/custom.tests.ps1
  avm/res/network/public-ip-address/tests/unit/custom.tests.ps1
  avm/utilities/e2e-template-assets/scripts/Get-HostPoolRegistrationKey.ps1
  avm/utilities/e2e-template-assets/scripts/Set-PfxCertificateInKeyVault.ps1
  avm/utilities/pipelines/e2eValidation/regionSelector/Get-AvailableResourceLocation.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
  avm/utilities/pipelines/platform/Publish-ModuleFromTagToPBR.ps1
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  avm/utilities/pipelines/platform/Sync-AvmModulesList.ps1
  avm/utilities/pipelines/platform/helper/Add-GithubIssueToProject.ps1
  avm/utilities/pipelines/platform/helper/Get-AvmCsvData.ps1
  avm/utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleReadmeLink.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetPatchVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleTargetVersion.ps1
  avm/utilities/pipelines/publish/helper/Get-ModuleVersionChange.ps1
  avm/utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
  avm/utilities/pipelines/publish/helper/New-ModuleReleaseTag.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/Convert-TokensInFileList.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Class: Pattern Module :package:, Needs: Core Team :genie:, Type: CI :rocket:

#2356 feat: Remove deployment-RP warning suppression from `bicepconfig.json`
  bicepconfig.json
Labels: Needs: Core Team :genie:

#2640 fix: avm-ptn-sub-vending Bump AVM modules API versions
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/hubRouteTables.bicep
  avm/ptn/lz/sub-vending/modules/hubVirtualNetworkConnections.bicep
  avm/ptn/lz/sub-vending/modules/locksResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/locksSubscription.bicep
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/lz/sub-vending/modules/subscriptionAlias.bicep
  avm/ptn/lz/sub-vending/modules/tags.bicep
  avm/ptn/lz/sub-vending/modules/tagsResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/tagsSubscription.bicep
  avm/ptn/lz/sub-vending/modules/virtualHubs.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2670 fix: avm-ptn-lz-sub-vending update json
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/scripts/Register-SubscriptionResourceProviderList.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2255 feat: New Module `avm/ptn/deployment-script/import-image-to-acr`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.deployment-script.import-image-to-acr.yml
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/defaults/dependencies.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/defaults/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/dependencies.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#2643 chore: Extend module reviewers opt1
  .github/CODEOWNERS
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2521 feat: res/eventhub/namespace API version update
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/authorization-rule/README.md
  avm/res/event-hub/namespace/authorization-rule/main.bicep
  avm/res/event-hub/namespace/authorization-rule/main.json
  avm/res/event-hub/namespace/disaster-recovery-config/README.md
  avm/res/event-hub/namespace/disaster-recovery-config/main.bicep
  avm/res/event-hub/namespace/disaster-recovery-config/main.json
  avm/res/event-hub/namespace/eventhub/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.bicep
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.json
  avm/res/event-hub/namespace/eventhub/consumergroup/README.md
  avm/res/event-hub/namespace/eventhub/consumergroup/main.bicep
  avm/res/event-hub/namespace/eventhub/consumergroup/main.json
  avm/res/event-hub/namespace/eventhub/main.bicep
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/network-rule-set/README.md
  avm/res/event-hub/namespace/network-rule-set/main.bicep
  avm/res/event-hub/namespace/network-rule-set/main.json
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2562 feat: Support geo-replication for Redis cache
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/README.md
  avm/res/cache/redis/linked-servers/main.bicep
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/passive-geo-replication/dependencies1.bicep
  avm/res/cache/redis/tests/e2e/passive-geo-replication/dependencies2.bicep
  avm/res/cache/redis/tests/e2e/passive-geo-replication/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2556 feat: `avm/res/operational-insights/workspace` Add ability to send diagnostic settings to itself
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2557 feat: `avm/res/insights/data-collection-endpoint` API version update
  avm/res/insights/data-collection-endpoint/README.md
  avm/res/insights/data-collection-endpoint/main.bicep
  avm/res/insights/data-collection-endpoint/main.json
  avm/res/insights/data-collection-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/max/dependencies.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/max/main.test.bicep
  avm/res/insights/data-collection-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/data-collection-endpoint/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2594 chore: Add `ms-vscode.azure-account` to dev container
  .devcontainer/devcontainer.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2552 feat: Data Factory add child Linked Service `avm/res/data-factory/factory`
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/linked-service/README.md
  avm/res/data-factory/factory/linked-service/main.bicep
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2673 feat: `avm/res/machine-learning-services/workspace` Disable public access by default, add new parameters to workspace
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/ai/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/ai/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/encr/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/encr/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/machine-learning-services/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Needs: Core Team :genie:

#2502 fix: `res/compute/gallery` fixes
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/gallery/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2263 feat: Added GH CLI support for 'Trigger Workflows for Branch' script
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2540 fix: Various bugfixes for VMSS module
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#2675 feat: #1785 output hostnames + feat: #2672 add the output hostname, endpointName, endpointId, uri in CDN Profile Module
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/README.md
  avm/res/cdn/profile/endpoint/main.bicep
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2704 fix: fix port to int as default value
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#2636 feat: avm.res.net-app.net-app-account
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/tests/e2e/defaults/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/max/dependencies.bicep
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/dependencies.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2709 fix: SQL-Server Added missing ORPHANED file
  avm/res/sql/server/ORPHANED.md
  avm/res/sql/server/README.md
Labels: Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#2711 ci: Fix `moduleIndex.json` generation to order tags for module by semantic version (latest last)
  .editorconfig
  .vscode/extensions.json
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2716 fix: Added missing ignore path to LZ workflow trigger
  .github/workflows/avm.ptn.lz.sub-vending.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#2695 feat: additional parameters for anf
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2720 feat: add doNotMergeWithLastModuleIndexJsonFileVersion flexibility to workflow
  .github/workflows/platform.publish-module-index-json.yml
  .vscode/settings.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2723 feat: Container-App - Add logic to disable ingress entirely
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/disable-ingress/dependencies.bicep
  avm/res/app/container-app/tests/e2e/disable-ingress/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2713 fix: Suffix fix added to app settings
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--logs/main.json
  avm/res/web/site/config--web/main.json
  avm/res/web/site/main.json
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2694 feat: `avm/ptn/ai-platform/baseline` New module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.ai-platform.baseline.yml
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/tests/e2e/defaults/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/max/dependencies.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/max/main.test.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/ai-platform/baseline/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Class: Pattern Module :package:, Needs: Core Team :genie:

#2658 feat: Add the creation of 'Microsoft.ContainerRegistry/registries/scopeMaps' in Container Registry Module - `avm/res/container-registry/registry`
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/scope-map/README.md
  avm/res/container-registry/registry/scope-map/main.bicep
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/tests/e2e/scope/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:

#2725 feat: Added customDnsConfig output for PE
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2724 feat: `avm/res/network/network-manager` Update to latest documented API version and removed Preview label for Mesh
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/connectivity-configuration/README.md
  avm/res/network/network-manager/connectivity-configuration/main.bicep
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/README.md
  avm/res/network/network-manager/network-group/main.bicep
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/README.md
  avm/res/network/network-manager/network-group/static-member/main.bicep
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/scope-connection/README.md
  avm/res/network/network-manager/scope-connection/main.bicep
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/README.md
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2715 fix: Fixed `Set-AVMModule` dependency on Windows OS
  avm/utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
Labels: Needs: Triage :mag:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2738 feat: `avm/ptn/deployment-script/import-image-to-acr` adds ability to rename the imported image
  avm/ptn/deployment-script/import-image-to-acr/README.md
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/deployment-script/import-image-to-acr/tests/e2e/max/main.test.bicep
  avm/ptn/deployment-script/import-image-to-acr/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2458 fix: (Re-)Enabled ReadMe Utility to run offline without failing
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-SpecsAlignedResourceName.ps1
  avm/utilities/tools/Set-AVMModule.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2705 fix: Added retry to post-removal logic
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2734 fix: Update databricks instance name for `max` test
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/tests/e2e/max/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1949 feat: Use null value to evaluate behavior in publicNetworkAccess instead of empty string - `avm/res/cognitive-services/account`
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2461 feat: Optimized deployment resolution runtime to reduce unnecessary wait time
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-Deployment.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2722 feat: Container App - Add cors policy and client cert mode
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2726 feat: Added virtualNetworkLink Type for Private DNS Zone
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2459 feat: Added first version of a CI-focused testing pipeline
  .github/workflows/platform.ci-tests.yml
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/tests/Test-CI.ps1
  avm/utilities/tests/pipelines/Get-OrderedResourcesList.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#2740 fix: Added baseTime parameter overwrite to CI
  .github/actions/templates/avm-validateModuleDeployment/action.yml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#2793 fix: Update and Fix AKS deployment
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2097 feat: Change input parameter to boolean (AKS)
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#2660 fix: Site module app insight and customDomainVerificationId
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2735 feat: `avm/res/cognitive-services/account` Added endpoints to outputs
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2761 feat: `avm/res/databricks/workspace` Add support for private network to workspace storage account
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Status: In PR :point_right:

#2788 fix: Purview Account - Updated enforced location to latest supported
  avm/res/purview/account/tests/e2e/defaults/main.test.bicep
  avm/res/purview/account/tests/e2e/max/main.test.bicep
  avm/res/purview/account/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Type: Bug :bug:

#2787 feat: `avm/res/container-service/managed-cluster` Updates container service to support automatic clusters
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/README.md
  avm/res/container-service/managed-cluster/maintenance-configurations/main.bicep
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#2863 fix: CI - Fixed moduleIndex implementation for scheduled runs
  .github/workflows/platform.publish-module-index-json.yml
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2687 feat: Add private-endpoint e2e
  avm/res/resources/deployment-script/README.md
  avm/res/resources/deployment-script/tests/e2e/private-endpoint/dependencies.bicep
  avm/res/resources/deployment-script/tests/e2e/private-endpoint/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2869 fix: `avm/res/virtual-machine-images/image-template` Update test case image versions
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2862 fix: CI - Fixed error test formatting for static validation
  avm/ptn/ai-platform/baseline/README.md
  avm/res/machine-learning-services/workspace/README.md
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/replication-policy/README.md
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#2871 fix: use the safe access operator warning in `avm/res/operational-insights/workspace`
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2874 feat: `avm/res/network/public-ip-address` - update roleAssignments to the newest specs
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
  avm/res/network/public-ip-address/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-address/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#2877 test: Container App - Update max test to pass in secret into container env from container app secret list
  avm/res/app/container-app/README.md
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2879 fix: developer SKU doesn't deploy with null arrays
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2718 feat: `avm/res/network/private-endpoint` Make privateDnsZoneConfigs names configurable
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/private-dns-zone-group/README.md
  avm/res/network/private-endpoint/private-dns-zone-group/main.bicep
  avm/res/network/private-endpoint/private-dns-zone-group/main.json
  avm/res/network/private-endpoint/tests/e2e/max/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2838 fix: Updated `baseTime` usage in Image-Disk-Import to avoid invalid RG names
  avm/res/compute/disk/tests/e2e/import/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#2898 feat: `avm/res/network/private-endpoint` Make privateDnsZoneConfigs names configurable
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/machine-learning-services/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Needs: Core Team :genie:

#2897 fix: Remove local cross-reference in `avm/res/automation/automation-account`
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/credential/main.json
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/modules/linked-service.bicep
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:
