Repository Azure/bicep-registry-modules, pull requests merged in 2024-05, with the labels that each got.

#1788 fix: Added missing `platform` folder ignore to 2 workflows
  .github/workflows/avm.res.network.application-gateway.yml
  .github/workflows/avm.res.sql.managed-instance.yml
Labels: Type: AVM :a: :v: :m:

#1696 feat: Replications and WAF alignment for App Store - `avm/res/app-configuration/configuration-store`
  avm/res/app-configuration/configuration-store/ORPHANED.md
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/key-value/main.json
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
  avm/res/app-configuration/configuration-store/replicas/README.md
  avm/res/app-configuration/configuration-store/replicas/main.bicep
  avm/res/app-configuration/configuration-store/replicas/main.json
  avm/res/app-configuration/configuration-store/tests/e2e/defaults/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/encr/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/max/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/pe/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app-configuration/configuration-store/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
  avm/utilities/pipelines/staticValidation/psrule/ps-rule.yaml
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1809 chore: shortening module statuses
  avm/utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: Hygiene :broom:

#1817 fix: repair automatic assignment of issues
  avm/utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Type: Hygiene :broom:

#1822 fix: Removed orphaned file & reference
  avm/res/insights/webtest/ORPHANED.md
  avm/res/insights/webtest/README.md
  avm/res/insights/webtest/main.json
Labels: Type: AVM :a: :v: :m:

#1826 fix: Temporarily disabled OpenAI test
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/warning.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1794 fix: WebApp - Updated to latest PE schema
  avm/res/web/site/README.md
  avm/res/web/site/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/basic-publishing-credentials-policy/main.json
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/config--authsettingsv2/main.json
  avm/res/web/site/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.bicep
  avm/res/web/site/slot/basic-publishing-credentials-policy/main.json
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/config--authsettingsv2/main.json
  avm/res/web/site/slot/hybrid-connection-namespace/relay/main.json
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1833 fix: Added additional case handling to logic that pulls workflow inputs
  .github/actions/templates/avm-getWorkflowInput/action.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1772 fix: Allow empty parameters in subnet `avm/res/network/virtual-network`
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#1834 fix: not supported Powershell and Python versions on Automation Runbook type
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/job-schedule/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/module/main.json
  avm/res/automation/automation-account/runbook/README.md
  avm/res/automation/automation-account/runbook/main.bicep
  avm/res/automation/automation-account/runbook/main.json
  avm/res/automation/automation-account/schedule/main.json
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/variable/main.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:, Class: Resource Module :package:

#1819 feat: Update VMSS to default to flexible orchestration mode - `avm/res/compute/virtual-machine-scale-set`
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.bicep
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1771 fix: Set subnet batch size decorator
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
Labels: Type: AVM :a: :v: :m:

#1742 fix: CDN Profile - Parameter name for originGroups - `avm/res/cdn/profile`
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/tests/e2e/afd/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1807 feat: Bing is not available - `avm/res/cognitive-services/account`
  avm/res/cognitive-services/account/main.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1853 fix: Fixed typo in 'Publish from tag' workflow
  .github/workflows/platform.publish-tag.yml
Labels: Type: AVM :a: :v: :m:

#1832 feat: Removed enforcement of UDT schemas for pattern modules
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#1854 fix: Update files after Set-AVMModule run - `avm/res/cognitive-services/account`
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1855 fix: network watcher missing v2 formatting - `avm/res/network/network-watcher`
  avm/res/network/network-watcher/connection-monitor/main.bicep
  avm/res/network/network-watcher/connection-monitor/main.json
  avm/res/network/network-watcher/flow-log/main.json
  avm/res/network/network-watcher/main.json
  avm/res/network/network-watcher/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/max/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1856 fix: app managed environment missing v2 formatting - `avm/res/app/managed-environment`
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/defaults/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/defaults/main.test.bicep
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
  avm/res/app/managed-environment/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1835 feat: add requested features to VM module - `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.vmss/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.vmss/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1871 fix: Added missing context switching to deployment target resolution
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1883 feat: Implemented logic to make `resourceLocation` optional in CI
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/analytical/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/boundedConsistency/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/managedIdentity/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/multiRegion/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/publicRestrictedAccess/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/max/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/instance-pool/tests/e2e/defaults/main.test.bicep
  avm/res/sql/instance-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/max/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:

#1890 fix: service bus authorization rules default value fix
  avm/res/service-bus/namespace/authorization-rule/main.json
  avm/res/service-bus/namespace/disaster-recovery-config/main.json
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/migration-configuration/main.json
  avm/res/service-bus/namespace/network-rule-set/main.json
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/queue/authorization-rule/main.json
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/topic/authorization-rule/main.json
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1887 feat: Added the option to declare a specific resource type to be removed last
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-OrderedResourcesList.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-Deployment.ps1
Labels: Type: AVM :a: :v: :m:

#1849 feat: Add new parameters for `avm/res/virtual-machine-images/image-template` module
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  avm/res/virtual-machine-images/image-template/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1823 feat: Migrated module App/Jobs from CARML - `avm/res/app/job`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.app.job.yml
  avm/res/app/job/ORPHANED.md
  avm/res/app/job/README.md
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
  avm/res/app/job/tests/e2e/defaults/dependencies.bicep
  avm/res/app/job/tests/e2e/defaults/main.test.bicep
  avm/res/app/job/tests/e2e/max/dependencies.bicep
  avm/res/app/job/tests/e2e/max/main.test.bicep
  avm/res/app/job/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/job/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/job/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1916 fix: Remove ptn readme
  avm/ptn/readme.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1917 fix: Added case handling for `loadFromFile()` functions that introduce generated variables in ARM JSON files
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:

#1582 feat: New Module `avm/res/communication/email-service`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.communication.email-service.yml
  avm/res/communication/email-service/README.md
  avm/res/communication/email-service/domain/README.md
  avm/res/communication/email-service/domain/main.bicep
  avm/res/communication/email-service/domain/main.json
  avm/res/communication/email-service/domain/sender-username/README.md
  avm/res/communication/email-service/domain/sender-username/main.bicep
  avm/res/communication/email-service/domain/sender-username/main.json
  avm/res/communication/email-service/main.bicep
  avm/res/communication/email-service/main.json
  avm/res/communication/email-service/tests/e2e/defaults/main.test.bicep
  avm/res/communication/email-service/tests/e2e/max/dependencies.bicep
  avm/res/communication/email-service/tests/e2e/max/main.test.bicep
  avm/res/communication/email-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/communication/email-service/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1605 feat: New Module `avm/res/communication/communication-service`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.communication.communication-service.yml
  avm/res/communication/communication-service/README.md
  avm/res/communication/communication-service/main.bicep
  avm/res/communication/communication-service/main.json
  avm/res/communication/communication-service/tests/e2e/defaults/main.test.bicep
  avm/res/communication/communication-service/tests/e2e/max/dependencies.bicep
  avm/res/communication/communication-service/tests/e2e/max/main.test.bicep
  avm/res/communication/communication-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/communication/communication-service/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1919 feat: Create\Update User Defined Types with sensitive values to include @secure() decorator. - `avm/res/container-instance/container-group`
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/container-instance/container-group/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1905 feat: New pattern `avm/ptn/authorization/resource-role-assignment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.resource-role-assignment.yml
  avm/ptn/authorization/resource-role-assignment/README.md
  avm/ptn/authorization/resource-role-assignment/main.bicep
  avm/ptn/authorization/resource-role-assignment/main.json
  avm/ptn/authorization/resource-role-assignment/modules/generic-role-assignment.json
  avm/ptn/authorization/resource-role-assignment/tests/e2e/all/dependencies.bicep
  avm/ptn/authorization/resource-role-assignment/tests/e2e/all/main.test.bicep
  avm/ptn/authorization/resource-role-assignment/tests/e2e/defaults/dependencies.bicep
  avm/ptn/authorization/resource-role-assignment/tests/e2e/defaults/main.test.bicep
  avm/ptn/authorization/resource-role-assignment/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:

#1792 fix: MachineLearningWorkspace - Updated to latest PE schema - `avm/res/machine-learning-services/workspace`
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1939 fix: Resolve bug with declaring Public IP Prefix use on managementIP
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/publicipprefix/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/publicipprefix/main.test.bicep
  avm/res/network/azure-firewall/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1941 fix: Removed migration left-overs from Virtual-Hub module
  avm/res/network/virtual-hub/hub-route-table/README.md
  avm/res/network/virtual-hub/hub-route-table/main.bicep
  avm/res/network/virtual-hub/hub-route-table/main.json
  avm/res/network/virtual-hub/hub-virtual-network-connection/README.md
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.bicep
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1953 fix: Minor edits to get version publishing working
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1972 fix: Adding support for managedidentity
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/dependencies.bicep
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
  avm/res/app/managed-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1969 chore: `res/app/job` - not orphaned anymore
  avm/res/app/job/ORPHANED.md
  avm/res/app/job/README.md
  avm/res/app/job/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1976 fix: Added `-Culture 'en-US'` to all `Sort-Object` operations
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
  avm/res/network/nat-gateway/tests/unit/avm.core.team.tests.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Get-ResourceIdsAsFormattedObjectList.ps1
  avm/utilities/pipelines/e2eValidation/resourceRemoval/helper/Remove-Deployment.ps1
  avm/utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
  avm/utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
  avm/utilities/pipelines/sharedScripts/Add-YamlListToFile.ps1
  avm/utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  avm/utilities/pipelines/sharedScripts/helper/ConvertTo-OrderedHashtable.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  avm/utilities/pipelines/sharedScripts/helper/Get-SpecsAlignedResourceName.ps1
  avm/utilities/pipelines/sharedScripts/tokenReplacement/Convert-TokensInFileList.ps1
  avm/utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
  avm/utilities/pipelines/staticValidation/psrule/Set-PSRuleGitHubOutput.ps1
  avm/utilities/tools/Invoke-WorkflowsForBranch.ps1
  avm/utilities/tools/Test-ModuleLocally.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1970 fix: Fixed nested UDT resolution if array definition is in parameter, not the type
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/managed-services/registration-definition/README.md
  avm/utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1918 feat: update logic to create a meaningful issue, if the module list template is out of sync with the CSV files
  avm/utilities/pipelines/platform/Sync-AvmModulesList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#1967 fix: Add check to only apply quarantinePolicyStatus and trustPolicyStatus on Premium SKUs
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1971 fix: Fixed nested UDT resolution in compliance tests
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  avm/utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#1936 feat: Container App added Sticky Session Afinity options
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1986 feat: Import changes from #1123 for Key Vault - `avm/res/key-vault/vault`
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/eckey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/rsakey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/key-vault/vault/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1987 fix: Several Storage Account fixes included replacement for #1508 - `avm/res/storage/storage-account`
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/README.md
  avm/res/storage/storage-account/local-user/main.bicep
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.bicep
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/README.md
  avm/res/storage/storage-account/queue-service/queue/main.bicep
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.bicep
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/README.md
  avm/res/storage/storage-account/table-service/table/main.bicep
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/changefeed/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2005 fix: Added missing built-in roles for key vault
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#2006 fix: `ddosProtectionPlan` now optional in `ddosSettingsType` for PublicIPAddress
  avm/res/network/public-ip-address/README.md
  avm/res/network/public-ip-address/main.bicep
  avm/res/network/public-ip-address/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1921 [Feature Request] Add a possibility to specify partition key version for Hash partition key type
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/container/README.md
  avm/res/document-db/database-account/sql-database/container/main.bicep
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.bicep
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1944 feat: Implemented Container user-defined type - `avm/res/app/container-app`
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#1857 fix: sql mi missing v2 formatting - `avm/res/sql/managed-instance`
  avm/res/sql/managed-instance/database/main.bicep
  avm/res/sql/managed-instance/key/main.bicep
  avm/res/sql/managed-instance/main.bicep
  avm/res/sql/managed-instance/tests/e2e/defaults/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/max/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/max/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/managed-instance/vulnerability-assessment/main.bicep
  avm/res/sql/managed-instance/vulnerability-assessment/modules/nested_storageRoleAssignment.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2013 fix: Key-Vault WAF Test Fix
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1808 feat: New Module `avm/ptn/finops-toolkit/finops-hub`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.finops-toolkit.finops-hub.yml
  avm/ptn/finops-toolkit/finops-hub/README.md
  avm/ptn/finops-toolkit/finops-hub/main.bicep
  avm/ptn/finops-toolkit/finops-hub/main.json
  avm/ptn/finops-toolkit/finops-hub/modules/dataFactory.bicep
  avm/ptn/finops-toolkit/finops-hub/modules/keyVault.bicep
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Remove-OldResources.ps1
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Start-Triggers.ps1
  avm/ptn/finops-toolkit/finops-hub/modules/storage.bicep
  avm/ptn/finops-toolkit/finops-hub/tests/e2e/defaults/main.test.bicep
  avm/ptn/finops-toolkit/finops-hub/version.json
  avm/utilities/pipelines/staticValidation/psrule/.ps-rule/custom-rules.Rules.yaml
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:

#2018 fix: Avm finops hub - Update readme for static tests
  avm/ptn/finops-toolkit/finops-hub/README.md
  avm/ptn/finops-toolkit/finops-hub/main.json
  avm/ptn/finops-toolkit/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#1988 fix: Cleanup and order codeowners and issue template
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
Labels: Type: AVM :a: :v: :m:

#2068 chore: remove remains of jekyll
  .prettierignore
  docs/jekyll/.gitignore
  docs/jekyll/Gemfile
  docs/jekyll/Gemfile.lock
  docs/jekyll/_config.yml
  docs/jekyll/_sass/color_schemes/wider.scss
  docs/jekyll/assets/images/bicep.ico
Labels: Type: Hygiene :broom:, Needs: Core Team :genie:

#1288 feat: Additional outputs to the `avm/res/databricks/workspace` module
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Class: Resource Module :package:

#2014 feat: Adding support for multiple custom domains in AFD endpoints + removing deprecated Akamai SKU for CDN profiles - `avm/res/cdn/profile`
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/README.md
  avm/res/cdn/profile/afdEndpoint/route/main.bicep
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.bicep
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/tests/e2e/afd/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:

#2078 fix: `res/aad/domain-service` disables tlsV1, ntlmV1 and kerberosRc4Encryption by default
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.bicep
  avm/res/aad/domain-service/main.json
  avm/res/aad/domain-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2024 chore: updated AVM successor for `avm/ptn/authorization/resource-role-assignment`
  modules/authorization/resource-scope-role-assignment/README.md
  modules/authorization/resource-scope-role-assignment/REPLACED.md
  modules/authorization/resource-scope-role-assignment/RETIRED.md
Labels: Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:

#1828 fix: App-Configuration/Configuration-Store - Updated to latest PE schema - `avm/res/app-configuration/configuration-store`
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:

#2019 fix: Fixed Compute-Image dependency - `avm/res/compute/image`
  avm/res/compute/image/tests/e2e/defaults/dependencies.bicep
  avm/res/compute/image/tests/e2e/max/dependencies.bicep
  avm/res/compute/image/tests/e2e/waf-aligned/dependencies.bicep
  avm/utilities/e2e-template-assets/scripts/Copy-VhdToStorageAccount.ps1
  avm/utilities/e2e-template-assets/scripts/Start-ImageTemplate.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#2073 feat: Add Microsoft.Sql/servers/auditingSetting to 'avm/res/sql/server'
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/README.md
  avm/res/sql/server/audit-settings/main.bicep
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/audit-settings/modules/nested_storageRoleAssignment.bicep
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/README.md
  avm/res/sql/server/database/backup-short-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/README.md
  avm/res/sql/server/encryption-protector/main.bicep
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/firewall-rule/README.md
  avm/res/sql/server/firewall-rule/main.bicep
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/README.md
  avm/res/sql/server/key/main.bicep
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/README.md
  avm/res/sql/server/security-alert-policy/main.bicep
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/audit/dependencies.bicep
  avm/res/sql/server/tests/e2e/audit/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/sql/server/virtual-network-rule/README.md
  avm/res/sql/server/virtual-network-rule/main.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/README.md
  avm/res/sql/server/vulnerability-assessment/main.bicep
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#2099 feat: `avm/res/db for postgre sql/flexible server` Added fqdn.
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:
