Repository Azure/bicep-registry-modules, pull requests merged in 2025-08, with the labels that each got.

#5714 feat: Deprecating module Microsoft.Network/frontDoors
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.front-door.yml
  avm/res/network/front-door/CHANGELOG.md
  avm/res/network/front-door/DEPRECATED.md
  avm/res/network/front-door/README.md
  avm/res/network/front-door/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5749 fix: StorageAccount - Corrected diagnostic interface
  avm/res/storage/storage-account/CHANGELOG.md
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5634 fix: CI - Update `git diff` to target upstream and address related issues
  utilities/pipelines/publish/helper/Get-ModuleVersionChange.ps1
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:, Nudged by AVM Team 🫵

#5744 fix: Add tags to resource groups and new output
  avm/ptn/lz/sub-vending/CHANGELOG.md
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5119 feat: CI - Added many additional workflow validation tests
  .github/workflows/avm.ptn.aca-lza.hosting-environment.yml
  .github/workflows/avm.ptn.app-service-lza.hosting-environment.yml
  .github/workflows/avm.ptn.azd.insights-dashboard.yml
  .github/workflows/avm.ptn.azd.monitoring.yml
  .github/workflows/avm.ptn.dev-ops.cicd-agents-and-runners.yml
  .github/workflows/avm.ptn.lz.sub-vending.yml
  .github/workflows/avm.ptn.mgmt-groups.subscription-placement.yml
  .github/workflows/avm.ptn.policy-insights.remediation.yml
  .github/workflows/avm.ptn.sa.modernize-your-code.yml
  .github/workflows/avm.res.dev-center.devcenter.yml
  .github/workflows/avm.res.dev-center.project.yml
  .github/workflows/avm.res.hybrid-container-service.provisioned-cluster-instance.yml
  .github/workflows/avm.res.logic.workflow.yml
  .github/workflows/avm.res.network.trafficmanagerprofile.yml
  .github/workflows/avm.res.resources.deployment-script.yml
  avm/ptn/aca-lza/hosting-environment/README.md
  avm/ptn/aca-lza/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-instance/container-group/CHANGELOG.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5776 fix: Correctly pass `parametersMerged` to policy assignment pattern module at all scopes
  avm/ptn/authorization/policy-assignment/CHANGELOG.md
  avm/ptn/authorization/policy-assignment/main.bicep
  avm/ptn/authorization/policy-assignment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5780 feat: update main.json to publish flux configuration
  avm/res/kubernetes-configuration/flux-configuration/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5784 feat: Flux-Configuration - Update AKS reference
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5787 feat: add ALZ PTN Empty Policy Assignment Features
  avm/ptn/alz/empty/CHANGELOG.md
  avm/ptn/alz/empty/README.md
  avm/ptn/alz/empty/main.bicep
  avm/ptn/alz/empty/main.json
  avm/ptn/alz/empty/modules/wait.bicep
  avm/ptn/alz/empty/tests/e2e/max/main.test.bicep
  avm/ptn/alz/empty/version.json
  avm/ptn/authorization/policy-assignment/test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5790 fix: CI - Switch to explicit hashes during `diff` comparison
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5791 feat: FluxConfig - Updated API version
  avm/res/kubernetes-configuration/flux-configuration/CHANGELOG.md
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5794 feat: DataFactory - Added RDTs
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5799 fix: ptn/alz/ama resource lock and param problems
  avm/ptn/alz/ama/README.md
  avm/ptn/alz/ama/main.bicep
  avm/ptn/alz/ama/main.json
  avm/ptn/alz/ama/tests/e2e/defaults/main.test.bicep
  avm/ptn/alz/ama/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5803 feat: Diverse smaller module updates #2
  avm/res/app-configuration/configuration-store/CHANGELOG.md
  avm/res/app-configuration/configuration-store/README.md
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
  avm/res/app-configuration/configuration-store/replica/README.md
  avm/res/app-configuration/configuration-store/replica/main.bicep
  avm/res/app-configuration/configuration-store/replica/main.json
  avm/res/app-configuration/configuration-store/tests/e2e/max/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/pe/main.test.bicep
  avm/res/app-configuration/configuration-store/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app-configuration/configuration-store/version.json
  avm/res/automation/automation-account/CHANGELOG.md
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/cache/redis-enterprise/CHANGELOG.md
  avm/res/cache/redis-enterprise/main.bicep
  avm/res/cache/redis-enterprise/main.json
  avm/res/cache/redis/CHANGELOG.md
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#5805 feat: Diverse smaller module updates #3
  avm/res/communication/communication-service/CHANGELOG.md
  avm/res/communication/communication-service/main.bicep
  avm/res/communication/communication-service/main.json
  avm/res/compute/availability-set/CHANGELOG.md
  avm/res/compute/availability-set/main.bicep
  avm/res/compute/availability-set/main.json
  avm/res/compute/disk-encryption-set/CHANGELOG.md
  avm/res/compute/disk-encryption-set/README.md
  avm/res/compute/disk-encryption-set/main.bicep
  avm/res/compute/disk-encryption-set/main.json
  avm/res/compute/disk/CHANGELOG.md
  avm/res/compute/disk/README.md
  avm/res/compute/disk/main.bicep
  avm/res/compute/disk/main.json
  avm/res/compute/gallery/CHANGELOG.md
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/image/CHANGELOG.md
  avm/res/compute/image/main.bicep
  avm/res/compute/image/main.json
  avm/res/compute/proximity-placement-group/CHANGELOG.md
  avm/res/compute/proximity-placement-group/main.bicep
  avm/res/compute/proximity-placement-group/main.json
  avm/res/compute/ssh-public-key/CHANGELOG.md
  avm/res/compute/ssh-public-key/main.bicep
  avm/res/compute/ssh-public-key/main.json
  avm/res/compute/virtual-machine-scale-set/CHANGELOG.md
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/version.json
  avm/res/compute/virtual-machine/CHANGELOG.md
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5809 fix: rename auditing settings folder at `avm/res/sql/server`
  avm/res/sql/server/auditing-setting/README.md
  avm/res/sql/server/auditing-setting/main.bicep
  avm/res/sql/server/auditing-setting/main.json
  avm/res/sql/server/auditing-setting/modules/nested_storageRoleAssignment.bicep
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5814 feat: support kubernetes-configuration extension for connectedCluster
  avm/res/kubernetes-configuration/extension/CHANGELOG.md
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/main.bicep
  avm/res/kubernetes-configuration/extension/main.json
  avm/res/kubernetes-configuration/extension/tests/e2e/connected-cluster/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/connected-cluster/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5821 fix: CI - Fixed typo in output + publishing updates
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#5826 feat: RouteTable - Added type for tags + replaced UDT with RDT
  avm/res/network/route-table/CHANGELOG.md
  avm/res/network/route-table/README.md
  avm/res/network/route-table/main.bicep
  avm/res/network/route-table/main.json
  avm/res/network/route-table/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5827 feat: Kube-Configuration - Diverse smaller updates to modules & tests
  avm/res/kubernetes-configuration/extension/README.md
  avm/res/kubernetes-configuration/extension/main.bicep
  avm/res/kubernetes-configuration/extension/main.json
  avm/res/kubernetes-configuration/extension/tests/e2e/connected-cluster/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/defaults/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/max/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/kubernetes-configuration/extension/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/CHANGELOG.md
  avm/res/kubernetes-configuration/flux-configuration/README.md
  avm/res/kubernetes-configuration/flux-configuration/main.bicep
  avm/res/kubernetes-configuration/flux-configuration/main.json
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/connected-cluster/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/max/main.test.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5829 feat: CI - Restored and refined BicepConfig
  bicepconfig.json
Labels: Needs: Core Team :genie:, Type: CI :rocket:

#5832 fix: CI - Suppressed 'Get-Item' for removed files when resolving a `git diff`
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#5834 feat: Local-Network-GW - Update to latest API version & type updates
  avm/res/network/local-network-gateway/CHANGELOG.md
  avm/res/network/local-network-gateway/README.md
  avm/res/network/local-network-gateway/main.bicep
  avm/res/network/local-network-gateway/main.json
  avm/res/network/local-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/local-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5337 feat: expose submodules for `avm/res/key-vault/vault`
  avm/res/key-vault/vault/CHANGELOG.md
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/CHANGELOG.md
  avm/res/key-vault/vault/access-policy/README.md
  avm/res/key-vault/vault/access-policy/main.bicep
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/access-policy/version.json
  avm/res/key-vault/vault/key/CHANGELOG.md
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/key/version.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/CHANGELOG.md
  avm/res/key-vault/vault/secret/README.md
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/secret/version.json
  avm/res/key-vault/vault/tests/e2e/rsakey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/dependencies.bicep
  utilities/pipelines/staticValidation/compliance/helper/child-module-publish-allowed-list.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5839 feat: HCI VM - Fixed workflow triggers
  .github/workflows/avm.res.azure-stack-hci.virtual-machine-instance.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5899 fix: Removed retired `pathFilter` property of diverse `version.json` files
  avm/res/api-management/service/version.json
  avm/res/authorization/role-assignment/mg-scope/version.json
  avm/res/authorization/role-assignment/rg-scope/version.json
  avm/res/authorization/role-assignment/sub-scope/version.json
Labels: Needs: Triage :mag:, Type: Bug :bug:, Needs: Core Team :genie:
