Repository Azure/bicep-registry-modules, pull requests merged in 2025-07, with the labels that each got.

#5521 fix: remove useless parameters in logical network
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5325 fix: software update configuration in azure automation account deprecated
  avm/res/automation/automation-account/CHANGELOG.md
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/software-update-configuration/README.md
  avm/res/automation/automation-account/software-update-configuration/main.bicep
  avm/res/automation/automation-account/software-update-configuration/main.json
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/automation/automation-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/automation/automation-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5475 feat: Ptn ai foundry
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.ai-ml.ai-foundry.yml
  avm/ptn/ai-ml/ai-foundry/CHANGELOG.md
  avm/ptn/ai-ml/ai-foundry/README.md
  avm/ptn/ai-ml/ai-foundry/main.bicep
  avm/ptn/ai-ml/ai-foundry/main.json
  avm/ptn/ai-ml/ai-foundry/modules/ai-foundry-account/aifoundryaccount.bicep
  avm/ptn/ai-ml/ai-foundry/modules/ai-foundry-account/service.bicep
  avm/ptn/ai-ml/ai-foundry/modules/aifoundryproject.bicep
  avm/ptn/ai-ml/ai-foundry/modules/aisearch.bicep
  avm/ptn/ai-ml/ai-foundry/modules/containerRegistry.bicep
  avm/ptn/ai-ml/ai-foundry/modules/cosmosDb.bicep
  avm/ptn/ai-ml/ai-foundry/modules/keyvault.bicep
  avm/ptn/ai-ml/ai-foundry/modules/storageAccount.bicep
  avm/ptn/ai-ml/ai-foundry/modules/virtualMachine.bicep
  avm/ptn/ai-ml/ai-foundry/modules/virtualNetwork.bicep
  avm/ptn/ai-ml/ai-foundry/tests/e2e/defaults/main.test.bicep
  avm/ptn/ai-ml/ai-foundry/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/ai-ml/ai-foundry/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5478 fix: Resolve name colllisions for immutability policy deployments
  avm/res/storage/storage-account/CHANGELOG.md
  avm/res/storage/storage-account/blob-service/container/CHANGELOG.md
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/container/version.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Needs: External Changes :hammer_and_pick:, Status: External Contribution :earth_africa:, Status: In PR :point_right:

#5482 fix: Data Factory managed private endpoint depends on `avm/res/data-factory`
  avm/res/data-factory/factory/CHANGELOG.md
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.bicep
  avm/res/data-factory/factory/managed-virtual-network/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5519 feat: New module `avm/res/azure-stack-hci/azure-stack-hci/marketplace-gallery-image` module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.azure-stack-hci.marketplace-gallery-image.yml
  avm/res/azure-stack-hci/marketplace-gallery-image/README.md
  avm/res/azure-stack-hci/marketplace-gallery-image/main.bicep
  avm/res/azure-stack-hci/marketplace-gallery-image/main.json
  avm/res/azure-stack-hci/marketplace-gallery-image/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/marketplace-gallery-image/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/marketplace-gallery-image/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5536 fix: `avm/ptn/azd/monitoring` pattern modules ci error
  avm/ptn/azd/monitoring/README.md
  avm/ptn/azd/monitoring/main.bicep
  avm/ptn/azd/monitoring/main.json
  avm/ptn/azd/monitoring/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/monitoring/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5543 feat: create edgeDevices in azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5529 fix: module `avm/res/network/vpn-gateway`
  avm/res/network/vpn-gateway/CHANGELOG.md
  avm/res/network/vpn-gateway/README.md
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5531 fix: CI - Added single API version case handling to API test
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#5183 feat: Batch Account - Updated to latest PE spec
  avm/res/batch/batch-account/CHANGELOG.md
  avm/res/batch/batch-account/README.md
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/batch/batch-account/tests/e2e/defaults/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/encr/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/max/main.test.bicep
  avm/res/batch/batch-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/batch/batch-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5185 feat: SearchService - Updated to latest PE spec + added secret outputs
  avm/res/search/search-service/CHANGELOG.md
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/modules/keyVaultExport.bicep
  avm/res/search/search-service/shared-private-link-resource/main.bicep
  avm/res/search/search-service/shared-private-link-resource/main.json
  avm/res/search/search-service/tests/e2e/defaults/main.test.bicep
  avm/res/search/search-service/tests/e2e/kvSecrets/main.test.bicep
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5553 feat: ImageTemplate - Refactored `vnetConfig` property
  avm/res/virtual-machine-images/image-template/CHANGELOG.md
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/waf-aligned/main.test.bicep
  avm/res/virtual-machine-images/image-template/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5563 fix: CI - Fixed `changelog.md` version order test
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5484 feat: Add Load Balancer Config Options to Managed Cluster AVM Module
  avm/res/container-service/managed-cluster/CHANGELOG.md
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#5566 fix: Enabling multiple resource group config in failover groups at `avm/res/sql/server`
  avm/res/sql/server/CHANGELOG.md
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-setting/main.json
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/failover-group/README.md
  avm/res/sql/server/failover-group/main.bicep
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/failover-group/dependencies.bicep
  avm/res/sql/server/tests/e2e/failover-group/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5496 feat: add PR automation comment for PRs that will trigger all workflows
  .github/policies/eventResponder.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5565 feat: AIB PTN - Updated to latest API versions and added support for `imageContainerInstanceSubnetName` parameter
  avm/ptn/virtual-machine-images/azure-image-builder/CHANGELOG.md
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/ptn/virtual-machine-images/azure-image-builder/modules/msi_rbac.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployAll.windows/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/dependencies.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyAssetsAndImage/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/dependencies.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/tests/e2e/deployOnlyImage/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/version.json
  utilities/e2e-template-assets/scripts/Set-StorageContainerContentByEnvVar.ps1
  utilities/e2e-template-assets/scripts/Wait-ForImageBuild.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5569 fix: DB-for-postgre-sql - Fixed small bug with `highAvailability` parameter logic not working for 'Disabled'
  avm/res/db-for-postgre-sql/flexible-server/CHANGELOG.md
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection-setting/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#5579 fix: VirtualMachineScaleSet - Added allowedSet and type to `availabiltiyZones` parameter
  avm/res/compute/virtual-machine-scale-set/CHANGELOG.md
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5575 fix: Cache-Redis-Enterprise - Renamed zonal parameter
  avm/res/cache/redis-enterprise/CHANGELOG.md
  avm/res/cache/redis-enterprise/README.md
  avm/res/cache/redis-enterprise/main.bicep
  avm/res/cache/redis-enterprise/main.json
  avm/res/cache/redis-enterprise/tests/e2e/max/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cache/redis-enterprise/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5573 fix: Remove logging category as not supported at container app level
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5592 fix: `avm/res/aad/domain-service` update changelog header
  avm/res/aad/domain-service/CHANGELOG.md
Labels: Needs: Module Owner :mega:

#5473 ci: Improve PSRule validation implementation
  .github/actions/templates/avm-validateModulePSRule/action.yml
  .github/workflows/avm.template.module.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5578 fix: VirtualMachine - Renamed `zone` parameter and updated allowed set
  avm/res/compute/virtual-machine/CHANGELOG.md
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/atmg/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.disks/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.guestconfiguration/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.hostpool/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.vmss/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.zrsdisks/main.test.bicep
  avm/res/compute/virtual-machine/tests/unit/avm.core.team.tests.ps1
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5591 fix: `avm/ptn/ai-ml/ai-foundry` regenerate json to fix static validation failure
  avm/ptn/ai-ml/ai-foundry/CHANGELOG.md
  avm/ptn/ai-ml/ai-foundry/main.json
Labels: Needs: Module Owner :mega:

#5607 fix: `avm/res/machine-learning-services/workspace` regenerate json to fix static validation failure
  avm/res/machine-learning-services/workspace/CHANGELOG.md
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/datastores/main.json
  avm/res/machine-learning-services/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5609 fix: `avm/res/document-db/mongo-cluster` regenerate json and readme to fix static validation failure
  avm/res/document-db/mongo-cluster/CHANGELOG.md
  avm/res/document-db/mongo-cluster/README.md
  avm/res/document-db/mongo-cluster/firewall-rule/main.json
  avm/res/document-db/mongo-cluster/main.json
  avm/res/document-db/mongo-cluster/user/README.md
  avm/res/document-db/mongo-cluster/user/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5611 fix: `avm/res/machine-learning-services/workspace` enforce latest version publishing
  avm/res/machine-learning-services/workspace/CHANGELOG.md
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5612 feat: ComputeGallery - Added metadata, types & added a missing parameter passthru
  avm/res/compute/gallery/CHANGELOG.md
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/main.bicep
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5552 feat: Congnitive Services - Support disconnected container feature
  avm/res/cognitive-services/account/CHANGELOG.md
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/commitmentPlan-speech/main.test.bicep
  avm/res/cognitive-services/account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#5616 fix: CognitiveServices - Removed test case with limited availability to unblock tests & updated api versions
  avm/res/cognitive-services/account/CHANGELOG.md
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
  avm/res/cognitive-services/account/tests/e2e/commitmentPlan-speech/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5622 feat: Adding Purview into Azure data factory resource `avm/res/data-factory/factory`
  avm/res/data-factory/factory/CHANGELOG.md
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5570 fix: DB-for-my-sql - Fixed small bug with `highAvailability` parameter logic not working for 'Disabled'
  avm/res/db-for-my-sql/flexible-server/CHANGELOG.md
  avm/res/db-for-my-sql/flexible-server/README.md
  avm/res/db-for-my-sql/flexible-server/administrator/main.json
  avm/res/db-for-my-sql/flexible-server/advanced-threat-protection/main.json
  avm/res/db-for-my-sql/flexible-server/database/main.json
  avm/res/db-for-my-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-my-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies1.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/dependencies2.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/dependencies.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/public-with-pe/dependencies.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-my-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#5586 fix: Public-IP-Prefix - Renamed parameter `zones` to `availabilityZones`
  avm/res/network/public-ip-prefix/CHANGELOG.md
  avm/res/network/public-ip-prefix/README.md
  avm/res/network/public-ip-prefix/main.bicep
  avm/res/network/public-ip-prefix/main.json
  avm/res/network/public-ip-prefix/tests/e2e/max/main.test.bicep
  avm/res/network/public-ip-prefix/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5485 ci: Breaking change - Enforce OIDC
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/actions/templates/avm-validateModulePSRule/action.yml
  .github/workflows/avm.template.module.yml
  .github/workflows/platform.check.psrule.yml
  .github/workflows/platform.deployment.history.cleanup.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5629 fix: HubNetworking - Fixed incorrect input types
  avm/ptn/network/hub-networking/CHANGELOG.md
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/modules/getSubnet.bicep
  avm/ptn/network/hub-networking/tests/e2e/defaults/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/max/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/no-addons/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/network/hub-networking/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#5613 feat: AIB ptn - Added disclaimer to `storageAccountFilesToUpload` parameter & updated to latest ComputeGallery version
  avm/ptn/virtual-machine-images/azure-image-builder/CHANGELOG.md
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
Labels: Class: Pattern Module :package:, Needs: Core Team :genie:, Nudged by AVM Team 🫵

#5503 feat: Child module publishing `avm/res/storage/storage-account/file-service/share`
  avm/res/storage/storage-account/CHANGELOG.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/CHANGELOG.md
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/file-service/share/version.json
  avm/res/storage/storage-account/main.json
  utilities/pipelines/staticValidation/compliance/helper/child-module-publish-allowed-list.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:, Class: Child Module :package:

#5511 fix: devops/cicd-private-runners fix breaking change
  avm/ptn/dev-ops/cicd-agents-and-runners/CHANGELOG.md
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/defaults.azuredevops.aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/defaults.github.aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/max.azuredevops.aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/max.github.aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/org-scope-github-aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-devops-existing-vnet-aci/dependencies.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-devops-existing-vnet-aci/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-existing-vnet-aca/dependencies.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-existing-vnet-aca/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-new-vnet/main.test.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5669 fix: `res/app/job` fix for scale rule config
  avm/res/app/job/CHANGELOG.md
  avm/res/app/job/README.md
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
  avm/res/app/job/tests/e2e/consumptionPlan/dependencies.bicep
  avm/res/app/job/tests/e2e/consumptionPlan/main.test.bicep
  avm/res/app/job/tests/e2e/defaults/dependencies.bicep
  avm/res/app/job/tests/e2e/defaults/main.test.bicep
  avm/res/app/job/tests/e2e/max/dependencies.bicep
  avm/res/app/job/tests/e2e/max/main.test.bicep
  avm/res/app/job/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/job/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5674 fix: AIB - Removed char that can cause issues in upstream solution
  avm/ptn/virtual-machine-images/azure-image-builder/CHANGELOG.md
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
Labels: Needs: Core Team :genie:

#5672 fix: `ptn/app/container-job-toolkit` references updated
  avm/ptn/app/container-job-toolkit/CHANGELOG.md
  avm/ptn/app/container-job-toolkit/README.md
  avm/ptn/app/container-job-toolkit/main.bicep
  avm/ptn/app/container-job-toolkit/main.json
  avm/ptn/app/container-job-toolkit/modules/deploy_services.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/max/dependencies.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/waf-aligned/dependencies.bicep
  avm/ptn/app/container-job-toolkit/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5681 feat: Updated PR template
  .github/pull_request_template.md
Labels: Needs: Triage :mag:, Needs: Core Team :genie:, Type: CI :rocket:

#5680 feat: clientAffinityProxyEnabled and clientAffinityPartitioningEnabled settings
  .gitignore
  avm/res/web/site/CHANGELOG.md
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.max/main.test.bicep
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5691 chore: make serverFarmResourceId support empty string for containerpps related deployments
  avm/res/web/site/CHANGELOG.md
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5694 feat: SignalR - Added diagnostics support & types
  avm/res/signal-r-service/signal-r/CHANGELOG.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/signal-r/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/signal-r/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :yellow_circle:, Needs: Core Team :genie:

#5698 fix: AZD-Monitoring - Fixed changelog
  avm/ptn/azd/monitoring/CHANGELOG.md
  avm/ptn/azd/monitoring/README.md
  avm/ptn/azd/monitoring/main.bicep
  avm/ptn/azd/monitoring/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5702 fix: Update file exclusions in eventResponder.yml for improved workflow management
  .github/policies/eventResponder.yml
Labels: Type: Hygiene :broom:, Needs: Core Team :genie:

#5683 feat: Updated RSV to latest standards
  avm/res/recovery-services/vault/CHANGELOG.md
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/backup-config/main.json
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/main.json
  avm/res/recovery-services/vault/backup-policy/main.json
  avm/res/recovery-services/vault/backup-storage-config/README.md
  avm/res/recovery-services/vault/backup-storage-config/main.bicep
  avm/res/recovery-services/vault/backup-storage-config/main.json
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/recovery-services/vault/replication-alert-setting/main.json
  avm/res/recovery-services/vault/replication-fabric/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/main.json
  avm/res/recovery-services/vault/replication-policy/main.json
  avm/res/recovery-services/vault/tests/e2e/defaults/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/dr/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/encr/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/max/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/max/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/recovery-services/vault/version.json
  utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#5706 feat: `avm/ptn/ai-platform/baseline` Add replication for log analytics workspace
  avm/ptn/ai-platform/baseline/CHANGELOG.md
  avm/ptn/ai-platform/baseline/README.md
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/ai-platform/baseline/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5710 feat: add operationType in deploymentSettings
  avm/res/azure-stack-hci/cluster/deployment-setting/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.bicep
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5712 feat: Follow-up to 3 AZD module deprecations
  .github/CODEOWNERS
  .github/workflows/avm.ptn.azd.ml-ai-environment.yml
  .github/workflows/avm.ptn.azd.ml-hub-dependencies.yml
  .github/workflows/avm.ptn.azd.ml-project.yml
  avm/ptn/azd/ml-ai-environment/CHANGELOG.md
  avm/ptn/azd/ml-ai-environment/README.md
  avm/ptn/azd/ml-ai-environment/main.bicep
  avm/ptn/azd/ml-ai-environment/main.json
  avm/ptn/azd/ml-hub-dependencies/CHANGELOG.md
  avm/ptn/azd/ml-hub-dependencies/README.md
  avm/ptn/azd/ml-hub-dependencies/main.bicep
  avm/ptn/azd/ml-hub-dependencies/main.json
  avm/ptn/azd/ml-project/CHANGELOG.md
  avm/ptn/azd/ml-project/README.md
  avm/ptn/azd/ml-project/main.bicep
  avm/ptn/azd/ml-project/main.json
Labels: Needs: Triage :mag:

#5715 fix: Incorrect database ownership during initial deployment
  avm/res/db-for-postgre-sql/flexible-server/CHANGELOG.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5725 feat: add admin password & http proxy in arc vm
  avm/res/azure-stack-hci/virtual-machine-instance/README.md
  avm/res/azure-stack-hci/virtual-machine-instance/main.bicep
  avm/res/azure-stack-hci/virtual-machine-instance/main.json
  avm/res/azure-stack-hci/virtual-machine-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#5705 fix: `avm/res/machine-learning-services/workspace` Fix E2E tests
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/tests/e2e/ai-hub/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/ai-hub/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/ai-project/dependencies.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/ai-project/main.test.bicep
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#5731 feat: AVD AppGroup - Updated to latest versions
  avm/res/desktop-virtualization/application-group/CHANGELOG.md
  avm/res/desktop-virtualization/application-group/README.md
  avm/res/desktop-virtualization/application-group/application/README.md
  avm/res/desktop-virtualization/application-group/application/main.bicep
  avm/res/desktop-virtualization/application-group/application/main.json
  avm/res/desktop-virtualization/application-group/main.bicep
  avm/res/desktop-virtualization/application-group/main.json
  avm/res/desktop-virtualization/application-group/tests/e2e/defaults/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/desktop-virtualization/application-group/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :yellow_circle:, Class: Resource Module :package:

#5730 feat: AVD Scaling Plan - Updated to latest versions
  avm/res/desktop-virtualization/scaling-plan/CHANGELOG.md
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/scaling-plan/main.bicep
  avm/res/desktop-virtualization/scaling-plan/main.json
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/max/dependencies.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/scaling-plan/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :yellow_circle:, Class: Resource Module :package:

#5499 feat: v0.1 Initial version of avm/ptn/app/iaas-vm-cosmosdb-tier4
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.app.iaas-vm-cosmosdb-tier4.yml
  avm/ptn/app/iaas-vm-cosmosdb-tier4/CHANGELOG.md
  avm/ptn/app/iaas-vm-cosmosdb-tier4/README.md
  avm/ptn/app/iaas-vm-cosmosdb-tier4/main.bicep
  avm/ptn/app/iaas-vm-cosmosdb-tier4/main.json
  avm/ptn/app/iaas-vm-cosmosdb-tier4/tests/e2e/defaults/main.test.bicep
  avm/ptn/app/iaas-vm-cosmosdb-tier4/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5640 fix: E-Mail-Service - Fixed typo in output & introduced numerous RDTs & UDTs
  avm/res/communication/email-service/CHANGELOG.md
  avm/res/communication/email-service/README.md
  avm/res/communication/email-service/domain/README.md
  avm/res/communication/email-service/domain/main.bicep
  avm/res/communication/email-service/domain/main.json
  avm/res/communication/email-service/domain/sender-username/main.json
  avm/res/communication/email-service/main.bicep
  avm/res/communication/email-service/main.json
  avm/res/communication/email-service/tests/e2e/defaults/main.test.bicep
  avm/res/communication/email-service/tests/e2e/max/main.test.bicep
  avm/res/communication/email-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/communication/email-service/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5695 fix: fix bug where delegations for subnets are not applied
  avm/ptn/lz/sub-vending/CHANGELOG.md
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/lz/sub-vending/modules/tags.bicep
  avm/ptn/lz/sub-vending/modules/tagsResourceGroup.bicep
  avm/ptn/lz/sub-vending/modules/tagsSubscription.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:
