Repository Azure/bicep-registry-modules, pull requests merged in 2025-01, with the labels that each got.

#3734 feat: Updated Container-Registry CMK Implementation #3729
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/tests/e2e/cache/dependencies.bicep
  avm/res/container-registry/registry/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4099 feat: AI-Platform-Baseline - Updated UDTs to pending specs
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Pattern Module :package:

#4123 feat: Container App - Updated UDTs to pending specs
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4125 feat: Update container app API version and incorporate new properties
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/defaults/dependencies.bicep
  avm/res/app/container-app/tests/e2e/disable-ingress/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/tests/e2e/vnet/dependencies.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4122 feat: API Management - Updated UDTs to pending specs
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/logger/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4102 feat: Web-Serverfarm - Updated UDTs to pending specs
  avm/res/web/serverfarm/README.md
  avm/res/web/serverfarm/main.bicep
  avm/res/web/serverfarm/main.json
  avm/res/web/serverfarm/tests/e2e/defaults/main.test.bicep
  avm/res/web/serverfarm/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4103 feat: Web-HostingEnvironment - Updated UDTs to pending specs
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/configuration--customdnssuffix/main.json
  avm/res/web/hosting-environment/main.bicep
  avm/res/web/hosting-environment/main.json
  avm/res/web/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/res/web/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4124 feat: App Job - Updated UDTs to pending specs
  avm/res/app/job/README.md
  avm/res/app/job/main.bicep
  avm/res/app/job/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4130 feat: Add child module support to `publishModuleIndex.json` generation
  utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4134 fix: `avm/ptn/authorization/role-assignment`
  avm/ptn/authorization/role-assignment/main.json
  avm/ptn/authorization/role-assignment/modules/management-group.bicep
  avm/ptn/authorization/role-assignment/modules/resource-group.bicep
  avm/ptn/authorization/role-assignment/modules/subscription.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4135 feat: Add tags parameter to connection monitors and flow logs
  avm/res/network/network-watcher/README.md
  avm/res/network/network-watcher/connection-monitor/README.md
  avm/res/network/network-watcher/connection-monitor/main.bicep
  avm/res/network/network-watcher/connection-monitor/main.json
  avm/res/network/network-watcher/flow-log/README.md
  avm/res/network/network-watcher/flow-log/main.bicep
  avm/res/network/network-watcher/flow-log/main.json
  avm/res/network/network-watcher/main.bicep
  avm/res/network/network-watcher/main.json
  avm/res/network/network-watcher/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4096 feat: Updated Network Manager module to support Routing Configuration feature
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/connectivity-configuration/README.md
  avm/res/network/network-manager/connectivity-configuration/main.bicep
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/README.md
  avm/res/network/network-manager/network-group/main.bicep
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/README.md
  avm/res/network/network-manager/network-group/static-member/main.bicep
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/routing-configuration/README.md
  avm/res/network/network-manager/routing-configuration/main.bicep
  avm/res/network/network-manager/routing-configuration/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/README.md
  avm/res/network/network-manager/routing-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/routing-configuration/rule-collection/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/README.md
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/scope-connection/README.md
  avm/res/network/network-manager/scope-connection/main.bicep
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/README.md
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/README.md
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-manager/tests/e2e/max/dependencies.bicep
  avm/res/network/network-manager/tests/e2e/max/main.test.bicep
  avm/res/network/network-manager/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4141 feat: `avm/utl/types/avm-common-types` Private Endpoint UDT includes Resource Group ID
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
  avm/utl/types/avm-common-types/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4142 fix: `avm/utl/types/avm-common-types` updates main.json
  avm/utl/types/avm-common-types/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4108 feat: ResourceGroup - Updated UDTs to pending specs
  avm/res/resources/resource-group/README.md
  avm/res/resources/resource-group/main.bicep
  avm/res/resources/resource-group/main.json
  avm/res/resources/resource-group/tests/e2e/defaults/main.test.bicep
  avm/res/resources/resource-group/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4152 fix: Expose Application gateway through https
  avm/ptn/aca-lza/hosting-environment/README.md
  avm/ptn/aca-lza/hosting-environment/main.bicep
  avm/ptn/aca-lza/hosting-environment/main.json
  avm/ptn/aca-lza/hosting-environment/modules/application-gateway/app-gateway-cert.bicep
  avm/ptn/aca-lza/hosting-environment/modules/application-gateway/app-gateway.module.bicep
  avm/ptn/aca-lza/hosting-environment/modules/application-gateway/deploy.app-gateway.bicep
  avm/ptn/aca-lza/hosting-environment/modules/compute/linux-vm.bicep
  avm/ptn/aca-lza/hosting-environment/modules/compute/windows-vm.bicep
  avm/ptn/aca-lza/hosting-environment/modules/container-apps-environment/deploy.aca-environment.bicep
  avm/ptn/aca-lza/hosting-environment/modules/front-door/deploy.front-door.bicep
  avm/ptn/aca-lza/hosting-environment/modules/naming/naming-rules.jsonc
  avm/ptn/aca-lza/hosting-environment/modules/naming/naming.module.bicep
  avm/ptn/aca-lza/hosting-environment/modules/networking/peering.bicep
  avm/ptn/aca-lza/hosting-environment/modules/policy/policies-assignement.bicep
  avm/ptn/aca-lza/hosting-environment/modules/sample-application/deploy.sample-application.bicep
  avm/ptn/aca-lza/hosting-environment/modules/spoke/deploy.spoke.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/deploy.supporting-services.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/container-registry.module.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/key-vault.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/storage.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/deploy.hub.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/depoly.hub.deps.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4154 fix: Removed duplicated resource from PE type
  avm/utl/types/avm-common-types/README.md
  avm/utl/types/avm-common-types/main.bicep
  avm/utl/types/avm-common-types/main.json
  avm/utl/types/avm-common-types/tests/e2e/import/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#4153 feat: `avm/res/hybrid-compute/machine`: use `avm/utl/types/avm-common-types`
  avm/res/hybrid-compute/machine/README.md
  avm/res/hybrid-compute/machine/extension/README.md
  avm/res/hybrid-compute/machine/extension/main.bicep
  avm/res/hybrid-compute/machine/extension/main.json
  avm/res/hybrid-compute/machine/main.bicep
  avm/res/hybrid-compute/machine/main.json
  avm/res/hybrid-compute/machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#2792 feat: OIDC auth-type SERVICE_PRINCIPAL using msi + Entity type Environment - branch test
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.template.module.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4109 feat: ResourceGraph-Query - Updated UDTs to pending specs
  avm/res/resource-graph/query/README.md
  avm/res/resource-graph/query/main.bicep
  avm/res/resource-graph/query/main.json
  avm/res/resource-graph/query/tests/e2e/defaults/main.test.bicep
  avm/res/resource-graph/query/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4111 feat: KeyVault - Updated UDTs to pending specs
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/README.md
  avm/res/key-vault/vault/access-policy/main.bicep
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/README.md
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/defaults/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/eckey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/rsakey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4100 feat: Web-Static-Site - Updated UDTs to pending specs
  avm/res/web/static-site/README.md
  avm/res/web/static-site/config/main.json
  avm/res/web/static-site/custom-domain/main.json
  avm/res/web/static-site/linked-backend/main.json
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/defaults/main.test.bicep
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4101 feat: Web-Site - Updated UDTs to pending specs #4099
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/tests/e2e/functionApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/functionApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/functionApp.settings/main.test.bicep
  avm/res/web/site/tests/e2e/linuxContainerWebApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/logsConfig/main.test.bicep
  avm/res/web/site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/webApp.max/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.defaults/main.test.bicep
  avm/res/web/site/tests/e2e/webAppLinux.max/main.test.bicep
  avm/res/web/site/tests/e2e/webConfig/main.test.bicep
  avm/res/web/site/tests/e2e/winContainerWebApp.defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4104 feat: Service-Fabric-Cluster - Updated UDTs to pending specs
  avm/res/service-fabric/cluster/README.md
  avm/res/service-fabric/cluster/main.bicep
  avm/res/service-fabric/cluster/main.json
  avm/res/service-fabric/cluster/tests/e2e/cert/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/service-fabric/cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4173 fix: Change in keyvault purge protection policy to allow for testing
  avm/ptn/aca-lza/hosting-environment/main.json
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/key-vault.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/aca-lza/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4106 feat: Service-Bus-Namespace - Adding rules for subscriptions
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/queue/README.md
  avm/res/service-bus/namespace/queue/main.bicep
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/encr/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/README.md
  avm/res/service-bus/namespace/topic/subscription/main.bicep
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/topic/subscription/rule/README.md
  avm/res/service-bus/namespace/topic/subscription/rule/main.bicep
  avm/res/service-bus/namespace/topic/subscription/rule/main.json
  utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:

#4160 docs: Updating documentation of when to use and not use shared throughput database for Cosmos DB AVM module
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/README.md
  avm/res/document-db/database-account/gremlin-database/main.bicep
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/mongodb-database/README.md
  avm/res/document-db/database-account/mongodb-database/collection/README.md
  avm/res/document-db/database-account/mongodb-database/collection/main.bicep
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.bicep
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/README.md
  avm/res/document-db/database-account/sql-database/container/README.md
  avm/res/document-db/database-account/sql-database/container/main.bicep
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.bicep
  avm/res/document-db/database-account/sql-database/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4204 feat: Added custom removal order for NetApp
  utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4202 fix: Change the naming policy, to use subscription id unique string, for dns uniqueness of keyvault,
  avm/ptn/aca-lza/hosting-environment/main.bicep
  avm/ptn/aca-lza/hosting-environment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4098 feat: CI - Added test for UDT nullable & array + support for PesterTags
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4041 feat: Storage Account - Simplified File Share RBAC assignment to use one less file & a more bicep-native deployment variant
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/file-service/share/modules/nested_roleAssignment.bicep
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4145 fix: Synapse Workspace - Fixed CMK deployment scope
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/integration-runtime/main.bicep
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :eyes:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#4117 feat: StorageAccount - Add possibility to specify CORS rules for file services & queue.
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.bicep
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.bicep
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4248 fix: Small update to the `Type`-suffix check for UDTs
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#4265 feat: adds needed features for integrating with other deployments (applications)
  avm/ptn/aca-lza/hosting-environment/README.md
  avm/ptn/aca-lza/hosting-environment/main.bicep
  avm/ptn/aca-lza/hosting-environment/main.json
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/deploy.supporting-services.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/container-registry.module.bicep
  avm/ptn/aca-lza/hosting-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4138 feat: `avm/res/cache/redis`: add support for AKV secrets export
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/modules/keyVaultExport.bicep
  avm/res/cache/redis/tests/e2e/kv-secrets/dependencies.bicep
  avm/res/cache/redis/tests/e2e/kv-secrets/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4280 feat: Update sql server cross referenced private endpoints and common types
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/modules/keyVaultExport.bicep
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4279 feat: Update storage cross referenced private endpoint and common types
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/modules/keyVaultExport.bicep
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.bicep
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/README.md
  avm/res/storage/storage-account/queue-service/queue/main.bicep
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.bicep
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/README.md
  avm/res/storage/storage-account/table-service/table/main.bicep
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4281 feat: Update eventhub cross referenced private endpoint and common types
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/eventhub/README.md
  avm/res/event-hub/namespace/eventhub/main.bicep
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4284 fix: Private Endpoint - Updated output name to reflect that its an array of items
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/private-link/main.test.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/private-endpoint/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4270 fix: Small fix to module installation
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#4271 Latest API and removing unneccessary deps
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/README.md
  avm/res/cache/redis/linked-servers/main.bicep
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/entra-id/main.test.bicep
  avm/res/cache/redis/tests/e2e/max/main.test.bicep
  avm/res/cache/redis/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4290 fix: Update private endpoint privateLinkServiceConnection input type as conditional
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3764 fix: update `avm/res/container-registry/registry` `cache-rule` to support unauthenticated repositories and wildcards
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rule/README.md
  avm/res/container-registry/registry/cache-rule/main.bicep
  avm/res/container-registry/registry/cache-rule/main.json
  avm/res/container-registry/registry/credential-set/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/tests/e2e/cache/dependencies.bicep
  avm/res/container-registry/registry/tests/e2e/cache/main.test.bicep
  avm/res/container-registry/registry/webhook/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4296 fix: Update `avm/res/event-hub/namespace` - Cross reference latest PE version
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4295 fix: Update `avm/res/storage/storage-account` - Cross reference latest PE version
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4297 feat: Update `avm/res/service-bus/namespace` - Cross-reference latest PE version
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/topic/README.md
  avm/res/service-bus/namespace/topic/main.bicep
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4298 feat: Update `avm/res/container-registry/registry` - Cross-reference latest PE version
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/credential-set/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/version.json
  avm/res/container-registry/registry/webhook/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4299 feat: Update `avm/res/cache/redis` - Cross-reference latest PE version and use common types
  avm/res/cache/redis/README.md
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/modules/keyVaultExport.bicep
  avm/res/cache/redis/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4259 feat: new module `avm-res-network-expressrouteport`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.express-route-port.yml
  avm/res/network/express-route-port/README.md
  avm/res/network/express-route-port/main.bicep
  avm/res/network/express-route-port/main.json
  avm/res/network/express-route-port/tests/e2e/defaults/main.test.bicep
  avm/res/network/express-route-port/tests/e2e/max/dependencies.bicep
  avm/res/network/express-route-port/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-port/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/express-route-port/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4300 feat: Update `avm/res/db-for-postgre-sql/flexible-server` - Cross-reference latest pe and common types
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4288 feat: Update `avm/res/event-hubs/namespace` -Add support for AKV secrets export
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/modules/keyVaultExport.bicep
  avm/res/event-hub/namespace/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/event-hub/namespace/tests/e2e/kvSecrets/main.test.bicep
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4340 feat: `avm/res/machine-learning-services/workspace`: Regenerate template to latest
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4337 feat: VPN-Server-Configuration - Update to latest UDTs
  avm/res/network/vpn-server-configuration/README.md
  avm/res/network/vpn-server-configuration/main.bicep
  avm/res/network/vpn-server-configuration/main.json
  avm/res/network/vpn-server-configuration/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-server-configuration/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4306 feat: Purview - Update to latest UDTs
  avm/res/purview/account/README.md
  avm/res/purview/account/main.bicep
  avm/res/purview/account/main.json
  avm/res/purview/account/tests/e2e/max/main.test.bicep
  avm/res/purview/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/purview/account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4339 feat: Virtual-Wan - Update to latest UDTs
  avm/res/network/virtual-wan/README.md
  avm/res/network/virtual-wan/main.bicep
  avm/res/network/virtual-wan/main.json
  avm/res/network/virtual-wan/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-wan/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-wan/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4343 feat: `avm/res/cache/redis`: Support exporting StackExchange.Redis connection strings to Key Vault
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/kv-secrets/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4348 fix: automation account deployment test failure due to linked Log Analytics region
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4305 feat: Relay-Namespace - Updated UDTs
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/relay/namespace/README.md
  avm/res/relay/namespace/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/README.md
  avm/res/relay/namespace/hybrid-connection/authorization-rule/main.json
  avm/res/relay/namespace/hybrid-connection/main.bicep
  avm/res/relay/namespace/hybrid-connection/main.json
  avm/res/relay/namespace/main.bicep
  avm/res/relay/namespace/main.json
  avm/res/relay/namespace/network-rule-set/main.json
  avm/res/relay/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/relay/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/relay/namespace/version.json
  avm/res/relay/namespace/wcf-relay/README.md
  avm/res/relay/namespace/wcf-relay/authorization-rule/main.json
  avm/res/relay/namespace/wcf-relay/main.bicep
  avm/res/relay/namespace/wcf-relay/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#4346 feat: ContainerRegistry - Added UDTs and added dependency
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rule/README.md
  avm/res/container-registry/registry/cache-rule/main.bicep
  avm/res/container-registry/registry/cache-rule/main.json
  avm/res/container-registry/registry/credential-set/README.md
  avm/res/container-registry/registry/credential-set/main.bicep
  avm/res/container-registry/registry/credential-set/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/webhook/main.bicep
  avm/res/container-registry/registry/webhook/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:
