Repository Azure/bicep-registry-modules, pull requests merged in 2025-06, with the labels that each got.

#5265 feat: Enhance module index generation script to exclude deprecated modules
  utilities/pipelines/platform/Invoke-AvmJsonModuleIndexGeneration.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: CI :rocket:

#5326 refactor: avm\res\app\container-app - Add resource derived types and update api version to non-preview
  avm/res/app/container-app/README.md
  avm/res/app/container-app/auth-config/README.md
  avm/res/app/container-app/auth-config/main.bicep
  avm/res/app/container-app/auth-config/main.json
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/defaults/dependencies.bicep
  avm/res/app/container-app/tests/e2e/disable-ingress/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/dependencies.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/tests/e2e/vnet/dependencies.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5334 feat: adds deprecation message to the readme
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5351 feat: module `avm/res/network/virtual-network-gateway`
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/nat-rule/README.md
  avm/res/network/virtual-network-gateway/nat-rule/main.bicep
  avm/res/network/virtual-network-gateway/nat-rule/main.json
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBGP/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBgpAPIPA/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBgpAPIPA/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveExistingPip/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveExistingPip/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveNoBGP/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveNoBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveBGP/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveExistingPip/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveExistingPip/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveNoBGP/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveNoBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/main.test.json
  avm/res/network/virtual-network-gateway/tests/e2e/vpn-no-az/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn-no-az/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5353 fix: update scripts to not include emojis in status filters
  utilities/pipelines/platform/Set-AvmGitHubIssueForWorkflow.ps1
  utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  utilities/pipelines/platform/Set-AvmGitHubPrLabels.ps1
  utilities/pipelines/platform/Sync-AvmModulesList.ps1
Labels: Type: AVM :a: :v: :m:, Type: Hygiene :broom:

#5354 feat: module `avm/res/network/vpn-gateway`
  avm/res/network/vpn-gateway/README.md
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
  avm/res/network/vpn-gateway/nat-rule/README.md
  avm/res/network/vpn-gateway/nat-rule/main.bicep
  avm/res/network/vpn-gateway/nat-rule/main.json
  avm/res/network/vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-gateway/vpn-connection/README.md
  avm/res/network/vpn-gateway/vpn-connection/main.bicep
  avm/res/network/vpn-gateway/vpn-connection/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4203 feat: Enable skip of CI deployment tests
  .github/CODEOWNERS
  .github/actions/templates/avm-getModuleTestFiles/action.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.template.module.yml
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:, github_actions

#5314 feat: `avm/res/machine-learning-services/workspace` Add datastores
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/datastores/README.md
  avm/res/machine-learning-services/workspace/datastores/main.bicep
  avm/res/machine-learning-services/workspace/datastores/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5341 fix: module `avm/res/event-grid/system-topic`
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/event-subscription/README.md
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
  avm/res/event-grid/system-topic/tests/e2e/identity/dependencies.bicep
  avm/res/event-grid/system-topic/tests/e2e/identity/main.test.bicep
  avm/res/event-grid/system-topic/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5362 feat: Include skipped CI deployment test information into the Readme
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5336 feat: avm/res/synapse/workspace adding bigDataPools
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/administrators/main.json
  avm/res/synapse/workspace/big-data-pool/README.md
  avm/res/synapse/workspace/big-data-pool/main.bicep
  avm/res/synapse/workspace/big-data-pool/main.json
  avm/res/synapse/workspace/firewall-rules/main.json
  avm/res/synapse/workspace/integration-runtime/main.json
  avm/res/synapse/workspace/key/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/modules/nested_cmkRbac.bicep
  avm/res/synapse/workspace/tests/e2e/bigdatapool/dependencies.bicep
  avm/res/synapse/workspace/tests/e2e/bigdatapool/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/max/main.test.bicep
  avm/res/synapse/workspace/tests/e2e/max/src/spark-defaults.conf
  avm/res/synapse/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#5366 feat: update Prerequisites for azure-stack-hci/cluster test
  avm/res/azure-stack-hci/cluster/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5370 fix: remove AVM specific GUID
  avm/res/azure-stack-hci/cluster/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5374 feat: Add FDP changes for AI Foundry closes issue #5346
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment-private/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment-private/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/default-with-key-vault/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/openai-private/dependencies.bicep
  avm/res/cognitive-services/account/tests/e2e/openai-private/main.test.bicep
  avm/res/cognitive-services/account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5375 feat: Updates types and references `res/key-vault/vault`
  avm/res/key-vault/vault/CHANGELOG.md
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/access-policy/main.bicep
  avm/res/key-vault/vault/access-policy/main.json
  avm/res/key-vault/vault/key/README.md
  avm/res/key-vault/vault/key/main.bicep
  avm/res/key-vault/vault/key/main.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/secret/README.md
  avm/res/key-vault/vault/secret/main.bicep
  avm/res/key-vault/vault/secret/main.json
  avm/res/key-vault/vault/tests/e2e/defaults/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/eckey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/max/dependencies.bicep
  avm/res/key-vault/vault/tests/e2e/max/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/rsakey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/key-vault/vault/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5367 feat: module `avm/res/network/virtual-network-gateway`
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/tests/e2e/customRoute/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/customRoute/main.test.bicep
  avm/res/network/virtual-network-gateway/version.json
Labels: Type: AVM :a: :v: :m:

#5386 fix: Fix outputs issue in customDomain + update API version of customDomain to expose new TLS settings
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/README.md
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.json
  avm/res/cdn/profile/tests/e2e/afd/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5293 feat: Databricks access connector and private storage account firewall improvement
  avm/res/databricks/access-connector/main.json
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5161 fix: Aligned diverse resource module folder names to specs + added test to catch some obvious issues
  avm/res/cdn/profile/afd-endpoint/README.md
  avm/res/cdn/profile/afd-endpoint/main.bicep
  avm/res/cdn/profile/afd-endpoint/main.json
  avm/res/cdn/profile/afd-endpoint/route/README.md
  avm/res/cdn/profile/afd-endpoint/route/main.bicep
  avm/res/cdn/profile/afd-endpoint/route/main.json
  avm/res/cdn/profile/custom-domain/README.md
  avm/res/cdn/profile/custom-domain/main.bicep
  avm/res/cdn/profile/custom-domain/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origin-group/README.md
  avm/res/cdn/profile/origin-group/main.bicep
  avm/res/cdn/profile/origin-group/main.json
  avm/res/cdn/profile/origin-group/origin/README.md
  avm/res/cdn/profile/origin-group/origin/main.bicep
  avm/res/cdn/profile/origin-group/origin/main.json
  avm/res/cdn/profile/rule-set/README.md
  avm/res/cdn/profile/rule-set/main.bicep
  avm/res/cdn/profile/rule-set/main.json
  avm/res/cdn/profile/rule-set/rule/README.md
  avm/res/cdn/profile/rule-set/rule/main.bicep
  avm/res/cdn/profile/rule-set/rule/main.json
  avm/res/cdn/profile/security-policy/README.md
  avm/res/cdn/profile/security-policy/main.bicep
  avm/res/cdn/profile/security-policy/main.json
  avm/res/insights/component/linked-storage-account/README.md
  avm/res/insights/component/linked-storage-account/main.bicep
  avm/res/insights/component/linked-storage-account/main.json
  avm/res/insights/component/main.bicep
  avm/res/net-app/net-app-account/backup-policy/README.md
  avm/res/net-app/net-app-account/backup-policy/main.bicep
  avm/res/net-app/net-app-account/backup-policy/main.json
  avm/res/net-app/net-app-account/backup-vault/backup/main.json
  avm/res/net-app/net-app-account/backup-vault/main.json
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policy/README.md
  avm/res/net-app/net-app-account/snapshot-policy/main.bicep
  avm/res/net-app/net-app-account/snapshot-policy/main.json
  avm/res/net-app/net-app-account/version.json
  avm/res/network/virtual-hub/hub-route-table/README.md
  avm/res/network/virtual-hub/hub-route-table/main.bicep
  avm/res/network/virtual-hub/hub-route-table/main.json
  avm/res/network/virtual-hub/hub-virtual-network-connection/README.md
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.bicep
  avm/res/network/virtual-hub/hub-virtual-network-connection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/routing-intent/README.md
  avm/res/network/virtual-hub/routing-intent/main.bicep
  avm/res/network/virtual-hub/routing-intent/main.json
  avm/res/sql/server/audit-setting/README.md
  avm/res/sql/server/audit-setting/main.bicep
  avm/res/sql/server/audit-setting/main.json
  avm/res/sql/server/audit-setting/modules/nested_storageRoleAssignment.bicep
  avm/res/sql/server/main.bicep
  utilities/pipelines/staticValidation/compliance/helper/helper.psm1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#5394 feat: Added enforcement for UDTs/RDTs for modules with version `1.0` and above
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5295 feat: `avm/res/cache/redis-enterprise`: update Azure Managed Redis GA status and add non-clustered support
  avm/res/cache/redis-enterprise/README.md
  avm/res/cache/redis-enterprise/database/README.md
  avm/res/cache/redis-enterprise/database/access-policy-assignment/README.md
  avm/res/cache/redis-enterprise/database/access-policy-assignment/main.bicep
  avm/res/cache/redis-enterprise/database/access-policy-assignment/main.json
  avm/res/cache/redis-enterprise/database/main.bicep
  avm/res/cache/redis-enterprise/database/main.json
  avm/res/cache/redis-enterprise/main.bicep
  avm/res/cache/redis-enterprise/main.json
  avm/res/cache/redis-enterprise/tests/e2e/active-geo-replication/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/amr-entra-id/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/amr-no-cluster/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/defaults/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/kv-secrets/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/cache/redis-enterprise/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5408 fix: module `avm/res/network/vpn-gateway`
  avm/res/network/vpn-gateway/README.md
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
  avm/res/network/vpn-gateway/tests/e2e/nat-rule/dependencies.bicep
  avm/res/network/vpn-gateway/tests/e2e/nat-rule/main.test.bicep
  avm/res/network/vpn-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4929 feat: Add diagnostics parameter
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5412 fix: Stablize Nested VM, Use SecureString, Remove Duplicate Installation
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/hciHostDeploymentWithImage.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/provision-ad.ps1
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/provision-arc.ps1
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/wait.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5414 fix: Update API versions in `diagnostic.dependencies.bicep`
  utilities/e2e-template-assets/templates/diagnostic.dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5417 fix: typo in param name at 'avm/res/sql/server'
  avm/res/sql/server/README.md
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5420 feat: support to deploy azlocal idem
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deploy.sh
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/nested/deployment-setting.bicep
  avm/res/azure-stack-hci/cluster/nested/deployment-setting.json
  avm/res/azure-stack-hci/cluster/secrets.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5427 fix: work around RP on re-deploy AKS Arc
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/Initialize-KubernetesDefaultVersion.ps1
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/init.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5432 fix: bump version for AKS Arc
  avm/res/hybrid-container-service/provisioned-cluster-instance/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5423 feat: Add `connectionPolicy` to 'avm/res/sql/server'
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/admin/dependencies.bicep
  avm/res/sql/server/tests/e2e/admin/main.test.bicep
  avm/res/sql/server/tests/e2e/audit/dependencies.bicep
  avm/res/sql/server/tests/e2e/audit/main.test.bicep
  avm/res/sql/server/tests/e2e/cmk/dependencies.bicep
  avm/res/sql/server/tests/e2e/defaults/main.test.bicep
  avm/res/sql/server/tests/e2e/elasticPool/main.test.bicep
  avm/res/sql/server/tests/e2e/failover-group/dependencies.bicep
  avm/res/sql/server/tests/e2e/failover-group/main.test.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/main.test.bicep
  avm/res/sql/server/tests/e2e/max/dependencies.bicep
  avm/res/sql/server/tests/e2e/secondary/dependencies.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/dependencies.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5442 fix: Fixing typo in module
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/hubbyoip/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/hubcommon/main.test.bicep
  avm/res/network/azure-firewall/tests/e2e/hubmin/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5446 feat: add `RoleAssignments` to 'avm/res/sql/server/elastic-pool'
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-setting/main.bicep
  avm/res/sql/server/audit-setting/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5397 fix: module `avm/res/event-grid/system-topic`
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/event-subscription/README.md
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
  avm/res/event-grid/system-topic/tests/e2e/defaults/dependencies.bicep
  avm/res/event-grid/system-topic/tests/e2e/defaults/main.test.bicep
  avm/res/event-grid/system-topic/tests/e2e/max/main.test.bicep
  avm/res/event-grid/system-topic/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/event-grid/system-topic/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5467 fix: Security Imprvoments of AKS Arc
  avm/res/hybrid-container-service/provisioned-cluster-instance/New-SshKey.sh
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/secrets.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5472 feat: update logical network to use new azlocal
  avm/res/azure-stack-hci/logical-network/README.md
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5201 feat: Service-Bus Namespace - Added secrets export
  avm/res/service-bus/namespace/CHANGELOG.md
  avm/res/service-bus/namespace/README.md
  avm/res/service-bus/namespace/authorization-rule/main.json
  avm/res/service-bus/namespace/disaster-recovery-config/main.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/migration-configuration/main.json
  avm/res/service-bus/namespace/network-rule-set/main.json
  avm/res/service-bus/namespace/queue/authorization-rule/main.json
  avm/res/service-bus/namespace/queue/main.json
  avm/res/service-bus/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/encr/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/max/main.test.bicep
  avm/res/service-bus/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/service-bus/namespace/topic/authorization-rule/main.json
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/topic/subscription/rule/main.json
  avm/res/service-bus/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5491 fix: CI for new modules and Changelogs
  utilities/pipelines/sharedScripts/Get-PublishedModuleVersionsList.ps1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5480 fix: `res/signal-r-service/signal-r` property update
  avm/res/signal-r-service/signal-r/CHANGELOG.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/signal-r/tests/e2e/max/dependencies.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/signal-r-service/signal-r/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5289 fix: Backup Policy Id is incorrect for virtual machines when the rsv lives in a different resource group (#2)
  avm/res/compute/virtual-machine/CHANGELOG.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#5501 fix: `res/signal-r-service/signal-r` Changelog fix
  avm/res/signal-r-service/signal-r/CHANGELOG.md
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
Labels: Needs: Module Owner :mega:

#5382 feat: Add support for replication in `avm/res/operational-insights/workspace` + API versions update
  avm/res/operational-insights/workspace/CHANGELOG.md
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/data-export/README.md
  avm/res/operational-insights/workspace/data-export/main.bicep
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/README.md
  avm/res/operational-insights/workspace/data-source/main.bicep
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/README.md
  avm/res/operational-insights/workspace/linked-service/main.bicep
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/README.md
  avm/res/operational-insights/workspace/linked-storage-account/main.bicep
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/README.md
  avm/res/operational-insights/workspace/saved-search/main.bicep
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/README.md
  avm/res/operational-insights/workspace/storage-insight-config/main.bicep
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operational-insights/workspace/version.json
  utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5474 fix: avm/res/storage/Storage-Acccount - SKU for v2 FileStorage missing - Fixes #3858
  avm/res/storage/storage-account/CHANGELOG.md
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#5490 feat: support cluster upgrade
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deploy.sh
  avm/res/azure-stack-hci/cluster/deployment-setting/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.bicep
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/nested/deployment-setting.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5290 fix: Fixes API version issue mismatch with Recovery Services Vault (#2)
  avm/res/recovery-services/vault/CHANGELOG.md
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/backup-storage-config/README.md
  avm/res/recovery-services/vault/backup-storage-config/main.bicep
  avm/res/recovery-services/vault/backup-storage-config/main.json
  avm/res/recovery-services/vault/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5330 feat: New module `machine-learning-services/registry`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.machine-learning-services.registry.yml
  avm/res/machine-learning-services/registry/CHANGELOG.md
  avm/res/machine-learning-services/registry/README.md
  avm/res/machine-learning-services/registry/main.bicep
  avm/res/machine-learning-services/registry/main.json
  avm/res/machine-learning-services/registry/tests/e2e/defaults/main.test.bicep
  avm/res/machine-learning-services/registry/tests/e2e/max/dependencies.bicep
  avm/res/machine-learning-services/registry/tests/e2e/max/main.test.bicep
  avm/res/machine-learning-services/registry/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/machine-learning-services/registry/tests/e2e/waf-aligned/main.test.bicep
  avm/res/machine-learning-services/registry/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5508 feat: assign all team users to issue owners and PR reviewers
  utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  utilities/pipelines/platform/Set-AvmGitHubPrLabels.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5507 fix: RecoveryServies - Fixed casing of changelog + updated test case to point out the importance of set casing
  avm/res/recovery-services/vault/CHANGELOG.md
  avm/res/recovery-services/vault/main.json
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:
