Repository Azure/bicep-registry-modules, pull requests merged in 2025-03, with the labels that each got.

#4286 feat: Update `avm/res/web/static-site` - Add additional param for `publicNetworkAccess`
  avm/res/web/static-site/README.md
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4654 feat: Added test to ensure `version.json` file only has the `major.minor` versions specified
  avm/res/automation/automation-account/version.json
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4653 fix: bicep publish fix
  utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4670 fix: param name of logical network
  avm/res/azure-stack-hci/logical-network/README.md
  avm/res/azure-stack-hci/logical-network/main.bicep
  avm/res/azure-stack-hci/logical-network/main.json
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4488 feat: New module `azure-stack-hci/network-interface` module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.res.azure-stack-hci.network-interface.yml
  avm/res/azure-stack-hci/network-interface/README.md
  avm/res/azure-stack-hci/network-interface/main.bicep
  avm/res/azure-stack-hci/network-interface/main.json
  avm/res/azure-stack-hci/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/network-interface/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/network-interface/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4652 feat: Resource API version updates
  avm/res/network/azure-firewall/README.md
  avm/res/network/azure-firewall/main.bicep
  avm/res/network/azure-firewall/main.json
  avm/res/network/azure-firewall/tests/e2e/addpip/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/basic/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/custompip/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/defaults/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/hubcommon/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/hubmin/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/max/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/publicipprefix/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/tunneling/dependencies.bicep
  avm/res/network/azure-firewall/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/azure-firewall/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#4494 fix: Fixed incorrect DiagnosticsImplementation for AVD & Synapse Workspace
  avm/res/desktop-virtualization/workspace/README.md
  avm/res/desktop-virtualization/workspace/main.bicep
  avm/res/desktop-virtualization/workspace/main.json
  avm/res/desktop-virtualization/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/max/main.test.bicep
  avm/res/desktop-virtualization/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/desktop-virtualization/workspace/version.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:, Needs: Core Team :genie:

#4420 fix: Update avm/res/compute/virtual-machine - Deploy vm's with ZRS data disk(s)
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/tests/e2e/windows.zrsdisks/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.zrsdisks/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4690 feat: Update `avm/res/recovery-services/vault` - Simplify security settings input
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/recovery-services/vault/tests/e2e/defaults/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/max/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/recovery-services/vault/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4691 ci: Adding `avm/res/azure-stack-hci/virtual-hard-disk` to OIDC filter
  .github/actions/templates/avm-validateModuleDeployment/action.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4692 feat: `avm/res/compute/availability-set` Update to latest AVM specs and API Version
  avm/res/compute/availability-set/README.md
  avm/res/compute/availability-set/main.bicep
  avm/res/compute/availability-set/main.json
  avm/res/compute/availability-set/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4463 feat: New module `avm/res/kubernetes/connected-cluster` module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.kubernetes.connected-cluster.yml
  avm/res/kubernetes/connected-cluster/README.md
  avm/res/kubernetes/connected-cluster/main.bicep
  avm/res/kubernetes/connected-cluster/main.json
  avm/res/kubernetes/connected-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/kubernetes/connected-cluster/tests/e2e/max/dependencies.bicep
  avm/res/kubernetes/connected-cluster/tests/e2e/max/main.test.bicep
  avm/res/kubernetes/connected-cluster/tests/e2e/waf-aligned/main.test.bicep
  avm/res/kubernetes/connected-cluster/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4456 feat: Removed redundancies across several modules
  avm/ptn/app/container-job-toolkit/main.json
  avm/ptn/app/container-job-toolkit/modules/deploy_services.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  avm/ptn/virtual-machine-images/azure-image-builder/modules/msi_rbac.bicep
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/runbook/main.bicep
  avm/res/automation/automation-account/runbook/main.json
  avm/res/batch/batch-account/main.bicep
  avm/res/batch/batch-account/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/db-for-my-sql/flexible-server/main.bicep
  avm/res/db-for-my-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/mongo-cluster/main.bicep
  avm/res/document-db/mongo-cluster/main.json
  avm/res/elastic-san/elastic-san/volume-group/main.bicep
  avm/res/elastic-san/elastic-san/volume-group/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
  avm/res/load-test-service/load-test/main.bicep
  avm/res/load-test-service/load-test/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/web/site/config--appsettings/main.bicep
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/slot/config--appsettings/main.bicep
  avm/res/web/site/slot/config--appsettings/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4482 feat: New module `azure-stack-hci/virtual-hard-disk` module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.azure-stack-hci.virtual-hard-disk.yml
  avm/res/azure-stack-hci/virtual-hard-disk/README.md
  avm/res/azure-stack-hci/virtual-hard-disk/main.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/main.json
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/max/dependencies.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/max/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4699 fix: shortend test resource name for HCI vhd
  avm/res/azure-stack-hci/virtual-hard-disk/README.md
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/max/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4702 fix: update description of vhd
  avm/res/azure-stack-hci/virtual-hard-disk/README.md
  avm/res/azure-stack-hci/virtual-hard-disk/main.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4704 fix: revert "update description of vhd"
  avm/res/azure-stack-hci/virtual-hard-disk/README.md
  avm/res/azure-stack-hci/virtual-hard-disk/main.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/main.json
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:

#4698 fix: Fix static validation in few modules
  avm/res/elastic-san/elastic-san/main.json
  avm/res/elastic-san/elastic-san/volume-group/main.json
  avm/res/elastic-san/elastic-san/volume-group/snapshot/main.json
  avm/res/elastic-san/elastic-san/volume-group/volume/main.json
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/web/site/config--appsettings/main.json
  avm/res/web/site/main.json
  avm/res/web/site/slot/config--appsettings/main.json
  avm/res/web/site/slot/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4697 feat: Add tags to failover group module in 'avm/res/sql/server'
  avm/res/sql/server/README.md
  avm/res/sql/server/failover-group/README.md
  avm/res/sql/server/failover-group/main.bicep
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4716 feat: support shared key vault and create secrets in azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/secrets.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIClusterPreqs/ashciPrereqs.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/dependencies/defaults-dependencies.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/dependencies/waf-dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4648 fix: CI - Drastically reduced CSV downloads
  utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
Labels: Type: Bug :bug:, Needs: Core Team :genie:, Type: CI :rocket:

#4493 feat: Network Firewall-Policy - Added missing properties
  avm/res/network/firewall-policy/README.md
  avm/res/network/firewall-policy/main.bicep
  avm/res/network/firewall-policy/main.json
  avm/res/network/firewall-policy/rule-collection-group/main.json
  avm/res/network/firewall-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/firewall-policy/tests/e2e/max/main.test.bicep
  avm/res/network/firewall-policy/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/firewall-policy/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4350 feat: VirtualNetworkGateway - Updated to latest UDTs etc.
  avm/res/network/virtual-network-gateway/README.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/nat-rule/README.md
  avm/res/network/virtual-network-gateway/nat-rule/main.bicep
  avm/res/network/virtual-network-gateway/nat-rule/main.json
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveBgpAPIPA/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveExistingPip/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveExistingPip/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activeActiveNoBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveExistingPip/dependencies.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveExistingPip/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/activePassiveNoBGP/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/expressRoute/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn-no-az/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/vpn/main.test.bicep
  avm/res/network/virtual-network-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-network-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4717 feat: avm/ptn/policy-insights/remediation
  avm/ptn/policy-insights/remediation/README.md
  avm/ptn/policy-insights/remediation/main.bicep
  avm/ptn/policy-insights/remediation/main.json
  avm/ptn/policy-insights/remediation/modules/management-group.bicep
  avm/ptn/policy-insights/remediation/modules/resource-group.bicep
  avm/ptn/policy-insights/remediation/modules/subscription.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/mg.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/mg.max/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/rg.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/rg.max/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/sub.defaults/main.test.bicep
  avm/ptn/policy-insights/remediation/tests/e2e/sub.max/main.test.bicep
  avm/ptn/policy-insights/remediation/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4578 feat: CI - Added test for telemetry passthru for non-res modules
  avm/ptn/ai-platform/baseline/main.bicep
  avm/ptn/ai-platform/baseline/main.json
  avm/ptn/azd/aks-automatic-cluster/main.bicep
  avm/ptn/azd/aks-automatic-cluster/main.json
  avm/ptn/deployment-script/import-image-to-acr/main.bicep
  avm/ptn/deployment-script/import-image-to-acr/main.json
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/tests/e2e/defaults/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/max/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/no-addons/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4719 feat: update e2e test for azlocal related modules
  avm/res/azure-stack-hci/logical-network/main.json
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/network-interface/main.json
  avm/res/azure-stack-hci/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/network-interface/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/max/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4733 feat: separate scope of storage account and key vault in azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.bicep
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/secrets.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4721 feat: Update scale settings for container app
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4680 feat: `avm/res/insights/action-group` added eventhubReceivers parameter
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
  avm/res/insights/action-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4684 fix: `avm/res/network/firewall-policy` AVM Baseline fix for Static Validation
  avm/res/network/firewall-policy/main.json
  avm/res/network/firewall-policy/rule-collection-group/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4746 feat: PrivateLinkService - Updated to latest AVM common types
  avm/res/network/private-link-service/README.md
  avm/res/network/private-link-service/main.bicep
  avm/res/network/private-link-service/main.json
  avm/res/network/private-link-service/tests/e2e/defaults/main.test.bicep
  avm/res/network/private-link-service/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4744 feat: ServiceEndpointPolicy Updated to latest AVM common types.
  avm/res/network/service-endpoint-policy/README.md
  avm/res/network/service-endpoint-policy/main.bicep
  avm/res/network/service-endpoint-policy/main.json
  avm/res/network/service-endpoint-policy/tests/e2e/defaults/main.test.bicep
  avm/res/network/service-endpoint-policy/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4748 fix: use storageNetworkType and networkIntentType for azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.bicep
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4750 feat: add types for the connected cluster module
  avm/res/kubernetes/connected-cluster/README.md
  avm/res/kubernetes/connected-cluster/main.bicep
  avm/res/kubernetes/connected-cluster/main.json
  avm/res/kubernetes/connected-cluster/tests/e2e/max/main.test.bicep
  avm/res/kubernetes/connected-cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4755 feat: NSG - Updated to latest AVM common types & specs
  avm/res/network/network-security-group/README.md
  avm/res/network/network-security-group/main.bicep
  avm/res/network/network-security-group/main.json
  avm/res/network/network-security-group/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-security-group/tests/e2e/max/main.test.bicep
  avm/res/network/network-security-group/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4756 feat: Network Manager - Updated to latest AVM common types
  avm/res/network/network-manager/README.md
  avm/res/network/network-manager/connectivity-configuration/main.bicep
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/main.bicep
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/routing-configuration/main.bicep
  avm/res/network/network-manager/routing-configuration/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.bicep
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-manager/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4760 fix: Change parameter from iscontentTypeToCompressAll to isCompressionEnabled Issue #4734
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.bicep
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4742 fix: PowerBI Dedicated - Fixed UDT type
  avm/res/power-bi-dedicated/capacity/main.bicep
  avm/res/power-bi-dedicated/capacity/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#4768 feat: Update `avm/res/app/container-app` to latest UDT
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4773 fix: camel-cased typo for module azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.bicep
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4770 feat: Update `avm/res/cdn/profile` to latest UDT + fix static validation
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afdEndpoint/README.md
  avm/res/cdn/profile/afdEndpoint/main.bicep
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.bicep
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.bicep
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.bicep
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.bicep
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.bicep
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.bicep
  avm/res/cdn/profile/securityPolicies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4764 feat: Add support for the kind "Direct" in `avm/res/insights/data-collection-rule`
  avm/res/insights/data-collection-rule/README.md
  avm/res/insights/data-collection-rule/main.bicep
  avm/res/insights/data-collection-rule/main.json
  avm/res/insights/data-collection-rule/modules/nested_conditionalScope.bicep
  avm/res/insights/data-collection-rule/tests/e2e/direct/dependencies.bicep
  avm/res/insights/data-collection-rule/tests/e2e/direct/main.test.bicep
  avm/res/insights/data-collection-rule/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4785 fix: change deploymentSettings to required for azlocal
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4765 feat: New module `avm/res/maintenance/configuration-assignment`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.maintenance.configuration-assignment.yml
  avm/res/maintenance/configuration-assignment/README.md
  avm/res/maintenance/configuration-assignment/main.bicep
  avm/res/maintenance/configuration-assignment/main.json
  avm/res/maintenance/configuration-assignment/tests/e2e/filter.defaults/dependencies.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/filter.defaults/main.test.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/linvm.waf-aligned/dependencies.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/linvm.waf-aligned/main.test.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/winvm.multirg/dependencies_mc.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/winvm.multirg/dependencies_vm.bicep
  avm/res/maintenance/configuration-assignment/tests/e2e/winvm.multirg/main.test.bicep
  avm/res/maintenance/configuration-assignment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4707 feat: New Pattern Module `avm/ptn/sa/conversation-knowledge-mining`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.sa.conversation-knowledge-mining.yml
  avm/ptn/sa/conversation-knowledge-mining/README.md
  avm/ptn/sa/conversation-knowledge-mining/main.bicep
  avm/ptn/sa/conversation-knowledge-mining/main.json
  avm/ptn/sa/conversation-knowledge-mining/modules/ai-foundry-ai-hub.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/ai-foundry-kv-secret-cog-services-key.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/ai-foundry.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/function-rag.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/rbac-aiproject-aideveloper.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/rbac-cosmosdb-contributor.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/rbac-rg-owner.bicep
  avm/ptn/sa/conversation-knowledge-mining/modules/webapp.bicep
  avm/ptn/sa/conversation-knowledge-mining/tests/e2e/sandbox/main.test.bicep
  avm/ptn/sa/conversation-knowledge-mining/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#4715 feat: Add `sasExpirationAction` parameter to storage account module
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4797 feat: Update communication & email services to latest UDT
  avm/res/communication/communication-service/README.md
  avm/res/communication/communication-service/main.bicep
  avm/res/communication/communication-service/main.json
  avm/res/communication/email-service/README.md
  avm/res/communication/email-service/domain/README.md
  avm/res/communication/email-service/domain/main.bicep
  avm/res/communication/email-service/domain/main.json
  avm/res/communication/email-service/domain/sender-username/main.json
  avm/res/communication/email-service/main.bicep
  avm/res/communication/email-service/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4795 feat: Update `avm/res/cognitive-services/account` to latest UDT
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/modules/keyVaultExport.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4800 feat: Update `avm/res/compute/disk-encryption-set` to latest UDT specs
  avm/res/compute/disk-encryption-set/README.md
  avm/res/compute/disk-encryption-set/main.bicep
  avm/res/compute/disk-encryption-set/main.json
  avm/res/compute/disk-encryption-set/modules/key-vault.vault.access-policy.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4801 feat: Update `avm/res/compute/disk` to latest UDT specs
  avm/res/compute/disk/README.md
  avm/res/compute/disk/main.bicep
  avm/res/compute/disk/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4802 fix: Fixed Compute-Disk Import Test RBAC assignment
  avm/res/compute/disk/tests/e2e/import/dependencies.bicep
  avm/res/compute/disk/tests/e2e/import/dependencies_rbac.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4789 fix: Make SQL Managed Instance work again
  avm/res/sql/managed-instance/README.md
  avm/res/sql/managed-instance/administrator/README.md
  avm/res/sql/managed-instance/administrator/main.bicep
  avm/res/sql/managed-instance/administrator/main.json
  avm/res/sql/managed-instance/database/README.md
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/README.md
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/main.bicep
  avm/res/sql/managed-instance/database/backup-long-term-retention-policy/main.json
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/README.md
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/main.bicep
  avm/res/sql/managed-instance/database/backup-short-term-retention-policy/main.json
  avm/res/sql/managed-instance/database/main.bicep
  avm/res/sql/managed-instance/database/main.json
  avm/res/sql/managed-instance/encryption-protector/README.md
  avm/res/sql/managed-instance/encryption-protector/main.bicep
  avm/res/sql/managed-instance/encryption-protector/main.json
  avm/res/sql/managed-instance/key/README.md
  avm/res/sql/managed-instance/key/main.bicep
  avm/res/sql/managed-instance/key/main.json
  avm/res/sql/managed-instance/main.bicep
  avm/res/sql/managed-instance/main.json
  avm/res/sql/managed-instance/security-alert-policy/README.md
  avm/res/sql/managed-instance/security-alert-policy/main.bicep
  avm/res/sql/managed-instance/security-alert-policy/main.json
  avm/res/sql/managed-instance/tests/e2e/defaults/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/defaults/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/max/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/max/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/vulnAssm/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/sql/managed-instance/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/managed-instance/version.json
  avm/res/sql/managed-instance/vulnerability-assessment/README.md
  avm/res/sql/managed-instance/vulnerability-assessment/main.bicep
  avm/res/sql/managed-instance/vulnerability-assessment/main.json
  utilities/pipelines/staticValidation/psrule/.ps-rule/min-suppress.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Needs: Core Team :genie:

#4736 ci: Child module publishing (subnet only)
  .github/actions/templates/avm-publishModule/action.yml
  .github/workflows/avm.template.module.yml
  utilities/pipelines/publish/Publish-ModuleFromPathToPBR.ps1
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4427 feat: APIM - Removed workaround for secrets
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/README.md
  avm/res/api-management/service/authorization-server/main.bicep
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/logger/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/main.json
  avm/res/api-management/service/tests/e2e/consumptionSku/main.test.bicep
  avm/res/api-management/service/tests/e2e/defaults/main.test.bicep
  avm/res/api-management/service/tests/e2e/developerSku/main.test.bicep
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/api-management/service/tests/e2e/v2Sku/main.test.bicep
  avm/res/api-management/service/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4848 fix: `avm/res/machine-learning-services/workspace` Fix conditional type descriptions
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/README.md
  avm/res/machine-learning-services/workspace/connection/main.bicep
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4851 fix: Update `avm/res/network/virtual-network/subnet` parameter description to trigger new patch version
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4846 fix: Fix output cert failures
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4791 feat: New Module avm/res/maps/account
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.maps.account.yml
  avm/res/maps/account/README.md
  avm/res/maps/account/main.bicep
  avm/res/maps/account/main.json
  avm/res/maps/account/tests/e2e/defaults/main.test.bicep
  avm/res/maps/account/tests/e2e/max/dependencies.bicep
  avm/res/maps/account/tests/e2e/max/main.test.bicep
  avm/res/maps/account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/maps/account/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4792 feat: Update net app replication and updating to latest api
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/README.md
  avm/res/net-app/net-app-account/backup-policies/main.bicep
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/backup-vault/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/main.bicep
  avm/res/net-app/net-app-account/backup-vault/backup/main.json
  avm/res/net-app/net-app-account/backup-vault/main.bicep
  avm/res/net-app/net-app-account/backup-vault/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/README.md
  avm/res/net-app/net-app-account/snapshot-policies/main.bicep
  avm/res/net-app/net-app-account/snapshot-policies/main.json
  avm/res/net-app/net-app-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4861 fix: Remove storage account minimumTlsVersion TLS1_3 option
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4781 fix: `avm/res/service-bus/namespace` default value of `autoDeleteOnIdle`
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/README.md
  avm/res/service-bus/namespace/topic/subscription/main.bicep
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4867 fix: `avm/ptn/sa/conversation-knowledge-mining` Update SQL Server administrator password to use GUID for improve…
  avm/ptn/sa/conversation-knowledge-mining/README.md
  avm/ptn/sa/conversation-knowledge-mining/main.bicep
  avm/ptn/sa/conversation-knowledge-mining/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4865 fix: Aligning push trigger for a few workflows
  .github/workflows/avm.ptn.app.container-job-toolkit.yml
  .github/workflows/avm.ptn.mgmt-groups.subscription-placement.yml
  .github/workflows/avm.res.azure-stack-hci.cluster.yml
  .github/workflows/avm.res.azure-stack-hci.logical-network.yml
  .github/workflows/avm.res.azure-stack-hci.network-interface.yml
  .github/workflows/avm.res.azure-stack-hci.virtual-hard-disk.yml
  .github/workflows/avm.res.kubernetes.connected-cluster.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4720 feat: New module `hybrid-container-service/provisioned-cluster-instance` module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/actions/templates/avm-validateModuleDeployment/action.yml
  .github/workflows/avm.res.hybrid-container-service.provisioned-cluster-instance.yml
  avm/res/hybrid-container-service/provisioned-cluster-instance/README.md
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/scripts/generateSshKey.ps1
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/dependencies.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/waf-aligned/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/version.json
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/hciHostStage6.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4928 fix: parameter error in azlocal
  avm/res/azure-stack-hci/cluster/main.bicep
  avm/res/azure-stack-hci/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4931 fix: too long name for aks arc
  avm/res/hybrid-container-service/provisioned-cluster-instance/README.md
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4872 feat: Update `avm/res/desktop-virtualization/host-pool` to the latest specs + nullable params
  avm/res/desktop-virtualization/host-pool/README.md
  avm/res/desktop-virtualization/host-pool/main.bicep
  avm/res/desktop-virtualization/host-pool/main.json
  avm/res/desktop-virtualization/host-pool/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4871 feat: Update `avm/res/desktop-virtualization/application-group` to the latest UDT + nullable params
  avm/res/desktop-virtualization/application-group/README.md
  avm/res/desktop-virtualization/application-group/application/README.md
  avm/res/desktop-virtualization/application-group/application/main.bicep
  avm/res/desktop-virtualization/application-group/application/main.json
  avm/res/desktop-virtualization/application-group/main.bicep
  avm/res/desktop-virtualization/application-group/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4693 fix: `avm/res/web/static-site` fixes for pdns & Identity Var
  avm/res/web/static-site/README.md
  avm/res/web/static-site/config/main.json
  avm/res/web/static-site/custom-domain/main.json
  avm/res/web/static-site/linked-backend/main.json
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/tests/e2e/max/dependencies.bicep
  avm/res/web/static-site/tests/e2e/max/main.test.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/web/static-site/tests/e2e/waf-aligned/main.test.bicep
  avm/res/web/static-site/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4932 feat: Express Route Port user assigned identity
  avm/res/network/express-route-port/README.md
  avm/res/network/express-route-port/main.bicep
  avm/res/network/express-route-port/main.json
  avm/res/network/express-route-port/tests/e2e/max/dependencies.bicep
  avm/res/network/express-route-port/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-port/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Language: Bicep :muscle:

#4933 fix: `avm/res/document-db/database-account` Fixed a typo in the modules test name and description
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/tests/e2e/sqlroles/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4860 feat: Update `avm/res/compute/virtual-machine-scale-set` to the latest UDT
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4858 feat: Update `avm/res/compute/ssh-public-key` to the latest UDT
  avm/res/compute/ssh-public-key/README.md
  avm/res/compute/ssh-public-key/main.bicep
  avm/res/compute/ssh-public-key/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4743 feat: TrafficManagerProfile - Updated to latest common types
  avm/res/network/trafficmanagerprofile/README.md
  avm/res/network/trafficmanagerprofile/main.bicep
  avm/res/network/trafficmanagerprofile/main.json
  avm/res/network/trafficmanagerprofile/tests/e2e/defaults/main.test.bicep
  avm/res/network/trafficmanagerprofile/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4745 feat: RouteTable - Updated to latest AVM common types
  avm/res/network/route-table/README.md
  avm/res/network/route-table/main.bicep
  avm/res/network/route-table/main.json
  avm/res/network/route-table/tests/e2e/defaults/main.test.bicep
  avm/res/network/route-table/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4753 feat: p2s GW - Updated to latest AVM common types
  avm/res/network/p2s-vpn-gateway/README.md
  avm/res/network/p2s-vpn-gateway/main.bicep
  avm/res/network/p2s-vpn-gateway/main.json
  avm/res/network/p2s-vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/p2s-vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4754 feat: NetworkWatcher - Updated to latest common types
  avm/res/network/network-watcher/README.md
  avm/res/network/network-watcher/connection-monitor/main.json
  avm/res/network/network-watcher/flow-log/main.json
  avm/res/network/network-watcher/main.bicep
  avm/res/network/network-watcher/main.json
  avm/res/network/network-watcher/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-watcher/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4757 feat: NIC - Updated to latest common types
  avm/res/network/network-interface/README.md
  avm/res/network/network-interface/main.bicep
  avm/res/network/network-interface/main.json
  avm/res/network/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-interface/tests/e2e/max/main.test.bicep
  avm/res/network/network-interface/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4747 feat: Compute Gallery - Updated types to latest specs
  avm/res/compute/gallery/README.md
  avm/res/compute/gallery/application/README.md
  avm/res/compute/gallery/application/main.bicep
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/README.md
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.bicep
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/defaults/main.test.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4953 fix: aks arc typo
  avm/res/hybrid-container-service/provisioned-cluster-instance/README.md
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4952 feat: Update `avm/res/dev-test-lab/lab` to the latest UDT
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/artifactsource/main.json
  avm/res/dev-test-lab/lab/cost/main.json
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/notificationchannel/main.json
  avm/res/dev-test-lab/lab/policyset/policy/main.json
  avm/res/dev-test-lab/lab/schedule/README.md
  avm/res/dev-test-lab/lab/schedule/main.bicep
  avm/res/dev-test-lab/lab/schedule/main.json
  avm/res/dev-test-lab/lab/virtualnetwork/main.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4761 feat: Local Network Gateway - Updated to latest common types
  avm/res/network/local-network-gateway/README.md
  avm/res/network/local-network-gateway/main.bicep
  avm/res/network/local-network-gateway/main.json
  avm/res/network/local-network-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/local-network-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/local-network-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:
