Repository Azure/bicep-registry-modules, pull requests merged in 2025-02, with the labels that each got.

#4363 fix: Added depends on to advanced threat protection
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4355 feat: CI - Added items to removal order to make it more seemless & robust
  utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: Needs: Core Team :genie:, Type: CI :rocket:

#4367 feat: Uplift Virtual Machine Images - Image Templates to the latest API `2024-02-01`
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
  avm/res/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  avm/res/virtual-machine-images/image-template/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4358 feat: enables developer portal for `avm/res/api-management/service`
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/logger/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/main.json
  avm/res/api-management/service/tests/e2e/developerSku/main.test.bicep
  avm/res/api-management/service/tests/e2e/v2Sku/main.test.bicep
  avm/res/api-management/service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4371 fix: CDN Profile - Updated JSON templates to latest
  avm/res/cdn/profile/afdEndpoint/main.json
  avm/res/cdn/profile/afdEndpoint/route/main.json
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/origingroup/main.json
  avm/res/cdn/profile/origingroup/origin/main.json
  avm/res/cdn/profile/ruleset/main.json
  avm/res/cdn/profile/ruleset/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4362 feat: Add NginxIngressController configuration for web application routing
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4372 fix: Update `avm/res/container-service/managed-cluster` - Latest cross-referenced modules
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4365 fix: NetApp - Added missing param passthru
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/README.md
  avm/res/net-app/net-app-account/backup-policies/main.bicep
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/backup-vault/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/main.bicep
  avm/res/net-app/net-app-account/backup-vault/backup/main.json
  avm/res/net-app/net-app-account/backup-vault/main.bicep
  avm/res/net-app/net-app-account/backup-vault/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4304 feat: Remove `'avm/ptn/lz/sub-vending` from OIDC exeption list
  .github/actions/templates/avm-validateModuleDeployment/action.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4274 fix: Update `avm/ptn/lz/sub-vending` -- Bug fixes and improvements
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:, Type: CI :rocket:

#4335 feat: Portal Dashboard - Updated to latest UDTs
  avm/res/portal/dashboard/README.md
  avm/res/portal/dashboard/main.bicep
  avm/res/portal/dashboard/main.json
  avm/res/portal/dashboard/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4388 feat: Add new params to `avm/res/insights/component`
  avm/res/insights/component/README.md
  avm/res/insights/component/linkedStorageAccounts/main.json
  avm/res/insights/component/main.bicep
  avm/res/insights/component/main.json
  avm/res/insights/component/tests/e2e/max/main.test.bicep
  avm/res/insights/component/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4390 feat: Updated `avm/res/insights/diagnostic-setting` to latest UDT specs
  avm/res/insights/diagnostic-setting/main.bicep
  avm/res/insights/diagnostic-setting/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4375 fix: Update avm/res/container-registry/registry - Param typo fix
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/cache-rule/main.json
  avm/res/container-registry/registry/credential-set/main.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/replication/main.json
  avm/res/container-registry/registry/scope-map/main.json
  avm/res/container-registry/registry/webhook/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#4397 feat: Activity Log Alert - Update to latest UDTs
  avm/res/insights/activity-log-alert/README.md
  avm/res/insights/activity-log-alert/main.bicep
  avm/res/insights/activity-log-alert/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4396 feat: Action Group - Update to latest UDTs
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4401 feat: Databricks Workspace - Updated to latest UDTs & renamed test instances
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/defaults/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/databricks/workspace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4360 feat: Add support for managed identity authentication in OMS agent configuration
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4379 feat: update `avm/res/storage/storage-account` - Added Defender Plan (Advanced Threat Prodection)
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4414 fix: revert Defender updates to `avm/res/storage/storage-account`
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4411 fix: avm/res/storage/storage-account blob soft delete days to 7
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Status: Do Not Merge :no_entry:

#4393 ci: Add `avm/ptn/lz/sub-vending` and `avm/res/azure-stack-hci/cluster` to the list of OIDC exception list
  .github/actions/templates/avm-validateModuleDeployment/action.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4400 feat: Updates of `avm/res/network/express-route-circuits`
  avm/res/network/express-route-circuit/README.md
  avm/res/network/express-route-circuit/main.bicep
  avm/res/network/express-route-circuit/main.json
  avm/res/network/express-route-circuit/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4361 feat: RSV - Addressed diverse tickets & refactored structure
  avm/res/recovery-services/vault/README.md
  avm/res/recovery-services/vault/backup-config/main.json
  avm/res/recovery-services/vault/backup-fabric/protection-container/README.md
  avm/res/recovery-services/vault/backup-fabric/protection-container/main.bicep
  avm/res/recovery-services/vault/backup-fabric/protection-container/main.json
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/README.md
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/main.bicep
  avm/res/recovery-services/vault/backup-fabric/protection-container/protected-item/main.json
  avm/res/recovery-services/vault/backup-policy/README.md
  avm/res/recovery-services/vault/backup-policy/main.bicep
  avm/res/recovery-services/vault/backup-policy/main.json
  avm/res/recovery-services/vault/backup-storage-config/main.json
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/recovery-services/vault/replication-alert-setting/README.md
  avm/res/recovery-services/vault/replication-alert-setting/main.bicep
  avm/res/recovery-services/vault/replication-alert-setting/main.json
  avm/res/recovery-services/vault/replication-fabric/README.md
  avm/res/recovery-services/vault/replication-fabric/main.bicep
  avm/res/recovery-services/vault/replication-fabric/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/README.md
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/main.bicep
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/main.json
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/README.md
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/main.bicep
  avm/res/recovery-services/vault/replication-fabric/replication-protection-container/replication-protection-container-mapping/main.json
  avm/res/recovery-services/vault/replication-policy/main.json
  avm/res/recovery-services/vault/tests/e2e/dr/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/encr/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/encr/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/max/dependencies.bicep
  avm/res/recovery-services/vault/tests/e2e/max/main.test.bicep
  avm/res/recovery-services/vault/tests/e2e/waf-aligned/main.test.bicep
  avm/res/recovery-services/vault/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4424 feat: Update `avm/res/insights/webtest` to latest UDT
  avm/res/insights/webtest/README.md
  avm/res/insights/webtest/main.bicep
  avm/res/insights/webtest/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4423 feat: Update `avm/res/event-grid/namespace` to latest UDT + output fix
  avm/res/event-grid/namespace/README.md
  avm/res/event-grid/namespace/ca-certificate/main.json
  avm/res/event-grid/namespace/client-group/main.json
  avm/res/event-grid/namespace/client/main.json
  avm/res/event-grid/namespace/main.bicep
  avm/res/event-grid/namespace/main.json
  avm/res/event-grid/namespace/permission-binding/main.json
  avm/res/event-grid/namespace/topic-space/README.md
  avm/res/event-grid/namespace/topic-space/main.bicep
  avm/res/event-grid/namespace/topic-space/main.json
  avm/res/event-grid/namespace/topic/README.md
  avm/res/event-grid/namespace/topic/event-subscription/README.md
  avm/res/event-grid/namespace/topic/event-subscription/main.bicep
  avm/res/event-grid/namespace/topic/event-subscription/main.json
  avm/res/event-grid/namespace/topic/main.bicep
  avm/res/event-grid/namespace/topic/main.json
  avm/res/event-grid/namespace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4418 feat: Log Analytics Workspace updates - API versions and new properties
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/data-export/README.md
  avm/res/operational-insights/workspace/data-export/main.bicep
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/README.md
  avm/res/operational-insights/workspace/data-source/main.bicep
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/README.md
  avm/res/operational-insights/workspace/linked-service/main.bicep
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/README.md
  avm/res/operational-insights/workspace/linked-storage-account/main.bicep
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/README.md
  avm/res/operational-insights/workspace/saved-search/main.bicep
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/README.md
  avm/res/operational-insights/workspace/storage-insight-config/main.bicep
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/README.md
  avm/res/operational-insights/workspace/table/main.bicep
  avm/res/operational-insights/workspace/table/main.json
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/max/main.test.bicep
  avm/res/operational-insights/workspace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/operational-insights/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4338 feat: VPN-GW - Update to latest UDTs
  avm/res/network/vpn-gateway/README.md
  avm/res/network/vpn-gateway/main.bicep
  avm/res/network/vpn-gateway/main.json
  avm/res/network/vpn-gateway/nat-rule/main.json
  avm/res/network/vpn-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/vpn-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/vpn-gateway/vpn-connection/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4307 feat: PowerBI - Update to latest UDTs
  avm/res/power-bi-dedicated/capacity/README.md
  avm/res/power-bi-dedicated/capacity/main.bicep
  avm/res/power-bi-dedicated/capacity/main.json
  avm/res/power-bi-dedicated/capacity/tests/e2e/defaults/main.test.bicep
  avm/res/power-bi-dedicated/capacity/tests/e2e/waf-aligned/main.test.bicep
  avm/res/power-bi-dedicated/capacity/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4426 feat: Container-App - Removed workaround for secrets
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/defaults/main.test.bicep
  avm/res/app/container-app/tests/e2e/disable-ingress/main.test.bicep
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/tests/e2e/vnet/main.test.bicep
  avm/res/app/container-app/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4436 fix: Shortened test resource name for HCI cluster
  avm/res/azure-stack-hci/cluster/README.md
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4178 feat: New module `avm/res/app/session-pool` module.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.app.session-pool.yml
  avm/res/app/session-pool/README.md
  avm/res/app/session-pool/main.bicep
  avm/res/app/session-pool/main.json
  avm/res/app/session-pool/tests/e2e/defaults/main.test.bicep
  avm/res/app/session-pool/tests/e2e/max/dependencies.bicep
  avm/res/app/session-pool/tests/e2e/max/main.test.bicep
  avm/res/app/session-pool/tests/e2e/waf-aligned/main.test.bicep
  avm/res/app/session-pool/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4442 fix: sub-vending, adding CI secret
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/tests/e2e/defaults/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/hub-spoke/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/rbac-condition/main.test.bicep
  avm/ptn/lz/sub-vending/tests/e2e/vwan-spoke/main.test.bicep
  avm/ptn/network/hub-networking/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4443 fix: enhancements to hub-spoke module
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4437 feat: Allowing shardCount to be nullified
  avm/res/cache/redis/README.md
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3904 feat: New module `avm/ptn/mgmt-groups/subscription-placement`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.mgmt-groups.subscription-placement.yml
  avm/ptn/mgmt-groups/subscription-placement/README.md
  avm/ptn/mgmt-groups/subscription-placement/main.bicep
  avm/ptn/mgmt-groups/subscription-placement/main.json
  avm/ptn/mgmt-groups/subscription-placement/modules/helper.bicep
  avm/ptn/mgmt-groups/subscription-placement/tests/e2e/defaults/dependencies.bicep
  avm/ptn/mgmt-groups/subscription-placement/tests/e2e/defaults/main.test.bicep
  avm/ptn/mgmt-groups/subscription-placement/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#4447 fix: Subscription-placement - Regenerated ARM JSON
  avm/ptn/mgmt-groups/subscription-placement/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#4448 fix: MgmtGroup-SubscriptionPlacement - Corrected incorrect trigger path
  .github/workflows/avm.ptn.mgmt-groups.subscription-placement.yml
  avm/ptn/mgmt-groups/subscription-placement/README.md
  avm/ptn/mgmt-groups/subscription-placement/main.bicep
  avm/ptn/mgmt-groups/subscription-placement/main.json
Labels: Needs: Triage :mag:, Type: Bug :bug:, Class: Pattern Module :package:, Needs: Core Team :genie:

#4132 fix: `res/insights/private-link-scope` deploys private endpoints in the subnet resource group
  avm/res/insights/private-link-scope/README.md
  avm/res/insights/private-link-scope/main.bicep
  avm/res/insights/private-link-scope/main.json
  avm/res/insights/private-link-scope/scoped-resource/main.json
  avm/res/insights/private-link-scope/tests/e2e/defaults/main.test.bicep
  avm/res/insights/private-link-scope/tests/e2e/max/dependencies.bicep
  avm/res/insights/private-link-scope/tests/e2e/max/main.test.bicep
  avm/res/insights/private-link-scope/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/private-link-scope/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/private-link-scope/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4444 feat: update net apps api and modify volumes to deploy migration volumes
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/README.md
  avm/res/net-app/net-app-account/snapshot-policies/main.bicep
  avm/res/net-app/net-app-account/snapshot-policies/main.json
  avm/res/net-app/net-app-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4446 fix: Storage Account - Storage Account - Incorrect Handling of denyEncryptionScopeOverride Parameter
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#4453 fix: Issue 4430 user wants to use one key vault for encryption
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4441 fix: Removes typo secrect
  avm/res/cdn/profile/customdomain/main.bicep
  avm/res/cdn/profile/customdomain/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/secret/README.md
  avm/res/cdn/profile/secret/main.bicep
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/securityPolicies/README.md
  avm/res/cdn/profile/securityPolicies/main.bicep
  avm/res/cdn/profile/securityPolicies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4459 fix: Databricks - Applied workaround & module changes to enable publishing
  avm/res/databricks/workspace/README.md
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/tests/e2e/max/main.test.bicep
  avm/res/databricks/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:, Needs: Core Team :genie:

#4458 fix: `Set-ModuleReadme` fixed issue with too vague regex check
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/network/trafficmanagerprofile/tests/e2e/waf-aligned/main.test.bicep
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4429 feat: Added Indonesia Central region to the list
  avm/ptn/network/private-link-private-dns-zones/main.bicep
  avm/ptn/network/private-link-private-dns-zones/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4449 feat: Updated PE scope to create the PE next to the primary resource by default
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/version.json
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/version.json
  avm/res/databricks/workspace/main.bicep
  avm/res/databricks/workspace/main.json
  avm/res/databricks/workspace/version.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/version.json
  avm/res/event-grid/namespace/main.bicep
  avm/res/event-grid/namespace/main.json
  avm/res/event-grid/namespace/version.json
  avm/res/insights/private-link-scope/main.bicep
  avm/res/insights/private-link-scope/main.json
  avm/res/insights/private-link-scope/version.json
  avm/res/key-vault/vault/main.bicep
  avm/res/key-vault/vault/main.json
  avm/res/key-vault/vault/version.json
  avm/res/purview/account/main.bicep
  avm/res/purview/account/main.json
  avm/res/purview/account/version.json
  avm/res/recovery-services/vault/main.bicep
  avm/res/recovery-services/vault/main.json
  avm/res/recovery-services/vault/version.json
  avm/res/relay/namespace/main.bicep
  avm/res/relay/namespace/main.json
  avm/res/relay/namespace/version.json
  avm/res/service-bus/namespace/main.bicep
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/version.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/version.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/version.json
  avm/res/synapse/workspace/README.md
  avm/res/synapse/workspace/main.bicep
  avm/res/synapse/workspace/main.json
  avm/res/synapse/workspace/version.json
  avm/res/web/site/README.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
  avm/res/web/site/slot/README.md
  avm/res/web/site/slot/main.bicep
  avm/res/web/site/slot/main.json
  avm/res/web/site/version.json
  avm/res/web/static-site/README.md
  avm/res/web/static-site/main.bicep
  avm/res/web/static-site/main.json
  avm/res/web/static-site/version.json
Labels: Needs: Triage :mag:

#4477 fix: KVLT - Changed GUID used by role assignment due to conflict
  avm/res/container-registry/registry/README.md
  avm/res/container-registry/registry/main.bicep
  avm/res/container-registry/registry/main.json
  avm/res/container-registry/registry/tests/e2e/max/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#4473 fix: avm/res/network/erport broken user defined type
  avm/res/network/express-route-port/README.md
  avm/res/network/express-route-port/main.bicep
  avm/res/network/express-route-port/main.json
  avm/res/network/express-route-port/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-port/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4114 feat: New module `avm/res/cache/redis-enterprise` - Redis Enterprise and Azure Managed Redis (Preview)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.cache.redis-enterprise.yml
  avm/res/cache/redis-enterprise/README.md
  avm/res/cache/redis-enterprise/database/README.md
  avm/res/cache/redis-enterprise/database/access-policy-assignment/README.md
  avm/res/cache/redis-enterprise/database/access-policy-assignment/main.bicep
  avm/res/cache/redis-enterprise/database/access-policy-assignment/main.json
  avm/res/cache/redis-enterprise/database/main.bicep
  avm/res/cache/redis-enterprise/database/main.json
  avm/res/cache/redis-enterprise/database/modules/keyVaultExport.bicep
  avm/res/cache/redis-enterprise/main.bicep
  avm/res/cache/redis-enterprise/main.json
  avm/res/cache/redis-enterprise/tests/e2e/active-geo-replication/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/active-geo-replication/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/amr-entra-id/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/amr-entra-id/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/amr/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/defaults/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/kv-secrets/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/kv-secrets/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/max/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/max/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/user-assigned-cmk-encryption/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/cache/redis-enterprise/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/cache/redis-enterprise/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cache/redis-enterprise/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4402 feat: First PR for new module `avm/res/hybrid-compute/gateway`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.hybrid-compute.gateway.yml
  avm/res/hybrid-compute/gateway/README.md
  avm/res/hybrid-compute/gateway/main.bicep
  avm/res/hybrid-compute/gateway/main.json
  avm/res/hybrid-compute/gateway/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-compute/gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/hybrid-compute/gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#3942 feat: Update `avm/res/api-management/service` - WAF Security recommendations
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/tests/e2e/defaults/main.test.bicep
  avm/res/api-management/service/tests/e2e/developerSku/main.test.bicep
  avm/res/api-management/service/tests/e2e/max/main.test.bicep
  avm/res/api-management/service/tests/e2e/v2Sku/main.test.bicep
  avm/res/api-management/service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/api-management/service/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Pattern Module :package:

#4278 feat: new module: `avm/res/network/network-security-perimeter`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.network.network-security-perimeter.yml
  avm/res/network/network-security-perimeter/README.md
  avm/res/network/network-security-perimeter/main.bicep
  avm/res/network/network-security-perimeter/main.json
  avm/res/network/network-security-perimeter/profile/README.md
  avm/res/network/network-security-perimeter/profile/access-rule/README.md
  avm/res/network/network-security-perimeter/profile/access-rule/main.bicep
  avm/res/network/network-security-perimeter/profile/access-rule/main.json
  avm/res/network/network-security-perimeter/profile/main.bicep
  avm/res/network/network-security-perimeter/profile/main.json
  avm/res/network/network-security-perimeter/tests/e2e/defaults/main.test.bicep
  avm/res/network/network-security-perimeter/tests/e2e/max/dependencies.bicep
  avm/res/network/network-security-perimeter/tests/e2e/max/main.test.bicep
  avm/res/network/network-security-perimeter/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/network-security-perimeter/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/network-security-perimeter/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#4495 feat: avm\res\network\virtual-network Unorphan module
  avm/res/network/virtual-network/ORPHANED.md
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4431 feat: New module avm/ptn/authorization/pim-role-assignment
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.authorization.pim-role-assignment.yml
  avm/ptn/authorization/pim-role-assignment/README.md
  avm/ptn/authorization/pim-role-assignment/main.bicep
  avm/ptn/authorization/pim-role-assignment/main.json
  avm/ptn/authorization/pim-role-assignment/modules/management-group.bicep
  avm/ptn/authorization/pim-role-assignment/modules/resource-group.bicep
  avm/ptn/authorization/pim-role-assignment/modules/subscription.bicep
  avm/ptn/authorization/pim-role-assignment/tests/e2e/mg.eligible/main.test.bicep
  avm/ptn/authorization/pim-role-assignment/tests/e2e/rg.active/main.test.bicep
  avm/ptn/authorization/pim-role-assignment/tests/e2e/sub.active.permenant/main.test.bicep
  avm/ptn/authorization/pim-role-assignment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4413 feat: Initial PR for `avm/res/hybrid-compute/license`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.hybrid-compute.license.yml
  avm/res/hybrid-compute/license/README.md
  avm/res/hybrid-compute/license/main.bicep
  avm/res/hybrid-compute/license/main.json
  avm/res/hybrid-compute/license/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-compute/license/tests/e2e/waf-aligned/main.test.bicep
  avm/res/hybrid-compute/license/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4491 feat: added domainverificationid output
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4450 fix: CognitiveServices - Updated OpenAI model to non-deprecated v4
  avm/res/cognitive-services/account/README.md
  avm/res/cognitive-services/account/main.bicep
  avm/res/cognitive-services/account/main.json
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment-private/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/ai-model-deployment/main.test.bicep
  avm/res/cognitive-services/account/tests/e2e/openai-private/main.test.bicep
  avm/res/cognitive-services/account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4501 fix: pim role assignments - fix condition error
  avm/ptn/authorization/pim-role-assignment/main.bicep
  avm/ptn/authorization/pim-role-assignment/main.json
  avm/ptn/authorization/pim-role-assignment/modules/management-group.bicep
  avm/ptn/authorization/pim-role-assignment/modules/resource-group.bicep
  avm/ptn/authorization/pim-role-assignment/modules/subscription.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Pattern Module :package:

#4571 fix: pim-role-assignment- Adding some documentation for the tests
  avm/ptn/authorization/pim-role-assignment/tests/e2e/sub.active.permenant/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4347 feat: VirtualHub - Aligned to latest UDTs & specs + added remaining ones
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hubRouteTable/README.md
  avm/res/network/virtual-hub/hubRouteTable/main.bicep
  avm/res/network/virtual-hub/hubRouteTable/main.json
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/README.md
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/main.bicep
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
  avm/res/network/virtual-hub/routingIntent/README.md
  avm/res/network/virtual-hub/routingIntent/main.bicep
  avm/res/network/virtual-hub/routingIntent/main.json
  avm/res/network/virtual-hub/tests/e2e/defaults/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/routing-intent/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/virtual-hub/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#4570 feat: Express Route add new parameter and update API version
  avm/res/network/express-route-circuit/README.md
  avm/res/network/express-route-circuit/main.bicep
  avm/res/network/express-route-circuit/main.json
  avm/res/network/express-route-circuit/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-circuit/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4469 fix: Update `avm/res/net-app/net-app-account` - fix optional zone for volumes and specify `protocolTypes` options
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/backup-vault/backup/main.json
  avm/res/net-app/net-app-account/backup-vault/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/main.json
  avm/res/net-app/net-app-account/tests/e2e/max/main.test.bicep
  avm/res/net-app/net-app-account/tests/e2e/nfs3/main.test.bicep
  avm/res/net-app/net-app-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4573 fix(net-app): fix availability zone parameter reference
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4572 fix: `avm/res/cache/redis-enterprise`: Use `enableReferencedModulesTelemetry` to comply with BCPFR7
  avm/res/cache/redis-enterprise/main.bicep
  avm/res/cache/redis-enterprise/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4352 feat: `avm/res/automation/automation-account` Add powershell72 module and python 2 & 3 package support
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/powershell72-modules/README.md
  avm/res/automation/automation-account/powershell72-modules/main.bicep
  avm/res/automation/automation-account/powershell72-modules/main.json
  avm/res/automation/automation-account/python2-packages/README.md
  avm/res/automation/automation-account/python2-packages/main.bicep
  avm/res/automation/automation-account/python2-packages/main.json
  avm/res/automation/automation-account/python3-packages/README.md
  avm/res/automation/automation-account/python3-packages/main.bicep
  avm/res/automation/automation-account/python3-packages/main.json
  avm/res/automation/automation-account/tests/e2e/max/main.test.bicep
  avm/res/automation/automation-account/version.json
Labels: Type: AVM :a: :v: :m:, Type: Feature Request :heavy_plus_sign:

#4577 chore: Change deprecated extension
  .devcontainer/devcontainer.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4567 ci: Added PS rule suppression rule to fix 2 unnecessary warnings on CDN profile parameters
  utilities/pipelines/staticValidation/psrule/.ps-rule/na-suppress.Rule.yaml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4645 fix: Express Route circuit support for ER Port
  avm/res/network/express-route-circuit/README.md
  avm/res/network/express-route-circuit/main.bicep
  avm/res/network/express-route-circuit/main.json
  avm/res/network/express-route-circuit/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4649 fix: allow any string for powershell and python module versions not just latest in automation-account
  avm/res/automation/automation-account/README.md
  avm/res/automation/automation-account/main.bicep
  avm/res/automation/automation-account/main.json
  avm/res/automation/automation-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4511 fix: Update `avm/res/network/dns-resolver` - Additional Outputs for Endpoints
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/inbound-endpoint/main.json
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
  avm/res/network/dns-resolver/outbound-endpoint/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:
