Repository Azure/bicep-registry-modules, pull requests merged in 2025-10, with the labels that each got.

#6025 fix: module `avm/res/network/virtual-network-gateway`
  avm/res/network/virtual-network-gateway/CHANGELOG.md
  avm/res/network/virtual-network-gateway/main.bicep
  avm/res/network/virtual-network-gateway/main.json
  avm/res/network/virtual-network-gateway/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6007 feat: update AKS module to newer version
  avm/res/container-service/managed-cluster/CHANGELOG.md
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/agent-pool/README.md
  avm/res/container-service/managed-cluster/agent-pool/main.bicep
  avm/res/container-service/managed-cluster/agent-pool/main.json
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/maintenance-configurations/README.md
  avm/res/container-service/managed-cluster/maintenance-configurations/main.bicep
  avm/res/container-service/managed-cluster/maintenance-configurations/main.json
  avm/res/container-service/managed-cluster/tests/e2e/automatic/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/defaults/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.rbac.bicep
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/kubenet/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/non-aad-cluster/main.test.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/dependencies.bicep
  avm/res/container-service/managed-cluster/tests/e2e/priv/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5969 feat: Revise contribution guidelines for AVM modules
  README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Type: Documentation :page_facing_up:, Needs: Core Team :genie:

#5906 feat: Adding TLS13 as allowed parameter
  avm/res/cdn/profile/CHANGELOG.md
  avm/res/cdn/profile/README.md
  avm/res/cdn/profile/afd-endpoint/main.json
  avm/res/cdn/profile/afd-endpoint/route/main.json
  avm/res/cdn/profile/custom-domain/README.md
  avm/res/cdn/profile/custom-domain/main.bicep
  avm/res/cdn/profile/custom-domain/main.json
  avm/res/cdn/profile/endpoint/main.json
  avm/res/cdn/profile/endpoint/origin/main.json
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/cdn/profile/origin-group/main.json
  avm/res/cdn/profile/origin-group/origin/main.json
  avm/res/cdn/profile/rule-set/main.json
  avm/res/cdn/profile/rule-set/rule/main.json
  avm/res/cdn/profile/secret/main.json
  avm/res/cdn/profile/security-policy/main.json
  avm/res/cdn/profile/tests/e2e/afd.premium/main.test.bicep
  avm/res/cdn/profile/tests/e2e/defaults/main.test.bicep
  avm/res/cdn/profile/tests/e2e/max/dependencies.bicep
  avm/res/cdn/profile/tests/e2e/max/main.test.bicep
  avm/res/cdn/profile/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/cdn/profile/tests/e2e/waf-aligned/main.test.bicep
  avm/res/cdn/profile/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#6045 feat: Diverse - Diverse publishing-triggering changes, Batch 9
  avm/res/authorization/role-assignment/main.json
  avm/res/authorization/role-assignment/mg-scope/README.md
  avm/res/authorization/role-assignment/mg-scope/main.bicep
  avm/res/authorization/role-assignment/mg-scope/main.json
  avm/res/authorization/role-assignment/rg-scope/README.md
  avm/res/authorization/role-assignment/rg-scope/main.bicep
  avm/res/authorization/role-assignment/rg-scope/main.json
  avm/res/authorization/role-assignment/sub-scope/README.md
  avm/res/authorization/role-assignment/sub-scope/main.bicep
  avm/res/authorization/role-assignment/sub-scope/main.json
  avm/res/azure-stack-hci/virtual-machine-instance/CHANGELOG.md
  avm/res/service-networking/traffic-controller/CHANGELOG.md
  avm/res/service-networking/traffic-controller/main.bicep
  avm/res/service-networking/traffic-controller/main.json
  avm/res/web/hosting-environment/CHANGELOG.md
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/main.bicep
  avm/res/web/hosting-environment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6030 feat: Diverse - Diverse publishing-triggering changes, Batch 1
  avm/res/app/container-app/CHANGELOG.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/cdn/profile/CHANGELOG.md
  avm/res/cdn/profile/main.bicep
  avm/res/cdn/profile/main.json
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/desktop-virtualization/scaling-plan/CHANGELOG.md
  avm/res/desktop-virtualization/scaling-plan/README.md
  avm/res/desktop-virtualization/scaling-plan/main.bicep
  avm/res/desktop-virtualization/scaling-plan/main.json
  avm/res/dev-center/devcenter/CHANGELOG.md
  avm/res/dev-center/devcenter/README.md
  avm/res/dev-center/devcenter/main.bicep
  avm/res/dev-center/devcenter/main.json
  avm/res/dev-center/network-connection/CHANGELOG.md
  avm/res/dev-center/network-connection/main.bicep
  avm/res/dev-center/network-connection/main.json
  avm/res/dev-center/project/CHANGELOG.md
  avm/res/dev-center/project/README.md
  avm/res/dev-center/project/main.bicep
  avm/res/dev-center/project/main.json
  avm/res/dev-ops-infrastructure/pool/CHANGELOG.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
  avm/res/fabric/capacity/CHANGELOG.md
  avm/res/fabric/capacity/main.bicep
  avm/res/fabric/capacity/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6053 feat: Change scope of deployment for sub-placement
  avm/ptn/mgmt-groups/subscription-placement/CHANGELOG.md
  avm/ptn/mgmt-groups/subscription-placement/main.bicep
  avm/ptn/mgmt-groups/subscription-placement/main.json
  avm/ptn/mgmt-groups/subscription-placement/modules/helper.bicep
  avm/ptn/mgmt-groups/subscription-placement/tests/e2e/defaults/dependencies.bicep
  avm/ptn/mgmt-groups/subscription-placement/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6041 feat: Diverse - Diverse publishing-triggering changes, Batch 5
  avm/res/network/express-route-circuit/CHANGELOG.md
  avm/res/network/express-route-circuit/main.bicep
  avm/res/network/express-route-circuit/main.json
  avm/res/network/express-route-gateway/CHANGELOG.md
  avm/res/network/express-route-gateway/README.md
  avm/res/network/express-route-gateway/main.bicep
  avm/res/network/express-route-gateway/main.json
  avm/res/network/express-route-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/express-route-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/express-route-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/express-route-gateway/version.json
  avm/res/network/express-route-port/CHANGELOG.md
  avm/res/network/express-route-port/main.bicep
  avm/res/network/express-route-port/main.json
  avm/res/network/firewall-policy/CHANGELOG.md
  avm/res/network/firewall-policy/main.bicep
  avm/res/network/firewall-policy/main.json
  avm/res/network/front-door-web-application-firewall-policy/CHANGELOG.md
  avm/res/network/front-door-web-application-firewall-policy/main.bicep
  avm/res/network/front-door-web-application-firewall-policy/main.json
  avm/res/network/ip-group/CHANGELOG.md
  avm/res/network/ip-group/main.bicep
  avm/res/network/ip-group/main.json
  avm/res/network/nat-gateway/CHANGELOG.md
  avm/res/network/nat-gateway/README.md
  avm/res/network/nat-gateway/main.bicep
  avm/res/network/nat-gateway/main.json
  avm/res/network/nat-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/existingPip/dependencies.bicep
  avm/res/network/nat-gateway/tests/e2e/existingPip/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/nat-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/prefixCombined/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/nat-gateway/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6040 feat: Diverse - Diverse publishing-triggering changes, Batch 4
  avm/res/network/dns-resolver/CHANGELOG.md
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/inbound-endpoint/README.md
  avm/res/network/dns-resolver/inbound-endpoint/main.bicep
  avm/res/network/dns-resolver/inbound-endpoint/main.json
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
  avm/res/network/dns-resolver/outbound-endpoint/README.md
  avm/res/network/dns-resolver/outbound-endpoint/main.bicep
  avm/res/network/dns-resolver/outbound-endpoint/main.json
  avm/res/network/dns-resolver/tests/e2e/defaults/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-resolver/tests/e2e/max/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/max/main.test.bicep
  avm/res/network/dns-resolver/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/dns-resolver/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/dns-zone/README.md
  avm/res/network/dns-zone/a/main.bicep
  avm/res/network/dns-zone/a/main.json
  avm/res/network/dns-zone/aaaa/main.bicep
  avm/res/network/dns-zone/aaaa/main.json
  avm/res/network/dns-zone/caa/main.bicep
  avm/res/network/dns-zone/caa/main.json
  avm/res/network/dns-zone/cname/main.bicep
  avm/res/network/dns-zone/cname/main.json
  avm/res/network/dns-zone/main.bicep
  avm/res/network/dns-zone/main.json
  avm/res/network/dns-zone/mx/main.bicep
  avm/res/network/dns-zone/mx/main.json
  avm/res/network/dns-zone/ns/main.bicep
  avm/res/network/dns-zone/ns/main.json
  avm/res/network/dns-zone/ptr/main.bicep
  avm/res/network/dns-zone/ptr/main.json
  avm/res/network/dns-zone/soa/main.bicep
  avm/res/network/dns-zone/soa/main.json
  avm/res/network/dns-zone/srv/main.bicep
  avm/res/network/dns-zone/srv/main.json
  avm/res/network/dns-zone/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-zone/tests/e2e/max/dependencies.bicep
  avm/res/network/dns-zone/tests/e2e/max/main.test.bicep
  avm/res/network/dns-zone/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/dns-zone/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/dns-zone/txt/main.bicep
  avm/res/network/dns-zone/txt/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6031 feat: Diverse - Diverse publishing-triggering changes, Batch 2
  avm/res/health-bot/health-bot/CHANGELOG.md
  avm/res/health-bot/health-bot/README.md
  avm/res/health-bot/health-bot/main.bicep
  avm/res/health-bot/health-bot/main.json
  avm/res/healthcare-apis/workspace/CHANGELOG.md
  avm/res/healthcare-apis/workspace/README.md
  avm/res/healthcare-apis/workspace/main.bicep
  avm/res/healthcare-apis/workspace/main.json
  avm/res/hybrid-compute/gateway/CHANGELOG.md
  avm/res/hybrid-compute/gateway/main.bicep
  avm/res/hybrid-compute/gateway/main.json
  avm/res/hybrid-compute/machine/CHANGELOG.md
  avm/res/hybrid-compute/machine/main.bicep
  avm/res/hybrid-compute/machine/main.json
  avm/res/insights/activity-log-alert/CHANGELOG.md
  avm/res/insights/activity-log-alert/main.bicep
  avm/res/insights/activity-log-alert/main.json
  avm/res/insights/component/CHANGELOG.md
  avm/res/insights/component/main.bicep
  avm/res/insights/component/main.json
  avm/res/insights/data-collection-endpoint/CHANGELOG.md
  avm/res/insights/data-collection-endpoint/main.bicep
  avm/res/insights/data-collection-endpoint/main.json
  avm/res/insights/metric-alert/CHANGELOG.md
  avm/res/insights/metric-alert/main.bicep
  avm/res/insights/metric-alert/main.json
  avm/res/insights/scheduled-query-rule/CHANGELOG.md
  avm/res/insights/scheduled-query-rule/README.md
  avm/res/insights/scheduled-query-rule/main.bicep
  avm/res/insights/scheduled-query-rule/main.json
  avm/res/insights/webtest/CHANGELOG.md
  avm/res/insights/webtest/main.bicep
  avm/res/insights/webtest/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:
