Repository Azure/bicep-registry-modules, pull requests merged in 2025-09, with the labels that each got.

#5898 fix: Some Bicep issues when trying to deploy ContainerApps
  avm/res/web/site/CHANGELOG.md
  avm/res/web/site/main.bicep
  avm/res/web/site/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5916 fix: redirect Log for Deployment Script
  avm/res/azure-stack-hci/cluster/deploy.sh
  avm/res/azure-stack-hci/cluster/deployment-setting/main.json
  avm/res/azure-stack-hci/cluster/main.json
  avm/res/azure-stack-hci/cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5905 fix: App-ConfigurationStore - Added additional SKU check
  avm/res/app-configuration/configuration-store/CHANGELOG.md
  avm/res/app-configuration/configuration-store/main.bicep
  avm/res/app-configuration/configuration-store/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5885 feat: Entra domain services updates
  avm/res/aad/domain-service/CHANGELOG.md
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.bicep
  avm/res/aad/domain-service/main.json
  avm/res/aad/domain-service/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/aad/domain-service/tests/e2e/waf-aligned/main.wait.bicep
  avm/res/aad/domain-service/version.json
  bicepconfig.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5630 feat: Add GitHub Copilot agent instructions and setup workflows
  .devcontainer/devcontainer.json
  .github/chatmodes/azure-verified-modules-bicep.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/bicep-avm-best-practices.instructions.md
  .github/prompts/create-plan-update-ARM-API.prompt.md
  .github/prompts/tech-debt-analysis-ARM-API.prompt.md
  .github/prompts/triage-github-issues-for-resource-module.prompt.md
  .github/workflows/copilot-setup-steps.yml
  .vscode/mcp.json
  .vscode/settings.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Core Team :genie:

#5925 fix: alz module changes - intro take()
  avm/ptn/alz/empty/CHANGELOG.md
  avm/ptn/alz/empty/main.bicep
  avm/ptn/alz/empty/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5932 feat: update actiongroup with new property and secure an URL parameter
  avm/res/insights/action-group/CHANGELOG.md
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
  avm/res/insights/action-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#5924 feat: CI - Update issue assignment logic so that manually removed owners are not automatically added again
  utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5933 feat: ActionGroup - Fixed changelog
  avm/res/insights/action-group/CHANGELOG.md
  avm/res/insights/action-group/README.md
  avm/res/insights/action-group/main.bicep
  avm/res/insights/action-group/main.json
  avm/res/insights/action-group/tests/e2e/defaults/main.test.bicep
  avm/res/insights/action-group/tests/e2e/max/dependencies.bicep
  avm/res/insights/action-group/tests/e2e/max/main.test.bicep
  avm/res/insights/action-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/insights/action-group/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5943 fix: VirtualMachine - CSE Extension update
  avm/res/compute/virtual-machine/CHANGELOG.md
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/extension/README.md
  avm/res/compute/virtual-machine/extension/main.bicep
  avm/res/compute/virtual-machine/extension/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/modules/protected-item.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.hostpool/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/version.json
  utilities/e2e-template-assets/scripts/Set-BlobContent.ps1
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#5948 feat: VMSS - Updated types
  avm/res/compute/virtual-machine-scale-set/CHANGELOG.md
  avm/res/compute/virtual-machine-scale-set/README.md
  avm/res/compute/virtual-machine-scale-set/extension/README.md
  avm/res/compute/virtual-machine-scale-set/extension/main.bicep
  avm/res/compute/virtual-machine-scale-set/extension/main.json
  avm/res/compute/virtual-machine-scale-set/main.bicep
  avm/res/compute/virtual-machine-scale-set/main.json
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.health/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.health/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.defaults/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.defaults/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.uniform/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.uniform/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/dependencies.bicep
  avm/res/compute/virtual-machine-scale-set/tests/e2e/windows.waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine-scale-set/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5972 feat: Add support for standalone Network Security Group (NSG) in sub-…
  avm/ptn/lz/sub-vending/CHANGELOG.md
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
  avm/ptn/lz/sub-vending/modules/subscriptionAlias.bicep
  avm/ptn/lz/sub-vending/tests/e2e/standalone-nsg/main.test.bicep
  avm/ptn/lz/sub-vending/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5977 fix: oras published module validation
  utilities/pipelines/publish/Confirm-ModuleIsPublished.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5937 feat: Refactored policy assignment module to multi-scope resource module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.authorization.policy-assignment.yml
  avm/res/authorization/policy-assignment/README.md
  avm/res/authorization/policy-assignment/main.bicep
  avm/res/authorization/policy-assignment/main.json
  avm/res/authorization/policy-assignment/mg-scope/CHANGELOG.md
  avm/res/authorization/policy-assignment/mg-scope/README.md
  avm/res/authorization/policy-assignment/mg-scope/main.bicep
  avm/res/authorization/policy-assignment/mg-scope/main.json
  avm/res/authorization/policy-assignment/mg-scope/modules/mg-scope-rbac.bicep
  avm/res/authorization/policy-assignment/mg-scope/modules/rg-scope-rbac.bicep
  avm/res/authorization/policy-assignment/mg-scope/modules/sub-scope-rbac.bicep
  avm/res/authorization/policy-assignment/mg-scope/version.json
  avm/res/authorization/policy-assignment/rg-scope/CHANGELOG.md
  avm/res/authorization/policy-assignment/rg-scope/README.md
  avm/res/authorization/policy-assignment/rg-scope/main.bicep
  avm/res/authorization/policy-assignment/rg-scope/main.json
  avm/res/authorization/policy-assignment/rg-scope/modules/rg-scope-rbac.bicep
  avm/res/authorization/policy-assignment/rg-scope/version.json
  avm/res/authorization/policy-assignment/sub-scope/CHANGELOG.md
  avm/res/authorization/policy-assignment/sub-scope/README.md
  avm/res/authorization/policy-assignment/sub-scope/main.bicep
  avm/res/authorization/policy-assignment/sub-scope/main.json
  avm/res/authorization/policy-assignment/sub-scope/modules/rg-scope-rbac.bicep
  avm/res/authorization/policy-assignment/sub-scope/modules/sub-scope-rbac.bicep
  avm/res/authorization/policy-assignment/sub-scope/version.json
  avm/res/authorization/policy-assignment/tests/e2e/mg-scope.defaults/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/mg-scope.max/dependencies.bicep
  avm/res/authorization/policy-assignment/tests/e2e/mg-scope.max/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/mg-scope.waf-aligned/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/rg-scope.defaults/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/rg-scope.max/dependencies.bicep
  avm/res/authorization/policy-assignment/tests/e2e/rg-scope.max/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/rg-scope.waf-aligned/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/sub-scope.defaults/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/sub-scope.max/dependencies.bicep
  avm/res/authorization/policy-assignment/tests/e2e/sub-scope.max/main.test.bicep
  avm/res/authorization/policy-assignment/tests/e2e/sub-scope.waf-aligned/main.test.bicep
  utilities/pipelines/staticValidation/compliance/helper/child-module-publish-allowed-list.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5979 fix: PolicyAssignment - Update to latest
  avm/res/authorization/policy-assignment/mg-scope/README.md
  avm/res/authorization/policy-assignment/mg-scope/main.bicep
  avm/res/authorization/policy-assignment/mg-scope/main.json
  avm/res/authorization/policy-assignment/rg-scope/README.md
  avm/res/authorization/policy-assignment/rg-scope/main.bicep
  avm/res/authorization/policy-assignment/rg-scope/main.json
  avm/res/authorization/policy-assignment/sub-scope/README.md
  avm/res/authorization/policy-assignment/sub-scope/main.bicep
  avm/res/authorization/policy-assignment/sub-scope/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:

#5991 feat: Added support for Lab Secrets for DevTest Labs `avm/res/dev-test-lab/lab`
  avm/res/dev-test-lab/lab/CHANGELOG.md
  avm/res/dev-test-lab/lab/README.md
  avm/res/dev-test-lab/lab/artifactsource/main.json
  avm/res/dev-test-lab/lab/cost/main.json
  avm/res/dev-test-lab/lab/main.bicep
  avm/res/dev-test-lab/lab/main.json
  avm/res/dev-test-lab/lab/notificationchannel/main.json
  avm/res/dev-test-lab/lab/policyset/policy/main.json
  avm/res/dev-test-lab/lab/schedule/main.json
  avm/res/dev-test-lab/lab/secret/README.md
  avm/res/dev-test-lab/lab/secret/main.bicep
  avm/res/dev-test-lab/lab/secret/main.json
  avm/res/dev-test-lab/lab/tests/e2e/max/main.test.bicep
  avm/res/dev-test-lab/lab/virtualnetwork/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5973 feat: enable `avm/res/sql/server/database/ child module
  avm/res/sql/server/CHANGELOG.md
  avm/res/sql/server/database/CHANGELOG.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/database/version.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  utilities/pipelines/staticValidation/compliance/helper/child-module-publish-allowed-list.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5989 feat: New Pattern Module avm/ptn/sa/chat-with-your-data
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.sa.chat-with-your-data.yml
  avm/ptn/sa/chat-with-your-data/CHANGELOG.md
  avm/ptn/sa/chat-with-your-data/README.md
  avm/ptn/sa/chat-with-your-data/main.bicep
  avm/ptn/sa/chat-with-your-data/main.json
  avm/ptn/sa/chat-with-your-data/modules/app/adminweb.bicep
  avm/ptn/sa/chat-with-your-data/modules/app/function.bicep
  avm/ptn/sa/chat-with-your-data/modules/app/roleassignments.bicep
  avm/ptn/sa/chat-with-your-data/modules/app/web.bicep
  avm/ptn/sa/chat-with-your-data/modules/cognitive-services/account/cognitive-services.bicep
  avm/ptn/sa/chat-with-your-data/modules/compute/virtual-machine/extension/extension.bicep
  avm/ptn/sa/chat-with-your-data/modules/compute/virtual-machine/nic-configuration/nic-configuration.bicep
  avm/ptn/sa/chat-with-your-data/modules/compute/virtual-machine/virtual-machine.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/ai/cognitiveservices.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/host/appservice.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/host/functions.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/host/web-sites.config.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/monitor/monitoring.bicep
  avm/ptn/sa/chat-with-your-data/modules/core/monitor/workbook.bicep
  avm/ptn/sa/chat-with-your-data/modules/document-db/database-account/database-account.bicep
  avm/ptn/sa/chat-with-your-data/modules/document-db/database-account/sql-database/container/container.bicep
  avm/ptn/sa/chat-with-your-data/modules/document-db/database-account/sql-database/sql-database.bicep
  avm/ptn/sa/chat-with-your-data/modules/document-db/database-account/sql-role-assignment/sql-role-assignment.bicep
  avm/ptn/sa/chat-with-your-data/modules/document-db/database-account/sql-role-definition/sql-role-definition.bicep
  avm/ptn/sa/chat-with-your-data/modules/key-vault/vault/secret/secret.bicep
  avm/ptn/sa/chat-with-your-data/modules/key-vault/vault/vault.bicep
  avm/ptn/sa/chat-with-your-data/modules/machine-learning-services/workspace/compute/compute.bicep
  avm/ptn/sa/chat-with-your-data/modules/machine-learning-services/workspace/connection/connection.bicep
  avm/ptn/sa/chat-with-your-data/modules/machine-learning-services/workspace/ml_workspace.bicep
  avm/ptn/sa/chat-with-your-data/modules/network-security-group/network-security-group.bicep
  avm/ptn/sa/chat-with-your-data/modules/network.bicep
  avm/ptn/sa/chat-with-your-data/modules/network/bastionHost.bicep
  avm/ptn/sa/chat-with-your-data/modules/network/jumpbox.bicep
  avm/ptn/sa/chat-with-your-data/modules/network/network.bicep
  avm/ptn/sa/chat-with-your-data/modules/network/virtualNetwork.bicep
  avm/ptn/sa/chat-with-your-data/modules/private-dns-zone/private-dns-zone.bicep
  avm/ptn/sa/chat-with-your-data/modules/private-dns-zone/virtual-network-link/virtual-network-link.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/blob-service/blob-service.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/blob-service/container/container.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/file-service/file-service.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/queue-service/queue-service.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/queue-service/queue/queue.bicep
  avm/ptn/sa/chat-with-your-data/modules/storage/storage-account/storage-account.bicep
  avm/ptn/sa/chat-with-your-data/tests/e2e/sandbox-cosmos/main.test.bicep
  avm/ptn/sa/chat-with-your-data/tests/e2e/sandbox/main.test.bicep
  avm/ptn/sa/chat-with-your-data/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/sa/chat-with-your-data/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#6011 fix: `avm/res/api-management/service` Add `secure` decorator to namedValue value input parameter
  avm/res/api-management/service/CHANGELOG.md
  avm/res/api-management/service/README.md
  avm/res/api-management/service/api-version-set/CHANGELOG.md
  avm/res/api-management/service/api-version-set/main.json
  avm/res/api-management/service/api/CHANGELOG.md
  avm/res/api-management/service/api/diagnostics/CHANGELOG.md
  avm/res/api-management/service/api/diagnostics/main.json
  avm/res/api-management/service/api/main.json
  avm/res/api-management/service/api/operation/main.json
  avm/res/api-management/service/api/operation/policy/main.json
  avm/res/api-management/service/api/policy/CHANGELOG.md
  avm/res/api-management/service/api/policy/main.json
  avm/res/api-management/service/authorization-server/CHANGELOG.md
  avm/res/api-management/service/authorization-server/main.json
  avm/res/api-management/service/backend/CHANGELOG.md
  avm/res/api-management/service/backend/main.json
  avm/res/api-management/service/cache/CHANGELOG.md
  avm/res/api-management/service/cache/main.json
  avm/res/api-management/service/identity-provider/CHANGELOG.md
  avm/res/api-management/service/identity-provider/main.json
  avm/res/api-management/service/logger/CHANGELOG.md
  avm/res/api-management/service/logger/main.json
  avm/res/api-management/service/main.bicep
  avm/res/api-management/service/main.json
  avm/res/api-management/service/named-value/CHANGELOG.md
  avm/res/api-management/service/named-value/README.md
  avm/res/api-management/service/named-value/main.bicep
  avm/res/api-management/service/named-value/main.json
  avm/res/api-management/service/policy/CHANGELOG.md
  avm/res/api-management/service/policy/main.json
  avm/res/api-management/service/portalsetting/CHANGELOG.md
  avm/res/api-management/service/portalsetting/main.json
  avm/res/api-management/service/product/CHANGELOG.md
  avm/res/api-management/service/product/api/CHANGELOG.md
  avm/res/api-management/service/product/api/main.json
  avm/res/api-management/service/product/group/CHANGELOG.md
  avm/res/api-management/service/product/group/main.json
  avm/res/api-management/service/product/main.json
  avm/res/api-management/service/subscription/CHANGELOG.md
  avm/res/api-management/service/subscription/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Security Bug :lock:

#6014 fix: Enforce publish `avm/res/network/virtual-network` and subnet
  avm/res/network/virtual-network/CHANGELOG.md
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/CHANGELOG.md
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#6015 fix: `avm/res/api-management/service` minor changelog update to all modules
  avm/res/api-management/service/CHANGELOG.md
  avm/res/api-management/service/api-version-set/CHANGELOG.md
  avm/res/api-management/service/api/CHANGELOG.md
  avm/res/api-management/service/api/diagnostics/CHANGELOG.md
  avm/res/api-management/service/api/policy/CHANGELOG.md
  avm/res/api-management/service/authorization-server/CHANGELOG.md
  avm/res/api-management/service/backend/CHANGELOG.md
  avm/res/api-management/service/cache/CHANGELOG.md
  avm/res/api-management/service/identity-provider/CHANGELOG.md
  avm/res/api-management/service/logger/CHANGELOG.md
  avm/res/api-management/service/named-value/CHANGELOG.md
  avm/res/api-management/service/policy/CHANGELOG.md
  avm/res/api-management/service/portalsetting/CHANGELOG.md
  avm/res/api-management/service/product/CHANGELOG.md
  avm/res/api-management/service/product/api/CHANGELOG.md
  avm/res/api-management/service/product/group/CHANGELOG.md
  avm/res/api-management/service/subscription/CHANGELOG.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#6012 feat: AppGW - Added RDTs
  avm/res/network/application-gateway/CHANGELOG.md
  avm/res/network/application-gateway/README.md
  avm/res/network/application-gateway/main.bicep
  avm/res/network/application-gateway/main.json
  avm/res/network/application-gateway/tests/e2e/max/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/standard/dependencies.bicep
  avm/res/network/application-gateway/tests/e2e/waf-aligned/dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:
