Repository Azure/bicep-registry-modules, pull requests merged in 2025-05, with the labels that each got.

#5142 feat: Improving documentation
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/certificates/main.json
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5141 fix: Update `avm/ptn/azd/aks` to use newer API version and kubernetes version
  avm/ptn/azd/aks/README.md
  avm/ptn/azd/aks/main.bicep
  avm/ptn/azd/aks/main.json
  avm/ptn/azd/aks/tests/e2e/max/main.test.bicep
  avm/ptn/azd/aks/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5143 fix: Update `avm/ptn/azd/aks-automatic-cluster` to use newer AVM and Kubernetes version
  avm/ptn/azd/aks-automatic-cluster/README.md
  avm/ptn/azd/aks-automatic-cluster/main.bicep
  avm/ptn/azd/aks-automatic-cluster/main.json
  avm/ptn/azd/aks-automatic-cluster/tests/e2e/defaults/main.test.bicep
  avm/ptn/azd/aks-automatic-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5138 feat: Updates for Redis module
  avm/res/cache/redis/README.md
  avm/res/cache/redis/access-policy-assignment/README.md
  avm/res/cache/redis/access-policy-assignment/main.bicep
  avm/res/cache/redis/access-policy-assignment/main.json
  avm/res/cache/redis/access-policy/README.md
  avm/res/cache/redis/access-policy/main.bicep
  avm/res/cache/redis/access-policy/main.json
  avm/res/cache/redis/firewall-rule/main.json
  avm/res/cache/redis/linked-servers/main.json
  avm/res/cache/redis/main.bicep
  avm/res/cache/redis/main.json
  avm/res/cache/redis/tests/e2e/clustering/main.test.bicep
  avm/res/cache/redis/tests/e2e/persistence/dependencies.bicep
  avm/res/cache/redis/tests/e2e/persistence/main.test.bicep
  avm/res/cache/redis/tests/e2e/redis-config/main.test.bicep
  avm/res/cache/redis/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5144 feat: Update API version for IP Groups to latest API version `2024-05-01`
  avm/res/network/ip-group/README.md
  avm/res/network/ip-group/main.bicep
  avm/res/network/ip-group/main.json
  avm/res/network/ip-group/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5147 feat: Enable `Test-AzDeployment` to deal with 'diagnostic' returns
  utilities/pipelines/e2eValidation/resourceDeployment/Test-TemplateDeployment.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5146 feat: Update Network - Private Link Services to latest API version (2024-05-01)
  avm/res/network/private-link-service/README.md
  avm/res/network/private-link-service/main.bicep
  avm/res/network/private-link-service/main.json
  avm/res/network/private-link-service/version.json
Labels: Needs: Core Team :genie:

#5151 feat: Add outputs with shared keys to `avm/res/operational-insights/workspace`
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/data-export/main.json
  avm/res/operational-insights/workspace/data-source/main.json
  avm/res/operational-insights/workspace/linked-service/main.json
  avm/res/operational-insights/workspace/linked-storage-account/main.json
  avm/res/operational-insights/workspace/main.bicep
  avm/res/operational-insights/workspace/main.json
  avm/res/operational-insights/workspace/saved-search/main.json
  avm/res/operational-insights/workspace/storage-insight-config/main.json
  avm/res/operational-insights/workspace/table/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5140 feat: update sql instancePools update to the latest version @2024-05-01-preview
  avm/res/sql/instance-pool/README.md
  avm/res/sql/instance-pool/main.bicep
  avm/res/sql/instance-pool/main.json
  avm/res/sql/instance-pool/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5174 feat: Compute Gallery - Fixed issue #4976
  avm/res/compute/gallery/application/main.json
  avm/res/compute/gallery/image/main.bicep
  avm/res/compute/gallery/image/main.json
  avm/res/compute/gallery/main.json
  avm/res/compute/gallery/tests/e2e/defaults/main.test.bicep
  avm/res/compute/gallery/tests/e2e/max/dependencies.bicep
  avm/res/compute/gallery/tests/e2e/max/main.test.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/compute/gallery/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4972 fix: PowerShell script set CRLF on Windows, instead of LF
  utilities/pipelines/sharedScripts/tokenReplacement/helper/Convert-TokenInFile.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5165 fix: avm/kusto/cluster - Set custom image names to optional
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5118 fix: configure rp registration before moving subscription
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/lz/sub-vending/modules/subResourceWrapper.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5186 feat: Synapse Private Link Hub - Updated to latest PE spec
  avm/res/synapse/private-link-hub/ORPHANED.md
  avm/res/synapse/private-link-hub/README.md
  avm/res/synapse/private-link-hub/main.bicep
  avm/res/synapse/private-link-hub/main.json
  avm/res/synapse/private-link-hub/tests/e2e/defaults/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/max/main.test.bicep
  avm/res/synapse/private-link-hub/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#5192 fix: Storage - Fixed issue with `azureFilesIdentityBasedAuthentication` + updated to latest specs, api, etc.
  avm/res/storage/storage-account/README.md
  avm/res/storage/storage-account/blob-service/README.md
  avm/res/storage/storage-account/blob-service/container/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/README.md
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.bicep
  avm/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  avm/res/storage/storage-account/blob-service/container/main.bicep
  avm/res/storage/storage-account/blob-service/container/main.json
  avm/res/storage/storage-account/blob-service/main.bicep
  avm/res/storage/storage-account/blob-service/main.json
  avm/res/storage/storage-account/file-service/README.md
  avm/res/storage/storage-account/file-service/main.bicep
  avm/res/storage/storage-account/file-service/main.json
  avm/res/storage/storage-account/file-service/share/README.md
  avm/res/storage/storage-account/file-service/share/main.bicep
  avm/res/storage/storage-account/file-service/share/main.json
  avm/res/storage/storage-account/local-user/README.md
  avm/res/storage/storage-account/local-user/main.bicep
  avm/res/storage/storage-account/local-user/main.json
  avm/res/storage/storage-account/main.bicep
  avm/res/storage/storage-account/main.json
  avm/res/storage/storage-account/management-policy/README.md
  avm/res/storage/storage-account/management-policy/main.bicep
  avm/res/storage/storage-account/management-policy/main.json
  avm/res/storage/storage-account/queue-service/README.md
  avm/res/storage/storage-account/queue-service/main.bicep
  avm/res/storage/storage-account/queue-service/main.json
  avm/res/storage/storage-account/queue-service/queue/README.md
  avm/res/storage/storage-account/queue-service/queue/main.bicep
  avm/res/storage/storage-account/queue-service/queue/main.json
  avm/res/storage/storage-account/table-service/README.md
  avm/res/storage/storage-account/table-service/main.bicep
  avm/res/storage/storage-account/table-service/main.json
  avm/res/storage/storage-account/table-service/table/README.md
  avm/res/storage/storage-account/table-service/table/main.bicep
  avm/res/storage/storage-account/table-service/table/main.json
  avm/res/storage/storage-account/tests/e2e/blob/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/block/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/changefeed/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/defaults/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/max/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/nfs/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/system-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/user-assigned-cmk-encryption/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/v1/main.test.bicep
  avm/res/storage/storage-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/storage/storage-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5197 fix: DocumentDB - Fixed publicNetworkAccess & role-definition and -assignments to resemble acutal RP
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/mongodb-database/README.md
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.bicep
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/README.md
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.bicep
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/sql-role-assignment/README.md
  avm/res/document-db/database-account/sql-role-assignment/main.bicep
  avm/res/document-db/database-account/sql-role-assignment/main.json
  avm/res/document-db/database-account/sql-role-definition/README.md
  avm/res/document-db/database-account/sql-role-definition/main.bicep
  avm/res/document-db/database-account/sql-role-definition/main.json
  avm/res/document-db/database-account/sql-role/README.md
  avm/res/document-db/database-account/sql-role/main.bicep
  avm/res/document-db/database-account/sql-role/main.json
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.bicep
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.json
  avm/res/document-db/database-account/sql-role/sql-role-definitions/README.md
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.bicep
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.json
  avm/res/document-db/database-account/table/main.json
  avm/res/document-db/database-account/tests/e2e/analytical/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/boundedConsistency/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/managedIdentity/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/multiRegion/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/publicRestrictedAccess/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqlroles/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/table/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5203 feat: DbForPostgreSQL - Added latest version + aligned with zonal specs & added types
  avm/res/db-for-postgre-sql/flexible-server/README.md
  avm/res/db-for-postgre-sql/flexible-server/administrator/main.json
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection-setting/README.md
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection-setting/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/advanced-threat-protection-setting/main.json
  avm/res/db-for-postgre-sql/flexible-server/configuration/main.json
  avm/res/db-for-postgre-sql/flexible-server/database/main.json
  avm/res/db-for-postgre-sql/flexible-server/firewall-rule/main.json
  avm/res/db-for-postgre-sql/flexible-server/main.bicep
  avm/res/db-for-postgre-sql/flexible-server/main.json
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/defaults/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/max/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/private/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public-with-pe/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/public/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/db-for-postgre-sql/flexible-server/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5204 fix: KeyVault - Fixed test descriptions
  avm/res/key-vault/vault/README.md
  avm/res/key-vault/vault/tests/e2e/eckey/main.test.bicep
  avm/res/key-vault/vault/tests/e2e/rsakey/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5208 fix: provision arc timeout in azure local
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/provision-ad.ps1
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/provision-arc.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5176 feat: Update VNet and Subnet modules for IPAM support
  avm/res/network/virtual-network/README.md
  avm/res/network/virtual-network/main.bicep
  avm/res/network/virtual-network/main.json
  avm/res/network/virtual-network/subnet/README.md
  avm/res/network/virtual-network/subnet/main.bicep
  avm/res/network/virtual-network/subnet/main.json
  avm/res/network/virtual-network/tests/e2e/ipam/dependencies.bicep
  avm/res/network/virtual-network/tests/e2e/ipam/main.test.bicep
  avm/res/network/virtual-network/version.json
  avm/res/network/virtual-network/virtual-network-peering/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5200 fix: Update `avm/ptn/azd/ml-hub-dependencies` to resolve PSRule violations for storage firewall and blob public access
  avm/ptn/azd/ml-hub-dependencies/README.md
  avm/ptn/azd/ml-hub-dependencies/main.bicep
  avm/ptn/azd/ml-hub-dependencies/main.json
  avm/ptn/azd/ml-hub-dependencies/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5266 fix: update message in ITA04
  .github/policies/scheduledSearches.yml
Labels: Needs: Triage :mag:, Needs: Core Team :genie:

#5199 fix: Changes description(avm/res/network/dns-resolver/main.bicep)
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5132 fix: messageRetentionInDays has no effect
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/authorization-rule/main.json
  avm/res/event-hub/namespace/disaster-recovery-config/main.json
  avm/res/event-hub/namespace/eventhub/README.md
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.bicep
  avm/res/event-hub/namespace/eventhub/authorization-rule/main.json
  avm/res/event-hub/namespace/eventhub/consumergroup/main.bicep
  avm/res/event-hub/namespace/eventhub/consumergroup/main.json
  avm/res/event-hub/namespace/eventhub/main.bicep
  avm/res/event-hub/namespace/eventhub/main.json
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/network-rule-set/main.json
  avm/res/event-hub/namespace/tests/e2e/max/main.test.bicep
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5006 test: Update cb-waf-security.Rule.yaml
  utilities/pipelines/staticValidation/psrule/.ps-rule/cb-waf-security.Rule.yaml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5271 fix: Orphaning `avm\res\event-hub\namespace` and enforcing v0.11 publishing
  avm/res/event-hub/namespace/ORPHANED.md
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Needs: Core Team :genie:

#5268 fix: Synapse Workspace - Updated README after owner assigned
  avm/res/synapse/workspace/ORPHANED.md
  avm/res/synapse/workspace/README.md
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#5272 chore: Update `avm/res/document-db/mongo-cluster` module tests to use the correct prefix
  avm/res/document-db/mongo-cluster/tests/e2e/kvSecrets/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5270 fix: `avm/res/machine-learning-services/workspace` Remove `provisionNetworkNow` to fix CI
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5274 refactor: Refresh `avm/res/document-db/database-account` module to `0.15`
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/modules/keyVaultExport.bicep
  avm/res/document-db/database-account/tests/e2e/analytical/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/boundedConsistency/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/defaults/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/gremlindb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/managedIdentity/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/mongodb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/multiRegion/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/plain/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/publicRestrictedAccess/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqldb/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/sqlroles/dependencies.bicep
  avm/res/document-db/database-account/tests/e2e/sqlroles/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/table/main.test.bicep
  avm/res/document-db/database-account/tests/e2e/waf-aligned/main.test.bicep
  avm/res/document-db/database-account/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5275 feat: Update `avm/res/document-db/mongo-cluster` module to use secure secrets export
  avm/res/document-db/mongo-cluster/README.md
  avm/res/document-db/mongo-cluster/main.bicep
  avm/res/document-db/mongo-cluster/main.json
  avm/res/document-db/mongo-cluster/modules/keyVaultExport.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/kvSecrets/main.test.bicep
  avm/res/document-db/mongo-cluster/tests/e2e/max/main.test.bicep
  avm/res/document-db/mongo-cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5262 feat: New module `dev-center/network-connection`
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.dev-center.network-connection.yml
  avm/res/dev-center/network-connection/README.md
  avm/res/dev-center/network-connection/main.bicep
  avm/res/dev-center/network-connection/main.json
  avm/res/dev-center/network-connection/tests/e2e/defaults/dependencies.bicep
  avm/res/dev-center/network-connection/tests/e2e/defaults/main.test.bicep
  avm/res/dev-center/network-connection/tests/e2e/max/dependencies.bicep
  avm/res/dev-center/network-connection/tests/e2e/max/main.test.bicep
  avm/res/dev-center/network-connection/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/dev-center/network-connection/tests/e2e/waf-aligned/main.test.bicep
  avm/res/dev-center/network-connection/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5273 feat: enable throughput options for qos type of manual anf volumes
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:

#5182 feat: SignalR - Updated PE implementation to latest
  avm/res/signal-r-service/signal-r/README.md
  avm/res/signal-r-service/signal-r/main.bicep
  avm/res/signal-r-service/signal-r/main.json
  avm/res/signal-r-service/signal-r/tests/e2e/defaults/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/max/main.test.bicep
  avm/res/signal-r-service/signal-r/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/signal-r/version.json
  avm/res/signal-r-service/web-pub-sub/README.md
  avm/res/signal-r-service/web-pub-sub/main.bicep
  avm/res/signal-r-service/web-pub-sub/main.json
  avm/res/signal-r-service/web-pub-sub/tests/e2e/defaults/main.test.bicep
  avm/res/signal-r-service/web-pub-sub/tests/e2e/waf-aligned/main.test.bicep
  avm/res/signal-r-service/web-pub-sub/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Needs: Core Team :genie:

#5202 feat: ScheduledQueryRules - Updated types
  avm/res/insights/scheduled-query-rule/README.md
  avm/res/insights/scheduled-query-rule/main.bicep
  avm/res/insights/scheduled-query-rule/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#5187 feat: EventHub-Namespace - Updated to latest PE specs and added secrets output
  avm/res/event-hub/namespace/README.md
  avm/res/event-hub/namespace/main.bicep
  avm/res/event-hub/namespace/main.json
  avm/res/event-hub/namespace/tests/e2e/defaults/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/encr/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/kvSecrets/main.test.bicep
  avm/res/event-hub/namespace/tests/e2e/waf-aligned/main.test.bicep
  avm/res/event-hub/namespace/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Status: Module Orphaned :eyes:, Class: Resource Module :package:, Needs: Core Team :genie:

#5075 feat: Hub-Networking - Updated to latest UDTs
  avm/ptn/network/hub-networking/README.md
  avm/ptn/network/hub-networking/main.bicep
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/modules/getSubnet.bicep
  avm/ptn/network/hub-networking/modules/subnets.bicep
  avm/ptn/network/hub-networking/tests/e2e/no-addons/main.test.bicep
  avm/ptn/network/hub-networking/tests/e2e/waf-aligned/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Pattern Module :package:

#5292 fix: cannot get plaintext token because of az update
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIHost/scripts/provision-arc.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5180 feat: New module for Microsoft.SecurityInsights/dataConnector
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.res.security-insights.data-connector.yml
  avm/ptn/network/hub-networking/main.bicep
  avm/res/security-insights/data-connector/README.md
  avm/res/security-insights/data-connector/main.bicep
  avm/res/security-insights/data-connector/main.json
  avm/res/security-insights/data-connector/tests/e2e/defaults/dependencies.bicep
  avm/res/security-insights/data-connector/tests/e2e/defaults/main.test.bicep
  avm/res/security-insights/data-connector/tests/e2e/max/dependencies.bicep
  avm/res/security-insights/data-connector/tests/e2e/max/main.test.bicep
  avm/res/security-insights/data-connector/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/security-insights/data-connector/tests/e2e/waf-aligned/main.test.bicep
  avm/res/security-insights/data-connector/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5207 fix: Set proper object defaults to fix Logic Apps Designer not loading #5124
  avm/res/logic/workflow/README.md
  avm/res/logic/workflow/main.bicep
  avm/res/logic/workflow/main.json
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Needs: Core Team :genie:

#5307 fix: bumping api versions
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5306 fix: remove dependency for hciResourceProviderObjectId
  avm/res/azure-stack-hci/logical-network/main.json
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/network-interface/main.json
  avm/res/azure-stack-hci/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/main.json
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5323 feat: updates UDT for `res/app/managed-environment`
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/certificates/main.json
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5263 feat: Expanded `diff` to also work for branches
  utilities/pipelines/publish/helper/Get-ModulesToPublish.ps1
Labels: Needs: Triage :mag:, Needs: Core Team :genie:, Type: CI :rocket:
