Repository Azure/bicep-registry-modules, pull requests merged in 2025-04, with the labels that each got.

#4968 feat: Update `avm/res/document-db/database-account` to the latest specs
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/gremlin-database/graph/main.json
  avm/res/document-db/database-account/gremlin-database/main.json
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/modules/keyVaultExport.bicep
  avm/res/document-db/database-account/mongodb-database/collection/main.json
  avm/res/document-db/database-account/mongodb-database/main.json
  avm/res/document-db/database-account/sql-database/container/main.json
  avm/res/document-db/database-account/sql-database/main.json
  avm/res/document-db/database-account/sql-role/main.json
  avm/res/document-db/database-account/sql-role/sql-role-assignments/main.json
  avm/res/document-db/database-account/sql-role/sql-role-definitions/main.json
  avm/res/document-db/database-account/table/main.json
  avm/res/document-db/database-account/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4957 docs: avm\res\app\container-app-Add clarity to secret UDT descriptions
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4961 refactor: Data Factory updates to resource API's and avm modules `avm.res.data-factory.factory`
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/integration-runtime/main.json
  avm/res/data-factory/factory/linked-service/main.json
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
  avm/res/data-factory/factory/managed-virtual-network/main.json
  avm/res/data-factory/factory/managed-virtual-network/managed-private-endpoint/main.json
  avm/res/data-factory/factory/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4954 feat: support kv subscription and resource group for aks arc
  avm/res/hybrid-container-service/provisioned-cluster-instance/README.md
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/secrets.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4959 feat: avm\res\app\container-app add identity settings param
  avm/res/app/container-app/README.md
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4969 feat: Update `avm/res/data-protection/backup-vault` - Add backup instance child module
  .github/actions/templates/avm-setEnvironment/action.yml
  avm/res/data-protection/backup-vault/README.md
  avm/res/data-protection/backup-vault/backup-instance/README.md
  avm/res/data-protection/backup-vault/backup-instance/main.bicep
  avm/res/data-protection/backup-vault/backup-instance/main.json
  avm/res/data-protection/backup-vault/backup-instance/modules/nested_dataSourceResourceRoleAssignment.bicep
  avm/res/data-protection/backup-vault/main.bicep
  avm/res/data-protection/backup-vault/main.json
  avm/res/data-protection/backup-vault/tests/e2e/max/dependencies.bicep
  avm/res/data-protection/backup-vault/tests/e2e/max/main.test.bicep
  avm/res/data-protection/backup-vault/version.json
  utilities/pipelines/e2eValidation/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/e2eValidation/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4759 feat: NAT-GW - Updated to latest common types & zonal spec
  avm/res/network/nat-gateway/README.md
  avm/res/network/nat-gateway/main.bicep
  avm/res/network/nat-gateway/main.json
  avm/res/network/nat-gateway/tests/e2e/defaults/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/existingPip/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/max/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/prefixCombined/main.test.bicep
  avm/res/network/nat-gateway/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/nat-gateway/tests/unit/avm.core.team.tests.ps1
  avm/res/network/nat-gateway/version.json
  utilities/pipelines/staticValidation/compliance/Set-PesterGitHubOutput.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: CI :rocket:

#4718 feat: `Insights/scheduledQueryRule` - Added missing properties
  avm/ptn/azd/apim-api/main.json
  avm/res/event-grid/namespace/README.md
  avm/res/insights/scheduled-query-rule/ORPHANED.md
  avm/res/insights/scheduled-query-rule/README.md
  avm/res/insights/scheduled-query-rule/main.bicep
  avm/res/insights/scheduled-query-rule/main.json
  avm/res/insights/scheduled-query-rule/tests/e2e/defaults/main.test.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/max/dependencies.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/max/main.test.bicep
  avm/res/insights/scheduled-query-rule/tests/e2e/waf-aligned/main.test.bicep
  avm/res/insights/scheduled-query-rule/version.json
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: Type: AVM :a: :v: :m:, Status: Module Orphaned :eyes:, Needs: Core Team :genie:

#4984 feat: Update `avm/res/healthcare-apis/workspace` to the latest UDT
  avm/res/healthcare-apis/workspace/README.md
  avm/res/healthcare-apis/workspace/dicomservice/README.md
  avm/res/healthcare-apis/workspace/dicomservice/main.bicep
  avm/res/healthcare-apis/workspace/dicomservice/main.json
  avm/res/healthcare-apis/workspace/fhirservice/README.md
  avm/res/healthcare-apis/workspace/fhirservice/main.bicep
  avm/res/healthcare-apis/workspace/fhirservice/main.json
  avm/res/healthcare-apis/workspace/iotconnector/README.md
  avm/res/healthcare-apis/workspace/iotconnector/fhirdestination/main.json
  avm/res/healthcare-apis/workspace/iotconnector/main.bicep
  avm/res/healthcare-apis/workspace/iotconnector/main.json
  avm/res/healthcare-apis/workspace/main.bicep
  avm/res/healthcare-apis/workspace/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4983 feat: Update `avm/res/event-grid/system-topic` to the latest specs
  avm/res/event-grid/system-topic/README.md
  avm/res/event-grid/system-topic/event-subscription/README.md
  avm/res/event-grid/system-topic/event-subscription/main.bicep
  avm/res/event-grid/system-topic/event-subscription/main.json
  avm/res/event-grid/system-topic/main.bicep
  avm/res/event-grid/system-topic/main.json
  avm/res/event-grid/system-topic/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4980 test: Fix `avm/res/operational-insights/workspace` failing test
  avm/res/operational-insights/workspace/README.md
  avm/res/operational-insights/workspace/tests/e2e/adv/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4982 feat: Update `avm/res/event-grid/topic` to the latest specs
  avm/res/event-grid/topic/README.md
  avm/res/event-grid/topic/event-subscription/main.json
  avm/res/event-grid/topic/main.bicep
  avm/res/event-grid/topic/main.json
  avm/res/event-grid/topic/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4981 feat: Update `avm/res/event-grid/domain` to the latest specs
  avm/res/event-grid/domain/README.md
  avm/res/event-grid/domain/main.bicep
  avm/res/event-grid/domain/main.json
  avm/res/event-grid/domain/topic/main.json
  avm/res/event-grid/domain/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4986 feat: Update `avm/res/logic/workflow` to the latest UDT
  avm/res/logic/workflow/README.md
  avm/res/logic/workflow/main.bicep
  avm/res/logic/workflow/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4958 feat: Add ability to toggle subscription placement
  avm/ptn/mgmt-groups/subscription-placement/README.md
  avm/ptn/mgmt-groups/subscription-placement/main.bicep
  avm/ptn/mgmt-groups/subscription-placement/main.json
  avm/ptn/mgmt-groups/subscription-placement/modules/helper.bicep
  avm/ptn/mgmt-groups/subscription-placement/tests/e2e/defaults/dependencies.bicep
  avm/ptn/mgmt-groups/subscription-placement/tests/e2e/defaults/main.test.bicep
  avm/ptn/mgmt-groups/subscription-placement/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4741 feat: Kusto-db-principal
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/database/README.md
  avm/res/kusto/cluster/database/main.bicep
  avm/res/kusto/cluster/database/main.json
  avm/res/kusto/cluster/database/principal-assignment/README.md
  avm/res/kusto/cluster/database/principal-assignment/main.bicep
  avm/res/kusto/cluster/database/principal-assignment/main.json
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
  avm/res/kusto/cluster/principal-assignment/main.bicep
  avm/res/kusto/cluster/principal-assignment/main.json
  avm/res/kusto/cluster/tests/e2e/max/main.test.bicep
  avm/res/kusto/cluster/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4682 fix: Adding certificates child resource and updated max test
  avm/res/app/managed-environment/README.md
  avm/res/app/managed-environment/certificates/README.md
  avm/res/app/managed-environment/certificates/main.bicep
  avm/res/app/managed-environment/certificates/main.json
  avm/res/app/managed-environment/main.bicep
  avm/res/app/managed-environment/main.json
  avm/res/app/managed-environment/tests/e2e/max/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Author Feedback :ear:, Status: No Recent Activity :zzz:, Needs: Core Team :genie:

#4971 test: Make 'avm/res/sql/server' tests idempotent
  avm/res/sql/server/tests/e2e/admin/main.test.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/secondary/main.test.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4985 feat: Update `avm/res/kusto/cluster` to the latest specs + nullable params
  avm/res/kusto/cluster/README.md
  avm/res/kusto/cluster/database/main.bicep
  avm/res/kusto/cluster/database/main.json
  avm/res/kusto/cluster/main.bicep
  avm/res/kusto/cluster/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4970 fix: Fix failing pipelines for P2S GW & Local Network GW
  avm/res/network/local-network-gateway/README.md
  avm/res/network/p2s-vpn-gateway/main.json
  avm/res/network/p2s-vpn-gateway/tests/e2e/max/dependencies.bicep
Labels: Type: AVM :a: :v: :m:, Type: Bug :bug:, Class: Resource Module :package:

#4975 feat: child module publish allowed list (pilot)
  utilities/pipelines/staticValidation/compliance/helper/child-module-publish-allowed-list.json
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4990 fix: Platform PSRule check workflow
  .github/workflows/platform.check.psrule.yml
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4989 fix: Expose Infra resource group parameter and update modules
  avm/ptn/dev-ops/cicd-agents-and-runners/README.md
  avm/ptn/dev-ops/cicd-agents-and-runners/main.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/main.json
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-devops-existing-vnet-aci/dependencies.bicep
  avm/ptn/dev-ops/cicd-agents-and-runners/tests/e2e/private-github-existing-vnet-aca/dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5003 feat: Update `avm/res/network/application-security-group` to the latest UDT specs
  avm/res/network/application-security-group/README.md
  avm/res/network/application-security-group/main.bicep
  avm/res/network/application-security-group/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5000 feat: Update `avm/res/maintenance/maintenance-configuration` to the latest UDT
  avm/res/maintenance/maintenance-configuration/README.md
  avm/res/maintenance/maintenance-configuration/main.bicep
  avm/res/maintenance/maintenance-configuration/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4999 feat: Update `avm/res/managed-identity/user-assigned-identity` to the latest UDT & API version
  avm/res/managed-identity/user-assigned-identity/README.md
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/README.md
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/main.bicep
  avm/res/managed-identity/user-assigned-identity/federated-identity-credential/main.json
  avm/res/managed-identity/user-assigned-identity/main.bicep
  avm/res/managed-identity/user-assigned-identity/main.json
  avm/res/managed-identity/user-assigned-identity/tests/e2e/defaults/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/dependencies.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/max/main.test.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4997 feat: Update `avm/res/machine-learning-services/workspace` to the latest UDT
  avm/res/machine-learning-services/workspace/README.md
  avm/res/machine-learning-services/workspace/compute/README.md
  avm/res/machine-learning-services/workspace/compute/main.bicep
  avm/res/machine-learning-services/workspace/compute/main.json
  avm/res/machine-learning-services/workspace/connection/README.md
  avm/res/machine-learning-services/workspace/connection/main.bicep
  avm/res/machine-learning-services/workspace/connection/main.json
  avm/res/machine-learning-services/workspace/main.bicep
  avm/res/machine-learning-services/workspace/main.json
  avm/res/machine-learning-services/workspace/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5005 feat: Update `avm/res/network/connection` to the latest UDT specs
  avm/res/network/connection/README.md
  avm/res/network/connection/main.bicep
  avm/res/network/connection/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4988 feat: Update API Versions in `avm/res/network/private-endpoint`
  avm/res/network/private-endpoint/README.md
  avm/res/network/private-endpoint/main.bicep
  avm/res/network/private-endpoint/main.json
  avm/res/network/private-endpoint/private-dns-zone-group/README.md
  avm/res/network/private-endpoint/private-dns-zone-group/main.bicep
  avm/res/network/private-endpoint/private-dns-zone-group/main.json
  avm/res/network/private-endpoint/tests/e2e/defaults/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/max/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/private-link/dependencies.bicep
  avm/res/network/private-endpoint/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/network/private-endpoint/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#3948 feat: Update `avm/res/compute/virtual-machine` - Add support for ephemeral disk placement
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/extension/main.json
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Attention :wave:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5013 feat: Update `avm/res/network/load-balancer` to the latest UDT
  avm/res/network/load-balancer/README.md
  avm/res/network/load-balancer/backend-address-pool/main.json
  avm/res/network/load-balancer/inbound-nat-rule/main.json
  avm/res/network/load-balancer/main.bicep
  avm/res/network/load-balancer/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5011 feat: Update `avm/res/network/front-door-web-application-firewall-policy` to the latest UDT
  avm/res/network/front-door-web-application-firewall-policy/README.md
  avm/res/network/front-door-web-application-firewall-policy/main.bicep
  avm/res/network/front-door-web-application-firewall-policy/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5007 feat: Update DNS-related modules to the latest UDT
  avm/res/network/dns-forwarding-ruleset/README.md
  avm/res/network/dns-forwarding-ruleset/forwarding-rule/main.json
  avm/res/network/dns-forwarding-ruleset/main.bicep
  avm/res/network/dns-forwarding-ruleset/main.json
  avm/res/network/dns-forwarding-ruleset/tests/e2e/defaults/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/max/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/tests/e2e/waf-aligned/main.test.bicep
  avm/res/network/dns-forwarding-ruleset/virtual-network-link/main.json
  avm/res/network/dns-resolver/README.md
  avm/res/network/dns-resolver/inbound-endpoint/main.json
  avm/res/network/dns-resolver/main.bicep
  avm/res/network/dns-resolver/main.json
  avm/res/network/dns-resolver/outbound-endpoint/main.json
  avm/res/network/dns-zone/README.md
  avm/res/network/dns-zone/a/README.md
  avm/res/network/dns-zone/a/main.bicep
  avm/res/network/dns-zone/a/main.json
  avm/res/network/dns-zone/aaaa/README.md
  avm/res/network/dns-zone/aaaa/main.bicep
  avm/res/network/dns-zone/aaaa/main.json
  avm/res/network/dns-zone/caa/README.md
  avm/res/network/dns-zone/caa/main.bicep
  avm/res/network/dns-zone/caa/main.json
  avm/res/network/dns-zone/cname/README.md
  avm/res/network/dns-zone/cname/main.bicep
  avm/res/network/dns-zone/cname/main.json
  avm/res/network/dns-zone/main.bicep
  avm/res/network/dns-zone/main.json
  avm/res/network/dns-zone/mx/README.md
  avm/res/network/dns-zone/mx/main.bicep
  avm/res/network/dns-zone/mx/main.json
  avm/res/network/dns-zone/ns/README.md
  avm/res/network/dns-zone/ns/main.bicep
  avm/res/network/dns-zone/ns/main.json
  avm/res/network/dns-zone/ptr/README.md
  avm/res/network/dns-zone/ptr/main.bicep
  avm/res/network/dns-zone/ptr/main.json
  avm/res/network/dns-zone/soa/README.md
  avm/res/network/dns-zone/soa/main.bicep
  avm/res/network/dns-zone/soa/main.json
  avm/res/network/dns-zone/srv/README.md
  avm/res/network/dns-zone/srv/main.bicep
  avm/res/network/dns-zone/srv/main.json
  avm/res/network/dns-zone/txt/README.md
  avm/res/network/dns-zone/txt/main.bicep
  avm/res/network/dns-zone/txt/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5021 feat: use newest module for azlocal logical network
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5020 fix: add content type for ssh key in keyvault
  avm/res/hybrid-container-service/provisioned-cluster-instance/main.json
  avm/res/hybrid-container-service/provisioned-cluster-instance/secrets.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5028 feat: Update `avm/res/alerts-management/action-rule` to the latest UDT
  avm/res/alerts-management/action-rule/README.md
  avm/res/alerts-management/action-rule/main.bicep
  avm/res/alerts-management/action-rule/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5025 feat: Update `avm/res/network/network-manager` to the latest UDT
  avm/res/network/network-manager/connectivity-configuration/main.json
  avm/res/network/network-manager/main.bicep
  avm/res/network/network-manager/main.json
  avm/res/network/network-manager/network-group/main.json
  avm/res/network/network-manager/network-group/static-member/main.json
  avm/res/network/network-manager/routing-configuration/main.bicep
  avm/res/network/network-manager/routing-configuration/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/main.bicep
  avm/res/network/network-manager/routing-configuration/rule-collection/main.json
  avm/res/network/network-manager/routing-configuration/rule-collection/rule/main.json
  avm/res/network/network-manager/scope-connection/main.json
  avm/res/network/network-manager/security-admin-configuration/main.bicep
  avm/res/network/network-manager/security-admin-configuration/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/main.json
  avm/res/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5024 feat: Update `avm/res/network/ddos-protection-plan` to the latest UDT and API versions
  avm/res/network/ddos-protection-plan/README.md
  avm/res/network/ddos-protection-plan/main.bicep
  avm/res/network/ddos-protection-plan/main.json
  avm/res/network/ddos-protection-plan/tests/e2e/defaults/main.test.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/max/dependencies.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/max/main.test.bicep
  avm/res/network/ddos-protection-plan/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5027 feat: Update `avm/res/aad/domain-service` to the latest UDT
  avm/res/aad/domain-service/README.md
  avm/res/aad/domain-service/main.bicep
  avm/res/aad/domain-service/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5023 feat: Update identity variable logic
  avm/res/data-protection/backup-vault/README.md
  avm/res/data-protection/backup-vault/backup-instance/main.bicep
  avm/res/data-protection/backup-vault/backup-instance/main.json
  avm/res/data-protection/backup-vault/backup-policy/README.md
  avm/res/data-protection/backup-vault/backup-policy/main.bicep
  avm/res/data-protection/backup-vault/backup-policy/main.json
  avm/res/data-protection/backup-vault/main.bicep
  avm/res/data-protection/backup-vault/main.json
  avm/res/data-protection/backup-vault/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5026 feat: Update `avm/res/network/private-dns-zone` to the latest UDT
  avm/res/network/private-dns-zone/README.md
  avm/res/network/private-dns-zone/a/README.md
  avm/res/network/private-dns-zone/a/main.bicep
  avm/res/network/private-dns-zone/a/main.json
  avm/res/network/private-dns-zone/aaaa/README.md
  avm/res/network/private-dns-zone/aaaa/main.bicep
  avm/res/network/private-dns-zone/aaaa/main.json
  avm/res/network/private-dns-zone/cname/README.md
  avm/res/network/private-dns-zone/cname/main.bicep
  avm/res/network/private-dns-zone/cname/main.json
  avm/res/network/private-dns-zone/main.bicep
  avm/res/network/private-dns-zone/main.json
  avm/res/network/private-dns-zone/mx/README.md
  avm/res/network/private-dns-zone/mx/main.bicep
  avm/res/network/private-dns-zone/mx/main.json
  avm/res/network/private-dns-zone/ptr/README.md
  avm/res/network/private-dns-zone/ptr/main.bicep
  avm/res/network/private-dns-zone/ptr/main.json
  avm/res/network/private-dns-zone/soa/README.md
  avm/res/network/private-dns-zone/soa/main.bicep
  avm/res/network/private-dns-zone/soa/main.json
  avm/res/network/private-dns-zone/srv/README.md
  avm/res/network/private-dns-zone/srv/main.bicep
  avm/res/network/private-dns-zone/srv/main.json
  avm/res/network/private-dns-zone/txt/README.md
  avm/res/network/private-dns-zone/txt/main.bicep
  avm/res/network/private-dns-zone/txt/main.json
  avm/res/network/private-dns-zone/virtual-network-link/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5032 refactor: avm-common-type upgrade to 0.5.1 `avm/res/data-factory/factory`
  avm/res/data-factory/factory/README.md
  avm/res/data-factory/factory/main.bicep
  avm/res/data-factory/factory/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4994 feat: Update `avm/res/container-instance/container-group` module to latest API
  avm/res/container-instance/container-group/README.md
  avm/res/container-instance/container-group/main.bicep
  avm/res/container-instance/container-group/main.json
  avm/res/container-instance/container-group/tests/e2e/defaults/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/encr/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/encr/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/low-memory/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/max/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/max/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/private/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/private/main.test.bicep
  avm/res/container-instance/container-group/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/container-instance/container-group/tests/e2e/waf-aligned/main.test.bicep
  avm/res/container-instance/container-group/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5022 fix: `avm/res/data-protection/backup-vault` - Update roleassignment prerequisite logic
  avm/res/data-protection/backup-vault/README.md
  avm/res/data-protection/backup-vault/backup-instance/main.bicep
  avm/res/data-protection/backup-vault/backup-instance/main.json
  avm/res/data-protection/backup-vault/backup-instance/modules/nested_dataSourceResourceRoleAssignment.bicep
  avm/res/data-protection/backup-vault/main.bicep
  avm/res/data-protection/backup-vault/main.json
  avm/res/data-protection/backup-vault/tests/e2e/max/dependencies.bicep
  avm/res/data-protection/backup-vault/tests/e2e/max/main.test.bicep
  avm/res/data-protection/backup-vault/version.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5034 feat: avm\res\app\container-app - add auth configs
  avm/res/app/container-app/README.md
  avm/res/app/container-app/auth-config/README.md
  avm/res/app/container-app/auth-config/main.bicep
  avm/res/app/container-app/auth-config/main.json
  avm/res/app/container-app/main.bicep
  avm/res/app/container-app/main.json
  avm/res/app/container-app/tests/e2e/max/main.test.bicep
  avm/res/app/container-app/version.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#5048 feat: Add managed identities to 'avm/res/sql/server/database'
  avm/res/sql/server/README.md
  avm/res/sql/server/audit-settings/main.json
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/backup-long-term-retention-policy/main.json
  avm/res/sql/server/database/backup-short-term-retention-policy/main.json
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/encryption-protector/main.json
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/firewall-rule/main.json
  avm/res/sql/server/key/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/security-alert-policy/main.json
  avm/res/sql/server/tests/e2e/max/dependencies.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5063 feat: latest APIs, exportPolicy fix, replicationSchedule and remotePath updates
  avm/res/net-app/net-app-account/README.md
  avm/res/net-app/net-app-account/backup-policies/README.md
  avm/res/net-app/net-app-account/backup-policies/main.bicep
  avm/res/net-app/net-app-account/backup-policies/main.json
  avm/res/net-app/net-app-account/backup-vault/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/README.md
  avm/res/net-app/net-app-account/backup-vault/backup/main.bicep
  avm/res/net-app/net-app-account/backup-vault/backup/main.json
  avm/res/net-app/net-app-account/backup-vault/main.bicep
  avm/res/net-app/net-app-account/backup-vault/main.json
  avm/res/net-app/net-app-account/capacity-pool/README.md
  avm/res/net-app/net-app-account/capacity-pool/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/main.json
  avm/res/net-app/net-app-account/capacity-pool/volume/README.md
  avm/res/net-app/net-app-account/capacity-pool/volume/main.bicep
  avm/res/net-app/net-app-account/capacity-pool/volume/main.json
  avm/res/net-app/net-app-account/main.bicep
  avm/res/net-app/net-app-account/main.json
  avm/res/net-app/net-app-account/snapshot-policies/README.md
  avm/res/net-app/net-app-account/snapshot-policies/main.bicep
  avm/res/net-app/net-app-account/snapshot-policies/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5065 feat: agent pool switch
  avm/ptn/aca-lza/hosting-environment/README.md
  avm/ptn/aca-lza/hosting-environment/main.bicep
  avm/ptn/aca-lza/hosting-environment/main.json
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/deploy.supporting-services.bicep
  avm/ptn/aca-lza/hosting-environment/modules/supporting-services/modules/container-registry.module.bicep
  avm/ptn/aca-lza/hosting-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5036 feat: AIB PTN - Updated to latest UDTs (via references update)
  avm/ptn/virtual-machine-images/azure-image-builder/README.md
  avm/ptn/virtual-machine-images/azure-image-builder/main.bicep
  avm/ptn/virtual-machine-images/azure-image-builder/main.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#5076 feat: ImageTemplate - Updated to latest UDTs
  avm/res/virtual-machine-images/image-template/README.md
  avm/res/virtual-machine-images/image-template/main.bicep
  avm/res/virtual-machine-images/image-template/main.json
  avm/res/virtual-machine-images/image-template/tests/e2e/defaults/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Resource Module :package:

#5074 feat: AZD/AKS - Updated to latest UDT specs
  avm/ptn/azd/aks/README.md
  avm/ptn/azd/aks/main.bicep
  avm/ptn/azd/aks/main.json
  avm/ptn/azd/aks/tests/e2e/defaults/main.test.bicep
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Class: Pattern Module :package:

#5081 feat: update hostvm size for azlocal & remove useless parameter
  utilities/e2e-template-assets/module-specific/azure-stack-hci/azureStackHCIClusterPreqs/ashciPrereqs.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/dependencies/defaults-dependencies.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/dependencies/waf-dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5088 fix: Service BUs JSON File
  avm/res/service-bus/namespace/main.json
  avm/res/service-bus/namespace/topic/main.json
  avm/res/service-bus/namespace/topic/subscription/main.json
  avm/res/service-bus/namespace/topic/subscription/rule/main.json
Labels: Type: AVM :a: :v: :m:, Class: Resource Module :package:, Needs: Core Team :genie:

#5086 ci: Add compliance test checking no major version is released
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5090 fix: only trigger ITA01BCP and ITA02BCP (.1 & .2) once
  .github/policies/scheduledSearches.yml
Labels: Needs: Triage :mag:

#5092 fix: remove useless waf param of azure local
  avm/res/azure-stack-hci/cluster/tests/e2e/waf-aligned/main.test.bicep
  utilities/e2e-template-assets/module-specific/azure-stack-hci/dependencies/waf-dependencies.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5089 fix: Remove '(Preview)' label from role name - batch 5
  avm/ptn/lz/sub-vending/README.md
  avm/ptn/lz/sub-vending/main.bicep
  avm/ptn/lz/sub-vending/main.json
  avm/ptn/network/hub-networking/main.json
  avm/ptn/network/hub-networking/modules/subnets.bicep
  avm/ptn/network/hub-networking/version.json
  avm/res/container-service/managed-cluster/README.md
  avm/res/container-service/managed-cluster/main.bicep
  avm/res/container-service/managed-cluster/main.json
  avm/res/container-service/managed-cluster/tests/e2e/istio/main.test.bicep
  avm/res/container-service/managed-cluster/version.json
  avm/res/dev-ops-infrastructure/pool/README.md
  avm/res/dev-ops-infrastructure/pool/main.bicep
  avm/res/dev-ops-infrastructure/pool/main.json
  avm/res/dev-ops-infrastructure/pool/version.json
  avm/res/digital-twins/digital-twins-instance/README.md
  avm/res/digital-twins/digital-twins-instance/main.bicep
  avm/res/digital-twins/digital-twins-instance/main.json
  avm/res/digital-twins/digital-twins-instance/version.json
  avm/res/document-db/database-account/README.md
  avm/res/document-db/database-account/main.bicep
  avm/res/document-db/database-account/main.json
  avm/res/document-db/database-account/version.json
  avm/res/network/trafficmanagerprofile/README.md
  avm/res/network/trafficmanagerprofile/main.bicep
  avm/res/network/trafficmanagerprofile/main.json
  avm/res/network/trafficmanagerprofile/version.json
  avm/res/web/hosting-environment/README.md
  avm/res/web/hosting-environment/main.bicep
  avm/res/web/hosting-environment/main.json
  avm/res/web/hosting-environment/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5095 feat: update azlocal version for modules which depends on azlocal
  avm/res/azure-stack-hci/logical-network/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/logical-network/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/network-interface/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/network-interface/tests/e2e/waf-aligned/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/defaults/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/max/main.test.bicep
  avm/res/azure-stack-hci/virtual-hard-disk/tests/e2e/waf-aligned/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/defaults/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/max/main.test.bicep
  avm/res/hybrid-container-service/provisioned-cluster-instance/tests/e2e/waf-aligned/main.test.bicep
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#5087 feat: Add multiple UDT's to `avm/res/compute/virtual-machine`
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#4669 feat: CI - Set UDT type tests to fail instead of producing a warning
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:

#4956 feat: Added App Service LZA Pattern Module
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/avm_module_issue.yml
  .github/workflows/avm.ptn.app-service-lza.hosting-environment.yml
  avm/ptn/app-service-lza/hosting-environment/README.md
  avm/ptn/app-service-lza/hosting-environment/main.bicep
  avm/ptn/app-service-lza/hosting-environment/main.json
  avm/ptn/app-service-lza/hosting-environment/modules/app-service/app-service.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/app-service/ase.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/compute/linux-vm.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/compute/windows-vm.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/front-door/approve-afd-pe.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/front-door/front-door.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/naming/naming.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/networking/network.module.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/spoke/deploy.spoke.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/supporting-services/deploy.supporting-services.bicep
  avm/ptn/app-service-lza/hosting-environment/modules/supporting-services/modules/key-vault.bicep
  avm/ptn/app-service-lza/hosting-environment/tests/e2e/defaults/main.test.bicep
  avm/ptn/app-service-lza/hosting-environment/tests/e2e/waf-aligned/main.test.bicep
  avm/ptn/app-service-lza/hosting-environment/version.json
Labels: Type: AVM :a: :v: :m:, Class: Pattern Module :package:, Needs: Core Team :genie:

#5107 fix: AppService LZA Pattern - Updated temp to final trigger branch
  .github/workflows/avm.ptn.app-service-lza.hosting-environment.yml
Labels: Type: Bug :bug:, Needs: Core Team :genie:

#5116 feat: Issue5038-Update hubRouteTables UDT
  avm/res/network/virtual-hub/README.md
  avm/res/network/virtual-hub/hubRouteTable/README.md
  avm/res/network/virtual-hub/hubRouteTable/main.bicep
  avm/res/network/virtual-hub/hubRouteTable/main.json
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/README.md
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/main.bicep
  avm/res/network/virtual-hub/hubVirtualNetworkConnection/main.json
  avm/res/network/virtual-hub/main.bicep
  avm/res/network/virtual-hub/main.json
  avm/res/network/virtual-hub/routingIntent/README.md
  avm/res/network/virtual-hub/routingIntent/main.bicep
  avm/res/network/virtual-hub/routingIntent/main.json
  avm/res/network/virtual-hub/tests/e2e/max/main.test.bicep
  avm/res/network/virtual-hub/tests/e2e/routing-intent/main.test.bicep
  avm/res/network/virtual-hub/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5117 fix: SQL-Server - Fixed minor bug of key rotation
  avm/res/sql/server/README.md
  avm/res/sql/server/database/README.md
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/elastic-pool/README.md
  avm/res/sql/server/elastic-pool/main.bicep
  avm/res/sql/server/elastic-pool/main.json
  avm/res/sql/server/failover-group/main.bicep
  avm/res/sql/server/failover-group/main.json
  avm/res/sql/server/main.bicep
  avm/res/sql/server/main.json
  avm/res/sql/server/tests/e2e/cmk/dependencies.bicep
  avm/res/sql/server/tests/e2e/cmk/main.test.bicep
  avm/res/sql/server/tests/e2e/elasticPool/main.test.bicep
  avm/res/sql/server/tests/e2e/failover-group/main.test.bicep
  avm/res/sql/server/tests/e2e/kvSecrets/main.test.bicep
  avm/res/sql/server/tests/e2e/max/main.test.bicep
  avm/res/sql/server/tests/e2e/secondary/main.test.bicep
  avm/res/sql/server/tests/e2e/vulnAssm/main.test.bicep
  avm/res/sql/server/tests/e2e/waf-aligned/main.test.bicep
  avm/res/sql/server/version.json
  avm/res/sql/server/virtual-network-rule/README.md
  avm/res/sql/server/virtual-network-rule/main.bicep
  avm/res/sql/server/virtual-network-rule/main.json
  avm/res/sql/server/vulnerability-assessment/main.bicep
  avm/res/sql/server/vulnerability-assessment/main.json
Labels: Type: AVM :a: :v: :m:, Needs: Module Owner :mega:, Type: Bug :bug:, Class: Resource Module :package:

#5053 feat: CI - Adding Pester test results publishing to action
  .github/actions/templates/avm-validateModulePester/action.yml
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#4987 fix: CI - Solve diverse issues about the issue management
  .github/workflows/platform.manage-workflow-issue.yml
  utilities/pipelines/platform/Set-AvmGitHubIssueForWorkflow.ps1
  utilities/pipelines/platform/Set-AvmGitHubIssueOwnerConfig.ps1
  utilities/pipelines/platform/Set-AvmGithubIssueForWorkflow.ps1
  utilities/pipelines/platform/Sync-AvmModulesList.ps1
  utilities/pipelines/platform/helper/Add-GitHubIssueToProject.ps1
  utilities/pipelines/platform/helper/Get-GitHubIssueCommentsList.ps1
  utilities/pipelines/platform/helper/Get-GitHubIssueList.ps1
  utilities/pipelines/platform/helper/Get-GitHubModuleWorkflowLatestRun.ps1
  utilities/pipelines/platform/helper/Get-GitHubModuleWorkflowList.ps1
  utilities/pipelines/platform/helper/Get-RepoInfo.ps1
  utilities/tools/Invoke-WorkflowsFailedJobsReRun.ps1
  utilities/tools/Invoke-WorkflowsForBranch.ps1
Labels: Type: AVM :a: :v: :m:, Needs: Core Team :genie:, Type: CI :rocket:

#5115 fix: Remove whitespace from database name at submodule deployment names at `avm/res/sql/server`
  avm/res/sql/server/database/main.bicep
  avm/res/sql/server/database/main.json
  avm/res/sql/server/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5103 fix: Minor fixes of `avm/res/network/network-interface`
  avm/res/network/network-interface/main.bicep
  avm/res/network/network-interface/main.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5102 feat: Multiple improvements of the VM module
  avm/res/compute/virtual-machine/README.md
  avm/res/compute/virtual-machine/main.bicep
  avm/res/compute/virtual-machine/main.json
  avm/res/compute/virtual-machine/modules/nic-configuration.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.defaults/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/linux.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/waf-aligned/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.disks/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.disks/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.guestconfiguration/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/dependencies.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.max/main.test.bicep
  avm/res/compute/virtual-machine/tests/e2e/windows.nvidia/main.test.bicep
  avm/res/compute/virtual-machine/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Module Owner :mega:

#5127 feat: Updates of `avm/res/search/search-service`
  avm/res/search/search-service/README.md
  avm/res/search/search-service/main.bicep
  avm/res/search/search-service/main.json
  avm/res/search/search-service/shared-private-link-resource/README.md
  avm/res/search/search-service/shared-private-link-resource/main.bicep
  avm/res/search/search-service/shared-private-link-resource/main.json
  avm/res/search/search-service/tests/e2e/defaults/main.test.bicep
  avm/res/search/search-service/tests/e2e/kvSecrets/dependencies.bicep
  avm/res/search/search-service/tests/e2e/kvSecrets/main.test.bicep
  avm/res/search/search-service/tests/e2e/max/dependencies.bicep
  avm/res/search/search-service/tests/e2e/max/main.test.bicep
  avm/res/search/search-service/tests/e2e/pe/dependencies.bicep
  avm/res/search/search-service/tests/e2e/pe/main.test.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/dependencies.bicep
  avm/res/search/search-service/tests/e2e/waf-aligned/main.test.bicep
  avm/res/search/search-service/version.json
Labels: Needs: Triage :mag:, Type: AVM :a: :v: :m:, Needs: Core Team :genie:
